Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

Add doc to the Python call
  python/mxnet/executor.py
Due: python

fix update rules
  src/operator/optimizer_op-inl.h
  tests/python/unittest/test_optimizer.py
Due: backend

mom update
  src/operator/optimizer_op-inl.h
  tests/python/unittest/test_optimizer.py
Due: backend

readable updates in unit test
  tests/python/unittest/test_optimizer.py
Due: none

Get rid of the initializer list
  src/operator/fusion/fused_op.cc
  src/operator/fusion/fused_op.h
Due: backend

Update env_var.md
  docs/faq/env_var.md
Due: none

stateful backward and subgraph test
  example/lib_ops/subgraph_lib.cc
  example/lib_ops/test_subgraph.py
  include/mxnet/lib_api.h
  src/c_api/c_api.cc
Due: backend

Fixes NAG optimizer #15543 (#16053)
  src/operator/optimizer_op-inl.h
  tests/python/unittest/test_optimizer.py
Due: backend

Revert "julia: rename build env var `MXNET_HOME` to `MXNET_ROOT` (#15568)"
  ci/docker/runtime_functions.sh
  ci/windows/test_jl07_cpu.ps1
  ci/windows/test_jl10_cpu.ps1
  julia/NEWS.md
  julia/deps/build.jl
  julia/docs/src/user-guide/install.md
  julia/src/base.jl
Due: none

Fixing build for gluon estimator test, including libtvm in pack libs
  tests/nightly/JenkinsfileForBinaries
Due: none

[MXNET-978] Higher Order Gradient Support `sinh`, `cosh`. (#15412)
  src/operator/tensor/elemwise_unary_op_trig.cc
  tests/python/unittest/test_higher_order_grad.py
Due: backend

global numpy shape flag
  include/mxnet/c_api.h
  include/mxnet/imperative.h
  src/c_api/c_api_ndarray.cc
Due: backend

layout conversion in MXNDArrayGetData
  src/c_api/c_api.cc
Due: backend

Update dmlc-core
  amalgamation/amalgamation.py
  scala-package/macros/src/main/scala/org/apache/mxnet/utils/CToScalaUtils.scala
Due: clojure

adress some comments
  contrib/tvmop/core/umath.py
  tests/python/unittest/test_numpy_op.py
Due: none

Fixing html build for nightly
  docs/mxdoc.py
Due: none

Revert "julia: rename build env var `MXNET_HOME` to `MXNET_ROOT` (#15568)" (#16147)
  ci/docker/runtime_functions.sh
  ci/windows/test_jl07_cpu.ps1
  ci/windows/test_jl10_cpu.ps1
  julia/NEWS.md
  julia/deps/build.jl
  julia/docs/src/user-guide/install.md
  julia/src/base.jl
Due: none

Fixing build for gluon estimator test, including libtvm in pack libs (#16148)
  docs/mxdoc.py
  tests/nightly/JenkinsfileForBinaries
Due: none

add float16 for ci test
  tests/python/unittest/test_numpy_op.py
Due: none

Numpy add numpy op indices (#15837)
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_init_op.cc
  src/operator/numpy/np_init_op.cu
  src/operator/numpy/np_init_op.h
  tests/python/unittest/test_numpy_op.py
Due: python, backend

Disable cython in CD python tests
  ci/docker/runtime_functions.sh
Due: none

Updates CD documentation to reflect variant changes
  cd/README.md
Due: none

revert unnecessary change
  src/operator/nn/mkldnn/mkldnn_base.cc
  src/operator/nn/mkldnn/mkldnn_convolution-inl.h
  src/operator/nn/mkldnn/mkldnn_convolution.cc
Due: backend

gamma finished
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/random.py
  src/operator/numpy/random/np_gamma_op.cc
  src/operator/numpy/random/np_gamma_op.cu
  src/operator/numpy/random/np_gamma_op.h
  tests/python/unittest/test_numpy_op.py
Due: python, backend

added RelWithDebInfo to docs for building from source as requested by @larroy
  docs/install/build_from_source.md
Due: none

julia: fix `mx.forward` kwargs checking (#16138)
  julia/src/executor.jl
  julia/test/unittest/bind.jl
Due: none

fix incorrect merge (previous commit)
  tests/python/unittest/test_higher_order_grad.py
Due: none

Update env_var.md (#16145)
  docs/faq/env_var.md
Due: none

modification
  python/mxnet/gluon/contrib/cnn/conv_layers.py
  src/operator/contrib/modulated_deformable_convolution-inl.h
  src/operator/contrib/modulated_deformable_convolution.cc
  src/operator/contrib/modulated_deformable_convolution.cu
Due: python, backend

modification according to the previous PRs.
  docs/api/python/gluon/contrib.md
  src/operator/contrib/modulated_deformable_convolution-inl.h
  src/operator/contrib/modulated_deformable_convolution.cc
  src/operator/contrib/modulated_deformable_convolution.cu
  src/operator/contrib/nn/modulated_deformable_im2col.cuh
  src/operator/contrib/nn/modulated_deformable_im2col.h
Due: backend

add files
  python/mxnet/gluon/contrib/cnn/conv_layers.py
  src/operator/contrib/modulated_deformable_convolution-inl.h
  src/operator/contrib/modulated_deformable_convolution.cc
  src/operator/contrib/modulated_deformable_convolution.cu
  src/operator/contrib/nn/modulated_deformable_im2col.cuh
  src/operator/contrib/nn/modulated_deformable_im2col.h
Due: python, backend

add test cases and docs
  src/operator/contrib/modulated_deformable_convolution.cc
  tests/python/gpu/test_gluon_contrib_gpu.py
Due: backend

use NodeOpGen
  src/operator/tensor/elemwise_unary_op_trig.cc
Due: backend

index tensor to have int64
  src/operator/sequence_last.cc
Due: backend

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
