Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

Fix lint
  include/mxnet/ndarray.h
Due: backend

Fix
  dev_menu.py
Due: none

Update NDarray with NodeEntry constructors and refine initializer lists
  include/mxnet/ndarray.h
  src/operator/elemwise_op_common.h
Due: backend

Fix moves leaving nodes uninitialized
  src/imperative/cached_op.cc
  src/operator/custom/custom.cc
Due: backend

Fix crash, uninitialized Node ptr
  src/executor/graph_executor.cc
Due: backend

Fix
  src/ndarray/ndarray.cc
Due: backend

Revert "Restore subrepo"
  .gitmodules
Due: none

Add failing test
  src/operator/nn/fully_connected.cc
  tests/python/unittest/test_gluon.py
Due: backend

Add backward to fully connected. (_backward_FullyConnected)
  src/operator/nn/fully_connected-inl.h
  src/operator/nn/fully_connected.cc
Due: backend

Fix test
  tests/python/unittest/test_gluon.py
Due: none

Fix lint
  src/operator/nn/fully_connected.cc
Due: backend

Add a test for FC grad
  tests/python/unittest/test_gluon.py
Due: none

CR
  src/operator/nn/fully_connected.cc
Due: backend

Check for null ptr in NDarray members
  include/mxnet/ndarray.h
Due: backend

Fix warning in fully connected backward^2
  src/operator/nn/fully_connected.cc
Due: backend

Refactor Imperative::Backward
  include/mxnet/c_api.h
  include/mxnet/imperative.h
  src/imperative/imperative.cc
Due: backend

Refactor Backward
  include/mxnet/imperative.h
  include/mxnet/ndarray.h
  src/c_api/c_api_ndarray.cc
  src/imperative/imperative.cc
  src/imperative/imperative_utils.h
  src/ndarray/ndarray.cc
Due: backend

uint32_t -> size_t
  include/mxnet/imperative.h
  src/imperative/imperative.cc
Due: backend

Update tvm to my repo
  .gitmodules
Due: none

Remove unnecesary ctor call of NodeEntry
  src/imperative/imperative.cc
Due: backend

Fix emplace_back
  src/operator/operator_common.h
Due: backend

Refactor CreateGradientVariableNodes
  include/mxnet/imperative.h
  src/imperative/imperative.cc
Due: backend

undo bad rebase change
  src/storage/gpu_device_storage.h
Due: backend

Fix errors and warnings
  CMakeLists.txt
  include/mxnet/imperative.h
  include/mxnet/io.h
  src/engine/stream_manager.h
  src/imperative/imperative.cc
  src/imperative/imperative_utils.h
  src/io/iter_batchloader.h
  src/io/iter_libsvm.cc
  src/io/iter_prefetcher.h
  src/io/iter_sparse.h
  src/io/iter_sparse_batchloader.h
  src/io/iter_sparse_prefetcher.h
Due: backend

add fixes to code gen
  scala-package/macros/src/main/scala/org/apache/mxnet/APIDocGenerator.scala
Due: clojure

Improve documentation for auxiliary backward functions
  include/mxnet/imperative.h
  src/imperative/imperative.cc
Due: backend

fix a bug in calling im2col (col_shape should be 3)
  src/operator/nn/deconvolution-inl.h
Due: backend

Fix whitespace
  python/mxnet/context.py
Due: python

gvar -> gvars
  src/imperative/imperative.cc
Due: backend

Fix lint
  src/imperative/imperative.cc
Due: backend

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
