Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

use failed seed and verify first order
  tests/python/unittest/test_higher_order_grad.py
Due: none

replace grad_op with equivalent expression
  tests/python/unittest/test_higher_order_grad.py
Due: none

remove fixed seed for tanh
  tests/python/unittest/test_higher_order_grad.py
Due: none

failing seed
  tests/python/unittest/test_higher_order_grad.py
Due: none

bernoulli, normal brief tests implemented
  python/mxnet/gluon/probability/distributions/bernoulli.py
  python/mxnet/gluon/probability/distributions/distribution.py
  python/mxnet/gluon/probability/distributions/normal.py
  python/mxnet/ndarray/numpy_extension/random.py
Due: python

add hybridize tests
  tests/python/unittest/test_gluon_probability.py
Due: none

USE_JEMALLOC=OFF by default
  CMakeLists.txt
Due: none

Update config.mk
  make/config.mk
Due: none

failed seed arcsin
  tests/python/unittest/test_higher_order_grad.py
Due: none

use random_uniform_arrays to generate test arrays
  python/mxnet/test_utils.py
  tests/python/unittest/test_higher_order_grad.py
Due: python

use random_uniform_arrays for arccos
  tests/python/unittest/test_higher_order_grad.py
Due: none

fix: handle case when len(s) == 0
  python/mxnet/test_utils.py
Due: python

Fix IOT Devices section of Get Started page
  docs/static_site/src/assets/js/options.js
Due: none

Fix backward of SoftmaxActivation
  src/operator/nn/softmax_activation.cc
Due: backend

Fix backward of np_prod and norm
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/tensor/broadcast_reduce_norm_value.cc
Due: backend

add relax tolerance for tanh first order
  tests/python/unittest/test_higher_order_grad.py
Due: none

adding docs for 64bit C APIs of large tensor
  include/mxnet/c_api.h
Due: backend

indent, comment fix
  cmake/Modules/FindNCCL.cmake
Due: none

grouping large vector tests based on their type and adding their nightly test function
  ci/docker/runtime_functions.sh
  tests/nightly/test_large_vector.py
Due: none

grouping large array tests based on type and updating nightly CI function
  ci/docker/runtime_functions.sh
  tests/nightly/test_large_array.py
Due: none

update notice
  NOTICE
Due: none

Fix for windows
  src/imperative/cached_op.h
Due: backend

Fixes #17304 Flaky Test -> test_higher_order_grad.test_tanh (#17321)
  tests/python/unittest/test_higher_order_grad.py
Due: none

fix unit test
  src/operator/nn/dropout.cc
Due: backend

Fix operators lying about their number of inputs (#17049)
  src/operator/contrib/bilinear_resize-inl.h
  src/operator/contrib/bilinear_resize.cc
  src/operator/contrib/bounding_box.cc
  src/operator/contrib/roi_align.cc
  src/operator/custom/custom.cc
  src/operator/image/image_random.cc
  src/operator/leaky_relu.cc
  src/operator/nn/batch_norm.cc
  src/operator/nn/concat.cc
  src/operator/nn/convolution.cc
  src/operator/nn/ctc_loss.cc
  src/operator/nn/deconvolution.cc
  src/operator/nn/lrn.cc
  src/operator/nn/pooling.cc
  src/operator/nn/softmax_activation.cc
  src/operator/nn/upsampling.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/operator_common.h
  src/operator/rnn.cc
  src/operator/softmax_output.cc
  src/operator/tensor/broadcast_reduce_norm_value.cc
Due: backend

Update NOTICE to fix copyright years (#17330)
  NOTICE
Due: none

grouping large array tests based on type and updating nightly CI function (#17305)
  ci/docker/runtime_functions.sh
  tests/nightly/test_large_array.py
Due: none

Don't unnecessarily relicense FindCUDAToolkit.cmake
  LICENSE
  cmake/Modules/FindCUDAToolkit.cmake
  tests/nightly/apache_rat_license_check/rat-excludes
Due: none

fixing links for auto-gluon api index page
  docs/python_docs/python/api/gluon/index.rst
Due: none

fix model zoo parallel download
  python/mxnet/gluon/model_zoo/model_store.py
  python/mxnet/gluon/utils.py
  tests/python/unittest/test_gluon_model_zoo.py
Due: python

add primitive cache for softmax bwd
  src/operator/nn/mkldnn/mkldnn_ops-inl.h
  src/operator/nn/mkldnn/mkldnn_softmax.cc
  src/operator/nn/softmax.cc
Due: backend

add mkldnn softmax backward
  src/operator/nn/mkldnn/mkldnn_ops-inl.h
  src/operator/nn/mkldnn/mkldnn_softmax.cc
  src/operator/nn/softmax.cc
Due: backend

rm duplicate line
  src/operator/nn/mkldnn/mkldnn_softmax.cc
Due: backend

fix preci failed test
  src/operator/nn/softmax.cc
Due: backend

Multi-tensor LAMB (#16893)
  python/mxnet/ndarray/contrib.py
  python/mxnet/optimizer/optimizer.py
  python/mxnet/test_utils.py
  src/operator/contrib/multi_lamb-inl.h
  src/operator/contrib/multi_lamb.cc
  src/operator/contrib/multi_lamb.cu
  src/operator/contrib/multi_sum_sq-inl.h
  src/operator/contrib/multi_sum_sq.cc
  src/operator/contrib/multi_sum_sq.cu
  tests/python/unittest/test_optimizer.py
Due: python, backend

Add bulking support for thread safe cached op version
  src/imperative/cached_op_threadsafe.cc
  src/imperative/cached_op_threadsafe.h
Due: backend

add batch_axis in validation handler
  python/mxnet/gluon/contrib/estimator/event_handler.py
Due: python

Add test case for batch axis support
  python/mxnet/gluon/contrib/estimator/event_handler.py
  tests/python/unittest/test_gluon_event_handler.py
Due: python

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
