Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

taking operation beta^t out of kernel call
  src/operator/optimizer_op-inl.h
Due: backend

fixing broken links, added data tutorials back into gluon package section
  docs/python_docs/python/tutorials/packages/gluon/data/data.md
  docs/python_docs/python/tutorials/packages/gluon/data/data_augmentation.md
  docs/python_docs/python/tutorials/packages/gluon/data/datasets.md
  docs/python_docs/python/tutorials/packages/gluon/data/index.rst
  docs/python_docs/python/tutorials/packages/gluon/image/index.rst
  docs/python_docs/python/tutorials/packages/gluon/image/info_gan.md
  docs/python_docs/python/tutorials/packages/gluon/index.rst
  docs/python_docs/python/tutorials/packages/index.rst
Due: none

Remove extra state for temporal_g (now using requested workspace)
  python/mxnet/ndarray/contrib.py
  python/mxnet/optimizer/optimizer.py
  src/operator/contrib/multi_lamb-inl.h
  src/operator/contrib/multi_lamb.cc
  src/operator/contrib/multi_lamb.cu
  tests/python/unittest/test_optimizer.py
Due: python, backend

remove link in cmake
  CMakeLists.txt
Due: none

change default value of bounds and bias
  python/mxnet/optimizer/optimizer.py
  src/operator/contrib/multi_lamb.cc
  src/operator/contrib/multi_lamb.cu
Due: python, backend

Fix bugs related to removal extra state
  python/mxnet/ndarray/contrib.py
  python/mxnet/optimizer/optimizer.py
  src/operator/contrib/multi_lamb-inl.h
  src/operator/contrib/multi_lamb.cc
  tests/python/unittest/test_optimizer.py
Due: python, backend

1) replace LOG_PER_BATCH with LOG_PER_INTERVAL 2) add test case
  python/mxnet/gluon/contrib/estimator/event_handler.py
  tests/python/unittest/test_gluon_estimator.py
Due: python

Disable in-place, zero gradients following existing quantization code
  src/operator/contrib/intgemm/intgemm_fully_connected_op.cc
  src/operator/contrib/intgemm/prepare_a_op.cc
  src/operator/contrib/intgemm/prepare_b_op.cc
Due: backend

Remove commented out parameter
  src/operator/contrib/intgemm/max_absolute_op.cc
Due: backend

Better documentation/parameter naming for intgemm fully connected
  src/operator/contrib/intgemm/intgemm_fully_connected_op.cc
Due: backend

Rename preparea to prepare_data, prepareb to prepare_weight
  src/operator/contrib/intgemm/intgemm_fully_connected_op.cc
  src/operator/contrib/intgemm/prepare_data_op.cc
  src/operator/contrib/intgemm/prepare_weight_op.cc
Due: backend

Allow all request types for max_absolute
  src/operator/contrib/intgemm/max_absolute_op.cc
Due: backend

Clarify error message
  src/operator/contrib/intgemm/prepare_weight_op.cc
Due: backend

Add operator to slice a B matrix
  src/operator/contrib/intgemm/take_weight_op.cc
Due: backend

Remove op suffix on intgemm_take_weight
  src/operator/contrib/intgemm/take_weight_op.cc
Due: backend

Reuse existing LAMB optimizer
  python/mxnet/optimizer/optimizer.py
  python/mxnet/test_utils.py
  src/operator/contrib/multi_lamb-inl.h
  tests/python/unittest/test_optimizer.py
Due: python, backend

fix cmake
  CMakeLists.txt
Due: none

fix libcuda.so.1 not found issue
  ci/docker/Dockerfile.build.ubuntu_build_cuda
  ci/docker/Dockerfile.publish.ubuntu1604_gpu
  ci/docker/install/ubuntu_nvidia.sh
Due: none

install only cuda rt
  ci/docker/Dockerfile.build.ubuntu_build_cuda
Due: none

Fix building of container ubuntu_build_cuda, installing driver inside container causes nvidia docker errors.
  ci/docker/Dockerfile.build.ubuntu_build_cuda
Due: none

Fix pylint errors
  python/mxnet/ndarray/contrib.py
  python/mxnet/optimizer/optimizer.py
Due: python

Add tests for naive engine
  ci/docker/runtime_functions.sh
  docs/static_site/src/pages/api/cpp/docs/tutorials/multi_threaded_inference.md
Due: none

fix scala pipeline libcuda.so.1 not found issue
  ci/publish/Jenkinsfile
Due: none

rm *mkl build scripts
  make/pip/pip_darwin_cpu.mk
  make/pip/pip_darwin_mkl.mk
  make/pip/pip_linux_cpu.mk
  make/pip/pip_linux_cu100.mk
  make/pip/pip_linux_cu100mkl.mk
  make/pip/pip_linux_cu101.mk
  make/pip/pip_linux_cu101mkl.mk
  make/pip/pip_linux_cu75.mk
  make/pip/pip_linux_cu75mkl.mk
  make/pip/pip_linux_cu80.mk
  make/pip/pip_linux_cu80mkl.mk
  make/pip/pip_linux_cu90.mk
  make/pip/pip_linux_cu90mkl.mk
  make/pip/pip_linux_cu91.mk
  make/pip/pip_linux_cu91mkl.mk
  make/pip/pip_linux_cu92.mk
  make/pip/pip_linux_cu92mkl.mk
  make/pip/pip_linux_mkl.mk
Due: none

enable x86 arch option
  Makefile
  make/config.mk
  mkldnn.mk
Due: none

fix for enable model parallelism for non-fp32 data (#16683)
  src/operator/cross_device_copy.cc
  tests/python/unittest/test_model_parallel.py
Due: backend

Revert "migrate cudaMemcpy to cudaMemcpyAsync+cudaStreamSynchronize (#16790)"
  src/kvstore/kvstore_utils.cu
  src/ndarray/ndarray_function.cu
  src/operator/contrib/adamw-inl.h
  src/operator/contrib/adamw.cc
  src/operator/contrib/adamw.cu
  src/operator/contrib/boolean_mask.cu
  src/operator/contrib/index_array.cu
  src/operator/contrib/multi_proposal.cu
  src/operator/contrib/proposal.cu
  src/operator/numpy/np_boolean_mask_assign.cu
  src/operator/numpy/np_nonzero_op.cu
  src/operator/numpy/np_unique_op.cu
  src/operator/numpy/random/dist_common.cc
  src/operator/numpy/random/dist_common.cu
  src/operator/numpy/random/dist_common.h
  src/operator/numpy/random/np_bernoulli_op.h
  src/operator/numpy/random/np_multinomial_op.cu
  src/operator/numpy/random/np_multinomial_op.h
  src/operator/numpy/random/np_normal_op.h
  src/operator/tensor/cast_storage-inl.cuh
  src/operator/tensor/dot-inl.cuh
  src/operator/tensor/elemwise_binary_op_basic.cu
  src/operator/tensor/indexing_op.cu
  src/operator/tensor/matrix_op.cu
  src/operator/tensor/square_sum.cu
Due: backend

update CUDNN from 7.5.1.10 to 7.6.0.64 in ubuntu_gpu_cu101
  ci/docker/Dockerfile.build.ubuntu_gpu_cu101
Due: none

hot fix ci
  ci/docker/Dockerfile.build.ubuntu_build_cuda
Due: none

Added autograd images back in to the tutorial in the python package docs
  docs/python_docs/python/tutorials/packages/autograd/_static/autograd_control_flow.png
  docs/python_docs/python/tutorials/packages/autograd/_static/autograd_control_flow_grad.png
  docs/python_docs/python/tutorials/packages/autograd/_static/autograd_forward_backward.png
  docs/python_docs/python/tutorials/packages/autograd/_static/autograd_grad_req.mp4
  docs/python_docs/python/tutorials/packages/autograd/_static/autograd_gradient.png
  docs/python_docs/python/tutorials/packages/autograd/_static/autograd_graph.mp4
  docs/python_docs/python/tutorials/packages/autograd/_static/autograd_head_grad.mp4
  docs/python_docs/python/tutorials/packages/autograd/index.md
Due: none

fix scala pipeline libcuda.so.1 not found issue
  ci/docker/Dockerfile.build.ubuntu_build_cuda
  ci/docker/Dockerfile.build.ubuntu_gpu_cu101
  ci/docker/install/centos7_cublas.sh
  ci/docker/install/ubuntu_cublas.sh
  ci/publish/Jenkinsfile
Due: none

* add row_stack (=vstack)
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Due: python

Improve the test script for LoggingHandler
  tests/python/unittest/test_gluon_estimator.py
  tests/python/unittest/test_gluon_event_handler.py
Due: none

small fix on the test script
  tests/python/unittest/test_gluon_estimator.py
Due: none

Fix scala publish & nvidia-docker cublas issue (#16968)
  ci/docker/Dockerfile.build.ubuntu_build_cuda
  ci/docker/Dockerfile.build.ubuntu_gpu_cu101
  ci/docker/install/centos7_cublas.sh
  ci/docker/install/ubuntu_cublas.sh
  ci/publish/Jenkinsfile
Due: none
