Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

fix cpp test_regress_label
  cpp-package/example/test_regress_label.cpp
Due: none

Fix Nightly CD for GPU builds and switch CD to use cmake builds (#18205)
  cd/mxnet_lib/static/Jenkins_pipeline.groovy
  ci/docker/runtime_functions.sh
  config/distribution/linux_cu100.cmake
  config/distribution/linux_cu101.cmake
  config/distribution/linux_cu102.cmake
  tools/pip/setup.py
Due: none

Update test_numpy_op.py
  tests/python/unittest/test_numpy_op.py
Due: none

Disable -DUSE_TVM_OP on GPU builds (#18204)
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
  ci/jenkins/Jenkinsfile_unix_gpu
Due: none

rm ubuntu_gpu_nightly and rat from groovy
  ci/docker/Dockerfile.build.ubuntu_nightly_gpu
  ci/jenkins/Jenkins_steps.groovy
Due: none

add rat check back
  ci/jenkins/Jenkins_steps.groovy
Due: none

adding separate int32_t kernel for GPU in broadcast_axis/to/like operators
  src/operator/tensor/broadcast_reduce_op.h
  src/operator/tensor/broadcast_reduce_op_value.cc
Due: backend

replacing hardcoded int32_t with generic index_t
  src/operator/tensor/broadcast_reduce_op.h
Due: backend

using structure instead of temp workspace to pass stride and shape
  src/operator/tensor/broadcast_reduce_op.h
  src/operator/tensor/broadcast_reduce_op_value.cc
Due: backend

delete spaces
  ci/jenkins/Jenkins_steps.groovy
Due: none

combining CPU and GPU kernels to leverage cached stride calculation and fast access shape data in both
  src/operator/numpy/np_matmul_op-inl.h
  src/operator/tensor/broadcast_reduce_op.h
  src/operator/tensor/broadcast_reduce_op_value.cc
Due: backend

Update test_numpy_op.py (#18212)
  tests/python/unittest/test_numpy_op.py
Due: none

done
  ci/docker/Dockerfile.build.ubuntu
Due: none

[Numpy] New FFIs for Operator: pad, prod (#18053)
  benchmark/python/ffi/benchmark_ffi.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/api/operator/numpy/np_broadcast_reduce_op_value.cc
  src/api/operator/numpy/np_pad_op.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cu
  src/operator/numpy/np_pad_op-inl.h
Due: python, backend

fix cpp test_regress_label (#18211)
  cpp-package/example/test_regress_label.cpp
Due: none

[CI] Switch all ubuntu_nightly_cpu to ubuntu_cpu, ubuntu_nightly_gpu to ubuntu_build_cuda (#18189)
  ci/docker/Dockerfile.build.ubuntu
  ci/docker/Dockerfile.build.ubuntu_nightly_cpu
  ci/docker/Dockerfile.build.ubuntu_nightly_gpu
  tests/nightly/Jenkinsfile
  tests/nightly/JenkinsfileForBinaries
  tests/nightly/model_backwards_compatibility_check/JenkinsfileForMBCC
Due: none

Improving performance of broadcast_axis on GPU (#18168)
  src/operator/numpy/np_matmul_op-inl.h
  src/operator/tensor/broadcast_reduce_op.h
Due: backend

fix shared buffer bug in executor
  python/mxnet/symbol/symbol.py
  tests/python/unittest/test_init.py
Due: python

Increase docker-compose http timeout (#18202)
  ci/Jenkinsfile_docker_cache
  ci/build.py
Due: none

Fix nightly large_vector test caused by incorrect with_seed path (#18178)
  tests/nightly/test_large_array.py
  tests/nightly/test_large_vector.py
  tests/python/unittest/common.py
Due: none

Update to thrust 1.9.8 on Windows
  CMakeLists.txt
  ci/build_windows.py
Due: none

pylint astroid sanity issue
  ci/docker/install/requirements
Due: none

Update batch_norm_relu.cc
  src/operator/contrib/batch_norm_relu.cc
Due: backend

Remove debug logic
  ci/build_windows.py
Due: none

astroid and pylint versions only supported in py3
  ci/docker/install/requirements
Due: none

Update to thrust 1.9.8 on Windows (#18218)
  CMakeLists.txt
  ci/build_windows.py
Due: none

run pytest in parallel
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkinsfile_sanity
  ci/windows/test_py3_cpu.ps1
  ci/windows/test_py3_gpu.ps1
Due: none

mark tests as serial
  ci/docker/runtime_functions.sh
  tests/python/gpu/test_gluon_gpu.py
  tests/python/gpu/test_gluon_model_zoo_gpu.py
  tests/python/gpu/test_kvstore_gpu.py
  tests/python/gpu/test_numpy_fallback.py
  tests/python/gpu/test_operator_gpu.py
  tests/python/tensorrt/test_ops.py
  tests/python/unittest/test_contrib_optimizer.py
  tests/python/unittest/test_gluon.py
  tests/python/unittest/test_gluon_rnn.py
  tests/python/unittest/test_ndarray.py
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_ndarray.py
  tests/python/unittest/test_numpy_op.py
  tests/python/unittest/test_operator.py
  tests/python/unittest/test_random.py
  tests/python/unittest/test_sparse_operator.py
  tests/python/unittest/test_subgraph.py
  tests/python/unittest/test_subgraph_op.py
Due: none

use parametrize in numpy op tests
  python/mxnet/test_utils.py
  tests/python/gpu/test_kvstore_gpu.py
  tests/python/tensorrt/test_ops.py
  tests/python/unittest/test_numpy_op.py
  tests/python/unittest/test_optimizer.py
  tests/python/unittest/test_subgraph_op.py
Due: python

fix io bugs
  python/mxnet/test_utils.py
  src/io/image_aug_default.cc
  tests/python/tensorrt/lenet5_train.py
  tests/python/tensorrt/test_tensorrt_lenet5.py
  tests/python/train/test_autograd.py
  tests/python/train/test_conv.py
  tests/python/train/test_dtype.py
  tests/python/train/test_mlp.py
  tests/python/train/test_resnet_aug.py
  tests/python/unittest/test_io.py
Due: python, backend

disable memory pool
  ci/docker/runtime_functions.sh
  ci/windows/test_py3_gpu.ps1
Due: none

address flaky ftrl/fm test and layernorm timeout
  tests/python/train/test_sparse_fm.py
  tests/python/unittest/test_operator.py
  tests/python/unittest/test_optimizer.py
Due: none

remove kBFloat16 as its not supported int 1.6
  src/operator/nn/mkldnn/mkldnn_act.cc
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_pooling-inl.h
  src/operator/subgraph/mkldnn/mkldnn_subgraph_base-inl.h
Due: backend

added missing definition GetPaddingSizeFull
  src/operator/nn/mkldnn/mkldnn_pooling-inl.h
Due: backend

relax alto rtol for ftrl test when dtype is fp16
  tests/python/unittest/test_optimizer.py
Due: none

Re-enable build retries on MSVC
  ci/build_windows.py
Due: none

Relaxing type requirements for broadcast_like (#17977)
  src/operator/tensor/broadcast_reduce_op_value.cc
  tests/python/unittest/test_operator.py
Due: backend

fix
  src/operator/tensor/broadcast_reduce_op_value.cc
Due: backend

refine
  src/operator/tensor/broadcast_reduce_op_value.cc
  src/operator/tensor/elemwise_binary_broadcast_op_extended.cc
  tests/python/unittest/test_higher_order_grad.py
Due: backend
