Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

add other bf16 ops
  python/mxnet/contrib/amp/lists/symbol_bf16.py
Due: python

fix executor copy_params
  python/mxnet/executor.py
Due: python

add test case for bf16
  tests/python/mkl/test_contrib_amp.py
Due: none

add amp_cast bf16 support for ndarray
  python/mxnet/contrib/amp/amp.py
  python/mxnet/executor.py
  python/mxnet/gluon/parameter.py
  python/mxnet/ndarray/ndarray.py
  python/mxnet/ndarray/register.py
  python/mxnet/symbol/symbol.py
  src/nnvm/amp_infer_unknown.cc
  src/nnvm/low_precision_pass.cc
  src/operator/mxnet_op.h
  tests/python/gpu/test_contrib_amp.py
Due: python, backend

change func name from fp16 to lp16 (low precision 16), to include bf16
  python/mxnet/contrib/amp/amp.py
  python/mxnet/contrib/amp/lists/symbol_bf16.py
  tests/python/gpu/test_contrib_amp.py
Due: python

add bf16 type support
  src/operator/nn/batch_norm.cc
  src/operator/nn/concat.cc
  src/operator/nn/mkldnn/mkldnn_act.cc
  src/operator/nn/mkldnn/mkldnn_deconvolution.cc
  src/operator/nn/mkldnn/mkldnn_transpose.cc
Due: backend

remove numpy dtype hook for bf16
  example/quantization/imagenet_inference.py
  python/mxnet/contrib/amp/amp.py
  python/mxnet/contrib/amp/lists/symbol_bf16.py
  src/c_api/c_api_symbolic.cc
  src/ndarray/ndarray.cc
  src/nnvm/low_precision_pass.cc
  src/operator/nn/batch_norm.cc
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_batch_norm-inl.h
  src/operator/nn/mkldnn/mkldnn_pooling.cc
  src/operator/subgraph/mkldnn/mkldnn_conv.cc
  src/operator/subgraph/mkldnn/mkldnn_subgraph_base-inl.h
  src/operator/tensor/amp_cast.h
  src/operator/tensor/elemwise_binary_op_basic.cc
  tests/python/mkl/test_contrib_amp.py
Due: python, backend

add single conv test
  tests/python/mkl/test_contrib_amp.py
Due: none

rebase to mxnet master
  3rdparty/mshadow/mshadow/base.h
  src/operator/nn/batch_norm.cc
  src/operator/nn/mkldnn/mkldnn_batch_norm-inl.h
  src/operator/subgraph/mkldnn/mkldnn_conv.cc
Due: backend

add dtype check when copy
  src/ndarray/ndarray.cc
Due: backend

skip fp16 amp_cast test in cpu
  tests/python/unittest/test_operator.py
Due: none

fix symbolic inference
  src/ndarray/ndarray.cc
Due: backend

add single conv and bn test
  tests/python/mkl/test_bf16_operator.py
  tests/python/mkl/test_contrib_amp.py
Due: none

Skip first convolution for bfloat16
  example/quantization/imagenet_inference.py
  src/nnvm/low_precision_pass.cc
  src/operator/nn/mkldnn/mkldnn_convolution.cc
Due: backend

Fix resnet50 first convolution
  src/ndarray/ndarray.cc
  src/operator/nn/mkldnn/mkldnn_convolution.cc
  src/operator/nn/mkldnn/mkldnn_pooling.cc
Due: backend

support bf16 fallback compute
  include/mxnet/ndarray.h
  src/ndarray/ndarray.cc
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_base.cc
  tests/python/mkl/test_bf16_operator.py
Due: backend

recover origin test
  tests/python/mkl/test_bf16_operator.py
Due: none

using assert_almost_equal_with_err for fallback bn test
  tests/python/mkl/test_bf16_operator.py
Due: none

fix bf16 bn test, enhance assert_almost_equal_with_err
  python/mxnet/test_utils.py
  tests/python/mkl/test_bf16_operator.py
Due: python

add relu6 bf16 support
  python/mxnet/contrib/amp/lists/symbol_bf16.py
Due: python

add some bf16 unittests
  src/ndarray/ndarray.cc
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_base.cc
  tests/python/mkl/test_bf16_operator.py
Due: backend

mkldnn doesn't support 0 dim tensor
  src/operator/nn/mkldnn/mkldnn_base-inl.h
Due: backend

using bf16 tvm
  .gitmodules
Due: none

fix subgraph conv with data=0
  src/operator/subgraph/mkldnn/mkldnn_conv.cc
Due: backend

fix lint
  python/mxnet/contrib/amp/amp.py
  python/mxnet/executor.py
  python/mxnet/ndarray/ndarray.py
  python/mxnet/ndarray/register.py
  python/mxnet/symbol/register.py
  python/mxnet/test_utils.py
  src/engine/naive_engine.cc
  src/engine/threaded_engine.cc
  src/engine/threaded_engine.h
  src/executor/graph_executor.h
  src/nnvm/low_precision_pass.cc
  src/operator/nn/fully_connected.cc
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_deconvolution.cc
Due: python, backend

rm dtype check when copy
  src/ndarray/ndarray.cc
Due: backend

change function name; fix lint error
  include/mxnet/ndarray.h
  src/ndarray/ndarray.cc
  src/operator/nn/mkldnn/mkldnn_base.cc
  src/operator/tensor/amp_cast.cc
  src/operator/tensor/amp_cast.h
Due: backend

use official tvm
  .gitmodules
Due: none

rm bf16 mnist demo
  example/gluon/mnist/mnist.py
Due: none

nvcc compiler build pass
  3rdparty/mshadow/mshadow/base.h
Due: none

fix clang check error:conditional expression is ambiguous; 'float' can be converted to 'mshadow::bfloat::bf16_t' and vice versa
  tests/cpp/include/test_op.h
Due: none

to fix mkldnn test_mkldnn_ndarray_slice error
  src/operator/nn/mkldnn/mkldnn_convolution.cc
Due: backend

fix mnist training error
  src/operator/subgraph/mkldnn/mkldnn_conv.cc
Due: backend

workaround cpp failed test mkldnn fc bwd
  src/operator/nn/fully_connected.cc
Due: backend

fix gpu amp cast symbol error
  tests/python/gpu/test_contrib_amp.py
  tests/python/mkl/test_contrib_amp.py
Due: none

fix cpp test: Engine.VarVersion error
  src/engine/naive_engine.cc
Due: backend

rename np_broadcast_reduce_op_value_part2.cc and add some description
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_moments_op.cc
Due: backend

use official dlpack
  .gitmodules
Due: none

1. update dlpack url in .gitmodule 2. disable mkldnn fc bwd
  .gitmodules
  src/operator/nn/fully_connected.cc
Due: backend

mv some code from mxnet_op.h to mxnet_op_kernel_assign.h to avoid WIN compiler error 'fatal error C1002: compiler is out of heap space in pass 2'
  src/operator/mxnet_op.h
  src/operator/mxnet_op_kernel_assign.h
Due: backend
