Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

Add resiliency to onnx export code (#13426)
  python/mxnet/contrib/onnx/mx2onnx/export_onnx.py
  tests/python-pytest/onnx/export/mxnet_export_test.py
Due: python

store memory in external array
  tests/cpp/operator/mkldnn_operator_test.cc
Due: none

use const
  tests/cpp/operator/mkldnn_operator_test.cc
Due: none

check if mkldnn
  tests/cpp/operator/mkldnn_operator_test.cc
Due: none

Clean up utility
  Makefile
  scala-package/.gitignore
  scala-package/core/pom.xml
  scala-package/examples/pom.xml
  scala-package/infer/pom.xml
  scala-package/macros/pom.xml
  scala-package/packageTest/Makefile
  scala-package/packageTest/README.md
  scala-package/packageTest/core/pom.xml
  scala-package/packageTest/examples/pom.xml
  scala-package/packageTest/infer/pom.xml
  scala-package/packageTest/pom.xml
Due: clojure

[MXNET-1155] Add scala packageTest utility
  Makefile
  scala-package/core/pom.xml
  scala-package/examples/pom.xml
  scala-package/infer/pom.xml
  scala-package/macros/pom.xml
  scala-package/packageTest/Makefile
  scala-package/packageTest/README.md
  scala-package/packageTest/core/pom.xml
  scala-package/packageTest/core/scripts
  scala-package/packageTest/examples/pom.xml
  scala-package/packageTest/examples/scripts
  scala-package/packageTest/infer/pom.xml
  scala-package/packageTest/pom.xml
Due: clojure

use rand_shape instead of hardcode
  tests/python/unittest/test_ndarray.py
Due: none

write to copy
  tests/cpp/operator/mkldnn_operator_test.cc
Due: none

add reshape back
  tests/cpp/operator/mkldnn_operator_test.cc
Due: none

add more inputs
  tests/cpp/operator/mkldnn_operator_test.cc
Due: none

removed fixed seed, alpha
  tests/python/unittest/test_random.py
Due: none

Adding test for softmaxoutput (#13116)
  python/mxnet/contrib/onnx/mx2onnx/_op_translations.py
  tests/python-pytest/onnx/export/mxnet_export_test.py
Due: python

fix the situation where idx didn't align with rec
  python/mxnet/image/detection.py
  python/mxnet/image/image.py
  tests/python/unittest/test_image.py
Due: python

Add workspace cleaning after job finished (#13490)
  ci/Jenkinsfile_utils.groovy
Due: none

Add resiliency to onnx export code (#13426) (#13567)
  python/mxnet/contrib/onnx/mx2onnx/export_onnx.py
  tests/python-pytest/onnx/export/mxnet_export_test.py
Due: python

do not use reshaped input
  tests/cpp/operator/mkldnn_operator_test.cc
Due: none

Update MXNetTutorialTemplate.ipynb
  example/MXNetTutorialTemplate.ipynb
Due: none

limit inputs / outputs
  tests/cpp/operator/mkldnn_operator_test.cc
Due: none

remove unused methods
  tests/cpp/include/test_mkldnn.h
  tests/cpp/operator/mkldnn_operator_test.cc
Due: none

remove white space
  src/operator/nn/batch_norm.cc
Due: backend

fix lint
  tests/cpp/operator/mkldnn_operator_test.cc
Due: none

Update waitall api doc
  python/mxnet/ndarray/ndarray.py
Due: python

fix int
  src/operator/nn/batch_norm.cc
Due: backend

Update dgl_graph.cc
  src/operator/contrib/dgl_graph.cc
Due: backend

code refactor
  src/operator/nn/mkldnn/mkldnn_act.cc
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_base.cc
  src/operator/nn/mkldnn/mkldnn_convolution.cc
Due: backend

Fix flaky test test_random:test_randint_generator (#13498)
  python/mxnet/test_utils.py
  tests/python/unittest/test_random.py
Due: python

Added fix for Jetson, removed CUDA update
  ci/docker/Dockerfile.build.armv8
  ci/docker/Dockerfile.build.jetson
  make/crosscompile.jetson.mk
Due: none

Replaced rand_r with std:: random generation
  src/operator/rnn_impl.h
  tests/cpp/engine/threaded_engine_test.cc
  tests/cpp/include/test_ndarray_utils.h
Due: backend

Fix the bug of BidirectionalCell
  python/mxnet/gluon/rnn/rnn_cell.py
Due: python

Update version to v1.5.0 including clojure package (#13566)
  R-package/DESCRIPTION
  contrib/clojure-package/README.md
  contrib/clojure-package/examples/cnn-text-classification/project.clj
  contrib/clojure-package/examples/gan/project.clj
  contrib/clojure-package/examples/imclassification/project.clj
  contrib/clojure-package/examples/module/project.clj
  contrib/clojure-package/examples/multi-label/project.clj
  contrib/clojure-package/examples/neural-style/project.clj
  contrib/clojure-package/examples/pre-trained-models/project.clj
  contrib/clojure-package/examples/profiler/project.clj
  contrib/clojure-package/examples/rnn/project.clj
  contrib/clojure-package/examples/visualization/project.clj
  contrib/clojure-package/project.clj
  contrib/clojure-package/scripts/update_versions.sh
  docs/tutorials/scala/mxnet_scala_on_intellij.md
  include/mxnet/base.h
  python/mxnet/libinfo.py
  scala-package/assembly/linux-x86_64-cpu/pom.xml
  scala-package/assembly/linux-x86_64-gpu/pom.xml
  scala-package/assembly/osx-x86_64-cpu/pom.xml
  scala-package/assembly/pom.xml
  scala-package/core/pom.xml
  scala-package/examples/pom.xml
  scala-package/infer/pom.xml
  scala-package/init-native/linux-x86_64/pom.xml
  scala-package/init-native/osx-x86_64/pom.xml
  scala-package/init-native/pom.xml
  scala-package/init/pom.xml
  scala-package/macros/pom.xml
  scala-package/native/linux-x86_64-cpu/pom.xml
  scala-package/native/linux-x86_64-gpu/pom.xml
  scala-package/native/osx-x86_64-cpu/pom.xml
  scala-package/native/pom.xml
  scala-package/pom.xml
  scala-package/spark/pom.xml
  snapcraft.yaml
Due: python, r-package, clojure, backend

add files in correct places (does not work as is)
  src/operator/contrib/binary_inference_convolution.cc
  src/operator/contrib/binary_inference_convolution.cu
  src/operator/contrib/binary_inference_convolution.h
  src/operator/contrib/binary_inference_fully_connected.cc
  src/operator/contrib/binary_inference_fully_connected.cu
  src/operator/contrib/binary_inference_fully_connected.h
  tools/binary_converter/CMakeLists.txt
  tools/binary_converter/main.cpp
Due: backend

License update (#13565)
  LICENSE
Due: none

Update CODEOWNERS, add Pedro Larroy.
  CODEOWNERS
Due: none

Safe change directory in Makefile for scala
  Makefile
Due: none

fix link for gluon model zoo
  docs/community/ecosystem.md
Due: none

Fix use-before-assignment in convert_dot (#13511)
  python/mxnet/contrib/onnx/mx2onnx/_op_translations.py
Due: python

CPP Install Instruction with CMake
  docs/install/c_plus_plus.md
Due: none

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
