Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

...
  tests/python/unittest/test_numpy_op.py
Due: none

change names
  example/extensions/lib_custom_op/subgraph_lib.cc
  include/mxnet/lib_api.h
Due: backend

fix .htaccess redirects since api links have changed again
  docs/static_site/src/.htaccess
  python/mxnet/io/__init__.py
Due: python

add separate stateful compute and pass state_op ptr
  include/mxnet/lib_api.h
  src/c_api/c_api.cc
Due: backend

included license on files missing license
  docs/python_docs/python/api/ndarray/ndarray.rst
  docs/python_docs/python/api/symbol/symbol.rst
Due: none

dummy change
  README.md
Due: none

Add boolean ndarray (#15940)
  3rdparty/mshadow/mshadow/base.h
  CMakeLists.txt
  Makefile
  ci/docker/runtime_functions.sh
  contrib/tvmop/__init__.py
  contrib/tvmop/compile.py
  contrib/tvmop/core/__init__.py
  contrib/tvmop/core/fromnumeric.py
  contrib/tvmop/core/umath.py
  contrib/tvmop/opdef.py
  contrib/tvmop/utils.py
  include/mxnet/tensor_blob.h
  python/mxnet/ndarray/ndarray.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/test_utils.py
  src/ndarray/ndarray.cc
  src/ndarray/ndarray_function.cc
  src/ndarray/ndarray_function.cu
  src/operator/contrib/boolean_mask.cc
  src/operator/contrib/boolean_mask.cu
  src/operator/mxnet_op.h
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_elemwise_broadcast_op.cc
  src/operator/operator_tune.cc
  src/operator/tensor/elemwise_binary_broadcast_op_logic.cc
  src/operator/tensor/elemwise_binary_scalar_op_logic.cc
  src/operator/tensor/elemwise_unary_op.h
  src/operator/tensor/init_op.h
  src/operator/tvmop/op_module.cc
  src/operator/tvmop/op_module.h
  tests/python/unittest/test_numpy_gluon.py
  tests/python/unittest/test_numpy_ndarray.py
  tests/python/unittest/test_numpy_op.py
Due: python, backend

Update add_op_in_backend.md
  docs/static_site/src/pages/api/faq/add_op_in_backend.md
Due: none

fix doc
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Due: python

no message
  python/mxnet/numpy_dispatch_protocol.py
  tests/python/unittest/test_numpy_interoperability.py
Due: python

fix
  src/resource.cc
Due: backend

Update README.md
  docs/README.md
Due: none

reduce mem size
  tests/python/gpu/test_operator_gpu.py
  tests/python/gpu/test_predictor.py
  tests/python/gpu/test_tvm_bridge.py
  tests/python/unittest/test_random.py
  tests/python/unittest/test_sparse_ndarray.py
Due: none

address comment
  src/operator/tensor/elemwise_unary_op_trig.cc
Due: backend

add MXNet Ops for fast multihead attention
  src/operator/contrib/transformer-inl.h
  src/operator/contrib/transformer.cc
  src/operator/contrib/transformer.cu
  tests/python/gpu/test_operator_gpu.py
Due: backend

Fixing problem with getRescaleGrad(...) call in Python2 and some minor changes requested by Przemek
  python/mxnet/ndarray/contrib.py
  src/operator/contrib/adamw-inl.h
Due: python, backend

Revert "Numpy det and slogdet operators (#15861)"
  python/mxnet/_numpy_op_doc.py
  src/operator/tensor/la_op.cc
  src/operator/tensor/la_op.cu
  src/operator/tensor/la_op.h
  tests/python/unittest/test_numpy_op.py
Due: python, backend

Delete non-windows test
  ci/jenkins/Jenkinsfile_centos_cpu
  ci/jenkins/Jenkinsfile_centos_gpu
  ci/jenkins/Jenkinsfile_clang
  ci/jenkins/Jenkinsfile_edge
  ci/jenkins/Jenkinsfile_miscellaneous
  ci/jenkins/Jenkinsfile_sanity
  ci/jenkins/Jenkinsfile_unix_cpu
  ci/jenkins/Jenkinsfile_unix_gpu
  ci/jenkins/Jenkinsfile_website
  ci/jenkins/Jenkinsfile_website_c_docs
  ci/jenkins/Jenkinsfile_website_clojure_docs
  ci/jenkins/Jenkinsfile_website_full
  ci/jenkins/Jenkinsfile_website_full_pr
  ci/jenkins/Jenkinsfile_website_java_docs
  ci/jenkins/Jenkinsfile_website_jekyll_docs
  ci/jenkins/Jenkinsfile_website_julia_docs
  ci/jenkins/Jenkinsfile_website_mxnet_build
  ci/jenkins/Jenkinsfile_website_python_docs
  ci/jenkins/Jenkinsfile_website_r_docs
  ci/jenkins/Jenkinsfile_website_scala_docs
Due: none

add back missing gluon tutorials; fix links
  docs/python_docs/python/tutorials/deploy/run-on-aws/index.rst
  docs/python_docs/python/tutorials/getting-started/to-mxnet/index.rst
  docs/python_docs/python/tutorials/packages/gluon/control_flow/ControlFlowTutorial.md
  docs/python_docs/python/tutorials/packages/gluon/custom_layer.md
  docs/python_docs/python/tutorials/packages/gluon/custom_loss/custom_loss.md
  docs/python_docs/python/tutorials/packages/gluon/custom_loss/images/contrastive_loss.jpeg
  docs/python_docs/python/tutorials/packages/gluon/custom_loss/images/inuktitut_1.png
  docs/python_docs/python/tutorials/packages/gluon/custom_loss/images/inuktitut_2.png
  docs/python_docs/python/tutorials/packages/gluon/datasets.md
  docs/python_docs/python/tutorials/packages/gluon/gluon.md
  docs/python_docs/python/tutorials/packages/gluon/gotchas_numpy_in_mxnet.md
  docs/python_docs/python/tutorials/packages/gluon/hybrid.md
  docs/python_docs/python/tutorials/packages/gluon/index.rst
  docs/python_docs/python/tutorials/packages/gluon/learning_rate_finder.md
  docs/python_docs/python/tutorials/packages/gluon/learning_rate_schedules.md
  docs/python_docs/python/tutorials/packages/gluon/multi_gpu.md
  docs/python_docs/python/tutorials/packages/gluon/transforms.md
  docs/python_docs/python/tutorials/packages/gluon/unsupervised_learning/gan.md
  docs/python_docs/python/tutorials/packages/symbol/data.md
  docs/python_docs/python/tutorials/packages/symbol/symbol.md
  docs/python_docs/python/tutorials/performance/backend/mkldnn/index.rst
  docs/python_docs/python/tutorials/performance/index.rst
  docs/static_site/src/pages/api/faq/gradient_compression.md
Due: none

Delete learning_rate_schedules.md
  docs/python_docs/python/tutorials/packages/gluon/learning_rate_schedules.md
Due: none

Delete custom_loss.md
  docs/python_docs/python/tutorials/packages/gluon/custom_loss/custom_loss.md
Due: none

Delete gotchas_numpy_in_mxnet.md
  docs/python_docs/python/tutorials/packages/gluon/gotchas_numpy_in_mxnet.md
Due: none

Update docs/python_docs/python/tutorials/packages/gluon/index.rst
  docs/python_docs/python/tutorials/packages/gluon/index.rst
Due: none

update link
  docs/static_site/src/pages/api/faq/float16.md
Due: none

Delete custom_layer.md
  docs/python_docs/python/tutorials/packages/gluon/custom_layer.md
Due: none

Delete learning_rate_finder.md
  docs/python_docs/python/tutorials/packages/gluon/learning_rate_finder.md
Due: none

Apply suggestions from code review
  docs/python_docs/python/tutorials/packages/gluon/index.rst
Due: none

remove unrelated content
  docs/python_docs/python/tutorials/performance/backend/mkldnn/index.rst
Due: none

move control flow tutorial
  docs/python_docs/python/tutorials/extend/control_flow.md
  docs/python_docs/python/tutorials/packages/autograd/index.md
  docs/python_docs/python/tutorials/packages/gluon/custom_loss/images/contrastive_loss.jpeg
  docs/python_docs/python/tutorials/packages/gluon/custom_loss/images/inuktitut_1.png
  docs/python_docs/python/tutorials/packages/gluon/custom_loss/images/inuktitut_2.png
  docs/python_docs/python/tutorials/packages/gluon/index.rst
Due: none

fix links
  docs/python_docs/python/tutorials/packages/gluon/multi_gpu.md
Due: none

add cutlass as 3rdparty dependency
  .gitmodules
Due: none
