Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

Support multi-threading for Custom Operator
  docs/faq/env_var.md
  src/operator/custom/custom-inl.h
Due: backend

update
  docs/faq/env_var.md
  src/operator/custom/custom-inl.h
Due: backend

MKLDNN based Quantized FullyConnected Operator and its fusion (#14128)
  example/quantization/imagenet_gen_qsym_mkldnn.py
  python/mxnet/initializer.py
  src/operator/nn/mkldnn/mkldnn_fully_connected-inl.h
  src/operator/nn/mkldnn/mkldnn_fully_connected.cc
  src/operator/quantization/mkldnn/mkldnn_quantized_fully_connected.cc
  src/operator/quantization/mkldnn/mkldnn_quantized_ops-inl.h
  src/operator/quantization/quantized_fully_connected.cc
  src/operator/subgraph/mkldnn/mkldnn_fc.cc
  src/operator/subgraph/mkldnn/mkldnn_fc_post_quantize_property.cc
  src/operator/subgraph/mkldnn/mkldnn_fc_property.cc
  tests/python/mkl/test_subgraph.py
  tests/python/quantization/test_quantization.py
Due: python, backend

Update custom-inl.h
  src/operator/custom/custom-inl.h
Due: backend

add pos_weight for SigmoidBinaryCrossEntropyLoss (#13612)
  CONTRIBUTORS.md
  python/mxnet/gluon/loss.py
  tests/python/unittest/test_loss.py
Due: python

error symbol
  python/mxnet/symbol/contrib.py
Due: python

update modified codes
  example/gluon/snail/README.md
  example/gluon/snail/assets/blocks.png
  example/gluon/snail/assets/net_structure.png
  example/gluon/snail/assets/perf_acc.png
  example/gluon/snail/batch_sampler.py
  example/gluon/snail/data_loader.py
  example/gluon/snail/main.py
  example/gluon/snail/models.py
  example/gluon/snail/omniglot_dataset.py
  example/gluon/snail/trainer.py
  example/gluon/snail/utils.py
Due: none

support 3d input innerproduct with flatten=false
  src/operator/nn/fully_connected.cc
  src/operator/quantization/mkldnn/mkldnn_quantized_fully_connected.cc
  src/operator/quantization/quantized_fully_connected.cc
  src/operator/quantization/quantized_fully_connected.cu
  src/operator/subgraph/mkldnn/mkldnn_fc.cc
  tests/python/quantization/test_quantization.py
Due: backend

add backgroud class in box_nms
  src/operator/contrib/bounding_box-common.h
  src/operator/contrib/bounding_box-inl.cuh
  src/operator/contrib/bounding_box-inl.h
  src/operator/contrib/bounding_box.cc
Due: backend

add unittest
  src/operator/contrib/bounding_box.cc
  tests/python/unittest/test_contrib_operator.py
Due: backend

Update inference sample make file.
  cpp-package/example/inference/Makefile
  cpp-package/example/inference/unit_test_inception_inference.sh
  cpp-package/example/inference/unit_test_sentiment_analysis_rnn.sh
Due: none

Fixes for memory leak when reshaping executor
  scala-package/core/src/main/scala/org/apache/mxnet/Executor.scala
  scala-package/core/src/main/scala/org/apache/mxnet/NativeResource.scala
  scala-package/core/src/main/scala/org/apache/mxnet/Symbol.scala
  scala-package/core/src/main/scala/org/apache/mxnet/module/DataParallelExecutorGroup.scala
Due: clojure

Fixed Adam Optimizer memory leak
  scala-package/core/src/main/scala/org/apache/mxnet/optimizer/Adam.scala
Due: clojure

Update README
  example/distributed_training-horovod/README.md
Due: none

Cleanup for PR
  scala-package/core/src/main/scala/org/apache/mxnet/Executor.scala
  scala-package/core/src/main/scala/org/apache/mxnet/module/DataParallelExecutorGroup.scala
Due: clojure

Get rid of AMP handle
  python/mxnet/amp/amp.py
Due: python

Fix lint
  src/operator/contrib/all_finite-inl.h
  src/operator/contrib/all_finite.cu
Due: backend

Add scaling to Output functions
  python/mxnet/amp/amp.py
  python/mxnet/amp/lists/symbol.py
Due: python

Enable losses to be tuple
  python/mxnet/amp/amp.py
Due: python

Added unit test for new ResourceScope method
  scala-package/core/src/test/scala/org/apache/mxnet/ResourceScopeSuite.scala
Due: clojure

Removing import that was added by overzealous ide
  scala-package/core/src/main/scala/org/apache/mxnet/optimizer/Adam.scala
Due: clojure

Add back in an import
  scala-package/core/src/main/scala/org/apache/mxnet/optimizer/Adam.scala
Due: clojure

Julia: split symbolic-node.jl into several snippets (#14024)
  julia/src/symbolic-node.jl
  julia/src/symbolic-node/arithmetic.jl
  julia/src/symbolic-node/array.jl
  julia/src/symbolic-node/autodiff.jl
  julia/src/symbolic-node/io.jl
  julia/src/symbolic-node/op.jl
  julia/src/symbolic-node/show.jl
  julia/src/symbolic-node/type.jl
Due: none

fix type mismatch bugs
  src/c_api/c_api_function.cc
  src/io/iter_image_recordio_2.cc
  src/operator/convolution_v1-inl.h
  src/operator/custom/custom.cc
  src/operator/elemwise_op_common.h
  src/operator/nn/deconvolution-inl.h
  src/operator/operator_common.h
  src/operator/pad.cu
  src/operator/tensor/indexing_op-inl.cuh
  src/operator/tensor/ordering_op.cc
Due: backend

Allow every number type
  contrib/clojure-package/src/org/apache/clojure_mxnet/ndarray.clj
  contrib/clojure-package/src/org/apache/clojure_mxnet/util.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/ndarray_test.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/util_test.clj
Due: none

temporarily disable integration tests that depend on origami repo due to network connectivity issues
  contrib/clojure-package/integration-tests.sh
Due: none

Added flags for executor to know whether or not it owns NDArrays for disposal
  scala-package/core/src/main/scala/org/apache/mxnet/Executor.scala
  scala-package/core/src/main/scala/org/apache/mxnet/NativeResource.scala
  scala-package/core/src/main/scala/org/apache/mxnet/ResourceScope.scala
  scala-package/core/src/test/scala/org/apache/mxnet/ResourceScopeSuite.scala
Due: clojure

LRScheduler with update_on_kvstore=False
  python/mxnet/gluon/trainer.py
  python/mxnet/optimizer/optimizer.py
  tests/python/unittest/test_gluon_trainer.py
Due: python

use static_cast to replace old style cast, better reability
  src/operator/pad.cu
Due: backend

Retrigger CI
  tests/python/unittest/test_ndarray.py
Due: none

fix engine crash in shutdown phase
  src/engine/threaded_engine.h
Due: backend

fix lint
  src/engine/threaded_engine.h
Due: backend

Revert "Bypass ThreadedEngine in test_operator_gpu.py:test_convolution_multiple_streams. (#14338)"
  tests/python/gpu/test_operator_gpu.py
Due: none

Fix NaN value comparisons in relu, max and min ops (#14262)
  src/operator/mshadow_op.h
  tests/python/unittest/test_ndarray.py
Due: backend

[clojure-package][wip] add `->nd-vec` function in `ndarray.clj`
  contrib/clojure-package/src/org/apache/clojure_mxnet/ndarray.clj
Due: none

[clojure-package][ndarray] add unit tests for `->nd-vec` util fn
  contrib/clojure-package/src/org/apache/clojure_mxnet/ndarray.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/ndarray_test.clj
Due: none

Cleaning trainer.py
  python/mxnet/gluon/trainer.py
Due: python

Disables test_operator_gpu.test_bulking test
  tests/python/gpu/test_operator_gpu.py
Due: none

Re-enable windows jenkins steps
  ci/jenkins/Jenkinsfile_windows_cpu
  ci/jenkins/Jenkinsfile_windows_gpu
Due: none

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
