Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

cleanign up
  python/mxnet/gluon/block.py
Due: python

fixing whitespace issues with linter
  src/operator/rnn-inl.h
Due: backend

removing stringstream and checking for cudnn >= 7.2
  src/operator/rnn-inl.h
  src/operator/rnn.cc
Due: backend

switching order of sequence_length in hybrid_forward again
  python/mxnet/gluon/rnn/rnn_layer.py
Due: python

must call cudnnSetRNNPaddingMode() to enable unpacked padded sequences
  src/operator/rnn-inl.h
Due: backend

using emplace_back to make linter happy
  src/operator/rnn.cc
Due: backend

cleanign up
  python/mxnet/optimizer/optimizer.py
Due: python

initial commit for variable length sequence support w/ cudnn
  cpp-package/example/charRNN.cpp
  python/mxnet/gluon/block.py
  python/mxnet/gluon/rnn/rnn_layer.py
  python/mxnet/optimizer/optimizer.py
  src/operator/rnn-inl.h
  src/operator/rnn.cc
  src/operator/rnn.cu
Due: python, backend

cleaning up & adding unit tests
  python/mxnet/gluon/rnn/rnn_layer.py
  python/mxnet/optimizer/optimizer.py
  src/imperative/imperative_utils.h
  src/operator/rnn-inl.h
  tests/python/gpu/test_gluon_gpu.py
Due: python, backend

fixing cudnn layout type to be unpacked in var-length seq case
  src/operator/rnn-inl.h
Due: backend

fixing a few syntax errors
  src/operator/rnn.cc
Due: backend

adding import of mxnet.ndarray
  tests/python/gpu/test_gluon_gpu.py
Due: none

looks like param.batch_size_ etc weren't previousy getting set in cudnn operator code. still doesn't fix cudnn error though
  src/operator/rnn-inl.h
Due: backend

fixing linter again
  src/operator/rnn-inl.h
Due: backend

changing lstm var seq length call to explciitly name sequence_length parameter
  tests/python/gpu/test_gluon_gpu.py
Due: none

making linter happy by putting var definitions in appropriate ifdef
  src/operator/rnn-inl.h
  src/operator/rnn.cc
Due: backend

fixing whitespace formatting errors; adding ifdef version guard for cudnn padding
  src/operator/rnn-inl.h
  src/operator/rnn.cc
Due: backend

whoops swapped order of args in one place but not the other
  python/mxnet/gluon/rnn/rnn_layer.py
Due: python

changing type() to isinstance() to make linter happy
  python/mxnet/gluon/rnn/rnn_layer.py
Due: python

fixing some typos that emerged fixing linter
  src/operator/rnn-inl.h
Due: backend

changing order of arguments in hybird_forward for backward compatibility
  python/mxnet/gluon/rnn/rnn_layer.py
Due: python

fixing bad scope of if-statement checking state outputs
  src/operator/rnn-inl.h
Due: backend

linter
  src/operator/rnn-inl.h
Due: backend

removing check about all vectors on same context (need to add back in)
  src/imperative/imperative_utils.h
Due: backend

adding __call__ override to rnn layer to handle optional sequence_length argument
  python/mxnet/gluon/rnn/rnn_layer.py
Due: python

fixing more whitespace issues
  src/operator/rnn-inl.h
Due: backend

fixing too-long line
  src/operator/rnn-inl.h
Due: backend

removing tabs that slipped in
  src/operator/rnn-inl.h
Due: backend

only access kTempSpace if on gpu
  src/operator/rnn-inl.h
  tests/python/gpu/test_gluon_gpu.py
Due: backend

add debug
  src/operator/nn/deconvolution-inl.h
Due: backend

[Dependency Update] Upgrade cuDNN & NCCL (#14884)
  tools/setup_gpu_build_tools.sh
Due: none

add headers from build/install/include folder
  tools/pip/setup.py
Due: none

Enable np op compat check with name prefix (#14897)
  src/c_api/c_api_common.h
  src/operator/numpy/np_broadcast_reduce_op_value.cc
Due: backend

wip fix
  src/executor/graph_executor.cc
  src/operator/control_flow.cc
  tests/python/unittest/test_contrib_control_flow.py
Due: backend

should be good to go
  tests/python/unittest/test_contrib_control_flow.py
Due: none

wip remove debug info
  src/executor/infer_graph_attr_pass.cc
  src/imperative/cached_op.cc
  src/imperative/imperative_utils.cc
  src/nnvm/gradient.cc
  src/operator/control_flow.cc
  src/operator/subgraph_op_common.cc
Due: backend

changing ifdef guard to be more generic
  src/operator/rnn-inl.h
Due: backend

wip remove debug info
  src/executor/graph_executor.cc
  src/imperative/cached_op.cc
  tests/python/unittest/test_contrib_control_flow.py
Due: backend

reverting change so whitespace stays same w/ master
  src/imperative/imperative_utils.h
Due: backend
