Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

remove unused file with license issue
  tests/nightly/sh2ju.sh
  tests/nightly/test_all.sh
Due: none

use temp file
  python/mxnet/gluon/model_zoo/model_store.py
  python/mxnet/gluon/utils.py
  tests/python/unittest/test_gluon_model_zoo.py
Due: python

Fix mshadow broken basic_stream example. The NewTensor and NewStream API signature has changed the sample was not updated.
  3rdparty/mshadow/guide/Makefile
  3rdparty/mshadow/guide/basic_stream.cu
  3rdparty/mshadow/make/mshadow.mk
Due: none

fix license and copyright issues (#17364)
  LICENSE
Due: none

transformation infras done
  python/mxnet/gluon/probability/distributions/transformed_distribution.py
  python/mxnet/gluon/probability/transformation/__init__.py
  python/mxnet/gluon/probability/transformation/transformation.py
Due: python

fix cpp predcit license
  example/image-classification/predict-cpp/image-classification-predict.cc
Due: none

remove unused file with license issue (#17371)
  tests/nightly/sh2ju.sh
  tests/nightly/test_all.sh
Due: none

Fixes version comparison algorithm (#17319)
  tests/python/unittest/common.py
Due: none

Fix Python 3 compatibility in example/speech_recognition (#17354)
  example/speech_recognition/stt_io_bucketingiter.py
Due: none

Update LICENSE for fonts (#17365)
  LICENSE
Due: none

cmake: check USE_OPENMP and pass proper MKL-DNN build flags (#17356)
  CMakeLists.txt
Due: none

[numpy] add op random.exponential (#17280)
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/random.py
  src/operator/numpy/random/np_exponential_op.cc
  src/operator/numpy/random/np_exponential_op.cu
  src/operator/numpy/random/np_exponential_op.h
  tests/nightly/test_np_random.py
  tests/python/unittest/test_numpy_op.py
Due: python, backend

fix license and copyright issues (#17364) (#17375)
  LICENSE
Due: none

geometric frontend ndarray realized
  python/mxnet/ndarray/numpy/random.py
Due: python

geometric frontend numpy realized
  python/mxnet/numpy/random.py
Due: python

geometric frontend ndarray typos fixed
  python/mxnet/ndarray/numpy/random.py
Due: python

geometric output range align with numpy
  src/operator/numpy/random/np_geometric_op.h
Due: backend

whitelist all *MX* API
  make/config/libmxnet.sym
  make/config/libmxnet.ver
Due: none

fix build error due to #17128
  make/config/libmxnet.sym
  make/config/libmxnet.ver
Due: none

geometric frontend symbol realized
  python/mxnet/symbol/numpy/random.py
Due: python

Geometric op unit test completed
  tests/python/unittest/test_numpy_op.py
Due: none

nightly test typo fixed
  tests/nightly/test_np_random.py
Due: none

fixed some code style problems and added some comments
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/random.py
  src/operator/numpy/random/np_geometric_op.h
Due: python, backend

fix seed for mkldnn test
  tests/python/mkl/test_mkldnn.py
Due: none

affine transformation, implemented tested
  python/mxnet/gluon/probability/distributions/__init__.py
  python/mxnet/gluon/probability/distributions/transformed_distribution.py
  python/mxnet/gluon/probability/transformation/transformation.py
Due: python

add tests cases
  tests/python/unittest/test_gluon_probability.py
Due: none

use fixed seed for mkldnn test
  tests/python/mkl/test_mkldnn.py
Due: none

TVMOps win build
  CMakeLists.txt
  cmake/BuildTVM.cmake
  contrib/tvmop/compile.py
  contrib/tvmop/prepare_tvm.ps1
  contrib/tvmop/util.py
  python/mxnet/base.py
  python/mxnet/space.py
Due: python

fix typo
  python/mxnet/base.py
Due: python

Set USE_JEMALLOC=OFF by default due to incompatibility with jemalloc 5 (#17324)
  CMakeLists.txt
  make/config.mk
Due: none

skipping randint flaky test for large vector and reordering op execution
  ci/docker/runtime_functions.sh
  tests/nightly/test_large_vector.py
Due: none

add sum_right_most
  python/mxnet/gluon/probability/distributions/utils.py
Due: python

tmp stateful op
  example/extensions/lib_custom_op/gemm_lib.cc
  example/extensions/lib_custom_op/relu_lib.cu
  example/extensions/lib_custom_op/test_relu.py
  include/mxnet/lib_api.h
  src/c_api/c_api.cc
Due: backend

remove comments
  CMakeLists.txt
Due: none

passing ctx of stateful op
  example/extensions/lib_custom_op/gemm_lib.cc
  example/extensions/lib_custom_op/relu_lib.cu
  example/extensions/lib_subgraph/subgraph_lib.cc
  include/mxnet/lib_api.h
  src/c_api/c_api.cc
Due: backend

Update libmxnet.sym
  make/config/libmxnet.sym
Due: none

Update libmxnet.ver
  make/config/libmxnet.ver
Due: none

license np_einsum file under bsd (#17367)
  LICENSE
  src/operator/numpy/np_einsum_op-inl.h
  tests/nightly/apache_rat_license_check/rat-excludes
  tools/license_header.py
Due: backend

build dnnl with DNNL_ENABLE_CONCURRENT_EXEC=ON
  CMakeLists.txt
  mkldnn.mk
Due: none
