Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

Correct Google Analytics Tracker (#16490)
  docs/python_docs/_static/google_analytics.js
Due: none

Fix hyper link in doc
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/numpy/linalg.py
  python/mxnet/symbol/numpy/linalg.py
Due: python

Removes CUDA 9.1 from base images script
  cd/utils/mxnet_base_image.sh
Due: none

Adds explanatory comment to signal masking in safe_docker_run
  ci/safe_docker_run.py
Due: none

Adds push success message with pull command and link to repository
  cd/python/docker/python_images.sh
Due: none

setup and concatenate, copy, expand_dims, expm1
  python/mxnet/numpy_dispatch_protocol.py
  tests/python/unittest/test_numpy_interoperability.py
Due: python

Fixes logging
  ci/logging.conf
  ci/util.py
Due: none

adding large tensor support and test for gather_nd
  python/mxnet/ndarray/ndarray.py
  src/operator/tensor/indexing_op.h
  tests/nightly/test_large_array.py
Due: python, backend

added gather_test to large_vector and added comments in large array and vector tests
  tests/nightly/test_large_array.py
  tests/nightly/test_large_vector.py
Due: none

Aggregated adamw update (#16398)
  python/mxnet/ndarray/contrib.py
  src/operator/contrib/adamw-inl.h
  src/operator/contrib/adamw.cc
  src/operator/contrib/adamw.cu
  tests/python/gpu/test_operator_gpu.py
  tests/python/unittest/test_contrib_optimizer.py
Due: python, backend

try to fix block (#16465)
  python/mxnet/gluon/block.py
  tests/python/gpu/test_gluon_gpu.py
  tests/python/unittest/test_gluon.py
Due: python

setup and concatenate, copy, expand_dims, expm1 (#16493)
  python/mxnet/numpy_dispatch_protocol.py
  tests/python/unittest/test_numpy_interoperability.py
Due: python

add sum for boolean type in mainline (#16436)
  3rdparty/mshadow/mshadow/base.h
  src/operator/mxnet_op.h
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/tensor/broadcast_reduce_op.h
  tests/python/unittest/test_numpy_op.py
Due: backend

Fix
  ci/docker/install/requirements
  ci/docker/install/ubuntu_publish.sh
  ci/qemu/mxnet_requirements.txt
Due: none

Bump numpy version >=1.17.0
  python/setup.py
Due: none

Try to fix
  python/setup.py
  tools/pip/setup.py
Due: none

Fix numpy dep in python2
  ci/docker/install/requirements
  ci/docker/install/ubuntu_publish.sh
  python/setup.py
  tools/dependencies/README.md
  tools/pip/setup.py
Due: none

Fix
  tools/pip/setup.py
Due: none

Downgrade np version requirement for Ubuntu 14.04
  ci/docker/install/ubuntu_publish.sh
Due: none

Fix
  ci/docker/install/ubuntu_publish.sh
Due: none

Debugging reqs
  src/imperative/cached_op.cc
  src/imperative/imperative_utils.h
Due: backend

numpy op doc: max, min, prod (#16506)
  python/mxnet/_numpy_op_doc.py
Due: python

Revert removing new line
  python/mxnet/log.py
Due: python

add interface for rand
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/random.py
  tests/python/unittest/test_numpy_op.py
Due: python

add interface for rand
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/random.py
  tests/python/unittest/test_numpy_op.py
Due: python

[Numpy] SVD outputs tuple (#16530)
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/numpy/linalg.py
  python/mxnet/symbol/numpy/linalg.py
  src/operator/numpy/linalg/np_gesvd.cc
  src/operator/numpy/linalg/np_gesvd.cu
  tests/python/unittest/test_numpy_op.py
Due: python, backend

Remove white space
  python/mxnet/log.py
Due: python

add is_op_runnable
  python/mxnet/numpy_dispatch_protocol.py
  tests/python/unittest/test_numpy_interoperability.py
Due: python

legacy ndarray setitem supports value as expanded arrays
  python/mxnet/ndarray/ndarray.py
  tests/python/unittest/test_ndarray.py
Due: python

Add doc for ndarray
  python/mxnet/numpy/multiarray.py
Due: python

Add true divide scalar
  src/operator/mxnet_op.h
  src/operator/numpy/np_true_divide-inl.h
Due: backend

Doc for ndarray
  python/mxnet/numpy/multiarray.py
Due: python

Fix infer shape error while loading legacy models in numpy mode
  src/c_api/c_api_symbolic.cc
Due: backend

Add true_divide to support float
  src/common/utils.h
  src/operator/mshadow_op.h
  src/operator/numpy/np_true_divide-inl.h
  src/operator/numpy/np_true_divide.cc
  src/operator/numpy/np_true_divide.cu
  src/operator/operator_tune.cc
Due: backend

Skip saving is_np_shape attr in json in legacy mode
  src/c_api/c_api_symbolic.cc
Due: backend

Fix
  src/operator/numpy/np_true_divide-inl.h
  src/operator/numpy/np_true_divide.cu
Due: backend
