Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

cherry pick javaDoc changes
  scala-package/macros/src/main/scala/org/apache/mxnet/javaapi/APIDocGenerator.scala
Due: clojure

clean the scalastyle
  scala-package/macros/src/main/scala/org/apache/mxnet/APIDocGenerator.scala
Due: clojure

update NDArray changes
  scala-package/core/src/main/scala/org/apache/mxnet/javaapi/NDArray.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/javaapi/JavaNDArrayMacro.scala
Due: clojure

clean up nit
  docs/tutorials/scala/mxnet_java_install_and_run_examples.md
Due: none

Update bilstm integer array sorting example (#12929)
  example/bi-lstm-sort/README.md
  example/bi-lstm-sort/bi-lstm-sort.ipynb
  example/bi-lstm-sort/gen_data.py
  example/bi-lstm-sort/infer_sort.py
  example/bi-lstm-sort/lstm.py
  example/bi-lstm-sort/lstm_sort.py
  example/bi-lstm-sort/rnn_model.py
  example/bi-lstm-sort/sort_io.py
Due: none

add spatial filter
  tests/cpp/operator/mkldnn.cc
Due: none

Fix the bug of assigning large integer to NDArray (#12921)
  src/operator/tensor/matrix_op-inl.h
  tests/python/unittest/test_ndarray.py
Due: backend

Update README.md
  example/capsnet/README.md
Due: none

find the pain point
  docs/tutorials/scala/mxnet_java_install_and_run_examples.md
Due: none

Fix potentially unassigned var.
  CONTRIBUTORS.md
  src/c_api/c_api.cc
Due: backend

add java tut into whitelist
  tests/tutorials/test_sanity_tutorials.py
Due: none

take on Piyush nit
  scala-package/macros/src/main/scala/org/apache/mxnet/APIDocGenerator.scala
Due: clojure

Removed the extra slash character in the url
  docs/api/c++/index.md
Due: none

fix conv
  src/operator/nn/mkldnn/mkldnn_convolution.cc
Due: backend

fix missing conv
  src/operator/nn/mkldnn/mkldnn_convolution.cc
Due: backend

Review comment addressed, sample_weight added in the parameter
  python/mxnet/gluon/loss.py
Due: python

add unit-test case for issue #12843
  tests/python/unittest/test_ndarray.py
Due: none

fix input
  tests/cpp/operator/mkldnn.cc
Due: none

WIP: use older, more compatible protobuf for TRT
  ci/docker/install/tensorrt.sh
Due: none

Reordered Parameter description
  python/mxnet/gluon/loss.py
Due: python

Refactor mkldnn test files (#12410)
  tests/cpp/include/test_mkldnn.h
  tests/cpp/operator/mkldnn.cc
  tests/cpp/operator/mkldnn_operator_test.cc
  tests/cpp/operator/mkldnn_test.cc
Due: none

comments addressed - spelling errors
  python/mxnet/gluon/loss.py
Due: python

fix conficts after merge
  tests/cpp/include/test_mkldnn.h
  tests/cpp/operator/mkldnn_test.cc
Due: none

CudnnFind() usage improvements (#12804)
  CONTRIBUTORS.md
  docs/faq/env_var.md
  include/mxnet/base.h
  include/mxnet/c_api.h
  perl-package/AI-MXNetCAPI/mxnet.i
  python/mxnet/context.py
  src/c_api/c_api.cc
  src/operator/nn/cudnn/cudnn_algoreg-inl.h
  src/operator/nn/cudnn/cudnn_convolution-inl.h
  src/operator/nn/cudnn/cudnn_deconvolution-inl.h
  src/storage/pooled_storage_manager.h
  tests/python/gpu/test_gluon_gpu.py
Due: python, backend

debug: remove 5d test
  tests/cpp/include/test_mkldnn.h
Due: none

Add reshape op supported by MKL-DNN
  src/operator/nn/mkldnn/mkldnn_base.cc
  src/operator/tensor/matrix_op.cc
Due: backend

debug: remove 4d test
  tests/cpp/include/test_mkldnn.h
Due: none

strip leading underscore
  scala-package/core/src/test/scala/org/apache/mxnet/NDArraySuite.scala
  scala-package/core/src/test/scala/org/apache/mxnet/SymbolSuite.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/APIDocGenerator.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/NDArrayMacro.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/SymbolMacro.scala
Due: clojure

NDArray Random API
  scala-package/core/src/main/scala/org/apache/mxnet/NDArray.scala
  scala-package/core/src/main/scala/org/apache/mxnet/NDArrayAPI.scala
  scala-package/core/src/main/scala/org/apache/mxnet/SymbolAPI.scala
  scala-package/core/src/test/scala/org/apache/mxnet/NDArraySuite.scala
  scala-package/core/src/test/scala/org/apache/mxnet/SymbolSuite.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/APIDocGenerator.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/NDArrayMacro.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/SymbolMacro.scala
Due: clojure

addressing PR comments
  scala-package/core/src/test/scala/org/apache/mxnet/NDArraySuite.scala
  scala-package/core/src/test/scala/org/apache/mxnet/SymbolSuite.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/APIDocGenerator.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/NDArrayMacro.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/SymbolMacro.scala
Due: clojure

refactoring : extract GeneratorBase
  scala-package/core/src/test/scala/org/apache/mxnet/SymbolSuite.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/APIDocGenerator.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/GeneratorBase.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/NDArrayMacro.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/SymbolMacro.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/utils/CToScalaUtils.scala
Due: clojure

Symbol Random api
  scala-package/core/src/main/scala/org/apache/mxnet/Symbol.scala
  scala-package/core/src/main/scala/org/apache/mxnet/SymbolAPI.scala
  scala-package/core/src/test/scala/org/apache/mxnet/SymbolSuite.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/APIDocGenerator.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/SymbolMacro.scala
Due: clojure

updated macros + tests (still failing)
  scala-package/core/src/main/scala/org/apache/mxnet/Symbol.scala
  scala-package/core/src/test/scala/org/apache/mxnet/NDArraySuite.scala
  scala-package/core/src/test/scala/org/apache/mxnet/SymbolSuite.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/APIDocGenerator.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/GeneratorBase.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/NDArrayMacro.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/SymbolMacro.scala
Due: clojure

missing license
  scala-package/macros/src/main/scala/org/apache/mxnet/GeneratorBase.scala
Due: clojure

workaround type erasure
  scala-package/macros/src/main/scala/org/apache/mxnet/NDArrayMacro.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/SymbolMacro.scala
Due: clojure

nit comments addressed
  python/mxnet/gluon/loss.py
Due: python

Fail the broken link job when broken links are found (#12905)
  tests/nightly/broken_link_checker_test/test_broken_links.py
Due: none

Fix typo in formula in docstring for GRU cell and layer and add clarification to description (gluon.rnn) (#12896)
  CONTRIBUTORS.md
  python/mxnet/gluon/rnn/rnn_cell.py
  python/mxnet/gluon/rnn/rnn_layer.py
Due: python

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
