Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

Change tests.
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_tensordot_op-inl.h
  tests/python/unittest/test_numpy_op.py
Due: backend

Add notes for OpenMP collapse() directive
  src/operator/nn/mkldnn/mkldnn_rnn_impl.h
Due: backend

fixed zero-size tensor setitem
  python/mxnet/ndarray/ndarray.py
  python/mxnet/numpy/multiarray.py
  src/c_api/c_api.cc
  tests/python/unittest/test_ndarray.py
  tests/python/unittest/test_numpy_ndarray.py
Due: python, backend

further fix zero-size tensor
  python/mxnet/ndarray/ndarray.py
  python/mxnet/numpy/multiarray.py
  tests/python/unittest/test_ndarray.py
  tests/python/unittest/test_numpy_ndarray.py
Due: python

Add spaces.
  tests/python/unittest/test_numpy_op.py
Due: none

numpy-doc max, zeros, concatenate ceil reshape tanh log1p
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_elemwise_unary_op_basic.cc
  src/operator/numpy/np_elemwise_unary_op_basic.cu
Due: python, backend

fix license issues (#15806)
  LICENSE
  src/operator/special_functions-inl.h
Due: backend

changed constructor args (#15601)
  plugin/warpctc/warpctc-inl.h
Due: none

deleted commented out sections
  src/operator/nn/upsampling-inl.h
Due: backend

added R files
  docs/static_site/src/pages/api/r/docs/tutorials/callback_function.md
  docs/static_site/src/pages/api/r/docs/tutorials/char_rnn_model.md
  docs/static_site/src/pages/api/r/docs/tutorials/classify_real_image_with_pretrained_model.md
  docs/static_site/src/pages/api/r/docs/tutorials/custom_iterator.md
  docs/static_site/src/pages/api/r/docs/tutorials/custom_loss_function.md
  docs/static_site/src/pages/api/r/docs/tutorials/five_minutes_neural_network.md
  docs/static_site/src/pages/api/r/docs/tutorials/index.md
  docs/static_site/src/pages/api/r/docs/tutorials/mnist_competition.md
  docs/static_site/src/pages/api/r/docs/tutorials/multi_dim_lstm.md
  docs/static_site/src/pages/api/r/docs/tutorials/ndarray.md
  docs/static_site/src/pages/api/r/docs/tutorials/symbol.md
Due: none

fix linting, add index_copy
  tests/nightly/test_large_array.py
Due: none

formatting
  python/mxnet/contrib/onnx/onnx2mx/_op_translations.py
  src/operator/nn/upsampling-inl.h
  tests/python/unittest/test_operator.py
Due: python, backend

fix tutorial
  docs/python_docs/python/tutorials/packages/gluon/fit_api_tutorial.md
Due: none

remove test images
  contrib/clojure-package/test/test-images/Pug-Cookie.jpg
  contrib/clojure-package/test/test-images/kitten.jpg
Due: none

add script and .gitignore
  contrib/clojure-package/.gitignore
  contrib/clojure-package/scripts/get_test_images.sh
Due: none

add test helper to download images
  contrib/clojure-package/test/org/apache/clojure_mxnet/image_test.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/infer/imageclassifier_test.clj
  contrib/clojure-package/test/test_helper.clj
Due: none

remove unlicensed pic
  contrib/clojure-package/examples/infer/objectdetector/images/marcel.jpg
Due: none

Fix ConcatType and add test
  src/operator/nn/concat.cc
  tests/python/gpu/test_contrib_amp.py
Due: backend

Remove return false
  src/operator/nn/concat.cc
Due: backend

fix grad mutate for rmsprop_update
  src/operator/optimizer_op-inl.h
Due: backend

add test for rmsprop_update
  tests/python/unittest/test_ndarray.py
Due: none

modified test cases
  tests/python/unittest/test_operator.py
Due: none

add license header
  contrib/clojure-package/test/test_helper.clj
Due: none

Change error message
  src/operator/nn/concat.cc
Due: backend

Refactor LibraryInitializer so it's thread safe. Fixes random sporadical concurrency crashes. (#15762)
  CMakeLists.txt
  docs/faq/env_var.md
  src/c_api/c_api.cc
  src/common/library.cc
  src/common/library.h
  src/common/utils.h
  src/engine/threaded_engine_perdevice.cc
  src/initialize.cc
  src/initialize.h
  src/profiler/profiler.h
Due: backend

Fix slice inconsistency
  src/operator/tensor/matrix_op-inl.h
Due: backend

Modify ndarray slice to have numpy compatbile behaviou
  src/operator/tensor/matrix_op-inl.h
  src/operator/tensor/matrix_op.cc
  tests/python/unittest/test_numpy_op.py
Due: backend

Minor syntax fix
  src/operator/tensor/matrix_op-inl.h
Due: backend

Adds check of expected vs. actual Node inputs, exposing many non-compliant operators.
  src/operator/operator_common.h
  tests/jenkins/run_test_ubuntu.sh
Due: backend

add softmax output
  tests/nightly/test_large_array.py
Due: none

lint
  tests/nightly/test_large_array.py
Due: none

some fixes
  Makefile
  docs/python_docs/python/api/symbol/mxnet.symbol.linalg.rst
  docs/python_docs/themes/mx-theme/mxtheme/static/sphinx_materialdesign_theme.css
  docs/python_docs/themes/mx-theme/mxtheme/static/sphinx_materialdesign_theme.css.map
  docs/python_docs/themes/mx-theme/mxtheme/static/sphinx_materialdesign_theme.js
  docs/python_docs/themes/mx-theme/mxtheme/static/sphinx_materialdesign_theme.js.map
  docs/python_docs/themes/mx-theme/src/js/sphinx_materialdesign_theme.js
  docs/python_docs/themes/mx-theme/src/scss/_root.scss
  docs/python_docs/themes/mx-theme/src/scss/drawer/_drawer.scss
  docs/python_docs/themes/mx-theme/src/scss/toc/_globaltoc.scss
Due: none

update python
  ci/jenkins/Jenkins_steps.groovy
Due: none

Allow empty outputs after slicing ndarrays
  src/operator/tensor/matrix_op-inl.h
  tests/python/unittest/test_numpy_op.py
  tests/python/unittest/test_operator.py
Due: backend

Fix backward_clip num inputs and type of clip params (#15688)
  src/operator/tensor/matrix_op-inl.h
  src/operator/tensor/matrix_op.cc
  tests/python/unittest/test_operator.py
Due: backend

Allow operators with multiple outputs in get_atomic_symbol
  src/c_api/c_api_symbolic.cc
Due: backend

Added unittest
  tests/python/unittest/test_symbol.py
Due: none

Fix
  src/operator/tensor/matrix_op-inl.h
Due: backend

add leaky relu
  tests/nightly/test_large_array.py
Due: none
