Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

Expand FusedOp support for slice
  src/operator/fusion/fused_op-inl.h
  src/operator/fusion/fused_op.cu
Due: backend

Fix for fp16 _zeros and _ones
  src/operator/fusion/fused_op-inl.h
Due: backend

Add test for predictor
  tests/python/unittest/test_predictor.py
Due: none

logging
  example/named_entity_recognition/src/metrics.py
  example/named_entity_recognition/src/ner.py
  example/named_entity_recognition/src/preprocess.py
Due: none

Fix
  src/operator/fusion/fused_op.cu
Due: backend

Numpy compatible linspace (#15256)
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/tensor/init_op.cc
  tests/python/unittest/test_numpy_op.py
Due: python, backend

fix type
  tests/python/unittest/test_profiler.py
Due: none

Showing proper error when csr array is not 2D in shape. (#15242)
  python/mxnet/ndarray/ndarray.py
  tests/python/unittest/test_sparse_ndarray.py
Due: python

Cleanup fixes
  amalgamation/python/mxnet_predict.py
Due: none

fix comment
  src/profiler/profiler.h
Due: backend

Proper bulking of ops not using FCompute (#15272)
  src/imperative/imperative_utils.h
Due: backend

numpy-compatible bitwise_xor hava achived
  src/operator/mshadow_op.h
  src/operator/numpy/np_elemwise_binary_op.cc
  src/operator/numpy/np_elemwise_binary_op.cu
  src/operator/operator_tune.cc
  tests/python/unittest/test_numpy_op.py
Due: backend

Typo fix in plan_memory relase -> release.
  src/nnvm/plan_memory.cc
Due: backend

point fix the vector declaration in MultiBoxDetection
  src/operator/contrib/multibox_detection.cc
Due: backend

Ignore generated nnvm.cc template. This file is created whenever `make` is executed
  amalgamation/.gitignore
Due: none

Update profiler.h
  src/profiler/profiler.h
Due: backend

modify np_elemwise_binary_op.cu error
  src/operator/numpy/np_elemwise_binary_op.cu
Due: backend

Update multiproc_data.py
  example/ctc/multiproc_data.py
Due: none

Fix flatten issue before slice op
  src/operator/nn/mkldnn/mkldnn_flatten.cc
  src/operator/nn/mkldnn/mkldnn_ops-inl.h
  src/operator/nn/mkldnn/mkldnn_reshape-inl.h
  src/operator/nn/mkldnn/mkldnn_reshape.cc
  src/operator/tensor/matrix_op.cc
  tests/python/gpu/test_operator_gpu.py
  tests/python/mkl/test_mkldnn.py
Due: backend

Typo fix in plan_memory relase -> release. (#15299)
  src/nnvm/plan_memory.cc
Due: backend

Add dstack that pass CPU test
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/nn/concat-inl.h
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  tests/python/unittest/test_numpy_op.py
Due: python, backend

fix code reivew on code style and type check.
  src/operator/mxnet_op.h
  src/operator/numpy/np_gcd_op-inl.h
  src/operator/numpy/np_gcd_op.cc
  src/operator/numpy/np_gcd_op.cu
  tests/python/unittest/test_numpy_op.py
Due: backend

improve layernorm performance
  src/operator/mkl_functions-inl.h
Due: backend

restyle
  src/operator/mxnet_op.h
  src/operator/numpy/np_gcd_op-inl.h
  tests/python/unittest/test_numpy_op.py
Due: backend

restyle.
  src/operator/numpy/np_elemwise_binary_gcd_op-inl.h
  src/operator/numpy/np_elemwise_binary_op.cc
  src/operator/numpy/np_elemwise_binary_op.cu
  tests/python/unittest/test_numpy_op.py
Due: backend

restyle.
  src/operator/numpy/np_elemwise_binary_gcd_op.cc
  src/operator/numpy/np_elemwise_binary_gcd_op.cu
  src/operator/numpy/np_gcd_op-inl.h
  src/operator/numpy/np_gcd_op.cc
  src/operator/numpy/np_gcd_op.cu
Due: backend

Rgister dstack on GPU
  src/operator/numpy/np_matrix_op.cu
Due: backend

numpy-compatible cumsum
  src/operator/numpy/np_cumsum-inl.h
  src/operator/numpy/np_cumsum.cc
  src/operator/numpy/np_cumsum.cu
  tests/python/unittest/test_numpy_op.py
Due: backend

Minor comment fix
  src/operator/numpy/np_matrix_op.cc
Due: backend

Minor syntax fix
  src/operator/numpy/np_matrix_op.cc
  tests/python/unittest/test_numpy_op.py
Due: backend

fixed doc for sort and argsort
  src/operator/tensor/ordering_op.cc
Due: backend

Moving aux functions to unnamed namespace and detail namespace -> fusion namespace
  src/executor/pointwise_fusion_pass.cc
  src/operator/fusion/fused_op-inl.h
  src/operator/fusion/fused_op.cu
Due: backend

[MXNET-1413] Adding Large Tensor support for sort operators
  src/operator/tensor/init_op.h
  src/operator/tensor/ordering_op-inl.h
  tests/nightly/test_large_array.py
  tests/python/unittest/test_ndarray.py
Due: backend

use decorator for tvm op definition
  contrib/tvmop/__init__.py
  contrib/tvmop/compile.py
  contrib/tvmop/example/__init__.py
  contrib/tvmop/example/broadcast.py
  contrib/tvmop/example/elemwise.py
  contrib/tvmop/opdef.py
  contrib/tvmop/tutorial/__init__.py
  contrib/tvmop/tutorial/broadcast.py
  contrib/tvmop/tutorial/elemwise.py
  contrib/tvmop/utils.py
  python/mxnet/libinfo.py
  src/operator/contrib/tvmop/example.cc
Due: python, backend

fix doc for sort and argsort
  src/operator/tensor/ordering_op.cc
Due: backend

Fixing duplication in operator profiling (#15240)
  src/profiler/aggregate_stats.cc
  src/profiler/profiler.h
  tests/python/unittest/test_profiler.py
Due: backend

[MXNET-1413] Adding Large Tensor support for sort operators (#15170)
  src/operator/tensor/init_op.h
  src/operator/tensor/ordering_op-inl.h
  tests/nightly/test_large_array.py
  tests/python/unittest/test_ndarray.py
Due: backend

added sub and mul to ONNX->TensorRT conversion
  CMakeLists.txt
  src/operator/subgraph/tensorrt/nnvm_to_onnx-inl.h
  src/operator/subgraph/tensorrt/nnvm_to_onnx.cc
Due: backend

Fixes
  src/c_api/c_api_symbolic.cc
  src/nnvm/low_precision_pass.cc
Due: backend

improve layernorm CPU performance (#15313)
  src/operator/mkl_functions-inl.h
Due: backend
