Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

[MXNet-1343][Fit API]Add CNN integration test for fit() API (#14405)
  ci/docker/runtime_functions.sh
  tests/nightly/JenkinsfileForBinaries
  tests/nightly/estimator/test_estimator_cnn.py
Due: none

[MXNet-1375][Fit API]Added RNN integration test for fit() API (#14547)
  ci/docker/runtime_functions.sh
  tests/nightly/Jenkinsfile
  tests/nightly/estimator/test_sentiment_rnn.py
Due: none

[MXNet-1340][Fit API]Update train stats (#14494)
  python/mxnet/gluon/estimator/estimator.py
  python/mxnet/gluon/estimator/event_handler.py
  python/mxnet/gluon/trainer.py
  tests/python/unittest/test_gluon_estimator.py
  tests/python/unittest/test_gluon_event_handler.py
Due: python

Fixed issue where the estimator was printing beyond the dataset size … (#14464)
  python/mxnet/gluon/estimator/estimator.py
Due: python

[MXNet-1349][Fit API]Add validation support and unit tests for fit() API (#14442)
  python/mxnet/gluon/estimator/estimator.py
  python/mxnet/gluon/estimator/event_handler.py
  tests/python/unittest/test_gluon_estimator.py
Due: python

[MXNET-1344, 1346][FIT API] Retrieve Batch size and Logging verbose support for Gluon fit() API (#14587)
  python/mxnet/gluon/estimator/estimator.py
  python/mxnet/gluon/estimator/event_handler.py
  tests/nightly/estimator/test_estimator_cnn.py
  tests/nightly/estimator/test_sentiment_rnn.py
  tests/python/unittest/test_gluon_estimator.py
  tests/python/unittest/test_gluon_event_handler.py
Due: python

[MXNet-1334][Fit API]base class for estimator and eventhandler (#14346)
  python/mxnet/gluon/estimator/__init__.py
  python/mxnet/gluon/estimator/estimator.py
  python/mxnet/gluon/estimator/event_handler.py
  tests/python/unittest/test_gluon_event_handler.py
Due: python

move estimator to contrib
  python/mxnet/contrib/estimator/__init__.py
  python/mxnet/contrib/estimator/estimator.py
  python/mxnet/contrib/estimator/event_handler.py
  tests/nightly/estimator/test_estimator_cnn.py
  tests/nightly/estimator/test_sentiment_rnn.py
  tests/python/unittest/test_gluon_estimator.py
  tests/python/unittest/test_gluon_event_handler.py
Due: python

move estimator to contrib (#14633)
  python/mxnet/contrib/estimator/__init__.py
  python/mxnet/contrib/estimator/estimator.py
  python/mxnet/contrib/estimator/event_handler.py
  tests/nightly/estimator/test_estimator_cnn.py
  tests/nightly/estimator/test_sentiment_rnn.py
  tests/python/unittest/test_gluon_estimator.py
  tests/python/unittest/test_gluon_event_handler.py
Due: python

Memory fixes. Resolves #10867, and resolves #14080 (#14372) (#14586)
  scala-package/core/src/main/scala/org/apache/mxnet/Executor.scala
  scala-package/core/src/main/scala/org/apache/mxnet/Optimizer.scala
  scala-package/core/src/main/scala/org/apache/mxnet/ResourceScope.scala
  scala-package/core/src/main/scala/org/apache/mxnet/Symbol.scala
  scala-package/core/src/main/scala/org/apache/mxnet/module/DataParallelExecutorGroup.scala
  scala-package/core/src/main/scala/org/apache/mxnet/optimizer/Adam.scala
  scala-package/core/src/test/scala/org/apache/mxnet/ResourceScopeSuite.scala
Due: clojure

Fix dockerized GPU builds in dev_menu (#14603)
  dev_menu.py
Due: none

move to gluon contrib
  python/mxnet/gluon/contrib/estimator/__init__.py
  python/mxnet/gluon/contrib/estimator/estimator.py
  python/mxnet/gluon/contrib/estimator/event_handler.py
  tests/nightly/estimator/test_estimator_cnn.py
  tests/nightly/estimator/test_sentiment_rnn.py
  tests/python/unittest/test_gluon_estimator.py
  tests/python/unittest/test_gluon_event_handler.py
Due: python

move to gluon contrib (#14635)
  python/mxnet/gluon/contrib/estimator/__init__.py
  python/mxnet/gluon/contrib/estimator/estimator.py
  python/mxnet/gluon/contrib/estimator/event_handler.py
  tests/nightly/estimator/test_estimator_cnn.py
  tests/nightly/estimator/test_sentiment_rnn.py
  tests/python/unittest/test_gluon_estimator.py
  tests/python/unittest/test_gluon_event_handler.py
Due: python

Addressed PR feedback
  docs/install/index.md
Due: none

Updated docs for R-package installation
  docs/install/index.md
Due: none

Removed spaces in cuda100 path
  docs/install/index.md
Due: none

Removed cu80 mention
  docs/install/index.md
Due: none

Update amalgamation.py
  amalgamation/amalgamation.py
Due: none

support ssd coco
  example/quantization/README.md
  example/ssd/README.md
  example/ssd/dataset/mscoco.py
  example/ssd/dataset/names/mscoco.names
  example/ssd/symbol/legacy_vgg16_ssd_300.py
  example/ssd/symbol/legacy_vgg16_ssd_512.py
  example/ssd/symbol/symbol_builder.py
  example/ssd/train.py
  example/ssd/train/metric.py
  example/ssd/train/train_net.py
Due: none

fix jni lint (#14634)
  scala-package/native/src/main/native/org_apache_mxnet_native_c_api.cc
Due: clojure

Fix cpp package build after using new shape definition (#14554)
  cpp-package/include/mxnet-cpp/ndarray.hpp
  cpp-package/include/mxnet-cpp/symbol.hpp
  include/mxnet/tensor_blob.h
  include/mxnet/tuple.h
Due: backend

[numpy] Shape support scalar tensor (#14315)
  include/mxnet/tensor_blob.h
  include/mxnet/tuple.h
  python/mxnet/__init__.py
  python/mxnet/base.py
  python/mxnet/ndarray/__init__.py
  python/mxnet/ndarray/numpy.py
  python/mxnet/numpy/__init__.py
  python/mxnet/symbol/numpy.py
  src/executor/graph_executor.cc
  src/executor/infer_graph_attr_pass.cc
  src/nnvm/plan_memory.cc
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cu
  src/operator/operator_common.h
Due: python, backend

[numpy] Fix test_dynamic_shape.test_dynamic_shape (#14538)
  src/c_api/c_api_common.h
  src/imperative/imperative_utils.cc
Due: backend

Fix a bug to pass the test in test_contrib_rnn (#14520)
  src/common/utils.h
  src/ndarray/ndarray_function.cc
  src/operator/nn/mkldnn/mkldnn_base-inl.h
Due: backend

[Numpy] fix test_operator_gpu.test_upsampling_bilinear_with_type (#14557)
  src/operator/nn/deconvolution-inl.h
Due: backend

Fix pooling_v1 and deformable_convolution param initialization (#14577)
  src/operator/contrib/deformable_convolution-inl.h
  src/operator/pooling_v1-inl.h
Due: backend

fix R-package (#14536)
  R-package/src/ndarray.cc
  R-package/src/symbol.cc
Due: r-package

fix concat and slice (#14549)
  src/operator/nn/mkldnn/mkldnn_concat.cc
  src/operator/nn/mkldnn/mkldnn_slice.cc
Due: backend

fix shape index bug (#14630)
  src/c_api/c_api.cc
Due: backend

[numpy] Fix numpy import in python2 (#14537)
  python/mxnet/ndarray/_internal.py
  python/mxnet/ndarray/contrib.py
  python/mxnet/ndarray/register.py
  python/mxnet/symbol/_internal.py
  python/mxnet/symbol/register.py
  src/common/utils.h
  src/operator/leaky_relu-inl.h
  src/operator/nn/deconvolution-inl.h
  src/operator/nn/deconvolution.cc
  src/operator/tensor/matrix_op-inl.h
  tests/python/unittest/test_ndarray.py
Due: python, backend

[Numpy] Java/Scala modification (#14625)
  scala-package/core/src/main/scala/org/apache/mxnet/Executor.scala
  scala-package/core/src/main/scala/org/apache/mxnet/LibInfo.scala
  scala-package/core/src/main/scala/org/apache/mxnet/NDArray.scala
  scala-package/core/src/main/scala/org/apache/mxnet/NumpyScope.scala
  scala-package/core/src/main/scala/org/apache/mxnet/Symbol.scala
  scala-package/core/src/test/scala/org/apache/mxnet/NumpyScopeSuite.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/utils/CToScalaUtils.scala
  scala-package/native/src/main/native/org_apache_mxnet_native_c_api.cc
  scala-package/native/src/main/native/org_apache_mxnet_native_c_api.h
  src/operator/tensor/matrix_op-inl.h
Due: clojure, backend

[Numpy] Misc fix (#14612)
  include/mxnet/ndarray.h
  src/c_api/c_predict_api.cc
  src/imperative/imperative_utils.h
  src/kvstore/gradient_compression.cc
  src/ndarray/ndarray.cc
  src/ndarray/ndarray_function.h
Due: backend

[Numpy] Change semantics of ndim for operators in `src/operator/contrib` (#14409)
  src/operator/contrib/adamw-inl.h
  src/operator/contrib/adaptive_avg_pooling-inl.h
  src/operator/contrib/bilinear_resize-inl.h
  src/operator/contrib/boolean_mask.cc
  src/operator/contrib/bounding_box-inl.h
  src/operator/contrib/count_sketch-inl.h
  src/operator/contrib/deformable_convolution-inl.h
  src/operator/contrib/dgl_graph.cc
  src/operator/contrib/fft-inl.h
  src/operator/contrib/ifft-inl.h
  src/operator/contrib/index_copy-inl.h
  src/operator/contrib/multi_proposal-inl.h
  src/operator/contrib/nnvm_to_onnx.cc
  src/operator/contrib/optimizer_op.cc
  src/operator/contrib/proposal-inl.h
  src/operator/contrib/quadratic_op-inl.h
  src/operator/contrib/sync_batch_norm-inl.h
  src/operator/contrib/transformer-inl.h
Due: backend

Remove numpy namespaces for operator registration
  python/mxnet/__init__.py
  python/mxnet/base.py
  python/mxnet/ndarray/__init__.py
  python/mxnet/ndarray/numpy.py
  python/mxnet/numpy/__init__.py
  python/mxnet/symbol/__init__.py
  python/mxnet/symbol/numpy.py
  python/mxnet/symbol/symbol.py
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cu
  src/operator/tensor/matrix_op-inl.h
  tests/python/unittest/test_operator.py
Due: python, backend

Fix CI
  src/operator/contrib/bounding_box-inl.h
  src/operator/nn/concat.cc
  src/operator/nn/deconvolution-inl.h
  src/operator/nn/mkldnn/mkldnn_slice.cc
  src/operator/tensor/matrix_op-inl.h
Due: backend

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
