Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

Fix test_subgraph skipif (#18361)
  tests/python/unittest/test_extensions.py
Due: none

fix the error of resnet output weight sharing
  tests/python/unittest/test_gluon_estimator.py
Due: none

new plan
  src/io/batchify.cc
Due: backend

fix lint
  src/io/batchify.cc
Due: backend

add set_prefix(); fix some naming problems
  python/mxnet/gluon/block.py
  python/mxnet/gluon/rnn/rnn_layer.py
Due: python

Greatly simplify qemu setup
  ci/README.md
  ci/dev_menu.py
  ci/docker/Dockerfile.build.android_armv7
  ci/docker/Dockerfile.build.android_armv8
  ci/docker/Dockerfile.build.armv6
  ci/docker/Dockerfile.build.armv7
  ci/docker/Dockerfile.build.armv8
  ci/docker/Dockerfile.build.test.arm_qemu
  ci/docker/Dockerfile.build.test.armv7
  ci/docker/Dockerfile.build.test.armv8
  ci/docker/install/ubuntu_arm_qemu.sh
  ci/docker/install/ubuntu_arm_qemu_bin.sh
  ci/docker/qemu/README.md
  ci/docker/qemu/runtime_functions.py
  ci/docker/qemu/vmcontrol.py
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
  ci/jenkins/Jenkinsfile_edge
  ci/qemu/README.md
  ci/qemu/copy.sh
  ci/qemu/install.sh
  ci/qemu/mxnet_requirements.txt
  ci/qemu/preseed.cfg
  ci/qemu/preseed.sh
  ci/qemu/run.sh
  ci/qemu/test_requirements.txt
Due: none

simple fix; remove output_prefix in birnn
  python/mxnet/gluon/block.py
  python/mxnet/gluon/nn/basic_layers.py
  python/mxnet/gluon/rnn/rnn_cell.py
Due: python

Request the C++ standard library and extensions
  CMakeLists.txt
Due: none

Remove mx.model.FeedForward API
  example/caffe/README.md
  example/caffe/caffe_net.py
  example/caffe/data.py
  example/caffe/train_model.py
  example/kaggle-ndsb1/README.md
  example/kaggle-ndsb1/gen_img_list.py
  example/kaggle-ndsb1/predict_dsb.py
  example/kaggle-ndsb1/submission_dsb.py
  example/kaggle-ndsb1/symbol_dsb.py
  example/kaggle-ndsb1/train_dsb.py
  example/kaggle-ndsb1/training_curves.py
  example/kaggle-ndsb2/README.md
  example/kaggle-ndsb2/Train.py
  example/rnn/README.md
  example/rnn/old/README.md
  example/rnn/old/bucket_io.py
  example/rnn/old/char-rnn.ipynb
  example/rnn/old/get_sherlockholmes_data.sh
  example/rnn/old/gru.py
  example/rnn/old/gru_bucketing.py
  example/rnn/old/lstm.py
  example/rnn/old/lstm_bucketing.py
  example/rnn/old/lstm_sherlockholmes.R
  example/rnn/old/rnn.py
  example/rnn/old/rnn_cell_demo.py
  example/rnn/old/rnn_model.py
  python/mxnet/model.py
Due: python

remove more tests
  example/caffe/caffe_net.py
  example/caffe/train_model.py
  example/kaggle-ndsb2/Train.py
  example/rnn/old/char-rnn.ipynb
  example/rnn/old/gru_bucketing.py
  example/rnn/old/lstm_bucketing.py
  example/rnn/old/rnn_cell_demo.py
  tests/nightly/dist_lenet.py
  tests/nightly/multi_lenet.py
  tests/python/train/test_conv.py
  tests/python/train/test_dtype.py
  tests/python/train/test_mlp.py
  tests/python/train/test_resnet_aug.py
Due: none

remove tools depending on FeedForward
  tools/accnn/README.md
  tools/accnn/acc_conv.py
  tools/accnn/acc_fc.py
  tools/accnn/accnn.py
  tools/accnn/config.json
  tools/accnn/rank_selection.py
  tools/accnn/utils.py
Due: none

Remove leftovers from C++17 dev type check
  src/operator/rnn-inl.h
Due: backend

Fix FInferShape for some ops to support partial type inference (#18348)
  src/operator/contrib/batch_norm_relu.cc
  src/operator/nn/batch_norm.cc
  src/operator/nn/group_norm.cc
  src/operator/nn/layer_norm.cc
  src/operator/nn/pooling.cc
  src/operator/tensor/matrix_op-inl.h
Due: backend

Update centos7_python.sh
  ci/docker/install/centos7_python.sh
Due: none

Fix binary scalar dtype and add bool support (#18277)
  python/mxnet/symbol/numpy/_symbol.py
  src/api/operator/ufunc_helper.cc
  src/operator/contrib/gradient_multiplier_op.cc
  src/operator/numpy/np_elemwise_broadcast_logic_op.cc
  src/operator/numpy/np_elemwise_broadcast_op.cc
  src/operator/numpy/np_elemwise_broadcast_op.h
  src/operator/numpy/np_elemwise_broadcast_op_extended.cc
  src/operator/numpy/np_elemwise_broadcast_op_extended_sec.cc
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_true_divide-inl.h
  src/operator/numpy/np_true_divide.cc
  src/operator/tensor/elemwise_binary_scalar_op.h
  src/operator/tensor/elemwise_binary_scalar_op_basic.cc
  src/operator/tensor/elemwise_binary_scalar_op_extended.cc
  src/operator/tensor/elemwise_binary_scalar_op_logic.cc
  tests/python/unittest/test_higher_order_grad.py
  tests/python/unittest/test_numpy_op.py
  tests/python/unittest/test_symbol.py
Due: python, backend

Fix reference leak in Block._children and enable reference leak tests universally (#18376)
  conftest.py
  pytest.ini
  python/mxnet/gluon/block.py
  python/mxnet/gluon/contrib/nn/basic_layers.py
  python/mxnet/gluon/nn/basic_layers.py
  python/mxnet/gluon/rnn/rnn_cell.py
  tests/python/conftest.py
  tests/python/gpu/test_contrib_amp.py
  tests/python/train/test_bucketing.py
  tests/python/train/test_dtype.py
  tests/python/train/test_resnet_aug.py
  tests/python/unittest/onnx/mxnet_export_test.py
  tests/python/unittest/test_autograd.py
  tests/python/unittest/test_gluon.py
  tests/python/unittest/test_gluon_data.py
  tests/python/unittest/test_module.py
Due: python

Introduce MXNET_BUILD_SHARED_LIBS to specify build type of libmxnet (#18365)
  CMakeLists.txt
  example/image-classification/predict-cpp/CMakeLists.txt
  tests/CMakeLists.txt
Due: none

Fix CPU-only RRNOp Forward
  src/operator/rnn-inl.h
Due: backend

revert changes on ubuntu_julia.sh
  ci/docker/install/ubuntu_julia.sh
Due: none

Disable test_CSVIter
  tests/python/unittest/test_io.py
Due: none

add unittest
  tests/python/unittest/test_recordio.py
Due: none

use tmpdir fixture
  tests/python/unittest/test_io.py
Due: none

Change the ARM8 build to work like the ARM7 build
  ci/docker/runtime_functions.sh
Due: none

Update python/mxnet/gluon/block.py
  python/mxnet/gluon/block.py
Due: python

disable TVM for gpu build
  ci/docker/runtime_functions.sh
Due: none

Fix flaky CSVIter test (#18390)
  tests/python/unittest/test_io.py
Due: none

add arg
  src/io/batchify.cc
Due: backend

fix
  src/io/batchify.cc
Due: backend

fix true_divide
  src/operator/numpy/np_true_divide-inl.h
Due: backend

Disable TVM_OP on GPU builds
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
  ci/jenkins/Jenkinsfile_unix_gpu
Due: none

Revert "Fix CPU-only RRNOp Forward"
  src/operator/rnn-inl.h
Due: backend

Hack around the lack of constexpr if
  src/operator/rnn-inl.h
Due: backend

Adjust the list of files to be packed in ARM jobs
  ci/jenkins/Jenkins_steps.groovy
Due: none

fix true_divide (#18393)
  src/operator/numpy/np_true_divide-inl.h
Due: backend

Update model.py
  python/mxnet/model.py
Due: python

add doc about default dtype
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/util.py
Due: python

[numpy] Fix mean, prod with input of empty array (#18286)
  src/operator/numpy/np_broadcast_reduce_op.h
  tests/python/unittest/test_numpy_interoperability.py
Due: backend

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
