Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

domain map done
  python/mxnet/gluon/probability/transformation/__init__.py
  python/mxnet/gluon/probability/transformation/domain_map.py
  tests/python/unittest/test_gluon_probability.py
Due: python

recorrect comment
  tests/python/unittest/test_higher_order_grad.py
Due: none

Remove dilation restriction for conv3d (#17491)
  src/operator/nn/convolution.cc
  tests/python/unittest/test_operator.py
Due: backend

fix gluon rnn cell test and doc
  python/mxnet/gluon/rnn/rnn_cell.py
  tests/python/unittest/test_gluon_rnn.py
Due: python

replace xfail with raises scope
  tests/python/unittest/test_deferred_compute.py
  tests/python/unittest/test_gluon.py
  tests/python/unittest/test_gluon_trainer.py
  tests/python/unittest/test_gluon_utils.py
  tests/python/unittest/test_image.py
  tests/python/unittest/test_infer_shape.py
  tests/python/unittest/test_io.py
  tests/python/unittest/test_ndarray.py
  tests/python/unittest/test_numpy_op.py
  tests/python/unittest/test_optimizer.py
  tests/python/unittest/test_random.py
  tests/python/unittest/test_runtime.py
  tests/python/unittest/test_test_utils.py
Due: none

fix flaky numpy, mkldnn quantize, and rnn tests
  ci/docker/runtime_functions.sh
  src/operator/nn/dropout-inl.h
  src/operator/rnn-inl.h
  src/operator/rnn.cc
  src/resource.cc
  tests/python/mkl/test_subgraph.py
  tests/python/tensorrt/test_ops.py
  tests/python/unittest/test_gluon.py
  tests/python/unittest/test_gluon_model_zoo.py
  tests/python/unittest/test_numpy_op.py
Due: backend

fix tempfile/dir usage
  tests/nightly/test_large_array.py
  tests/nightly/test_large_vector.py
  tests/python/gpu/test_gluon_gpu.py
  tests/python/mkl/test_subgraph.py
  tests/python/tensorrt/lenet5_train.py
  tests/python/tensorrt/test_ops.py
  tests/python/tensorrt/test_tensorrt_lenet5.py
  tests/python/train/test_autograd.py
  tests/python/train/test_conv.py
  tests/python/train/test_dtype.py
  tests/python/train/test_mlp.py
  tests/python/train/test_resnet_aug.py
  tests/python/unittest/common.py
  tests/python/unittest/test_contrib_svrg_module.py
  tests/python/unittest/test_gluon.py
  tests/python/unittest/test_gluon_utils.py
  tests/python/unittest/test_io.py
  tests/python/unittest/test_numpy_op.py
  tests/python/unittest/test_profiler.py
  tests/python/unittest/test_recordio.py
  tests/python/unittest/test_test_utils.py
Due: none

fixed overwrite of args/aux variables
  python/mxnet/symbol/symbol.py
Due: python

fixed spacing
  python/mxnet/symbol/symbol.py
Due: python

fix new design doesn't work on mobile
  docs/static_site/src/assets/js/options.js
Due: none

update version select drop down
  docs/static_site/src/_includes/get_started/get_started.html
  docs/static_site/src/_sass/minima/_getting_started.scss
  docs/static_site/src/assets/js/options.js
Due: none

align caret
  docs/static_site/src/_sass/minima/_getting_started.scss
Due: none

revert scrollable content, add delayed hover effect
  docs/static_site/src/_sass/minima/_getting_started.scss
  docs/static_site/src/assets/js/options.js
Due: none

bugfix
  docs/static_site/src/_includes/get_started/get_started.html
  docs/static_site/src/assets/js/options.js
Due: none

Update static site web pages (#18161)
  CONTRIBUTORS.md
  docs/static_site/src/_includes/get_started/get_started.html
  docs/static_site/src/_includes/get_started/linux/clojure/cpu.md
  docs/static_site/src/_includes/get_started/linux/clojure/gpu.md
  docs/static_site/src/_includes/get_started/linux/java/cpu.md
  docs/static_site/src/_includes/get_started/linux/julia/build-from-source.md
  docs/static_site/src/_includes/get_started/linux/perl/perl.md
  docs/static_site/src/_includes/get_started/linux/python/cpu/build-from-source.md
  docs/static_site/src/_includes/get_started/linux/python/cpu/docker.md
  docs/static_site/src/_includes/get_started/linux/python/gpu/build-from-source.md
  docs/static_site/src/_includes/get_started/linux/python/gpu/docker.md
  docs/static_site/src/_includes/get_started/linux/r/gpu.md
  docs/static_site/src/_includes/get_started/linux/scala/cpu.md
  docs/static_site/src/_includes/get_started/linux/scala/gpu.md
  docs/static_site/src/_includes/get_started/macos/clojure/cpu.md
  docs/static_site/src/_includes/get_started/macos/julia/build-from-source.md
  docs/static_site/src/_includes/get_started/macos/perl/perl.md
  docs/static_site/src/_includes/get_started/macos/python/cpu/build-from-source.md
  docs/static_site/src/_includes/get_started/macos/python/cpu/docker.md
  docs/static_site/src/_includes/get_started/macos/python/gpu/build-from-source.md
  docs/static_site/src/_includes/get_started/macos/python/gpu/pip_docker.md
  docs/static_site/src/_includes/get_started/macos/r/cpu.md
  docs/static_site/src/_includes/get_started/macos/scala/cpu.md
  docs/static_site/src/_includes/get_started/windows/perl/perl.md
  docs/static_site/src/_includes/get_started/windows/python/cpu/build-from-source.md
  docs/static_site/src/_includes/get_started/windows/python/cpu/docker.md
  docs/static_site/src/_includes/get_started/windows/python/cpu/pip.md
  docs/static_site/src/_includes/get_started/windows/python/gpu/docker.md
  docs/static_site/src/_includes/get_started/windows/python/gpu/pip.md
  docs/static_site/src/_includes/get_started/windows/r/cpu.md
  docs/static_site/src/_includes/get_started/windows/r/gpu.md
  docs/static_site/src/pages/api/julia/index.md
  docs/static_site/src/pages/get_started/build_from_source.md
  docs/static_site/src/pages/get_started/osx_setup.md
  docs/static_site/src/pages/get_started/ubuntu_setup.md
  docs/static_site/src/pages/get_started/windows_setup.md
Due: none

Cherrypick Fix nightly large_vector test caused by incorrect with_seed path (#18178) (#18220)
  ci/docker/install/requirements
  tests/nightly/test_large_array.py
  tests/nightly/test_large_vector.py
  tests/python/unittest/common.py
Due: none

Remove chinese period which leads to utf-8 encoding problem (#18223)
  src/operator/contrib/batch_norm_relu.cc
Due: backend

remove OS from s3 library path
  cd/utils/artifact_repository.py
Due: none

fix bash script run commands
  cd/python/docker/Jenkins_pipeline.groovy
  cd/python/pypi/Jenkins_pipeline.groovy
Due: none

Revert "remove OS from s3 library path"
  cd/utils/artifact_repository.py
Due: none

hardcode s3 path for upload/download of binaries
  cd/Jenkinsfile_utils.groovy
Due: none

Re-enable build retries on MSVC (#18230)
  ci/build_windows.py
Due: none

Update website version select drop down (#18188)
  docs/static_site/src/_includes/get_started/get_started.html
  docs/static_site/src/_sass/minima/_getting_started.scss
  docs/static_site/src/assets/js/options.js
Due: none

Merged #18177
  ci/docker/install/requirements
Due: none

making GPU kernel for argsort as 32-bit
  src/operator/tensor/init_op.h
  src/operator/tensor/ordering_op-inl.h
Due: backend

remove bayesian dense
  python/mxnet/gluon/probability/block/BayesianDense.py
Due: python

fix tiny problems
  python/mxnet/gluon/probability/block/__init__.py
  python/mxnet/gluon/probability/distributions/bernoulli.py
  python/mxnet/gluon/probability/distributions/binomial.py
  python/mxnet/gluon/probability/distributions/dirichlet.py
  python/mxnet/gluon/probability/distributions/studentT.py
  tests/python/unittest/test_gluon_probability.py
Due: python

add kl uniform normal
  python/mxnet/gluon/probability/distributions/divergence.py
  tests/python/unittest/test_gluon_probability.py
Due: python

Fix PyPI Packages and Python Docker Images nightly release (#18222)
  cd/Jenkinsfile_utils.groovy
  cd/python/docker/Jenkins_pipeline.groovy
  cd/python/pypi/Jenkins_pipeline.groovy
Due: none

fix unix-gpu test for num_outputs and inputs
  tests/cpp/operator/mkldnn_operator_test.cc
Due: none

fix gluon link missing
  docs/python_docs/python/api/gluon/index.rst
Due: none

add python3 to run safe_docker_run.py
  cd/python/docker/python_images.sh
  ci/test_safe_docker_run.py
Due: none

reverse control in jenkins steps, add debug gpu build test
  CMakeLists.txt
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
  ci/jenkins/Jenkinsfile_centos_cpu
  ci/jenkins/Jenkinsfile_centos_gpu
  ci/jenkins/Jenkinsfile_edge
  ci/jenkins/Jenkinsfile_miscellaneous
  ci/jenkins/Jenkinsfile_tools
  ci/jenkins/Jenkinsfile_unix_cpu
  ci/jenkins/Jenkinsfile_unix_gpu
  ci/jenkins/Jenkinsfile_website_beta
  ci/jenkins/Jenkinsfile_website_c_docs
  ci/jenkins/Jenkinsfile_website_clojure_docs
  ci/jenkins/Jenkinsfile_website_full
  ci/jenkins/Jenkinsfile_website_full_pr
  ci/jenkins/Jenkinsfile_website_java_docs
  ci/jenkins/Jenkinsfile_website_jekyll_docs
  ci/jenkins/Jenkinsfile_website_julia_docs
  ci/jenkins/Jenkinsfile_website_mxnet_build
  ci/jenkins/Jenkinsfile_website_nightly
  ci/jenkins/Jenkinsfile_website_python_docs
  ci/jenkins/Jenkinsfile_website_r_docs
  ci/jenkins/Jenkinsfile_website_scala_docs
  ci/jenkins/Jenkinsfile_windows_cpu
  ci/jenkins/Jenkinsfile_windows_gpu
  src/operator/nn/batch_norm.cu
Due: backend

add faulthandler timeout
  pytest.ini
Due: none
