Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

move linked files
  ci/docker/runtime_functions.sh
Due: none

fix typo
  ci/jenkins/Jenkins_steps.groovy
Due: none

change mkl likage form pl64 to ipl64
  .gitmodules
Due: none

remove python2 ut and add cpu-mkl node
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
  ci/jenkins/Jenkinsfile_unix_cpu
Due: none

add pos_weight for SigmoidBinaryCrossEntropyLoss in gluon.loss
  python/mxnet/gluon/loss.py
Due: python

add artifacts for tensorrt
  ci/jenkins/Jenkins_steps.groovy
Due: none

Fixes #8850
  CONTRIBUTORS.md
Due: none

Make to_tensor to accept 1 or batch of images
  src/operator/image/image_random-inl.h
  tests/python/unittest/test_gluon_data_vision.py
Due: backend

add cflag
  Makefile
Due: none

Update loss.py
  python/mxnet/gluon/loss.py
Due: python

temp code / diag on CI
  scala-package/macros/src/main/scala/org/apache/mxnet/SymbolMacro.scala
Due: clojure

move mkldnn lib in scala build
  ci/docker/runtime_functions.sh
Due: none

move mkldnn lib on cpu scala
  ci/docker/runtime_functions.sh
Due: none

CMake build of cython modules without unit tests
  CMakeLists.txt
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
  cmake/BuildCythonModules.cmake
Due: none

Fix typo
  ci/docker/runtime_functions.sh
Due: none

fix
  Makefile
Due: none

Sample python bilinear initializer at integral points in y-direction
  python/mxnet/initializer.py
Due: python

Fix Jetson compilation
  ci/docker/Dockerfile.build.jetson
  ci/jenkins/Jenkinsfile_edge
  make/crosscompile.jetson.mk
Due: none

Update dev_menu.py
  dev_menu.py
Due: none

Cuda off by default, use ccache
  cmake/cmake_options.yml
Due: none

Improve dev_menu, add build command and virtualenv creation with local builds for easy testing
  .gitignore
  ci/requirements_mxnet_virtualenv.txt
  dev_menu.py
Due: none

address CR
  ci/requirements_mxnet_virtualenv.txt
  dev_menu.py
  tests/requirements.txt
Due: none

added some contents
  src/operator/contrib/binary_inference_convolution.cc
  src/operator/contrib/binary_inference_convolution.cu
  src/operator/contrib/binary_inference_convolution.h
  src/operator/contrib/binary_inference_fully_connected.cc
  src/operator/contrib/binary_inference_fully_connected.cu
  src/operator/contrib/binary_inference_fully_connected.h
Due: backend

create dir for binding
  ci/docker/runtime_functions.sh
Due: none

rename libmkldnn in scala
  ci/docker/runtime_functions.sh
Due: none

move mklml dep in scala builds
  ci/docker/runtime_functions.sh
Due: none

move mkl to another linked folder
  ci/docker/runtime_functions.sh
Due: none

Added logging to GitHub commit status publishing
  ci/Jenkinsfile_utils.groovy
Due: none

Adding new environment variable: MXNET_USE_NUM_CORES_OPERATOR_TUNING to doc
  docs/faq/env_var.md
Due: none

fix the Float not showing correctly problem
  scala-package/infer/src/main/scala/org/apache/mxnet/infer/javaapi/Predictor.scala
Due: clojure

refactor the resize operator and address lint issues
  src/operator/image/image_random-inl.h
Due: backend

fixing formatting in doc
  docs/faq/env_var.md
Due: none

Add Intel MKL blas to Jenkins (#13607)
  ci/docker/Dockerfile.build.ubuntu_cpu
  ci/docker/install/ubuntu_mkl.sh
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
  ci/jenkins/Jenkinsfile_unix_cpu
Due: none

make normalize transformation operator to take 3D or 4D input
  src/operator/image/image_random-inl.h
  tests/python/unittest/test_gluon_data_vision.py
Due: backend

Add API documentation about 3D or 4D input to ToTensor and Normalize transforms
  python/mxnet/gluon/data/vision/transforms.py
Due: python

address comment and add doc
  python/mxnet/gluon/data/vision/transforms.py
  src/operator/image/image_random-inl.h
Due: python, backend

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
