Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

removed space
  python/mxnet/gluon/block.py
Due: python

changed defines
  example/extensions/lib_subgraph/README.md
  example/extensions/lib_subgraph/subgraph_lib.cc
  include/mxnet/lib_api.h
  src/c_api/c_api.cc
  src/c_api/c_api_symbolic.cc
  src/operator/subgraph/partitioner/custom_subgraph_property.h
Due: backend

add logic for no batch size while getting data arrays from executors (#17772)
  python/mxnet/module/executor_group.py
Due: python

bump up master branch to 2.0 (#17739)
  R-package/DESCRIPTION
  contrib/clojure-package/examples/bert/project.clj
  contrib/clojure-package/examples/captcha/project.clj
  contrib/clojure-package/examples/cnn-text-classification/project.clj
  contrib/clojure-package/examples/gan/project.clj
  contrib/clojure-package/examples/imclassification/project.clj
  contrib/clojure-package/examples/infer/imageclassifier/project.clj
  contrib/clojure-package/examples/infer/objectdetector/project.clj
  contrib/clojure-package/examples/infer/predictor/project.clj
  contrib/clojure-package/examples/module/project.clj
  contrib/clojure-package/examples/multi-label/project.clj
  contrib/clojure-package/examples/neural-style/project.clj
  contrib/clojure-package/examples/pre-trained-models/project.clj
  contrib/clojure-package/examples/profiler/project.clj
  contrib/clojure-package/examples/rnn/project.clj
  contrib/clojure-package/examples/tutorial/project.clj
  contrib/clojure-package/examples/visualization/project.clj
  contrib/clojure-package/project.clj
  docs/static_site/src/pages/api/scala/docs/tutorials/mxnet_scala_on_intellij.md
  include/mxnet/base.h
  julia/NEWS.md
  python/mxnet/libinfo.py
  scala-package/README.md
  scala-package/mxnet-demo/java-demo/README.md
  scala-package/mxnet-demo/java-demo/pom.xml
  scala-package/mxnet-demo/scala-demo/pom.xml
  scala-package/pom.xml
  snapcraft.yaml
Due: python, r-package, clojure, backend

update pypi description, setup.py, use manylinux2010, use unified dist link for nightly
  tools/pip/doc/CPU_ADDITIONAL.md
  tools/pip/doc/CU100_ADDITIONAL.md
  tools/pip/doc/CU101_ADDITIONAL.md
  tools/pip/doc/CU102_ADDITIONAL.md
  tools/pip/doc/CU90_ADDITIONAL.md
  tools/pip/doc/CU92_ADDITIONAL.md
  tools/pip/doc/NATIVE_ADDITIONAL.md
  tools/pip/doc/PYPI_README.md
  tools/pip/setup.py
Due: none

ffi invocation: expand_dims, tril, diff, broadcast_to
  python/mxnet/ndarray/numpy/_op.py
  src/api/operator/numpy/np_broadcast_reduce_op_value.cc
  src/api/operator/numpy/np_diff_op.cc
  src/api/operator/numpy/np_matrix_op.cc
  src/api/operator/numpy/np_tril_op.cc
  src/operator/numpy/np_diff-inl.h
  src/operator/numpy/np_tril_op-inl.h
  src/operator/tensor/broadcast_reduce_op.h
  src/operator/tensor/matrix_op-inl.h
Due: python, backend

add alias for np.__version__, np._NoValue and np.dtype (#17777)
  python/mxnet/numpy/fallback.py
  python/mxnet/numpy/multiarray.py
  tests/python/unittest/test_numpy_interoperability.py
Due: python

add np_choice_op.cc file
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  src/api/operator/numpy/random/np_choice_op.cc
  src/api/operator/tensor/indexing_op.cc
  src/operator/tensor/indexing_op.h
Due: python, backend

add including header file
  src/api/operator/numpy/random/np_choice_op.cc
Due: backend

pareto implemented
  python/mxnet/gluon/probability/distributions/__init__.py
  python/mxnet/gluon/probability/distributions/pareto.py
  python/mxnet/gluon/probability/distributions/transformed_distribution.py
  tests/python/unittest/test_gluon_probability.py
Due: python

add convenient method for numerical Ops under numpy namespace
  python/mxnet/numpy/multiarray.py
Due: python

Add ffi benchmark
  benchmark/python/ffi/benchmark_ffi.py
Due: none

deprecating spatial attribute in exporter so default behavior of spatial=1 is conveyed
  python/mxnet/contrib/onnx/mx2onnx/_op_translations.py
Due: python

Expose activation and recurrent activation in GRUCell (#17745)
  python/mxnet/gluon/rnn/rnn_cell.py
  tests/python/unittest/test_gluon_rnn.py
Due: python

Fix memory leak when recreating graph executor
  src/executor/graph_executor.cc
Due: backend

Update tools/pip/setup.py
  tools/pip/setup.py
Due: none

allclose_op: Fix non-ascii characters in comments (#17746)
  src/operator/contrib/allclose_op.cc
Due: backend

Fix Jenkinsfile CD pipeline for mxnet-native
  cd/Jenkinsfile_cd_pipeline
  ci/docker/runtime_functions.sh
  config/distribution/linux_native.cmake
Due: none

Fix cd/python/docker/python_images.sh
  cd/python/docker/python_images.sh
Due: none

Bump up additional scala 1.x branch to 1.7.0 (#17765)
  docs/static_site/src/pages/api/scala/docs/tutorials/mxnet_scala_on_intellij.md
  scala-package/pom.xml
Due: clojure

[Numpy] Fix symbolic basic indexing (#17770)
  python/mxnet/symbol/numpy/_symbol.py
  tests/python/unittest/test_numpy_gluon.py
Due: python

reorg gluon vision transforms
  python/mxnet/gluon/data/vision/transforms/__init__.py
  python/mxnet/gluon/data/vision/transforms/bbox.py
  python/mxnet/gluon/data/vision/transforms/image.py
  python/mxnet/ndarray/contrib.py
Due: python

start bbox transforms
  python/mxnet/gluon/data/vision/transforms/bbox.py
Due: python

uniform wip
  python/mxnet/gluon/probability/distributions/__init__.py
  python/mxnet/gluon/probability/distributions/chi2.py
  python/mxnet/gluon/probability/distributions/uniform.py
  tests/python/unittest/test_gluon_probability.py
Due: python

fix clip scalar
  python/mxnet/numpy/multiarray.py
  tests/python/unittest/test_numpy_op.py
Due: python

uniform done
  python/mxnet/gluon/probability/distributions/uniform.py
  tests/python/unittest/test_gluon_probability.py
Due: python

rewrite lgamma, implement chi2
  python/mxnet/gluon/probability/distributions/__init__.py
  python/mxnet/gluon/probability/distributions/beta.py
  python/mxnet/gluon/probability/distributions/chi2.py
  python/mxnet/gluon/probability/distributions/dirichlet.py
  python/mxnet/gluon/probability/distributions/gamma.py
  python/mxnet/gluon/probability/distributions/uniform.py
  python/mxnet/gluon/probability/distributions/utils.py
  python/mxnet/gluon/probability/distributions/weibull.py
Due: python

[CI] Remove print stacktrace (due to security concerns) (#17597)
  ci/Jenkinsfile_utils.groovy
Due: none

CenterCrop Op
  python/mxnet/gluon/data/vision/transforms.py
  src/io/image_io.cc
  src/operator/image/center_crop-inl.h
  src/operator/image/center_crop.cc
  src/operator/image/center_crop.cu
  src/operator/image/crop-inl.h
  src/operator/image/crop.cc
  src/operator/image/resize-inl.h
  src/operator/image/resize.cc
  src/operator/image/resize.cu
  tests/python/gpu/test_gluon_transforms.py
  tests/python/unittest/test_gluon_data_vision.py
Due: python, backend

refactor codes and add an option to skip/check weight's version to reduce overhead (#17707)
  src/operator/subgraph/mkldnn/mkldnn_common.h
  src/operator/subgraph/mkldnn/mkldnn_fc.cc
Due: backend

triu new ffi
  python/mxnet/ndarray/numpy/_op.py
  src/api/operator/numpy/np_triu_op.cc
  src/operator/numpy/np_tril_op-inl.h
  src/operator/numpy/np_triu_op-inl.h
  tests/python/unittest/test_numpy_op.py
Due: python, backend

cpplint
  src/operator/numpy/np_triu_op-inl.h
Due: backend

fix chi2 scale
  python/mxnet/gluon/probability/distributions/chi2.py
Due: python

implement the basic function of random.choice
  python/mxnet/ndarray/numpy/random.py
  src/api/operator/numpy/random/np_choice_op.cc
Due: python, backend

laplace parmeters form change
  src/operator/numpy/random/np_laplace_op.h
Due: backend

F distributiion done
  python/mxnet/gluon/probability/distributions/__init__.py
  python/mxnet/gluon/probability/distributions/fishersnedecor.py
  python/mxnet/gluon/probability/distributions/studentT.py
  python/mxnet/gluon/probability/distributions/utils.py
  tests/python/unittest/test_gluon_probability.py
Due: python

Fix mxnet-native and Docker CD pipelines (#17784)
  cd/Jenkinsfile_cd_pipeline
  cd/python/docker/python_images.sh
  ci/docker/runtime_functions.sh
  config/distribution/linux_native.cmake
Due: none

Fix OpPerf in Master (#17735)
  benchmark/opperf/rules/default_params.py
Due: none

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
