Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

add fixes in docs
  docs/install/java_setup.md
  scala-package/mxnet-demo/java-demo/README.md
  scala-package/mxnet-demo/scala-demo/README.md
Due: clojure

Update docs/install/java_setup.md
  docs/install/java_setup.md
Due: none

fix typo
  scala-package/mxnet-demo/java-demo/README.md
  scala-package/mxnet-demo/scala-demo/README.md
Due: clojure

[MXNET-1301] Remove the unnecessary WaitAll statements from inception_inference example (#13972)
  cpp-package/example/inference/inception_inference.cpp
Due: none

[MXNET-1000] get Ndarray real value and form it from a NDArray (#12690)
  scala-package/core/src/main/scala/org/apache/mxnet/MX_PRIMITIVES.scala
  scala-package/core/src/main/scala/org/apache/mxnet/NDArray.scala
  scala-package/core/src/test/scala/org/apache/mxnet/NDArraySuite.scala
Due: clojure

api change (#13903)
  include/mxnet/ndarray.h
  src/ndarray/ndarray.cc
  src/operator/subgraph/mkldnn/mkldnn_conv.cc
Due: backend

fix
  python/mxnet/contrib/onnx/mx2onnx/_op_translations.py
Due: python

adding test cases
  python/mxnet/contrib/onnx/mx2onnx/_op_translations.py
  tests/python-pytest/onnx/test_node.py
Due: python

Expand,tile op export
  python/mxnet/contrib/onnx/mx2onnx/_op_translations.py
Due: python

adding comments
  tests/python-pytest/onnx/test_node.py
Due: none

ONNX export: Add Crop, Deconvolution and fix the default stride of Pooling to 1 (#12399)
  python/mxnet/contrib/onnx/mx2onnx/_op_translations.py
  tests/python-pytest/onnx/test_cases.py
Due: python

updated symbol.random return types, minor correction to ndarray.random return types
  python/mxnet/ndarray/random.py
  python/mxnet/symbol/random.py
Due: python

removed trailing whitespace in docs
  python/mxnet/ndarray/random.py
  python/mxnet/symbol/random.py
Due: python

Sample python bilinear initializer at integral points in y-direction (#12983)
  python/mxnet/initializer.py
  tests/python/unittest/test_init.py
Due: python

[MXNET-703] Minor refactor of TensorRT code (#13311)
  src/executor/onnx_to_tensorrt.cc
  src/executor/trt_graph_executor.cc
  src/operator/contrib/nnvm_to_onnx-inl.h
  src/operator/contrib/nnvm_to_onnx.cc
Due: backend

Python BucketingModule bind() with grad_req = 'add' (#13984)
  python/mxnet/module/bucketing_module.py
  tests/python/unittest/test_module.py
Due: python

MXNET-1295 Adding integer index support to Sequence* family of operators. (#13880)
  python/mxnet/test_utils.py
  src/operator/sequence_last-inl.h
  src/operator/sequence_last.cc
  src/operator/sequence_last.cu
  src/operator/sequence_mask-inl.h
  src/operator/sequence_mask.cc
  src/operator/sequence_mask.cu
  src/operator/sequence_reverse-inl.h
  src/operator/sequence_reverse.cc
  src/operator/sequence_reverse.cu
  tests/python/unittest/test_operator.py
Due: python, backend

Fix loss digits of save_file and typo
  example/gluon/lipnet/infer.py
  example/gluon/lipnet/trainer.py
Due: none

Add info of data split and batch size
  example/gluon/lipnet/README.md
Due: none

Julia: split ndarray.jl into several snippets
  julia/src/ndarray/activation.jl
  julia/src/ndarray/arithmetic.jl
  julia/src/ndarray/array.jl
  julia/src/ndarray/autoimport.jl
  julia/src/ndarray/comparison.jl
  julia/src/ndarray/context.jl
  julia/src/ndarray/io.jl
  julia/src/ndarray/linalg.jl
  julia/src/ndarray/reduction.jl
  julia/src/ndarray/remap.jl
  julia/src/ndarray/show.jl
  julia/src/ndarray/statistic.jl
  julia/src/ndarray/trig.jl
  julia/src/ndarray/type.jl
Due: none

Dual stream conv backward(). Enable with MXNET_GPU_WORKER_NSTREAMS=2.
  include/mxnet/base.h
  include/mxnet/op_attr_types.h
  src/engine/naive_engine.cc
  src/engine/stream_manager.h
  src/engine/threaded_engine_perdevice.cc
  src/operator/nn/cudnn/cudnn_convolution-inl.h
  tests/python/gpu/test_operator_gpu.py
Due: backend

test dropout as stateful op
  tests/cpp/include/test_core_op.h
Due: none

add cudnn_off
  src/operator/nn/dropout-inl.h
Due: backend

cudnn dropout
  src/operator/cudnn_rnn-inl.h
  src/operator/nn/dropout-inl.h
  src/operator/nn/dropout.cc
  src/operator/nn/dropout.cu
Due: backend

Add maven wraper to scala project.
  scala-package/.mvn/wrapper/.gitignore
  scala-package/.mvn/wrapper/MavenWrapperDownloader.java
  scala-package/.mvn/wrapper/maven-wrapper.properties
  scala-package/mvnw
  scala-package/mvnw.cmd
Due: clojure

bug fixed
  example/gluon/wavenet/data_loader.py
  example/gluon/wavenet/models.py
  example/gluon/wavenet/trainer.py
Due: none

Update op_attr_types.h
  include/mxnet/op_attr_types.h
Due: backend

Rerun CI
  src/operator/quantization/mkldnn/mkldnn_quantize_v2-inl.h
Due: backend

Digitize operator WIP
  src/operator/tensor/digitize_op.cc
  src/operator/tensor/digitize_op.cu
  src/operator/tensor/digitize_op.h
  tests/python/unittest/test_operator.py
Due: backend

Refactoring, bug fixes, added DigitizeOpType
  src/operator/tensor/digitize_op.cc
  src/operator/tensor/digitize_op.cu
  src/operator/tensor/digitize_op.cuh
  src/operator/tensor/digitize_op.h
Due: backend

Refactoriong to have CPU and GPU implementations
  src/operator/tensor/digitize_op.cc
  src/operator/tensor/digitize_op.cu
  src/operator/tensor/digitize_op.h
Due: backend

Bug fixes
  src/operator/tensor/digitize_op.cc
  src/operator/tensor/digitize_op.cu
  src/operator/tensor/digitize_op.cuh
  src/operator/tensor/digitize_op.h
Due: backend

Rewrote forward kernel, added check monotonic kernel, added output type parameter
  src/operator/tensor/digitize_op.cc
  src/operator/tensor/digitize_op.cu
  src/operator/tensor/digitize_op.h
Due: backend

Bug fixes
  src/operator/tensor/digitize_op.cc
  src/operator/tensor/digitize_op.cu
  src/operator/tensor/digitize_op.h
Due: backend

Improvements to CPU/GPU kernels
  src/operator/tensor/digitize_op.cc
  src/operator/tensor/digitize_op.cu
  src/operator/tensor/digitize_op.h
Due: backend

Bug fixes
  src/operator/tensor/digitize_op.cu
  src/operator/tensor/digitize_op.cuh
  src/operator/tensor/digitize_op.h
Due: backend

Refactoriong to have CPU and GPU implementations
  src/operator/tensor/digitize_op.h
Due: backend

Refactoring, bug fixes, added DigitizeOpType
  src/operator/tensor/digitize_op.cuh
  src/operator/tensor/digitize_op.h
Due: backend

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
