Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

use mirror link in the download page
  docs/static_site/src/pages/get_started/download.md
Due: none

use archive for the version before 1.2.1
  docs/static_site/src/pages/get_started/download.md
Due: none

fixed broken link
  docs/python_docs/python/tutorials/deploy/export/onnx.md
  docs/python_docs/python/tutorials/deploy/run-on-aws/index.rst
  docs/python_docs/python/tutorials/getting-started/gluon_from_experiment_to_deployment.md
  docs/python_docs/python/tutorials/getting-started/to-mxnet/index.rst
  docs/python_docs/python/tutorials/packages/autograd/index.md
  docs/python_docs/python/tutorials/packages/gluon/blocks/custom_layer_beginners.md
  docs/python_docs/python/tutorials/packages/gluon/blocks/hybridize.md
  docs/python_docs/python/tutorials/packages/gluon/blocks/init.md
  docs/python_docs/python/tutorials/packages/gluon/blocks/nn.md
  docs/python_docs/python/tutorials/packages/gluon/blocks/parameters.md
  docs/python_docs/python/tutorials/packages/gluon/image/image-augmentation.md
  docs/python_docs/python/tutorials/packages/gluon/image/pretrained_models.md
  docs/python_docs/python/tutorials/packages/gluon/index.rst
  docs/python_docs/python/tutorials/packages/gluon/loss/custom-loss.md
  docs/python_docs/python/tutorials/packages/gluon/loss/loss.md
  docs/python_docs/python/tutorials/packages/gluon/training/fit_api_tutorial.md
  docs/python_docs/python/tutorials/packages/gluon/training/learning_rates/learning_rate_finder.md
  docs/python_docs/python/tutorials/packages/gluon/training/learning_rates/learning_rate_schedules_advanced.md
  docs/python_docs/python/tutorials/packages/gluon/training/trainer.md
  docs/python_docs/python/tutorials/packages/kvstore/index.rst
  docs/python_docs/python/tutorials/packages/kvstore/kvstore.md
  docs/python_docs/python/tutorials/packages/ndarray/01-ndarray-intro.md
  docs/python_docs/python/tutorials/packages/ndarray/02-ndarray-operations.md
  docs/python_docs/python/tutorials/packages/ndarray/03-ndarray-contexts.md
  docs/python_docs/python/tutorials/packages/ndarray/gotchas_numpy_in_mxnet.md
  docs/python_docs/python/tutorials/packages/ndarray/sparse/row_sparse.md
  docs/python_docs/python/tutorials/packages/onnx/fine_tuning_gluon.md
  docs/python_docs/python/tutorials/packages/onnx/inference_on_onnx_model.md
  docs/python_docs/python/tutorials/packages/onnx/super_resolution.md
  docs/static_site/src/pages/api/faq/distributed_training.md
  docs/static_site/src/pages/api/r/docs/tutorials/five_minutes_neural_network.md
Due: none

Update docs/python_docs/python/tutorials/deploy/export/onnx.md
  docs/python_docs/python/tutorials/deploy/export/onnx.md
Due: none

Update docs/python_docs/python/tutorials/packages/onnx/super_resolution.md
  docs/python_docs/python/tutorials/packages/onnx/super_resolution.md
Due: none

Apply suggestions from code review
  docs/python_docs/python/tutorials/packages/onnx/fine_tuning_gluon.md
  docs/python_docs/python/tutorials/packages/onnx/inference_on_onnx_model.md
Due: none

trying to get things compile
  Makefile
  src/operator/numpy/np_matrix_op-inl.h
  src/v3/include/op/attrs/legacy_nnvm_attrs.h
  src/v3/src/bridge/legacy_nnvm/attrs_converter-inl.h
  src/v3/src/bridge/legacy_nnvm/attrs_converter.cu
Due: backend

Eliminating "asnumpy()" conversion
  tests/python/unittest/test_operator.py
Due: none

Eliminating "asnumpy()" conversion
  tests/python/unittest/test_contrib_optimizer.py
Due: none

update cloud guide
  docs/python_docs/python/tutorials/deploy/run-on-aws/cloud.rst
Due: none

fix typos
  src/operator/contrib/transformer.cc
Due: backend

Apply suggestions from code review
  docs/python_docs/python/tutorials/deploy/run-on-aws/index.rst
  docs/python_docs/python/tutorials/packages/autograd/index.md
  docs/python_docs/python/tutorials/packages/gluon/blocks/hybridize.md
  docs/python_docs/python/tutorials/packages/gluon/blocks/nn.md
  docs/python_docs/python/tutorials/packages/gluon/loss/loss.md
  docs/python_docs/python/tutorials/packages/ndarray/gotchas_numpy_in_mxnet.md
Due: none

change file format
  docs/python_docs/python/tutorials/deploy/run-on-aws/cloud.md
Due: none

fix formatting
  docs/python_docs/python/tutorials/deploy/run-on-aws/cloud.md
Due: none

correct another typo
  src/operator/contrib/transformer.cc
Due: backend

code refactor and added comments
  tests/nightly/test_large_vector.py
Due: none

bug fix for the input of same axes
  src/operator/swapaxis-inl.h
Due: backend

add binary and docs build command options
  dev_menu.py
Due: none

tests added
  tests/python/unittest/test_operator.py
Due: none

[mkldnn-v1.0] Enable mkldnn test, copy op, concat op
  src/operator/nn/concat.cc
  src/operator/nn/mkldnn/mkldnn_concat.cc
  src/operator/tensor/elemwise_unary_op_basic.cc
  tests/cpp/include/test_core_op.h
  tests/cpp/include/test_mkldnn.h
  tests/cpp/include/test_op.h
  tests/cpp/kvstore/gpu_topology_test.cc
  tests/cpp/operator/batchnorm_test.cc
  tests/cpp/operator/mkldnn_operator_test.cc
  tests/cpp/operator/mkldnn_test.cc
Due: backend

Update python/mxnet/_numpy_op_doc.py
  python/mxnet/_numpy_op_doc.py
Due: python

test again
  python/mxnet/numpy_dispatch_protocol.py
  tests/python/unittest/test_numpy_interoperability.py
Due: python

remove l le e ne g ge
  python/mxnet/numpy_dispatch_protocol.py
  tests/python/unittest/test_numpy_interoperability.py
Due: python

improve doc
  python/mxnet/numpy/multiarray.py
Due: python

[mkldnn-v1.0]enable mkldnn concat (#16507)
  src/operator/nn/concat.cc
Due: backend

[mkldnn-v1.0] Enable mkldnn cpp-test, copy op, concat op (#16503)
  src/operator/nn/concat.cc
  src/operator/nn/mkldnn/mkldnn_concat.cc
  src/operator/tensor/elemwise_unary_op_basic.cc
  tests/cpp/include/test_core_op.h
  tests/cpp/include/test_mkldnn.h
  tests/cpp/include/test_op.h
  tests/cpp/kvstore/gpu_topology_test.cc
  tests/cpp/operator/batchnorm_test.cc
  tests/cpp/operator/mkldnn_operator_test.cc
  tests/cpp/operator/mkldnn_test.cc
Due: backend

numpy swapaxes tests added
  tests/python/unittest/test_numpy_op.py
Due: none

add skipped case for mkldnn_v1.0
  tests/python/mkl/test_mkldnn_install.py
  tests/python/mkl/test_subgraph.py
Due: none

enable mkl quantized testcase
  tests/python/mkl/test_quantization_mkldnn.py
  tests/python/quantization/test_quantization.py
Due: none

enable skipped testcase
  tests/python/mkl/test_subgraph.py
  tests/python/quantization/test_quantization.py
Due: none

change to MXNET_USE_MKLDNN == 100
  src/operator/leaky_relu.cc
Due: backend

enable mkldnn elemwise_sum
  src/operator/tensor/elemwise_sum.cc
Due: backend

remove print in testcase
  tests/python/unittest/test_operator.py
Due: none
