Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

Fix lint
  src/common/cuda_utils.cc
Due: backend

Actually fix lint
  src/common/cuda_utils.cc
Due: backend

address comments
  tests/nightly/test_large_array.py
  tests/nightly/test_large_vector.py
Due: none

[Numpy] Numpy behavior random.uniform() (#15858)
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/random.py
  src/operator/numpy/random/dist_common.h
  src/operator/numpy/random/np_uniform_op.cc
  src/operator/numpy/random/np_uniform_op.cu
  src/operator/numpy/random/np_uniform_op.h
  tests/python/unittest/test_numpy_ndarray.py
Due: python, backend

fixed bug when multiple shapes are passed
  src/operator/nn/upsampling-inl.h
Due: backend

add to symbol doc
  docs/api/python/symbol/symbol.md
Due: none

Softmax optimization for GPU (#15545)
  src/common/cuda_utils.cc
  src/common/cuda_utils.h
  src/operator/mxnet_op.h
  src/operator/nn/log_softmax.cc
  src/operator/nn/log_softmax.cu
  src/operator/nn/softmax-inl.h
  src/operator/nn/softmax.cc
  src/operator/nn/softmin.cc
  src/operator/nn/softmin.cu
Due: backend

normal distribution assert statement fix; randint dtype check
  tests/nightly/test_large_array.py
  tests/nightly/test_large_vector.py
Due: none

[Dependency Update] [Doc] move the general prerequisite software to the top (#15896)
  tools/dependencies/README.md
Due: none

remodified upsampling tests
  contrib/clojure-package/test/org/apache/clojure_mxnet/operator_test.clj
  scala-package/core/src/test/scala/org/apache/mxnet/OperatorSuite.scala
  tests/python/unittest/test_operator.py
Due: clojure

fixed test_operator parameter list bug
  tests/python/unittest/test_operator.py
Due: none

[MKLDNN]Support fullyconnected and element-wise ops fusion (#15950)
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_convolution-inl.h
  src/operator/nn/mkldnn/mkldnn_fully_connected-inl.h
  src/operator/nn/mkldnn/mkldnn_fully_connected.cc
  src/operator/subgraph/mkldnn/mkldnn_fc-inl.h
  src/operator/subgraph/mkldnn/mkldnn_fc.cc
  src/operator/subgraph/mkldnn/mkldnn_fc_property.h
  tests/python/mkl/test_subgraph.py
Due: backend

Fix lint
  include/mxnet/c_api_error.h
  python/mxnet/contrib/quantization.py
  src/c_api/c_api_symbolic.cc
  src/operator/nn/mkldnn/mkldnn_flatten-inl.h
  src/operator/quantization/calibrate.cc
  src/operator/quantization/quantize_graph_pass.cc
Due: python, backend

stub for optimizing Gluon block
  python/mxnet/gluon/block.py
Due: python

fix missing args_list when defining _run_nd_operator_performance_test() function
  benchmark/opperf/utils/benchmark_utils.py
Due: none

doc fixed
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/random.py
Due: python

tiny bugs fixed
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
Due: none

correct layernorm and shuffle
  tests/nightly/test_large_vector.py
Due: none

Update runtime_functions.sh
  ci/docker/runtime_functions.sh
Due: none

Tvm broadcast backward (#15938)
  contrib/tvmop/__init__.py
  contrib/tvmop/basic/ufunc.py
  contrib/tvmop/utils.py
  src/operator/contrib/tvmop/ufunc.cc
  tests/python/unittest/test_tvm_op.py
Due: backend

enable tvm_op for ci
  Makefile
  ci/docker/install/ubuntu_python.sh
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
  cpp-package/cpp-package.mk
  tests/python/unittest/test_tvm_op.py
Due: none

Update CODEOWNERS
  CODEOWNERS
Due: none

layer norm numpy flaky hence removed, dropout shape fix
  tests/nightly/test_large_vector.py
Due: none

fixed test_operator.py test cases for upsampling
  tests/python/unittest/test_operator.py
Due: none

removed onnx changes to be put in a different PR
  contrib/clojure-package/test/org/apache/clojure_mxnet/operator_test.clj
  python/mxnet/contrib/onnx/mx2onnx/_op_translations.py
  python/mxnet/contrib/onnx/onnx2mx/_import_helper.py
  python/mxnet/contrib/onnx/onnx2mx/_op_translations.py
Due: python

comment not working ops
  tests/nightly/test_large_vector.py
Due: none

disable test coverage
  ci/docker/runtime_functions.sh
Due: none

disable the job
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkinsfile_clang
Due: none

removed extra line
  tests/python/unittest/test_operator.py
Due: none

update readmes for doc; remove unused files
  ci/jenkins/Jenkinsfile_website
  ci/publish/website/README.md
  docs/Jenkinsfile
  docs/Jenkinsfile-dev
  docs/README.md
  docs/settings.ini
Due: none

Disable test coverage for Clang MKLDNN (#15977)
  ci/jenkins/Jenkinsfile_clang
Due: none

add additional temp space
  src/operator/tensor/ordering_op-inl.h
Due: backend
