Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

WIP: basic indexing
  python/mxnet/ndarray/ndarray.py
Due: python

Fix size-0 array creation
  python/mxnet/ndarray/ndarray.py
Due: python

Fix bad string formatting
  python/mxnet/ndarray/ndarray.py
Due: python

Fix whitespace error in matrix_op-inl.h
  src/operator/tensor/matrix_op-inl.h
Due: backend

Fix bug in test_uniform
  tests/python/unittest/test_dgl_graph.py
Due: none

Change comment in autograd indexing test
  tests/python/unittest/test_ndarray.py
Due: none

Make scalar tensor assignment test check for IndexError
  tests/python/unittest/test_ndarray.py
Due: none

Fix ci
  tests/python/unittest/test_operator.py
Due: none

Temporarily disable failing unittests
  tests/python/unittest/test_operator.py
Due: none

Add more None-containing index tuples to indexing test
  tests/python/unittest/test_ndarray.py
Due: none

Silence another pylint complaint
  python/mxnet/ndarray/ndarray.py
Due: python

Test mutability of sliced array if contiguous
  tests/python/unittest/test_ndarray.py
Due: none

Re-activate operator tests with 0-size arrays
  tests/python/unittest/test_operator.py
Due: none

Use np.compat in tests with zeros in shape or empty shape
  tests/python/unittest/test_ndarray.py
  tests/python/unittest/test_operator.py
Due: none

"Fix" pylint complaints
  python/mxnet/ndarray/ndarray.py
Due: python

Disable None in advanced indexing test since it has not been supported
  tests/python/unittest/test_ndarray.py
Due: none

Fix sanity
  python/mxnet/ndarray/ndarray.py
Due: python

Fix unit test failure
  python/mxnet/ndarray/ndarray.py
  python/mxnet/test_utils.py
  tests/python/unittest/test_operator.py
Due: python

add print msg to make sure up-to-date
  src/operator/nn/upsampling-inl.h
  upsample_update
Due: backend

moved update check msg
  src/operator/nn/upsampling-inl.h
Due: backend

add 10 other ops
  tests/nightly/test_large_array.py
Due: none

fixed some more syntax bugs
  src/operator/nn/upsampling-inl.h
  tests/python/unittest/test_operator.py
Due: backend

added rpow and made numpy consistent
  tests/nightly/test_large_array.py
Due: none

fix tvm cmake (#15781)
  CMakeLists.txt
  cmake/BuildTVM.cmake
  src/operator/contrib/tvmop/ufunc.cc
Due: backend

Fix PR #15489 (Dynamic Library Loading Support) (#15760)
  CMakeLists.txt
  Makefile
  ci/jenkins/Jenkins_steps.groovy
  example/lib_api/Makefile
  example/lib_api/libtest.cc
  example/lib_api/mylib.cc
  example/lib_api/test.py
  include/mxnet/c_api.h
  include/mxnet/lib_api.h
  python/mxnet/__init__.py
  python/mxnet/base.py
  python/mxnet/library.py
  src/c_api/c_api.cc
  src/common/library.cc
  src/common/library.h
  src/initialize.cc
  tests/python/gpu/test_operator_gpu.py
  tests/python/unittest/test_library_loading.py
Due: python, backend

disable uint8 bn forward test with mkldnn backend
  tests/python/quantization/test_quantization.py
Due: none

correct some format problems for np_window_op.h file
  src/operator/numpy/np_window_op.h
Due: backend

fix some comments
  src/operator/numpy/np_window_op.h
Due: backend

Fix the bug of `MXEnginePushAsyncND` and `MXEnginePushSyncND` (#15751)
  include/mxnet/c_api.h
  src/c_api/c_api.cc
  tests/cpp/engine/threaded_engine_test.cc
Due: backend

Shift cudnn mem vars to private
  src/operator/rnn-inl.h
Due: backend

attempt to solve memory issue
  tests/nightly/test_large_array.py
Due: none

power, exponent, log ops
  tests/nightly/test_large_array.py
Due: none

Fixed np.array() for zero-size inputs
  python/mxnet/ndarray/ndarray.py
  python/mxnet/numpy/multiarray.py
Due: python

Fix the bug of `MXEnginePushAsyncND` and `MXEnginePushSyncND` (#15751) (#15792)
  include/mxnet/c_api.h
  src/c_api/c_api.cc
  tests/cpp/engine/threaded_engine_test.cc
Due: backend

do not use thrust::inclusive_scan on cpu
  src/operator/numpy/np_nonzero_op-inl.h
  src/operator/numpy/np_nonzero_op.cc
  src/operator/numpy/np_nonzero_op.cu
Due: backend
