Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

Fix for handling negative indices in the fusion of slice (#17937)
  src/operator/fusion/fused_op-inl.h
  src/operator/fusion/fused_op.cu
  tests/python/gpu/test_fusion.py
Due: backend

Workaround gnu_tls handshake error on Ubuntu 14.04 Nvidia Docker (#18018)
  ci/docker/install/ubuntu_publish.sh
Due: none

[MXNET-#16795] Byteps-KVStore: Intergrate Byteps into mxnet as new type of kvstore backend (#17555)
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
  ci/jenkins/Jenkinsfile_edge
  ci/jenkins/Jenkinsfile_unix_gpu
  python/mxnet/kvstore/__init__.py
  python/mxnet/kvstore/base.py
  python/mxnet/kvstore/byteps.py
  tests/nightly/dist_device_sync_kvstore_byteps.py
  tools/byteps_launcher.py
  tools/launch.py
Due: python

fix byteps logging and declare tensor
  python/mxnet/kvstore/byteps.py
  tools/byteps_launcher.py
Due: python

check exceptions and return -1
  tools/byteps_launcher.py
Due: none

print logging in CI
  ci/docker/runtime_functions.sh
Due: none

Fix issue of zeros gradients w.r.t. RNN bias when num_layers > 1 (#17872)
  python/mxnet/gluon/rnn/rnn_layer.py
  src/operator/nn/mkldnn/mkldnn_rnn-inl.h
  src/operator/nn/mkldnn/mkldnn_rnn.cc
  tests/python/unittest/test_gluon_rnn.py
Due: python, backend

Fix typo in crash course website (#18010)
  docs/python_docs/python/tutorials/getting-started/crash-course/4-train.md
  docs/python_docs/python/tutorials/getting-started/crash-course/5-predict.md
Due: none

Check min/max reductions supporting version of OpenMP
  src/operator/quantization/mkldnn/mkldnn_quantized_rnn.cc
Due: backend

Support projection feature of LSTM
  docs/static_site/src/pages/api/faq/env_var.md
  src/operator/nn/mkldnn/mkldnn_rnn-inl.h
  src/operator/nn/mkldnn/mkldnn_rnn.cc
  src/operator/rnn.cc
  tests/cpp/operator/mkldnn_test.cc
Due: backend

Support projection feature of LSTM (#17996)
  docs/static_site/src/pages/api/faq/env_var.md
  src/operator/nn/mkldnn/mkldnn_rnn-inl.h
  src/operator/nn/mkldnn/mkldnn_rnn.cc
  src/operator/rnn.cc
  tests/cpp/operator/mkldnn_test.cc
Due: backend

Update 3rdparty/mkldnn remote URL and pin to v1.3 (#17972)
  .gitmodules
  tests/cpp/operator/mkldnn_test.cc
  tests/cpp/unittest.mk
Due: none

build flag
  CMakeLists.txt
  mkldnn.mk
Due: none

add class
  python/mxnet/ndarray_doc.py
  python/mxnet/symbol_doc.py
Due: python

Revert "removed unused files"
  python/mxnet/ndarray_doc.py
  python/mxnet/symbol_doc.py
Due: python

remove all unusued docs except build_doc function
  python/mxnet/ndarray_doc.py
  python/mxnet/symbol_doc.py
Due: python

removed unused files
  python/mxnet/ndarray_doc.py
  python/mxnet/symbol_doc.py
Due: python

nightly test for opperf
  ci/docker/runtime_functions.sh
  tests/nightly/JenkinsfileForBinaries
Due: none

Test update safe_docker_run.py
  ci/safe_docker_run.py
Due: none

Support projection feature for LSTM on CPU (Only Inference) (#17702)
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_rnn-inl.h
  src/operator/nn/mkldnn/mkldnn_rnn.cc
  src/operator/rnn-inl.h
  src/operator/rnn.cc
  src/operator/rnn_impl.h
  tests/python/unittest/test_gluon_rnn.py
Due: backend

Drop type hints from `_slice_along_batch_axis`
  python/mxnet/io/utils.py
Due: python

[MKL-DNN] BatchNormRelu Fusion (#17679)
  python/mxnet/gluon/contrib/nn/basic_layers.py
  python/mxnet/gluon/nn/basic_layers.py
  src/operator/contrib/batch_norm_relu.cc
  src/operator/nn/batch_norm.cc
  src/operator/nn/mkldnn/mkldnn_batch_norm-inl.h
  tests/python/mkl/test_mkldnn.py
Due: python, backend

Remove unused files in Website doc (#16722)
  ci/safe_docker_run.py
  python/mxnet/ndarray_doc.py
  python/mxnet/symbol_doc.py
Due: python

[MKLDNN] Support quantized rnn towards v1.6.x (#18028)
  docs/static_site/src/pages/api/faq/env_var.md
  include/mxnet/op_attr_types.h
  python/mxnet/io/io.py
  python/mxnet/io/utils.py
  src/operator/nn/mkldnn/mkldnn_rnn-inl.h
  src/operator/nn/mkldnn/mkldnn_rnn.cc
  src/operator/quantization/mkldnn/mkldnn_quantize_asym-inl.h
  src/operator/quantization/mkldnn/mkldnn_quantized_rnn-inl.h
  src/operator/quantization/mkldnn/mkldnn_quantized_rnn.cc
  src/operator/quantization/quantize-inl.h
  src/operator/quantization/quantize_asym-inl.h
  src/operator/quantization/quantize_asym.cc
  src/operator/quantization/quantize_graph_pass.cc
  src/operator/quantization/quantize_v2.cc
  src/operator/quantization/quantized_rnn-inl.h
  src/operator/quantization/quantized_rnn.cc
  src/operator/rnn-inl.h
  src/operator/rnn.cc
  tests/python/quantization/test_quantization.py
Due: python, backend

* impl - linalg matrix_rank for cpu and gpu implemented
  benchmark/python/ffi/benchmark_ffi.py
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/numpy/fallback_linalg.py
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/linalg.py
  src/api/operator/numpy/linalg/np_matrix_rank.cc
  src/operator/numpy/linalg/np_matrix_rank-inl.h
  src/operator/numpy/linalg/np_matrix_rank.cc
  src/operator/numpy/linalg/np_matrix_rank.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Due: python, backend

fix conflict
  python/mxnet/symbol/numpy/_symbol.py
Due: python

[Numpy] FFI for linalg.qr and linalg.lstsq
  benchmark/python/ffi/benchmark_ffi.py
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/symbol/numpy/linalg.py
  src/api/operator/numpy/linalg/np_lstsq.cc
  src/api/operator/numpy/linalg/np_qr.cc
  src/operator/numpy/linalg/np_lstsq-inl.h
Due: python, backend

change note
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Due: python

change sth
  src/api/operator/numpy/np_elemwise_broadcast_op.cc
Due: backend

change test
  contrib/tvmop/core/umath.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/mshadow_op.h
  src/operator/numpy/np_elemwise_broadcast_logic_op.cc
  src/operator/numpy/np_elemwise_broadcast_logic_op.cu
  src/operator/operator_tune.cc
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Due: python, backend

tvm error
  benchmark/python/ffi/benchmark_ffi.py
  src/api/operator/numpy/np_elemwise_broadcast_op.cc
Due: backend

change test
  python/mxnet/numpy/multiarray.py
Due: python

logical_ffi
  python/mxnet/ndarray/numpy/_op.py
Due: python

implement some kl
  python/mxnet/gluon/probability/distributions/divergence.py
  tests/python/unittest/test_gluon_probability.py
Due: python

cpp standard
  3rdparty/mshadow/guide/Makefile
  3rdparty/mshadow/guide/mshadow-ps/Makefile
  3rdparty/mshadow/make/mshadow.mk
  3rdparty/mshadow/test/Makefile
  CMakeLists.txt
  Makefile
  amalgamation/Makefile
  amalgamation/amalgamation.py
  ci/docker/Dockerfile.build.armv6
  ci/docker/Dockerfile.build.armv7
  ci/docker/Dockerfile.build.armv8
  ci/docker/Dockerfile.build.jetson
  ci/docker/Dockerfile.build.ubuntu_cpu_r
  ci/docker/Dockerfile.build.ubuntu_cpu_scala
  ci/docker/Dockerfile.build.ubuntu_gpu_cu100
  ci/docker/Dockerfile.build.ubuntu_gpu_cu101
  ci/docker/Dockerfile.build.ubuntu_gpu_cu102
  ci/docker/Dockerfile.build.ubuntu_gpu_cu90
  ci/docker/Dockerfile.build.ubuntu_gpu_cu92
  ci/docker/install/android_arm64_openblas.sh
  ci/docker/install/android_armv7_openblas.sh
  ci/docker/install/centos7_base.sh
  ci/docker/install/centos7_core.sh
  ci/docker/install/ubuntu_gcc8.sh
  ci/docker/runtime_functions.sh
  cpp-package/example/Makefile
  cpp-package/example/example.mk
  cpp-package/example/feature_extract/Makefile
  cpp-package/example/inference/Makefile
  cpp-package/example/inference/inference.mk
  example/image-classification/predict-cpp/Makefile
  example/multi_threaded_inference/Makefile
  example/rnn/large_word_lm/setup.py
  python/setup.py
  src/operator/fusion/fused_op.cu
  tests/cpp/unittest.mk
Due: backend

Fix out of bounds access in SoftmaxGradOpType
  src/operator/nn/softmax-inl.h
Due: backend

Disable tests invoking NumpyBooleanAssignForwardCPU
  src/operator/numpy/np_boolean_mask_assign.cc
  tests/python/unittest/test_numpy_ndarray.py
  tests/python/unittest/test_numpy_op.py
Due: backend
