Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

creating node only if it is not an input to subgraph
  src/operator/subgraph/build_subgraph.cc
Due: backend

fix typo and add mutable example
  example/extensions/lib_custom_op/README.md
Due: none

creating object based on var_name only
  src/operator/subgraph/build_subgraph.cc
Due: backend

updating ConnectSubgraphOutputs for mkldnn_elemwisemul_post_quantize_property.h
  src/operator/subgraph/mkldnn/mkldnn_elemwisemul_post_quantize_property.h
Due: backend

add batchify functions
  python/mxnet/gluon/data/batchify.py
  python/mxnet/gluon/data/dataloader.py
  src/io/batchify.cc
  src/io/image_iter_common.h
  src/io/iter_prefetcher.h
Due: python, backend

add appendBatchify
  python/mxnet/gluon/data/batchify.py
Due: python

Implement all miscellaneous ops (#17511)
  benchmark/opperf/nd_operations/misc_operators.py
  benchmark/opperf/opperf.py
  benchmark/opperf/rules/default_params.py
  benchmark/opperf/utils/benchmark_utils.py
  benchmark/opperf/utils/op_registry_utils.py
  benchmark/opperf/utils/profiler_utils.py
Due: none

fix index merge issue
  benchmark/opperf/rules/default_params.py
Due: none

remove fixed random seed
  tests/cpp/include/test_mkldnn.h
Due: none

fix batchify input array
  include/mxnet/c_api.h
  python/mxnet/gluon/data/_internal.py
  src/c_api/c_api.cc
Due: python, backend

Add cmake build support for macOS static build.
  config/distribution/darwin_cpu.cmake
  tools/dependencies/curl.sh
Due: none

add isposinf isneginf isfinite
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/mshadow_op.h
  src/operator/numpy/np_elemwise_unary_op_basic.cc
  src/operator/numpy/np_elemwise_unary_op_basic.cu
  src/operator/operator_tune.cc
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Due: python, backend

use py3 for kvstore tests
  ci/docker/runtime_functions.sh
Due: none

op : insert by slice
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_insert_op-inl.h
  src/operator/numpy/np_insert_op_scalar-inl.h
  src/operator/numpy/np_insert_op_scalar.cc
  src/operator/numpy/np_insert_op_scalar.cu
  src/operator/numpy/np_insert_op_slice-inl.h
  src/operator/numpy/np_insert_op_slice.cc
  src/operator/numpy/np_insert_op_slice.cu
  src/operator/numpy/np_insert_op_tensor.cc
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Due: python, backend

use py3 for kvstore tests (#17593)
  ci/docker/runtime_functions.sh
Due: none

upgrade sphinx and autodocsumm
  docs/python_docs/environment.yml
Due: none

Speed up backward compute in CPU
  src/operator/nn/dropout-inl.h
Due: backend

Fix transformer.cu
  src/operator/contrib/transformer.cu
Due: backend

fix CD and remove leftover from #15990 (#17551)
  cd/mxnet_lib/mxnet_lib_pipeline.groovy
  cd/python/pypi/Jenkins_pipeline.groovy
  cd/python/pypi/pypi_package.sh
  ci/docker/runtime_functions.sh
Due: none

move error to console rather than system.err
  ci/Jenkinsfile_utils.groovy
Due: none

Add Github Action
  .github/workflows/os_x_staticbuild.yml
Due: none

add isposinf isneginf isfinite (#17563)
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/mshadow_op.h
  src/operator/numpy/np_elemwise_unary_op_basic.cc
  src/operator/numpy/np_elemwise_unary_op_basic.cu
  src/operator/operator_tune.cc
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Due: python, backend

quantile_scalar (#17572)
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_percentile_op-inl.h
  src/operator/numpy/np_percentile_op.cc
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Due: python, backend

Improve speed of backward
  src/operator/nn/dropout-inl.h
Due: backend

pull out aux data from sparse NDArray
  example/extensions/lib_subgraph/subgraph_lib.cc
  include/mxnet/lib_api.h
  src/c_api/c_api.cc
Due: backend

Remove unncessary block in backward
  src/operator/nn/dropout-inl.h
Due: backend

Implement Weibull backward
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/random.py
  src/operator/numpy/random/np_weibull_op.cc
  src/operator/numpy/random/np_weibull_op.cu
  src/operator/numpy/random/np_weibull_op.h
  tests/python/unittest/test_numpy_op.py
Due: python, backend

Added more sparse arguments to API interface
  include/mxnet/lib_api.h
  src/c_api/c_api.cc
Due: backend

Fix storage type infer of softmax backward (#17576)
  src/operator/nn/softmax.cc
Due: backend

fix code style problem
  src/operator/numpy/np_insert_op-inl.h
  src/operator/numpy/np_insert_op_scalar-inl.h
  src/operator/numpy/np_insert_op_slice-inl.h
  src/operator/numpy/np_insert_op_tensor-inl.h
  src/operator/numpy/np_insert_op_tensor.cc
Due: backend

add RecordFileDataset in backend
  include/mxnet/io.h
  python/mxnet/gluon/data/dataset.py
  src/io/dataset.cc
Due: python, backend

add ImageRecordDataset to backend
  src/io/dataset.cc
Due: backend

Add Bfloat16
  include/mxnet/tensor_blob.h
  plugin/caffe/caffe_data_iter.cc
  plugin/caffe/caffe_loss.cc
  plugin/caffe/caffe_loss.cu
  plugin/caffe/caffe_op.cc
  plugin/caffe/caffe_op.cu
  python/mxnet/contrib/amp/amp.py
  python/mxnet/contrib/amp/lists/__init__.py
  python/mxnet/contrib/amp/lists/symbol_bf16.py
  python/mxnet/contrib/amp/lists/symbol_fp16.py
  python/mxnet/ndarray/ndarray.py
  python/mxnet/symbol/register.py
  src/common/utils.h
  src/engine/naive_engine.cc
  src/engine/threaded_engine.cc
  src/engine/threaded_engine.h
  src/executor/graph_executor.cc
  src/executor/graph_executor.h
  src/imperative/imperative_utils.h
  src/io/image_iter_common.h
  src/nnvm/plan_memory.cc
  src/operator/mxnet_op.h
  src/operator/nn/batch_norm.cc
  src/operator/nn/mkldnn/mkldnn_act.cc
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/operator_common.h
  src/operator/operator_tune-inl.h
  src/operator/operator_tune.cc
  src/operator/tensor/amp_cast.cc
  src/operator/tensor/amp_cast.h
  src/operator/tensor/elemwise_sum.cc
Due: python, backend

rebase bf16 mkldnn1.0
  src/operator/nn/mkldnn/mkldnn_act.cc
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/tensor/amp_cast.h
Due: backend

mshadow support bf16
  3rdparty/mshadow/mshadow/base.h
  3rdparty/mshadow/mshadow/bfloat.h
Due: none

resolve fp32 ip bwd bug
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_fully_connected.cc
  src/operator/tensor/elemwise_sum.cc
Due: backend

support bf16 gemm
  example/gluon/mnist/mnist.py
  python/mxnet/contrib/amp/lists/symbol_bf16.py
  src/operator/nn/fully_connected.cc
Due: python, backend

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
