Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

Fix lint
  src/operator/nn/mkldnn/mkldnn_lrn-inl.h
Due: backend

fix inv test flakiness using random matrices generated by SVD (#16782)
  tests/python/unittest/test_numpy_op.py
Due: none

Update resize.cu
  src/operator/image/resize.cu
Due: backend

[Numpy] Add sampling method for bernoulli (#16638)
  python/mxnet/base.py
  python/mxnet/ndarray/numpy_extension/__init__.py
  python/mxnet/ndarray/numpy_extension/random.py
  python/mxnet/numpy_extension/__init__.py
  python/mxnet/symbol/numpy_extension/__init__.py
  python/mxnet/symbol/numpy_extension/random.py
  src/operator/numpy/random/dist_common.h
  src/operator/numpy/random/np_bernoulli_op.cc
  src/operator/numpy/random/np_bernoulli_op.cu
  src/operator/numpy/random/np_bernoulli_op.h
  src/operator/numpy/random/np_normal_op.h
  src/operator/numpy/random/np_uniform_op.h
  tests/python/unittest/test_numpy_op.py
Due: python, backend

[Done] BilinearResize2D optimized (#16292)
  python/mxnet/gluon/data/vision/transforms.py
  src/operator/contrib/bilinear_resize-inl.cuh
  src/operator/contrib/bilinear_resize-inl.h
  src/operator/contrib/bilinear_resize.cc
  src/operator/contrib/bilinear_resize.cu
  src/operator/image/resize-inl.h
  src/operator/image/resize.cu
  tests/python/gpu/test_gluon_transforms.py
  tests/python/gpu/test_operator_gpu.py
  tests/python/unittest/test_operator.py
Due: python, backend

[MXNET-1426] Fix the wrong result of sum, mean, argmin, argmax when inputs contain inf or nan (#16234)
  3rdparty/mshadow/mshadow/base.h
  3rdparty/mshadow/mshadow/extension/reduce_with_axis.h
  3rdparty/mshadow/mshadow/half.h
  julia/src/ndarray/reduction.jl
  julia/test/unittest/ndarray.jl
  python/mxnet/ndarray/ndarray.py
  src/operator/contrib/allclose_op-inl.h
  src/operator/mshadow_op.h
  src/operator/tensor/elemwise_unary_op.h
  tests/python/unittest/test_ndarray.py
  tests/python/unittest/test_operator.py
Due: python, backend

Fix (#16781)
  src/executor/pointwise_fusion_pass.cc
Due: backend

Nudging test.
  docs/python_docs/python/tutorials/index.rst
Due: none

a new round of link fixes
  docs/python_docs/python/tutorials/getting-started/gluon_from_experiment_to_deployment.md
  docs/python_docs/python/tutorials/getting-started/logistic_regression_explained.md
  docs/python_docs/python/tutorials/getting-started/to-mxnet/pytorch.md
  docs/python_docs/python/tutorials/index.rst
  docs/python_docs/python/tutorials/packages/gluon/blocks/activations/activations.md
  docs/python_docs/python/tutorials/packages/gluon/index.rst
  docs/python_docs/python/tutorials/packages/optimizer/index.md
  docs/static_site/src/pages/api/cpp/docs/tutorials/mxnet_cpp_inference_tutorial.md
  docs/static_site/src/pages/api/faq/float16.md
  julia/docs/mkdocs.yml
  julia/docs/src/tutorial/char-lstm.md
Due: none

Update julia/docs/src/tutorial/char-lstm.md
  julia/docs/src/tutorial/char-lstm.md
Due: none

Speed fused_op compilation by caching ptx and jit-compiled functions (#16783)
  src/operator/fusion/fused_op-inl.h
  src/operator/fusion/fused_op.cc
  src/operator/fusion/fused_op.cu
  src/operator/fusion/fused_op.h
  tests/python/gpu/test_fusion.py
Due: backend

Support bool in fusion
  src/operator/fusion/fused_op.cu
  src/operator/fusion/fused_op.h
Due: backend

Added tests
  tests/python/gpu/test_fusion.py
Due: none

Fix SliceChannel Type inference (#16748)
  example/automatic-mixed-precision/amp_model_conversion.py
  src/operator/elemwise_op_common.h
  src/operator/slice_channel-inl.h
  tests/python/gpu/test_contrib_amp.py
Due: backend

Add unoptimized symbol to executor for sharing
  src/executor/graph_executor.cc
  src/executor/graph_executor.h
  tests/python/gpu/test_fusion.py
Due: backend

Link fixes4 (#16764)
  docs/python_docs/python/tutorials/getting-started/gluon_from_experiment_to_deployment.md
  docs/python_docs/python/tutorials/getting-started/logistic_regression_explained.md
  docs/python_docs/python/tutorials/getting-started/to-mxnet/pytorch.md
  docs/python_docs/python/tutorials/index.rst
  docs/python_docs/python/tutorials/packages/gluon/blocks/activations/activations.md
  docs/python_docs/python/tutorials/packages/gluon/index.rst
  docs/python_docs/python/tutorials/packages/optimizer/index.md
  docs/static_site/src/pages/api/cpp/docs/tutorials/mxnet_cpp_inference_tutorial.md
  docs/static_site/src/pages/api/faq/float16.md
  julia/docs/mkdocs.yml
  julia/docs/src/tutorial/char-lstm.md
Due: none

custom op full_like
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/numpy_op_fallback.py
  python/mxnet/symbol/numpy/_symbol.py
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Due: python

fix mean output type for integer inputs
  src/ndarray/ndarray_function-inl.h
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/tensor/broadcast_reduce-inl.h
  src/operator/tensor/broadcast_reduce_op.h
  tests/python/unittest/test_numpy_op.py
Due: backend

det test
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/numpy/linalg.py
  python/mxnet/symbol/numpy/linalg.py
  src/operator/tensor/la_op.cc
  tests/python/unittest/test_numpy_op.py
Due: python, backend

enable for windows
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/tensor/broadcast_reduce-inl.cuh
  src/operator/tensor/broadcast_reduce-inl.h
  tests/python/unittest/test_numpy_op.py
Due: backend

slogdet test
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/numpy/linalg.py
  python/mxnet/symbol/numpy/linalg.py
  src/operator/tensor/la_op.h
  tests/python/unittest/test_numpy_op.py
Due: python, backend

use same shape
  contrib/tvmop/core/umath/core.py
Due: none

[MXNET-1421] Added (CuDNN)BatchNorm operator to the list of mirrored operators (#16022)
  src/executor/graph_executor.cc
  src/operator/nn/cudnn/cudnn_batch_norm-inl.h
Due: backend

migrate cudaMemcpy to cudaMemcpyAsync+cudaStreamSynchronize
  src/kvstore/kvstore_utils.cu
  src/ndarray/ndarray_function.cu
  src/operator/contrib/adamw-inl.h
  src/operator/contrib/adamw.cc
  src/operator/contrib/adamw.cu
  src/operator/contrib/boolean_mask.cu
  src/operator/contrib/index_array.cu
  src/operator/contrib/multi_proposal.cu
  src/operator/contrib/proposal.cu
  src/operator/numpy/np_boolean_mask_assign.cu
  src/operator/numpy/np_nonzero_op.cu
  src/operator/numpy/np_unique_op.cu
  src/operator/numpy/random/dist_common.cc
  src/operator/numpy/random/dist_common.cu
  src/operator/numpy/random/dist_common.h
  src/operator/numpy/random/np_bernoulli_op.h
  src/operator/numpy/random/np_multinomial_op.cu
  src/operator/numpy/random/np_multinomial_op.h
  src/operator/numpy/random/np_normal_op.h
  src/operator/tensor/cast_storage-inl.cuh
  src/operator/tensor/dot-inl.cuh
  src/operator/tensor/elemwise_binary_op_basic.cu
  src/operator/tensor/indexing_op.cu
  src/operator/tensor/matrix_op.cu
  src/operator/tensor/square_sum.cu
Due: backend

Fix numpy-compatible mean output type for integer inputs (#16792)
  src/ndarray/ndarray_function-inl.h
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/tensor/broadcast_reduce-inl.cuh
  src/operator/tensor/broadcast_reduce-inl.h
  src/operator/tensor/broadcast_reduce_op.h
  tests/python/unittest/test_numpy_op.py
Due: backend

[Numpy] Fix collect_params().zero_grad() in gluon numpy interface (#16716)
  python/mxnet/gluon/parameter.py
  tests/python/unittest/test_numpy_gluon.py
Due: python

migrate cudaMemcpy to cudaMemcpyAsync+cudaStreamSynchronize (#16790)
  src/kvstore/kvstore_utils.cu
  src/ndarray/ndarray_function.cu
  src/operator/contrib/adamw-inl.h
  src/operator/contrib/adamw.cc
  src/operator/contrib/adamw.cu
  src/operator/contrib/boolean_mask.cu
  src/operator/contrib/index_array.cu
  src/operator/contrib/multi_proposal.cu
  src/operator/contrib/proposal.cu
  src/operator/numpy/np_boolean_mask_assign.cu
  src/operator/numpy/np_nonzero_op.cu
  src/operator/numpy/np_unique_op.cu
  src/operator/numpy/random/dist_common.cc
  src/operator/numpy/random/dist_common.cu
  src/operator/numpy/random/dist_common.h
  src/operator/numpy/random/np_bernoulli_op.h
  src/operator/numpy/random/np_multinomial_op.cu
  src/operator/numpy/random/np_multinomial_op.h
  src/operator/numpy/random/np_normal_op.h
  src/operator/tensor/cast_storage-inl.cuh
  src/operator/tensor/dot-inl.cuh
  src/operator/tensor/elemwise_binary_op_basic.cu
  src/operator/tensor/indexing_op.cu
  src/operator/tensor/matrix_op.cu
  src/operator/tensor/square_sum.cu
Due: backend

Add example and documentation for multi threaded inference
  cpp-package/include/mxnet-cpp/ndarray.hpp
  docs/static_site/src/pages/api/cpp/docs/tutorials/multi_threaded_inference.md
  example/multi_threaded_inference/Makefile
  example/multi_threaded_inference/README.md
  example/multi_threaded_inference/multi_threaded_inference.cc
Due: none

Add LICENSE
  docs/static_site/src/pages/api/cpp/docs/tutorials/multi_threaded_inference.md
  example/multi_threaded_inference/Makefile
  example/multi_threaded_inference/multi_threaded_inference.cc
Due: none

Static link MKL-DNN library (#16731)
  CMakeLists.txt
  Makefile
  cd/mxnet_lib/dynamic/Jenkins_pipeline.groovy
  cd/mxnet_lib/static/Jenkins_pipeline.groovy
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
  mkldnn.mk
  scala-package/assembly/src/main/assembly/assembly.xml
  scala-package/core/src/main/scala/org/apache/mxnet/util/NativeLibraryLoader.scala
  tests/nightly/JenkinsfileForBinaries
  tests/python/mkl/test_mkldnn.py
  tests/python/mkl/test_mkldnn_install.py
  tools/pip/setup.py
  tools/staticbuild/build_lib.sh
Due: clojure

Add get_model.py
  example/multi_threaded_inference/get_model.py
Due: none

Add license for README
  example/multi_threaded_inference/README.md
Due: none

Remove dependency on tvmop.conf
  3rdparty/mshadow/mshadow/tensor.h
  python/mxnet/tvmop.py
Due: python
