Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

fix log env name
  src/common/utils.h
Due: backend

Adapt to Jenkinsfile refactoring (cont.)
  ci/docker/runtime_functions.sh
Due: none

Support full convention in quantized pooling (#13260)
  example/quantization/imagenet_gen_qsym_mkldnn.py
  src/operator/quantization/quantized_pooling.cc
  tests/python/quantization/test_quantization.py
Due: backend

add check_format
  tests/python/unittest/test_dgl_graph.py
Due: none

Doc update and broken link fix
  docs/tutorials/java/mxnet_java_on_intellij.md
Due: none

Stash missing cython modules
  ci/jenkins/Jenkins_steps.groovy
Due: none

Add utility slave
  Jenkinsfile
  ci/Jenkinsfile_docker_cache
  ci/Jenkinsfile_utils.groovy
  ci/jenkins/Jenkinsfile_centos_cpu
  ci/jenkins/Jenkinsfile_centos_gpu
  ci/jenkins/Jenkinsfile_clang
  ci/jenkins/Jenkinsfile_edge
  ci/jenkins/Jenkinsfile_miscellaneous
  ci/jenkins/Jenkinsfile_sanity
  ci/jenkins/Jenkinsfile_unix_cpu
  ci/jenkins/Jenkinsfile_unix_gpu
  ci/jenkins/Jenkinsfile_website
  ci/jenkins/Jenkinsfile_windows_cpu
  ci/jenkins/Jenkinsfile_windows_gpu
  docs/Jenkinsfile
  docs/Jenkinsfile-dev
  tests/nightly/Jenkinsfile
  tests/nightly/JenkinsfileForBinaries
  tests/nightly/broken_link_checker_test/JenkinsfileForBLC
  tests/nightly/model_backwards_compatibility_check/JenkinsfileForMBCC
Due: none

Fixes #13386 - Refer Warnings
  contrib/clojure-package/src/dev/generator.clj
  contrib/clojure-package/src/org/apache/clojure_mxnet/ndarray.clj
  contrib/clojure-package/src/org/apache/clojure_mxnet/symbol.clj
  contrib/clojure-package/test/good-test-ndarray.clj
  contrib/clojure-package/test/good-test-symbol.clj
Due: none

do not wait for the workers to join, and kill any alive wokers as soon as possible
  python/mxnet/gluon/data/dataloader.py
Due: python

Add utility slave (#13383)
  Jenkinsfile
  ci/Jenkinsfile_docker_cache
  ci/Jenkinsfile_utils.groovy
  ci/jenkins/Jenkinsfile_centos_cpu
  ci/jenkins/Jenkinsfile_centos_gpu
  ci/jenkins/Jenkinsfile_clang
  ci/jenkins/Jenkinsfile_edge
  ci/jenkins/Jenkinsfile_miscellaneous
  ci/jenkins/Jenkinsfile_sanity
  ci/jenkins/Jenkinsfile_unix_cpu
  ci/jenkins/Jenkinsfile_unix_gpu
  ci/jenkins/Jenkinsfile_website
  ci/jenkins/Jenkinsfile_windows_cpu
  ci/jenkins/Jenkinsfile_windows_gpu
  docs/Jenkinsfile
  docs/Jenkinsfile-dev
  tests/nightly/Jenkinsfile
  tests/nightly/JenkinsfileForBinaries
  tests/nightly/broken_link_checker_test/JenkinsfileForBLC
  tests/nightly/model_backwards_compatibility_check/JenkinsfileForMBCC
Due: none

Remove copy of cub subrepo
  .gitmodules
Due: none

Trigger
  src/operator/nn/cudnn/cudnn_pooling-inl.h
Due: backend

Add nvidia_cub repo
  .gitmodules
Due: none

Update references to cub
  CMakeLists.txt
  LICENSE
  Makefile
Due: none

A few operators on graphs stored as CSR (#13290)
  docs/api/python/ndarray/contrib.md
  src/operator/contrib/dgl_graph.cc
  tests/python/unittest/test_contrib_operator.py
  tests/python/unittest/test_dgl_graph.py
Due: backend

Fix ONNX export to support multi-output graphs
  python/mxnet/contrib/onnx/mx2onnx/export_onnx.py
Due: python

Fixes #13386 - Refer Warnings (#13387)
  contrib/clojure-package/src/dev/generator.clj
  contrib/clojure-package/src/org/apache/clojure_mxnet/ndarray.clj
  contrib/clojure-package/src/org/apache/clojure_mxnet/symbol.clj
  contrib/clojure-package/test/good-test-ndarray.clj
  contrib/clojure-package/test/good-test-symbol.clj
Due: none

add csr sample op
  src/operator/contrib/dgl_graph.cc
  tests/python/unittest/test_dgl_graph.py
Due: backend

Updated the paths for images for java tutorial (#13361)
  docs/tutorials/java/mxnet_java_on_intellij.md
Due: none

:memo: Fixes #13388 Adds Clojure to MXNet installation docs
  docs/install/index.md
Due: none

Fix/env disable mkldnn cache map (#13324)
  docs/faq/env_var.md
  src/common/utils.h
  src/operator/nn/mkldnn/mkldnn_act.cc
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_batch_norm-inl.h
  src/operator/nn/mkldnn/mkldnn_concat.cc
  src/operator/nn/mkldnn/mkldnn_convolution.cc
  src/operator/nn/mkldnn/mkldnn_deconvolution.cc
  src/operator/nn/mkldnn/mkldnn_lrn-inl.h
  src/operator/nn/mkldnn/mkldnn_pooling.cc
Due: backend

[MXNET-703] Install CUDA 10 compatible cmake
  ci/docker/install/ubuntu_core.sh
Due: none

- use OpenBLAS, lapack & OpenCV from conan
  CMakeLists.txt
  cmake/Modules/FindOpenBLAS.cmake
  conanfile.py
Due: none

add adjacency.
  src/operator/contrib/dgl_graph-inl.h
  src/operator/contrib/dgl_graph.cc
  tests/python/unittest/test_dgl_graph.py
Due: backend

fix lint.
  src/operator/contrib/dgl_graph-inl.h
Due: backend

fix compile error in some platform
  src/operator/contrib/dgl_graph.cc
Due: backend

update
  src/operator/contrib/dgl_graph.cc
Due: backend

update openmp
  src/operator/contrib/dgl_graph.cc
Due: backend

dynamic omp for dot
  src/operator/mxnet_op.h
  src/operator/tensor/dot-inl.h
Due: backend

add doc
  src/operator/tensor/dot-inl.h
Due: backend

Fix javadoc for infer package and minor install doc fix
  docs/install/java_setup.md
  docs/mxdoc.py
Due: none

Minor path fix
  docs/mxdoc.py
Due: none

add GPU impl.
  src/operator/contrib/dgl_graph-inl.h
  src/operator/contrib/dgl_graph.cc
  src/operator/contrib/dgl_graph.cu
Due: backend

- add license to the conanfile.py
  conanfile.py
Due: none

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
