Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

Changing paths to be relative
  docs/api/java/index.md
  docs/install/java_setup.md
Due: none

Minor formatting fixes
  docs/_static/mxnet-theme/navbar.html
  docs/install/build_from_source.md
Due: none

add makefile change
  Makefile
Due: none

make backend work
  Makefile
Due: none

add MKLDNN build for Scala/Java
  Jenkinsfile
  Makefile
  ci/docker/runtime_functions.sh
Due: none

Update maven repo to nightly build so that java will be available prior to 1.4.0 release
  docs/api/java/index.md
  docs/install/java_setup.md
Due: none

remove unittest
  Jenkinsfile
  ci/docker/runtime_functions.sh
Due: none

add inceptin in jenkins and ci_test
  Jenkinsfile
  cpp-package/tests/ci_test.sh
Due: none

remove ci test
  cpp-package/tests/ci_test.sh
Due: none

Address apeforest comments
  src/operator/nn/mkldnn/mkldnn_concat-inl.h
  src/operator/quantization/quantized_concat.cc
Due: backend

retrigger.
  src/operator/contrib/dgl_graph.cc
Due: backend

address comments.
  src/operator/contrib/dgl_graph.cc
Due: backend

Add dtype when copy parameters
  src/c_api/c_predict_api.cc
Due: backend

Adding java tutorial index to test_sanity_tutorials whitelist
  tests/tutorials/test_sanity_tutorials.py
Due: none

Fix link to javadocs
  docs/api/java/index.md
Due: none

add round activation to be valid
  python/mxnet/gluon/nn/binary_layers.py
Due: python

doc fix, check fix, whitespace remove
  python/mxnet/ndarray/random.py
  src/operator/random/sample_op.h
  tests/python/unittest/test_random.py
Due: python, backend

adding default context
  tests/python/unittest/test_operator.py
Due: none

change env var name to MXNET_MKLDNN_CACHE_NUM
  docs/faq/env_var.md
  src/operator/nn/mkldnn/mkldnn_base-inl.h
Due: backend

force static for mkldnn lib
  CMakeLists.txt
Due: none

turn of mkldnn on arm builds
  ci/docker/runtime_functions.sh
Due: none

Add timing output to python tests
  ci/docker/runtime_functions.sh
Due: none

Replace fileread with reading from stdout (#13355)
  ci/Jenkinsfile_utils.groovy
Due: none

Fix wrong parameter and add windows
  ci/docker/runtime_functions.sh
  ci/windows/test_py2_cpu.ps1
  ci/windows/test_py2_gpu.ps1
  ci/windows/test_py3_cpu.ps1
  ci/windows/test_py3_gpu.ps1
Due: none

Replace floats with ints
  ci/docker/runtime_functions.sh
  ci/windows/test_py2_cpu.ps1
  ci/windows/test_py2_gpu.ps1
  ci/windows/test_py3_cpu.ps1
  ci/windows/test_py3_gpu.ps1
Due: none

Fixing spelling mistakes
  docs/tutorials/basic/reshape_transpose.md
Due: none

adding test for softmax operator for inputs with large magnitude (#13328)
  tests/python/mkl/test_mkldnn.py
  tests/python/unittest/test_operator.py
Due: none

Add timing output to python tests (#13377)
  ci/docker/runtime_functions.sh
  ci/windows/test_py2_cpu.ps1
  ci/windows/test_py2_gpu.ps1
  ci/windows/test_py3_cpu.ps1
  ci/windows/test_py3_gpu.ps1
Due: none

add descriptive error message
  src/ndarray/ndarray_function.cc
Due: backend

fix a bug in test.
  tests/python/unittest/test_dgl_graph.py
Due: none

DO NOT MERGE: Test performance of MKLDNN without Debug
  ci/docker/runtime_functions.sh
Due: none

Adapt to Jenkinsfile refactoring
  Jenkinsfile
  ci/jenkins/Jenkins_steps.groovy
Due: none

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
