Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

Pins version of scikit-learn for python2 due to drop in support (#14928)
  ci/docker/install/ubuntu_tutorials.sh
Due: none

Updates setting of cudnn version to a position in the Dockerfile that will have the least impact on caching
  ci/docker/Dockerfile.build.centos7_gpu
  ci/docker/Dockerfile.build.ubuntu_gpu_cu100
  ci/docker/Dockerfile.build.ubuntu_gpu_cu90
  ci/docker/Dockerfile.build.ubuntu_gpu_cu92
Due: none

Pins version of scikit-learn for python2 due to drop in support (#14928) (#14929)
  ci/docker/install/ubuntu_tutorials.sh
Due: none

set col_buffer_shape
  src/operator/nn/deconvolution-inl.h
Due: backend

dump data from gpu to cpu to debug
  src/operator/nn/deconvolution-inl.h
Due: backend

debug
  src/operator/nn/deconvolution-inl.h
Due: backend

Address comments from Da
  src/executor/graph_executor.cc
Due: backend

Deprecate NDArrayCollector and instead use ResourceScope (#14780)
  scala-package/core/src/main/scala/org/apache/mxnet/NDArray.scala
  scala-package/core/src/main/scala/org/apache/mxnet/NDArrayCollector.scala
  scala-package/core/src/main/scala/org/apache/mxnet/ResourceScope.scala
  scala-package/core/src/main/scala/org/apache/mxnet/io/NDArrayIter.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/benchmark/ScalaInferenceBenchmark.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/cnntextclassification/CNNTextClassification.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/customop/ExampleCustomOp.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/gan/GanMnist.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/infer/imageclassifier/ImageClassifierExample.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/infer/objectdetector/SSDClassifierExample.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/multitask/ExampleMultiTask.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/neuralstyle/NeuralStyle.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/neuralstyle/end2end/BoostInference.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/neuralstyle/end2end/BoostTrain.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/rnn/LstmBucketing.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/rnn/TestCharRnn.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/rnn/TrainCharRnn.scala
  scala-package/examples/src/test/scala/org/apache/mxnetexamples/cnntextclassification/CNNClassifierExampleSuite.scala
  scala-package/examples/src/test/scala/org/apache/mxnetexamples/gan/GanExampleSuite.scala
  scala-package/examples/src/test/scala/org/apache/mxnetexamples/neuralstyle/NeuralStyleSuite.scala
  scala-package/examples/src/test/scala/org/apache/mxnetexamples/rnn/ExampleRNNSuite.scala
Due: clojure

Re-enable static cached_op optimization
  src/executor/attach_op_execs_pass.cc
  src/executor/exec_pass.h
  src/imperative/cached_op.cc
  src/imperative/imperative_utils.h
Due: backend

[MXNET-857] Add initial NVTX profiler implementation (#12328)
  CMakeLists.txt
  Makefile
  amalgamation/amalgamation.py
  cmake/Modules/FindNVTX.cmake
  docs/api/python/profiler/profiler.md
  docs/tutorials/python/profiler.md
  docs/tutorials/python/profiler_nvprof.png
  docs/tutorials/python/profiler_nvprof_zoomed.png
  docs/tutorials/python/profiler_winograd.png
  make/config.mk
  src/profiler/nvtx.cc
  src/profiler/nvtx.h
  src/profiler/profiler.h
  tests/python/profiling/simple_forward.py
  tests/python/profiling/test_nvtx.py
Due: backend

upgrade the version to 2.0.2 (#14621)
  tools/dependencies/libturbojpeg.sh
Due: none

Updates to cudnn package installation (#14923)
  ci/docker/Dockerfile.build.centos7_gpu
  ci/docker/Dockerfile.build.ubuntu_gpu_cu100
  ci/docker/Dockerfile.build.ubuntu_gpu_cu90
  ci/docker/Dockerfile.build.ubuntu_gpu_cu92
  ci/docker/install/centos7_cudnn.sh
Due: none

Update DownloadMKLML.cmake
  cmake/DownloadMKLML.cmake
Due: none

[MXNET-1352] Allow dynamic shape in while_loop and if conditionals (#14393)
  include/mxnet/ndarray.h
  python/mxnet/executor.py
  src/executor/graph_executor.cc
  src/executor/graph_executor.h
  src/nnvm/plan_memory.cc
  src/operator/control_flow.cc
  tests/python/unittest/test_contrib_control_flow.py
Due: python, backend

Update Jenkins_steps.groovy
  ci/jenkins/Jenkins_steps.groovy
Due: none

Add numpy linspace (#14927)
  python/mxnet/ndarray/ndarray.py
  python/mxnet/symbol/symbol.py
  src/operator/tensor/init_op.cc
  src/operator/tensor/init_op.cu
  src/operator/tensor/init_op.h
  tests/python/unittest/test_ndarray.py
Due: python, backend

fix comments
  docs/faq/env_var.md
  docs/tutorials/mkldnn/operator_list.md
Due: none

add inverse cpu
  src/operator/c_lapack_api.cc
  src/operator/c_lapack_api.h
  src/operator/linalg.h
  src/operator/linalg_impl.h
  src/operator/tensor/la_op-inl.h
  src/operator/tensor/la_op.cc
Due: backend

add comment
  src/operator/tensor/la_op-inl.h
Due: backend

Add RemoveAmpCast in a separate c_api function, add the option in symbol.save
  include/mxnet/c_api.h
  python/mxnet/symbol/symbol.py
  src/c_api/c_api_symbolic.cc
Due: python, backend

add remove_amp_cast option (True by default) to everyway of saving symbol
  python/mxnet/gluon/block.py
  python/mxnet/model.py
  python/mxnet/module/module.py
  python/mxnet/symbol/symbol.py
Due: python

Fix
  python/mxnet/model.py
Due: python

update function call to col2im
  src/operator/nn/deconvolution-inl.h
Due: backend

add inverse backward cpu
  src/operator/linalg_impl.h
  src/operator/tensor/la_op-inl.h
  src/operator/tensor/la_op.cc
  src/operator/tensor/la_op.h
Due: backend

fix backward pass
  src/operator/nn/deconvolution-inl.h
Due: backend

comment out debug message
  src/operator/nn/deconvolution-inl.h
Due: backend

Fix reshape to add in-place back (#14903)
  src/operator/nn/mkldnn/mkldnn_ops-inl.h
  src/operator/nn/mkldnn/mkldnn_reshape.cc
  src/operator/tensor/matrix_op-inl.h
  src/operator/tensor/matrix_op.cc
  tests/python/mkl/test_mkldnn.py
Due: backend

use mx.context.num_gpus instead of mx.test_utils.list_gpus in MF recommender example
  example/recommenders/demo1-MF.ipynb
Due: none

Improve order of execution of install scripts. Remove uneccesary environment variable. /usr/loca/lib already in ld.so.conf*
  ci/docker/Dockerfile.build.ubuntu_base_cpu
  ci/docker/Dockerfile.build.ubuntu_build_cuda
  ci/docker/Dockerfile.build.ubuntu_cpu
  ci/docker/Dockerfile.build.ubuntu_gpu_cu100
  ci/docker/Dockerfile.build.ubuntu_nightly_gpu
Due: none

Fix
  ci/docker/Dockerfile.build.ubuntu_base_gpu
  ci/docker/Dockerfile.build.ubuntu_gpu_cu100
  ci/docker/Dockerfile.build.ubuntu_gpu_cu90
  ci/docker/Dockerfile.build.ubuntu_gpu_cu92
Due: none

address comments
  src/operator/mkl_functions-inl.h
Due: backend

coding style
  src/operator/mkl_functions-inl.h
  src/operator/tensor/elemwise_unary_op.h
Due: backend
