Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

Update adversary attack generation example (#12918)
  example/adversary/README.md
  example/adversary/adversary_generation.ipynb
  python/mxnet/test_utils.py
Due: python

applies Andrew's change
  scala-package/examples/src/main/java/org/apache/mxnetexamples/javaapi/benchmark/JavaBenchmark.java
  scala-package/infer/src/main/scala/org/apache/mxnet/infer/javaapi/ObjectDetector.scala
Due: clojure

quick fix binary sign function with global variable
  python/mxnet/gluon/nn/binary_layers.py
Due: python

Disable travis tests
  .travis.yml
Due: none

Support large integer in operators
  src/operator/mxnet_op.h
  src/operator/tensor/indexing_op.cc
  src/operator/tensor/indexing_op.h
  src/operator/tensor/init_op.h
Due: backend

fix clojure test issue
  scala-package/examples/src/main/java/org/apache/mxnetexamples/javaapi/benchmark/JavaBenchmark.java
Due: clojure

Revert "use cudnnGet instead of cudnnFind when determinism required"
  src/operator/nn/cudnn/cudnn_convolution-inl.h
  src/operator/nn/cudnn/cudnn_deconvolution-inl.h
Due: backend

Disable travis tests (#13137)
  .travis.yml
Due: none

Update Gluon example folder (#12951)
  docs/tutorials/unsupervised_learning/gan.md
  example/gluon/actor_critic/actor_critic.py
  example/gluon/dc_gan/README.md
  example/gluon/dc_gan/__init__.py
  example/gluon/dc_gan/dcgan.py
  example/gluon/dc_gan/inception_score.py
  example/gluon/house_prices/kaggle_k_fold_cross_validation.py
  example/gluon/learning_rate_manipulation.py
  example/gluon/lstm_crf/lstm_crf.py
  example/gluon/mnist/mnist.py
  example/gluon/sn_gan/data.py
  example/gluon/sn_gan/model.py
  example/gluon/sn_gan/train.py
  example/gluon/sn_gan/utils.py
  example/gluon/super_resolution/super_resolution.py
  example/notebooks/README.md
Due: none

gpu support, revert finfertype using template specialization, remove defaults, prints, test other low high val
  include/mxnet/random_generator.h
  python/mxnet/ndarray/random.py
  python/mxnet/symbol/random.py
  src/operator/random/sample_op.cc
  src/operator/random/sample_op.cu
  src/operator/random/sample_op.h
  tests/python/unittest/test_random.py
Due: python, backend

change the calculation of ResizeShape
  src/operator/image/image_random-inl.h
Due: backend

Document the newly added env variable (#13049)
  docs/faq/env_var.md
Due: none

Adding info_gan example
  docs/tutorials/gluon/info_gan.md
Due: none

adjust paths of filenames
  docs/tutorials/gluon/info_gan.md
  tests/tutorials/test_tutorials.py
Due: none

Update index.md
  docs/tutorials/index.md
Due: none

Update info_gan.md
  docs/tutorials/gluon/info_gan.md
Due: none

make scala docs build compatible for 2.11.x and 2.12.x scala
  docs/mxdoc.py
Due: none

Updated index.md file
  docs/tutorials/gluon/info_gan.md.1
  docs/tutorials/index.md
Due: none

Updated index.md file
  docs/tutorials/gluon/info_gan.md.1
Due: none

Add documentation on GPU performance
  example/quantization/README.md
  example/quantization/imagenet_inference.py
Due: none

Updated CONTRIBUTORS.md to include mxnet-label-bot (#13048)
  CONTRIBUTORS.md
Due: none

change links
  docs/tutorials/gluon/info_gan.md
Due: none

retrigger the ci test
  src/operator/quantization/quantized_fully_connected.cc
Due: backend

fix cpp test
  tests/cpp/include/test_mkldnn.h
  tests/cpp/operator/mkldnn_operator_test.cc
Due: none

address cpplint complaint
  tests/cpp/operator/mkldnn_operator_test.cc
Due: none

remove comment code
  tests/cpp/include/test_mkldnn.h
Due: none

parallelize NDArray::Copy<cpu, cpu> by OpenMP when data size > MXNET_CPU_PARALLEL_COPY_SIZE
  docs/faq/env_var.md
  src/ndarray/ndarray_function.cc
Due: backend

code specification according to reviewer's suggestions
  src/common/utils.h
  src/ndarray/ndarray_function.cc
Due: backend

align with std::memcpy api
  src/common/utils.h
  src/ndarray/ndarray_function.cc
Due: backend

fix lint
  src/operator/tensor/matrix_op.cc
Due: backend

Fix Sphinx python docstring error: text contrib module (#12949)
  python/mxnet/contrib/text/embedding.py
  python/mxnet/contrib/text/vocab.py
Due: python

optimization for embedding OP <cpu>
  src/operator/mxnet_op.h
  src/operator/tensor/indexing_op.cc
  src/operator/tensor/indexing_op.h
Due: backend

use int64 to replace size_t to avoid Jenkins complier error
  src/operator/tensor/indexing_op.cc
Due: backend

fix omp compiler error
  src/operator/tensor/indexing_op.cc
Due: backend
