Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

cmake: add config files similar to make/config.mk (#17430)
  CMakeLists.txt
  config/config.cmake
  docs/static_site/src/pages/get_started/ubuntu_setup.md
  make/config.mk
Due: none

fix windows
  include/mxnet/lib_api.h
Due: backend

fix exclude
  tests/nightly/apache_rat_license_check/rat-excludes
Due: none

add white list
  tests/nightly/apache_rat_license_check/rat-excludes
Due: none

add disclaimer
  DISCLAIMER-WIP
Due: none

remove disclaimer
  DISCLAIMER
  DISCLAIMER-WIP
  ci/docker/runtime_functions.sh
  tools/staticbuild/build.sh
Due: none

fix constraint
  python/mxnet/gluon/probability/distributions/bernoulli.py
  python/mxnet/gluon/probability/distributions/constraint.py
  tests/python/unittest/test_gluon_probability.py
Due: python

update tools/pip
  tools/pip/MANIFEST.in
Due: none

finish half normal
  python/mxnet/gluon/probability/distributions/__init__.py
  python/mxnet/gluon/probability/distributions/categorical.py
  python/mxnet/gluon/probability/distributions/constraint.py
  python/mxnet/gluon/probability/distributions/half_normal.py
  python/mxnet/gluon/probability/transformation/transformation.py
  tests/python/unittest/test_gluon_probability.py
Due: python

windows gpu cmake build fix
  CMakeLists.txt
Due: none

[CD] update publish path (#17453)
  ci/docker/runtime_functions.sh
Due: none

remove verbose
  CMakeLists.txt
Due: none

Comment out core logic to reproduce timeout
  ci/Jenkinsfile_utils.groovy
Due: none

Test a single stage for timeout
  ci/Jenkinsfile_utils.groovy
  ci/jenkins/Jenkinsfile_windows_gpu
Due: none

Fix syntax
  ci/Jenkinsfile_utils.groovy
Due: none

Update ubuntu_publish.sh
  ci/docker/install/ubuntu_publish.sh
Due: none

skipping tests that cannot fit in nightly CI machine corrected imports
  tests/nightly/test_large_array.py
  tests/nightly/test_large_vector.py
Due: none

Revert windows, do unix cpu as the single stage test
  ci/jenkins/Jenkinsfile_unix_cpu
  ci/jenkins/Jenkinsfile_windows_gpu
Due: none

safe load for yaml (#17399)
  dev_menu.py
Due: none

add disclaimer (#17428)
  DISCLAIMER
  DISCLAIMER-WIP
  ci/docker/runtime_functions.sh
  tests/nightly/apache_rat_license_check/rat-excludes
  tools/pip/MANIFEST.in
  tools/staticbuild/build.sh
Due: none

Temporal solution for fp16 accumulation in Bert gemms
  src/operator/contrib/transformer.cu
  src/operator/linalg_impl.h
Due: backend

Update NOTICE to fix copyright years (#17330)
  NOTICE
Due: none

Update LICENSE for fonts (#17365)
  LICENSE
Due: none

license np_einsum file under bsd (#17367)
  LICENSE
  src/operator/numpy/np_einsum_op-inl.h
  tests/nightly/apache_rat_license_check/rat-excludes
  tools/license_header.py
Due: backend

remove unused file with license issue (#17371)
  tests/nightly/sh2ju.sh
  tests/nightly/test_all.sh
Due: none

[LICENSE] fix cpp predcit license (#17377)
  example/image-classification/predict-cpp/image-classification-predict.cc
  tests/nightly/apache_rat_license_check/rat-excludes
  tools/license_header.py
Due: none

Updated PartialSortSmallK for LT support
  src/operator/tensor/ordering_op-inl.h
Due: backend

Docs: more precise deprecation of Sym API
  docs/python_docs/python/tutorials/packages/index.rst
Due: none

correctly printing stacktrace instead of printing array object
  ci/Jenkinsfile_utils.groovy
Due: none

Cherry pick license fixes for 1.6 (#17460)
  DISCLAIMER
  DISCLAIMER-WIP
  LICENSE
  NOTICE
  ci/docker/runtime_functions.sh
  example/image-classification/predict-cpp/image-classification-predict.cc
  src/operator/numpy/np_einsum_op-inl.h
  tests/nightly/apache_rat_license_check/rat-excludes
  tests/nightly/sh2ju.sh
  tests/nightly/test_all.sh
  tools/license_header.py
  tools/pip/MANIFEST.in
  tools/staticbuild/build.sh
Due: backend

add cached_property
  python/mxnet/gluon/probability/distributions/bernoulli.py
  python/mxnet/gluon/probability/distributions/categorical.py
  python/mxnet/gluon/probability/distributions/constraint.py
  python/mxnet/gluon/probability/distributions/divergence.py
  python/mxnet/gluon/probability/distributions/exp_family.py
  python/mxnet/gluon/probability/distributions/half_normal.py
  python/mxnet/gluon/probability/distributions/normal.py
  python/mxnet/gluon/probability/distributions/transformed_distribution.py
  python/mxnet/gluon/probability/distributions/utils.py
  python/mxnet/gluon/probability/transformation/transformation.py
Due: python

Resolve alpha/beta type issue
  src/operator/contrib/transformer.cu
  src/operator/linalg_impl.h
Due: backend

add op random.beta
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/random.py
  tests/python/unittest/test_numpy_op.py
Due: python

Don't use Numpy 1.18 on Py2
  ci/docker/install/ubuntu_publish.sh
Due: none

add test on cached_property
  tests/python/unittest/test_gluon_probability.py
Due: none

Simplify C++ flags (#17413)
  CMakeLists.txt
Due: none
