Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

Add pooling test diagnostic output.
  tests/python/gpu/test_operator_gpu.py
Due: none

Fix build
  src/operator/quantization/quantize_graph_pass.cc
Due: backend

Fix cpp build
  cpp-package/include/mxnet-cpp/monitor.h
  cpp-package/include/mxnet-cpp/monitor.hpp
Due: none

Add mkldnn_OIhw4i16o4i_s8s8 support
  src/operator/nn/mkldnn/mkldnn_base.cc
Due: backend

Enable s8s8 support for MKLDNN convolution.
  .gitignore
  cpp-package/include/mxnet-cpp/monitor.hpp
  example/quantization/imagenet_gen_qsym_mkldnn.py
  example/ssd/quantization.py
  include/mxnet/c_api.h
  include/mxnet/executor.h
  include/mxnet/ndarray.h
  perl-package/AI-MXNetCAPI/mxnet.i
  python/mxnet/contrib/quantization.py
  python/mxnet/executor.py
  python/mxnet/monitor.py
  scala-package/native/src/main/native/org_apache_mxnet_native_c_api.cc
  src/c_api/c_api_executor.cc
  src/c_api/c_api_symbolic.cc
  src/executor/graph_executor.cc
  src/executor/graph_executor.h
  src/ndarray/ndarray.cc
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_base.cc
  src/operator/nn/mkldnn/mkldnn_convolution-inl.h
  src/operator/nn/mkldnn/mkldnn_convolution.cc
  src/operator/quantization/mkldnn/mkldnn_dequantize-inl.h
  src/operator/quantization/mkldnn/mkldnn_quantize_v2-inl.h
  src/operator/quantization/quantization_utils.h
  src/operator/quantization/quantize_graph_pass.cc
  src/operator/quantization/quantize_v2-inl.h
  src/operator/quantization/quantize_v2.cc
  src/operator/quantization/quantize_v2.cu
  src/operator/quantization/requantize-inl.h
  src/operator/subgraph/mkldnn/mkldnn_conv.cc
  src/operator/subgraph/mkldnn/mkldnn_conv_property.cc
  tests/python/mkl/test_subgraph.py
  tests/python/unittest/test_operator.py
Due: python, clojure, backend

Fix build.
  src/operator/quantization/mkldnn/mkldnn_quantize_v2-inl.h
  src/operator/quantization/quantize_graph_pass.cc
Due: backend

Remove openmp min/max reduction for windows build
  src/operator/quantization/mkldnn/mkldnn_quantize_v2-inl.h
Due: backend

Add all s8s8 weight format
  src/operator/nn/mkldnn/mkldnn_base.cc
Due: backend

Change ssd quantize script.
  example/ssd/quantization.py
  include/mxnet/executor.h
Due: backend

Manually cast mshadow shape size to size_t
  include/mxnet/tensor_blob.h
Due: backend

Fix syntax.
  tests/python/gpu/test_operator_gpu.py
Due: none

update gpu option
  example/gluon/wavenet/data_loader.py
  example/gluon/wavenet/dataset/parametric-2.wav
  example/gluon/wavenet/dataset/wavenet_gen_rst.wav
  example/gluon/wavenet/main.py
  example/gluon/wavenet/models/best_perf_epoch_963_loss_9.889945983886719
  example/gluon/wavenet/trainer.py
Due: none

mv SliceEx to matrix_op.cc
  src/operator/nn/mkldnn/mkldnn_slice-inl.h
  src/operator/tensor/matrix_op-inl.h
  src/operator/tensor/matrix_op.cc
Due: backend

fix lint
  src/operator/tensor/matrix_op-inl.h
Due: backend

Update
  example/quantization/imagenet_gen_qsym_mkldnn.py
  include/mxnet/c_api.h
  include/mxnet/executor.h
  python/mxnet/contrib/quantization.py
  src/operator/nn/mkldnn/mkldnn_base.cc
  src/operator/quantization/mkldnn/mkldnn_quantize_v2-inl.h
  src/operator/quantization/quantize.cc
  src/operator/quantization/quantize_v2-inl.h
  src/operator/quantization/quantize_v2.cc
Due: python, backend

disable error checking when building old versions (#13725)
  docs/build_version_doc/build_all_version.sh
Due: none

Set ImageNet data augmentation by default
  example/image-classification/train_imagenet.py
Due: none

del todo
  src/operator/subgraph/mkldnn/mkldnn_conv.cc
Due: backend

Disabled flaky test
  tests/python/unittest/test_operator.py
Due: none

Integrate MKLDNN Conv1d and support 3d layout (#13530)
  src/ndarray/ndarray.cc
  src/operator/nn/activation.cc
  src/operator/nn/mkldnn/mkldnn_act.cc
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_base.cc
  src/operator/nn/mkldnn/mkldnn_convolution.cc
  src/operator/subgraph/mkldnn/mkldnn_conv.cc
  tests/python/unittest/test_operator.py
Due: backend

Don't compile khatri_rao tests if we don't have LAPACK
  tests/cpp/operator/krprod_test.cc
Due: none

Address CR comment
  src/operator/c_lapack_api.cc
  src/operator/c_lapack_api.h
Due: backend

Work around likely compiler bug on nested inlines and temporary access to stream
  src/operator/c_lapack_api.cc
  src/operator/c_lapack_api.h
Due: backend

Update directory config for testing cifar example
  tests/examples/test_examples.py
Due: none

Add test for SGLD optimizer. Test passes.
  tests/python/unittest/test_optimizer.py
Due: none

Add a comment to SGLD optimizer docstring alerting user to set seet for random noise generation in order to exactly replicate the generated Gaussian noise
  python/mxnet/optimizer/optimizer.py
Due: python

Add optional noise seed parameter to the SGLD optimizer [MXNET-1274]
  python/mxnet/optimizer/optimizer.py
Due: python

Use curl to download sample data instead of wget.
  scala-package/examples/scripts/infer/imageclassifier/get_resnet_18_data.sh
  scala-package/examples/scripts/infer/imageclassifier/get_resnet_data.sh
  scala-package/examples/scripts/infer/objectdetector/get_ssd_data.sh
  scala-package/examples/scripts/rnn/run_test_charrnn.sh
  scala-package/examples/scripts/rnn/run_train_charrnn.sh
Due: clojure

add test changes
  scala-package/core/src/main/scala/org/apache/mxnet/NDArray.scala
  scala-package/core/src/main/scala/org/apache/mxnet/Symbol.scala
  scala-package/core/src/test/scala/org/apache/mxnet/NDArraySuite.scala
Due: clojure

fix the spacing problem
  scala-package/macros/src/main/scala/org/apache/mxnet/utils/CToScalaUtils.scala
Due: clojure

create Util class make Some conversion
  scala-package/core/src/main/scala/org/apache/mxnet/util/SomeConversion.scala
  scala-package/core/src/test/scala/org/apache/mxnet/NDArraySuite.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/GeneratorBase.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/utils/CToScalaUtils.scala
  scala-package/macros/src/test/scala/org/apache/mxnet/MacrosSuite.scala
Due: clojure

fix generator base
  scala-package/macros/src/main/scala/org/apache/mxnet/GeneratorBase.scala
Due: clojure

add initial commit
  scala-package/core/src/main/scala/org/apache/mxnet/NDArray.scala
  scala-package/core/src/main/scala/org/apache/mxnet/Symbol.scala
  scala-package/core/src/test/scala/org/apache/mxnet/NDArraySuite.scala
Due: clojure

adress Comments
  scala-package/core/src/test/scala/org/apache/mxnet/NDArraySuite.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/utils/CToScalaUtils.scala
Due: clojure

change name to Option
  scala-package/core/src/main/scala/org/apache/mxnet/util/OptionConversion.scala
  scala-package/core/src/test/scala/org/apache/mxnet/NDArraySuite.scala
Due: clojure

update image classifier as well
  scala-package/infer/src/main/scala/org/apache/mxnet/infer/Classifier.scala
Due: clojure

Add a test for SGLD optimizer with comparisons for set noise seeds.
  tests/python/unittest/test_optimizer.py
Due: none

Remove unnecessary cudaGetDevice/cudaSetDevice calls
  src/common/cuda_utils.h
  src/common/rtc.cc
  src/engine/stream_manager.h
  src/kvstore/comm.h
  src/kvstore/comm_tree.h
  src/storage/cpu_device_storage.h
  src/storage/gpu_device_storage.h
  src/storage/naive_storage_manager.h
  src/storage/pinned_memory_storage.h
  src/storage/pooled_storage_manager.h
  src/storage/storage.cc
Due: backend

Fixes for the DeviceGuard
  src/common/cuda_utils.h
Due: backend

Update directory
  tests/examples/test_examples.py
Due: none
