Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

address reviewer comment
  python/mxnet/libinfo.py
Due: python

Be more explicit about the exit status of the container (#13425)
  ci/build.py
Due: none

merge clojure updates
  docs/install/index.md
Due: none

merge clojure updates - give code some breathing room
  docs/install/index.md
Due: none

update train_mnist
  scala-package/examples/scripts/run_train_mnist.sh
Due: clojure

Add documentation for JVM Memory Management
  scala-package/memory-management.md
Due: clojure

merge clojure updates - give code even more breathing room
  docs/install/index.md
Due: none

remove redundant link
  docs/install/index.md
Due: none

Add ARMv7 builds to dev_menu.py
  dev_menu.py
Due: none

Addressed PR comments around librosa import
  example/gluon/urban_sounds/README.md
  example/gluon/urban_sounds/datasets.py
  example/gluon/urban_sounds/predict.py
  example/gluon/urban_sounds/requirements.txt
  example/gluon/urban_sounds/train.py
  example/gluon/urban_sounds/transforms.py
Due: none

add test case
  tests/python/mkl/test_mkldnn.py
Due: none

update doc
  scala-package/examples/scripts/run_train_mnist.sh
  scala-package/memory-management.md
Due: clojure

Add Python3 CPU Intel MKLDNN unittests to dev_menu
  dev_menu.py
Due: none

revert refactor
  src/operator/nn/mkldnn/mkldnn_deconvolution.cc
Due: backend

fix bug in broadcast_div and add tests
  src/operator/tensor/elemwise_binary_broadcast_op.h
  tests/nightly/test_large_array.py
Due: backend

address nit picks
  scala-package/memory-management.md
Due: clojure

address comments
  python/mxnet/gluon/data/dataloader.py
Due: python

remove dynamic mkldnn bind
  ci/jenkins/Jenkins_steps.groovy
Due: none

Retrigger CI
  src/operator/quantization/quantized_concat.cc
Due: backend

address comments.
  src/operator/contrib/dgl_graph-inl.h
  src/operator/contrib/dgl_graph.cc
  tests/python/unittest/test_dgl_graph.py
Due: backend

PR Comments
  example/gluon/urban_sounds/datasets.py
  example/gluon/urban_sounds/train.py
Due: none

update MXNET_CPU_PARALLEL_COPY_SIZE doc again
  docs/faq/env_var.md
Due: none

address reviewer comment
  tests/nightly/test_large_array.py
Due: none

Update dgl_graph.cc
  src/operator/contrib/dgl_graph.cc
Due: backend

[MKLDNN]Add quantized concat (#13297)
  example/ssd/quantization.py
  src/operator/nn/mkldnn/mkldnn_concat-inl.h
  src/operator/nn/mkldnn/mkldnn_concat.cc
  src/operator/quantization/mkldnn/mkldnn_quantized_concat.cc
  src/operator/quantization/quantization_utils.h
  src/operator/quantization/quantized_concat.cc
  src/operator/subgraph/mkldnn/mkldnn_conv-inl.h
  src/operator/subgraph/mkldnn/mkldnn_conv.cc
  tests/python/mkl/test_subgraph.py
Due: backend

use with seed decorator
  tests/python/mkl/test_mkldnn.py
Due: none

Grammar and clarity edits for memory management doc
  scala-package/memory-management.md
Due: clojure

Add ARMv7 builds to dev_menu.py (#13432)
  dev_menu.py
Due: none

update csr
  src/operator/contrib/dgl_graph.cc
  tests/python/unittest/test_dgl_graph.py
Due: backend

[MXNET-1110] find the path to include header files (#13359)
  python/mxnet/libinfo.py
  tests/python/unittest/test_libinfo.py
Due: python

remove seed
  tests/python/mkl/test_mkldnn.py
Due: none
