Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

remove useless code
  src/operator/nn/mkldnn/mkldnn_base-inl.h
Due: backend

fix c complier to clang
  MKLDNN_README.md
  docs/install/osx_setup.md
Due: none

update makefile
  Makefile
Due: none

Add missing consts file
  contrib/clojure-package/examples/captcha/src/captcha/consts.clj
Due: none

Test local github command from groovy
  ci/jenkins/Jenkinsfile_windows_gpu
Due: none

moved sh command to node context
  ci/jenkins/Jenkinsfile_windows_gpu
Due: none

changed git diff to use origin and file names only
  ci/jenkins/Jenkinsfile_windows_gpu
Due: none

Update Jenkinsfile_windows_gpu
  ci/jenkins/Jenkinsfile_windows_gpu
Due: none

Added custom skip logic utils file
  ci/Jenkinsfile_utils.groovy
  ci/jenkins/Jenkins_skip_utils.groovy
  ci/jenkins/Jenkinsfile_centos_cpu
  ci/jenkins/Jenkinsfile_centos_gpu
  ci/jenkins/Jenkinsfile_clang
  ci/jenkins/Jenkinsfile_edge
  ci/jenkins/Jenkinsfile_unix_cpu
  ci/jenkins/Jenkinsfile_unix_gpu
  ci/jenkins/Jenkinsfile_windows_cpu
  ci/jenkins/Jenkinsfile_windows_gpu
Due: none

Update Jenkins_skip_utils.groovy
  ci/jenkins/Jenkins_skip_utils.groovy
Due: none

Fixed groovy readlines error
  ci/Jenkinsfile_utils.groovy
  ci/jenkins/Jenkins_skip_utils.groovy
  ci/jenkins/Jenkinsfile_windows_gpu
Due: none

Scope requests so it's not needed for dev_menu (#13771)
  ci/util.py
Due: none

Fix USE_MKLDNN check in Makefile (#13775)
  Makefile
  make/config.mk
Due: none

modify Readmes according to the changed code.
  example/bayesian-methods/README.md
  example/fcn-xs/README.md
  example/rcnn/README.md
  example/rcnn/demo.py
Due: none

Remove weight_channelwise_scale from params.
  src/operator/nn/mkldnn/mkldnn_convolution-inl.h
  src/operator/nn/mkldnn/mkldnn_convolution.cc
  src/operator/subgraph/mkldnn/mkldnn_conv.cc
Due: backend

fix c complier to clang (#13778)
  MKLDNN_README.md
  docs/install/osx_setup.md
Due: none

Disabled flaky test test_negative_binomial_generator
  tests/python/unittest/test_random.py
Due: none

add fallback for gpu topology detection using CUDA 9.2
  src/kvstore/comm_tree.h
  src/kvstore/gpu_topology.h
Due: backend

add log
  src/kvstore/gpu_topology.h
Due: backend

Fixed mailing list addresses (#13766)
  docs/community/mxnet_channels.md
Due: none

[MXNET-1255] update hybridize documentation (#13597)
  docs/tutorials/gluon/hybrid.md
Due: none

[MXNET-244] Work around likely compiler bug on nested inlines and temporary acces… (#13535)
  src/operator/c_lapack_api.cc
  src/operator/c_lapack_api.h
  tests/cpp/operator/krprod_test.cc
Due: backend

Fix install commands for Raspbian instructions
  docs/install/index.md
Due: none

Seperate Build, Test, and Deploy Stages with parallel
  Makefile
  ci/Jenkinsfile_utils.groovy
  ci/build.py
  ci/docker/install/ubuntu_scala.sh
  ci/docker/runtime_functions.sh
  ci/docker_cache.py
  ci/publish/Jenkinsfile
  scala-package/.gitignore
  scala-package/dev/buildkey.py
  scala-package/dev/compile-mxnet-backend.sh
  scala-package/dev/deploy.sh
  scala-package/dev/test.sh
  scala-package/packageTest/Makefile
Due: clojure

Fixing a symlink issue with R install
  docs/install/index.md
Due: none

add license
  LICENSE
  docs/_static/js/auto_module_index.js
  docs/_static/js/clipboard.js
  docs/_static/js/copycode.js
  docs/_static/js/docversion.js
  docs/_static/js/navbar.js
  docs/_static/js/options.js
  docs/_static/js/page.js
  docs/_static/js/search.js
  docs/_static/js/sidebar.js
Due: none

Use curl to download sample data instead of wget. (#13761)
  scala-package/examples/scripts/infer/imageclassifier/get_resnet_18_data.sh
  scala-package/examples/scripts/infer/imageclassifier/get_resnet_data.sh
  scala-package/examples/scripts/infer/objectdetector/get_ssd_data.sh
  scala-package/examples/scripts/rnn/run_test_charrnn.sh
  scala-package/examples/scripts/rnn/run_train_charrnn.sh
Due: clojure

add extra header file to include
  include/mxnet/c_api_common.h
Due: backend

fix bipartite match memory corruption (#13727)
  src/operator/contrib/bounding_box-inl.h
Due: backend

fix redirection issues; set default version to master
  docs/build_version_doc/artifacts/.htaccess
Due: none

remove attributs clear on TRT nodes for GetOptimizedSymbol (#13703)
  src/executor/trt_graph_executor.cc
Due: backend

address comments
  python/mxnet/gluon/loss.py
Due: python

update license for tvm dependencies
  LICENSE
Due: none

fix sanity check
  include/mxnet/c_api_common.h
  src/c_api/c_api_common.h
Due: backend

removed R-package and clojure license
  LICENSE
Due: none

prototype of erfvin
  docs/api/python/ndarray/ndarray.md
  docs/api/python/symbol/symbol.md
  src/operator/mshadow_op.h
  src/operator/operator_tune.cc
  src/operator/tensor/elemwise_unary_op_basic.cc
Due: backend

fix sanity
  src/c_api/c_api_common.h
Due: backend

add xbyak license
  LICENSE
Due: none
