Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

REAME MTCNN Link URL Error in original website (#15020)
  example/README.md
Due: none

some typo
  docs/tutorials/mkldnn/mkldnn_quantization.md
Due: none

Expose get_all_registered_operators and get_operator_arguments in the… (#15364)
  benchmark/opperf/utils/op_registry_utils.py
  python/mxnet/operator.py
  tests/python/unittest/test_operator.py
Due: python

fix lint
  python/mxnet/base.py
Due: python

Update Horovod docs links in README (#15366)
  example/distributed_training-horovod/README.md
Due: none

remove minpy folder
  python/minpy/README.md
Due: none

use SupportMKLDNNReshape and update operator list
  docs/tutorials/mkldnn/operator_list.md
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_reshape-inl.h
  src/operator/nn/mkldnn/mkldnn_reshape.cc
  src/operator/tensor/matrix_op.cc
Due: backend

[TUTORIAL] Revise Naming tutorial (#15365)
  docs/tutorials/gluon/naming.md
Due: none

Revise Symbol tutorial (#15343)
  docs/tutorials/basic/symbol.md
Due: none

Update fp16 docs: Block.cast is inplace (#15458)
  docs/faq/float16.md
Due: none

Add Transpose Convolution op benchmarks
  benchmark/opperf/nd_operations/README.md
  benchmark/opperf/nd_operations/nn_conv_operators.py
  benchmark/opperf/opperf.py
Due: none

Update NEWS.md
  NEWS.md
Due: none

Add monitor callback for C Predict API
  amalgamation/python/mxnet_predict.py
  include/mxnet/c_predict_api.h
  src/c_api/c_predict_api.cc
Due: backend

Add tests, default dtype and set_monitor_callback
  include/mxnet/c_predict_api.h
  src/c_api/c_predict_api.cc
  tests/python/gpu/test_predictor.py
Due: backend

Improve error
  src/c_api/c_predict_api.cc
Due: backend

[OP] Add a new arange_like operator to contrib (#15400)
  src/operator/tensor/init_op.cc
  src/operator/tensor/init_op.cu
  src/operator/tensor/init_op.h
  tests/python/unittest/test_operator.py
Due: backend

support sqrt, cbrt for higher order grad
  src/operator/tensor/elemwise_unary_op_basic.cc
Due: backend

add relevant tests
  tests/python/unittest/test_higher_order_grad.py
Due: none

remove unnecessary variable
  src/operator/tensor/elemwise_unary_op_basic.cc
Due: backend

Add sorting and searching ops for opperf
  benchmark/opperf/nd_operations/sorting_searching_operators.py
  benchmark/opperf/opperf.py
Due: none

support rsqrt, rcbrt for higher order grad
  src/operator/tensor/elemwise_unary_op_basic.cc
Due: backend

relax tolerance of gradient mismatch for tanh
  tests/python/unittest/test_higher_order_grad.py
Due: none

Update profiler.md
  docs/tutorials/python/profiler.md
Due: none

Had a few PRs merged. Hope to become an official contributor and potentially a commiter. (#15451)
  CONTRIBUTORS.md
Due: none

fix comment
  src/operator/tensor/elemwise_binary_op_extended.cu
Due: backend

[MXNET-978] Higher Order Gradient Support `reciprocal`, `abs`. (#15413)
  src/operator/tensor/elemwise_unary_op_basic.cc
  tests/python/unittest/test_higher_order_grad.py
Due: backend

fix fp32 flatten issue (#15351)
  docs/tutorials/mkldnn/operator_list.md
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_flatten.cc
  src/operator/nn/mkldnn/mkldnn_ops-inl.h
  src/operator/nn/mkldnn/mkldnn_reshape-inl.h
  src/operator/nn/mkldnn/mkldnn_reshape.cc
  src/operator/tensor/matrix_op.cc
  tests/python/gpu/test_operator_gpu.py
  tests/python/mkl/test_mkldnn.py
Due: backend

Implement broadcast, still need to add registration function
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_elemwise_binary_op.cc
  src/operator/numpy/np_elemwise_binary_op.cu
Due: python, backend

use dmlc web data
  docs/tutorials/mkldnn/fp32_fusion.png
  docs/tutorials/mkldnn/fp32_raw.png
  docs/tutorials/mkldnn/mkldnn_quantization.md
  docs/tutorials/mkldnn/naive_calib.png
  docs/tutorials/mkldnn/none_calib.png
  docs/tutorials/mkldnn/post_quantize.png
  docs/tutorials/mkldnn/quantization.png
Due: none

Deprecate m_hard LDFLAGS
  amalgamation/Makefile
Due: none

Fix c_str_array
  amalgamation/python/mxnet_predict.py
Due: none

support elemwise_{mul/div} for higher order grad
  src/operator/tensor/elemwise_binary_op_basic.cc
Due: backend
