Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

Change the new operator tutorial to use dmlc:stod instead of std::stod
  docs/static_site/src/pages/api/faq/new_op.md
Due: none

Fix linter errors due to incorrect include order
  cpp-package/include/mxnet-cpp/optimizer.h
  cpp-package/include/mxnet-cpp/optimizer.hpp
  plugin/torch/torch_function.h
  src/operator/subgraph/mkldnn/mkldnn_post_quantize_align_scale_property.h
  src/operator/tensor/elemwise_binary_scalar_op.h
Due: backend

Rename locale invariance test
  tests/python/unittest/test_operator.py
Due: none

Skip test_scalarop_locale_invariance if the locales aren't available
  tests/python/unittest/test_operator.py
Due: none

Add a test for floating point parsing locale invariance
  tests/python/unittest/test_operator.py
Due: none

Use locale-invariant dmlc:stod/stof instead of std:stod/stof
  cpp-package/include/mxnet-cpp/optimizer.h
  cpp-package/include/mxnet-cpp/optimizer.hpp
  plugin/torch/torch_function.h
  src/nnvm/legacy_op_util.cc
  src/operator/contrib/gradient_multiplier_op.cc
  src/operator/numpy/np_boolean_mask_assign.cc
  src/operator/numpy/np_boolean_mask_assign.cu
  src/operator/numpy/np_elemwise_broadcast_logic_op.cc
  src/operator/numpy/np_elemwise_broadcast_op.cc
  src/operator/numpy/np_elemwise_broadcast_op_extended.cc
  src/operator/numpy/np_true_divide.cc
  src/operator/subgraph/mkldnn/mkldnn_post_quantize_align_scale_property.h
  src/operator/tensor/elemwise_binary_scalar_op.h
  src/operator/tensor/elemwise_binary_scalar_op_basic.cc
  src/operator/tensor/elemwise_binary_scalar_op_extended.cc
Due: backend

fix indentation
  docs/static_site/src/_includes/get_started/linux/clojure/cpu.md
  docs/static_site/src/_includes/get_started/linux/java/cpu.md
  docs/static_site/src/_includes/get_started/linux/scala/cpu.md
  docs/static_site/src/_includes/get_started/linux/scala/gpu.md
Due: none

implement digamma
  src/operator/mshadow_op.h
  src/operator/operator_tune.cc
  src/operator/special_functions-inl.h
  src/operator/tensor/elemwise_unary_op_basic.cc
  src/operator/tensor/elemwise_unary_op_basic.cu
  tests/python/unittest/test_numpy_op.py
Due: backend

Remove unused nightly tests
  ci/docker/Dockerfile.build.ubuntu_base_cpu
  ci/docker/Dockerfile.build.ubuntu_base_gpu
  ci/docker/runtime_functions.sh
  tests/nightly/Jenkinsfile
  tests/nightly/compilation_warnings/compilation_warnings.sh
  tests/nightly/compilation_warnings/process_output.py
Due: none

Improve doc
  ci/docker/Dockerfile.build.centos7
  ci/docker/docker-compose.yml
Due: none

Fix ASAN test missing curl
  ci/docker/Dockerfile.build.ubuntu
Due: none

Delete unused tests/jenkins
  tests/jenkins/format
  tests/jenkins/run_as_user.sh
  tests/jenkins/run_test_installation_docs.sh
  tests/jenkins/run_test_pip_installations.sh
  tests/jenkins/set_user_permissions.sh
Due: none

Remove CMAKE_AR CMAKE_RANLIB Ubuntu 16.04 hacks
  ci/docker/Dockerfile.build.ubuntu
  ci/docker/runtime_functions.sh
Due: none

publish.test.centos7_cpu, publish.test.centos7_gpu
  ci/build.py
  ci/docker/Dockerfile.build.centos7
  ci/docker/Dockerfile.build.ubuntu
  ci/docker/Dockerfile.publish.test.centos7
  ci/docker/docker-compose.yml
  ci/docker/install/docker_filepermissions.sh
  ci/docker/runtime_functions.sh
Due: none

build.ubuntu_cpu, build.ubuntu_gpu_cu101 build.ubuntu_build_cuda
  ci/build.py
  ci/docker/Dockerfile.build.ubuntu
  ci/docker/Dockerfile.build.ubuntu_build_cuda
  ci/docker/Dockerfile.build.ubuntu_cpu
  ci/docker/Dockerfile.build.ubuntu_cpu_julia
  ci/docker/Dockerfile.build.ubuntu_gpu_cu101
  ci/docker/Dockerfile.build.ubuntu_nightly_gpu
  ci/docker/docker-compose.yml
  ci/docker/install/thrust.sh
  ci/docker/install/ubuntu_binutils.sh
  ci/docker/install/ubuntu_llvm.sh
  ci/docker/install/ubuntu_mkl.sh
  ci/docker/install/ubuntu_nvidia.sh
  ci/docker/install/ubuntu_runas_sudo.sh
  ci/docker/install/ubuntu_tvm.sh
Due: none

Disable tests of numpy operators implemented with CustomOp
  tests/python/unittest/test_numpy_op.py
Due: none

[v1.6.x] Backport staggered CI builds (#17999 & #18119) (#18143)
  ci/jenkins/Jenkinsfile_full
Due: none

Removed tests as original code covers it, but because the memory issue was related to GPU, the tests don't run nightly
  python/mxnet/test_utils.py
  tests/python/unittest/test_operator.py
Due: python

[numpy] Fix ffi split (#18136)
  src/api/operator/numpy/np_matrix_op.cc
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Due: backend

Added back in another line to match the original
  tests/python/unittest/test_operator.py
Due: none

modify build pages
  docs/static_site/src/pages/get_started/build_from_source.md
  docs/static_site/src/pages/get_started/osx_setup.md
  docs/static_site/src/pages/get_started/ubuntu_setup.md
Due: none

Fix convenient method and add test
  python/mxnet/numpy/multiarray.py
  tests/python/unittest/test_numpy_op.py
Due: python

add gcc requirment
  docs/static_site/src/pages/api/julia/index.md
  docs/static_site/src/pages/get_started/build_from_source.md
  docs/static_site/src/pages/get_started/osx_setup.md
  docs/static_site/src/pages/get_started/ubuntu_setup.md
  docs/static_site/src/pages/get_started/windows_setup.md
Due: none

Fix Julia guide
  docs/static_site/src/pages/api/julia/index.md
  docs/static_site/src/pages/get_started/osx_setup.md
  docs/static_site/src/pages/get_started/ubuntu_setup.md
  docs/static_site/src/pages/get_started/windows_setup.md
Due: none

Fix #18123
  python/mxnet/numpy/multiarray.py
  tests/python/unittest/test_numpy_op.py
Due: python

Revert #17547 (#18145)
  3rdparty/mshadow/mshadow/random.h
  include/mxnet/resource.h
  src/operator/nn/dropout-inl.h
  src/operator/nn/dropout.cc
  src/operator/rnn-inl.h
  src/operator/rnn.cc
  src/resource.cc
  tests/python/unittest/test_operator.py
Due: backend

Clean up & reorganize code
  src/operator/fusion/fused_op-inl.h
  src/operator/fusion/fused_op.cu
Due: backend

Disable test_np_kron
  tests/python/unittest/test_numpy_op.py
Due: none

Keep using OpenJDK 8
  ci/docker/Dockerfile.build.ubuntu
Due: none

Include more test cases
  tests/python/gpu/test_fusion.py
Due: none

Keep ASAN tests on Ubunut 16.04
  ci/jenkins/Jenkins_steps.groovy
Due: none

test get_started_link
  CONTRIBUTORS.md
  docs/static_site/src/_includes/get_started/linux/clojure/cpu.md
  docs/static_site/src/pages/get_started/build_from_source.md
  docs/static_site/src/pages/get_started/osx_setup.md
  docs/static_site/src/pages/get_started/ubuntu_setup.md
Due: none

[numpy] change unary infer type (#17254)
  src/common/utils.h
  src/operator/mxnet_op.h
  src/operator/numpy/np_elemwise_unary_op_basic.cc
  src/operator/numpy/np_elemwise_unary_op_basic.cu
  src/operator/tensor/elemwise_binary_op.h
  src/operator/tensor/elemwise_unary_op.h
  tests/python/unittest/test_numpy_op.py
Due: backend

[v1.7.x] Backport staggered CI builds (#17999 & #18119) (#18142)
  ci/jenkins/Jenkinsfile_full
Due: none

[1.x] Fix incorrect calculation results when the C locale is set to a locale that uses commas as the decimal separator (#17177)
  cpp-package/include/mxnet-cpp/optimizer.h
  cpp-package/include/mxnet-cpp/optimizer.hpp
  docs/static_site/src/pages/api/faq/new_op.md
  plugin/torch/torch_function.h
  src/nnvm/legacy_op_util.cc
  src/operator/contrib/gradient_multiplier_op.cc
  src/operator/numpy/np_boolean_mask_assign.cc
  src/operator/numpy/np_boolean_mask_assign.cu
  src/operator/numpy/np_elemwise_broadcast_logic_op.cc
  src/operator/numpy/np_elemwise_broadcast_op.cc
  src/operator/numpy/np_elemwise_broadcast_op_extended.cc
  src/operator/numpy/np_true_divide.cc
  src/operator/subgraph/mkldnn/mkldnn_post_quantize_align_scale_property.h
  src/operator/tensor/elemwise_binary_scalar_op.h
  src/operator/tensor/elemwise_binary_scalar_op_basic.cc
  src/operator/tensor/elemwise_binary_scalar_op_extended.cc
  tests/python/unittest/test_operator.py
Due: backend

[v1.7.x] Backport #17177 to 1.7.x (Fix incorrect calculation results when the C locale is set to a locale that uses commas as the decimal separator) (#18147)
  cpp-package/include/mxnet-cpp/optimizer.h
  cpp-package/include/mxnet-cpp/optimizer.hpp
  docs/static_site/src/pages/api/faq/new_op.md
  plugin/torch/torch_function.h
  src/nnvm/legacy_op_util.cc
  src/operator/contrib/gradient_multiplier_op.cc
  src/operator/numpy/np_boolean_mask_assign.cc
  src/operator/numpy/np_boolean_mask_assign.cu
  src/operator/numpy/np_elemwise_broadcast_logic_op.cc
  src/operator/numpy/np_elemwise_broadcast_op.cc
  src/operator/numpy/np_elemwise_broadcast_op_extended.cc
  src/operator/numpy/np_true_divide.cc
  src/operator/subgraph/mkldnn/mkldnn_post_quantize_align_scale_property.h
  src/operator/tensor/elemwise_binary_scalar_op.h
  src/operator/tensor/elemwise_binary_scalar_op_basic.cc
  src/operator/tensor/elemwise_binary_scalar_op_extended.cc
  tests/python/unittest/test_operator.py
Due: backend

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
