Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

lint
  python/mxnet/gluon/block.py
  python/mxnet/gluon/parameter.py
Due: python

removed comment
  docs/tutorials/gluon/transforms.md
Due: none

[numpy] Fix d2l chapter8 (#15237)
  python/mxnet/_numpy_op_doc.py
  python/mxnet/base.py
  python/mxnet/gluon/data/dataloader.py
  python/mxnet/gluon/nn/basic_layers.py
  python/mxnet/gluon/rnn/rnn_layer.py
  python/mxnet/ndarray/ndarray.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/__init__.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/ndarray/ndarray.cc
  src/operator/nn/concat.cc
  src/operator/numpy/np_dot-inl.h
  src/operator/numpy/np_dot.cc
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  src/operator/rnn.cc
  src/operator/sequence_mask.cc
  src/operator/swapaxis-inl.h
  src/operator/swapaxis.cc
  src/operator/tensor/indexing_op.cc
  src/operator/tensor/matrix_op-inl.h
  src/operator/tensor/matrix_op.cc
  tests/python/unittest/test_numpy_op.py
Due: python, backend

Add tutorial back to tests
  docs/tutorials/gluon/multi_gpu.md
  tests/tutorials/test_sanity_tutorials.py
  tests/tutorials/test_tutorials.py
Due: none

fix initializer
  tests/python/unittest/test_gluon.py
Due: none

Add tutorial to the index
  docs/tutorials/index.md
Due: none

add parameter validation
  src/c_api/c_api_profile.cc
  src/profiler/aggregate_stats.cc
Due: backend

add parameter validation in frontend
  python/mxnet/profiler.py
Due: python

validation
  python/mxnet/profiler.py
Due: python

force build
  docs/tutorials/gluon/transforms.md
Due: none

copy header file in mkldnn
  Makefile
  include/mkldnn/mkldnn.h
  include/mkldnn/mkldnn_version.h
Due: none

Fixed failing CI
  tests/python/unittest/test_sparse_ndarray.py
Due: none

Add FP16 predict support
  amalgamation/python/mxnet_predict.py
  include/mxnet/c_predict_api.h
  src/c_api/c_predict_api.cc
  tests/python/unittest/test_predictor.py
Due: backend

Add erf and erfinv backward
  src/operator/fusion/fused_op-inl.h
Due: backend

Gluon support for fusion
  src/imperative/cached_op.cc
  src/imperative/cached_op.h
  src/imperative/imperative_utils.h
  src/nnvm/gradient.cc
  src/operator/fusion/fused_op.cu
  src/operator/fusion/fused_op.h
Due: backend

Cleaning
  src/imperative/cached_op.cc
  src/imperative/cached_op.h
  src/imperative/imperative_utils.h
  src/nnvm/gradient.cc
Due: backend

Cleaning and allow shape/type change in FusedOp
  src/operator/fusion/fused_op.cu
Due: backend

Fixing Gluon bugs
  src/imperative/cached_op.cc
Due: backend

Fixing after rebase
  src/imperative/cached_op.cc
Due: backend

fix multithreading issue with hybrid blocks
  python/mxnet/gluon/block.py
Due: python

[TUTORIAL] Add multiple GPUs training tutorial (#15158)
  docs/tutorials/gluon/multi_gpu.md
  docs/tutorials/index.md
  tests/tutorials/test_tutorials.py
Due: none

Fixing race condition and guarding against races when using NVRTC
  src/operator/fusion/fused_op.cc
  src/operator/fusion/fused_op.cu
  src/operator/fusion/fused_op.h
Due: backend

Cleaning and renaming FusedOp to _FusedOp
  src/executor/pointwise_fusion_pass.cc
  src/operator/fusion/fused_op-inl.h
  src/operator/fusion/fused_op.cc
  src/operator/fusion/fused_op.cu
  src/operator/fusion/fused_op.h
Due: backend

fix for ch11
  python/mxnet/gluon/parameter.py
  python/mxnet/numpy_extension/__init__.py
Due: python

copy mkldnn_version header file to include
  Makefile
  include/mkldnn
  mkldnn.mk
Due: none

remove unnecessary line
  Makefile
Due: none

numpy split
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/tensor/matrix_op.cc
Due: python, backend

numpy split
  python/mxnet/symbol/numpy/_symbol.py
Due: python

unit test
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/tensor/matrix_op-inl.h
  tests/python/unittest/test_numpy_op.py
Due: python, backend

[MXNET-1415]Add MXEnginePushAsyncND and MXEnginePushSyncND C APIs (#15177)
  include/mxnet/c_api.h
  src/c_api/c_api.cc
  tests/cpp/engine/threaded_engine_test.cc
Due: backend

removing print()
  include/mxnet/c_api.h
  tests/python/unittest/test_profiler.py
Due: backend

fix typos
  src/c_api/c_api_profile.cc
  src/profiler/aggregate_stats.cc
Due: backend

fix the untracked file
  .gitignore
  include/mkldnn
  include/mkldnn/mkldnn.h
  include/mkldnn/mkldnn_types.h
  mkldnn.mk
Due: none

address comments
  tests/python/unittest/test_higher_order_grad.py
Due: none

unit test
  python/mxnet/symbol/numpy/_symbol.py
  tests/python/unittest/test_numpy_op.py
Due: python

whitelist mkldnn headerfile
  tools/license_header.py
Due: none

exlude lint path
  Makefile
Due: none

fix for ch11 (#15244)
  python/mxnet/gluon/parameter.py
  python/mxnet/numpy_extension/__init__.py
Due: python
