Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

add test
  tests/python/unittest/test_ndarray.py
Due: none

fix bug
  src/operator/tensor/init_op.h
Due: backend

register gpu op
  src/operator/tensor/init_op.cu
Due: backend

fix lint
  python/mxnet/ndarray/ndarray.py
Due: python

numpy-compatible mean
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cu
  tests/python/unittest/test_numpy_op.py
Due: backend

[1.4.x] Adds additional build envs (#14920)
  Jenkinsfile
  ci/build.py
  ci/docker/Dockerfile.build.ubuntu_gpu_cu100
  ci/docker/Dockerfile.build.ubuntu_gpu_cu80
  ci/docker/Dockerfile.build.ubuntu_gpu_cu90
  ci/docker/Dockerfile.build.ubuntu_gpu_cu91
  ci/docker/Dockerfile.build.ubuntu_gpu_cu92
  ci/docker/Dockerfile.publish.ubuntu1404_cpu
  ci/docker/install/ubuntu_cudnn.sh
  ci/docker/install/ubuntu_publish.sh
  ci/jenkins/Jenkins_steps.groovy
  dev_menu.py
Due: none

Update src/operator/nn/upsampling.cc
  src/operator/nn/upsampling.cc
Due: backend

numpy-compatible mean (#14859)
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cu
  tests/python/unittest/test_numpy_op.py
Due: backend

Add convenience fluent method
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Due: python

Add np transpose
  include/mxnet/tuple.h
  python/mxnet/base.py
  python/mxnet/ndarray/numpy/__init__.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/ndarray/numpy/ext.py
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/__init__.py
  python/mxnet/numpy/ext.py
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/symbol/numpy/ext.py
  python/mxnet/symbol/numpy/linalg.py
  python/mxnet/symbol/numpy/random.py
  src/c_api/c_api_common.h
  src/operator/numpy/np_elemwise_broadcast_op.cc
  src/operator/numpy/np_elemwise_broadcast_op.cu
  src/operator/numpy/np_elemwise_unary_op_basic.cc
  src/operator/numpy/np_elemwise_unary_op_basic.cu
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  src/operator/tensor/elemwise_binary_broadcast_op.h
  src/operator/tensor/matrix_op-inl.h
  tests/python/unittest/test_numpy_ndarray.py
  tests/python/unittest/test_numpy_op.py
Due: python, backend

Fix lint
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_matrix_op.cc
Due: backend

Fix lint
  python/mxnet/numpy/__init__.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Due: python

Fix reshape gpu
  src/operator/numpy/np_matrix_op.cu
  tests/python/unittest/test_numpy_op.py
Due: backend

Fix CI
  src/operator/numpy/np_matrix_op.cc
  src/operator/tensor/matrix_op-inl.h
Due: backend

Add ndarray.item()
  python/mxnet/numpy/multiarray.py
Due: python

Add example
  example/numpy/demo.ipynb
Due: none

Make API doc example as pseudocode than code
  src/operator/nn/upsampling.cc
Due: backend

Remove python notebook outputs
  example/numpy/demo.ipynb
Due: none

Remove notebook output
  example/numpy/demo.ipynb
Due: none

Add one more example
  example/numpy/demo.ipynb
Due: none

Add API documentation for upsampling operator with examples (#14919)
  src/operator/nn/upsampling.cc
Due: backend

upgrade the version to 2.0.2
  tools/dependencies/libturbojpeg.sh
Due: none

[numpy] Some np ops for d2l (#14924)
  example/numpy/demo.ipynb
  include/mxnet/tuple.h
  python/mxnet/base.py
  python/mxnet/ndarray/numpy/__init__.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/ndarray/numpy/ext.py
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/__init__.py
  python/mxnet/numpy/ext.py
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/symbol/numpy/ext.py
  python/mxnet/symbol/numpy/linalg.py
  python/mxnet/symbol/numpy/random.py
  src/c_api/c_api_common.h
  src/operator/numpy/np_elemwise_broadcast_op.cc
  src/operator/numpy/np_elemwise_broadcast_op.cu
  src/operator/numpy/np_elemwise_unary_op_basic.cc
  src/operator/numpy/np_elemwise_unary_op_basic.cu
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  src/operator/tensor/elemwise_binary_broadcast_op.h
  src/operator/tensor/matrix_op-inl.h
  tests/python/unittest/test_numpy_ndarray.py
  tests/python/unittest/test_numpy_op.py
Due: python, backend

update doc and resume checkpoint
  python/mxnet/gluon/contrib/estimator/estimator.py
  python/mxnet/gluon/contrib/estimator/event_handler.py
  tests/python/unittest/test_gluon_estimator.py
  tests/python/unittest/test_gluon_event_handler.py
Due: python

[MXNET-857] Enable CUDA NVTX extensions for profiler
  CMakeLists.txt
  cmake/Modules/FindNVTX.cmake
Due: none

[MXNET-857] Add initial NVTX profiler implementation
  amalgamation/amalgamation.py
  src/profiler/nvtx.cc
  src/profiler/nvtx.h
  src/profiler/profiler.h
Due: backend

[MXNET-857] Add integration test.
  tests/python/profiling/simple_forward.py
  tests/python/profiling/test_nvtx.py
Due: none

[MXNET-857] Use macro for NVTX specific code
  src/profiler/profiler.h
Due: backend

Fixed typos and added NTVX info to profiler.md
  docs/api/python/profiler/profiler.md
Due: none

Turn on NVTX by default in Unix.
  CMakeLists.txt
  cmake/Modules/FindNVTX.cmake
Due: none

Add NVTX example to profiling tutorial
  docs/tutorials/python/profiler.md
  docs/tutorials/python/profiler_nvprof.png
  docs/tutorials/python/profiler_nvprof_zoomed.png
  docs/tutorials/python/profiler_winograd.png
Due: none

Generalizes centos7 cudnn download and install script
  ci/docker/install/centos7_cudnn.sh
Due: none

Add NVTX flags for make
  Makefile
  make/config.mk
Due: none

msshadow_blas
  .gitmodules
Due: none

Pins version of scikit-learn for python2 due to drop in support
  ci/docker/install/ubuntu_tutorials.sh
Due: none

update docs
  python/mxnet/gluon/contrib/estimator/estimator.py
  python/mxnet/gluon/contrib/estimator/event_handler.py
  tests/python/unittest/test_gluon_estimator.py
Due: python

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
