Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

CI: Prime docker cache in "Docker cache build" job (#18438)
  ci/Jenkinsfile_docker_cache
  ci/jenkins/Jenkins_steps.groovy
Due: none

pin dependency
  ci/docker/Dockerfile.build.ubuntu
  ci/docker/runtime_functions.sh
Due: none

website - redirect Chinese visitors to Apache Chinese CDN provider
  docs/static_site/src/.htaccess
Due: none

switch to mod_geoip for most accurate redirecting
  docs/static_site/src/.htaccess
Due: none

Update runtime_functions.sh
  ci/docker/runtime_functions.sh
Due: none

Optuna (#18426)
  docs/static_site/src/assets/img/optuna.png
  docs/static_site/src/pages/ecosystem.html
Due: none

change alias register path
  src/operator/random/multisample_op.cc
  src/operator/random/multisample_op.cu
Due: backend

Update Dockerfile.build.ubuntu
  ci/docker/Dockerfile.build.ubuntu
Due: none

Disable test_CSVIter (#18391)
  tests/python/unittest/test_io.py
Due: none

[website] Redirect Chinese visitors to Apache Chinese CDN provider PART 1 (#18431)
  docs/static_site/src/.htaccess
Due: none

fix format
  python/mxnet/io/io.py
Due: python

check data size
  src/c_api/c_api.cc
  src/io/iter_rmf.cc
Due: backend

fix batchnorm (#18377)
  python/mxnet/gluon/contrib/nn/basic_layers.py
  python/mxnet/gluon/nn/basic_layers.py
Due: python

Enable MXNet-TRT support for the Jetson platform
  ci/docker/runtime_functions.sh
Due: none

remove executor manager
  python/mxnet/executor.py
  python/mxnet/executor_manager.py
Due: python

Change CUDA arch from 5.2 to 5.3 for the Jetson Nano and TX1
  ci/docker/runtime_functions.sh
Due: none

remove space
  python/mxnet/gluon/data/dataset.py
Due: python

Install protobuf and protobuf-compiler for TensorRT integraiton for Jetson
  ci/docker/Dockerfile.build.jetson
Due: none

fix_np_where
  src/api/operator/numpy/np_where_op.cc
  tests/python/unittest/test_numpy_op.py
Due: backend

fix ci build error
  ci/docker/install/arm64_openblas.sh
  ci/docker/install/centos7_core.sh
  ci/docker/install/ubuntu_binutils.sh
  ci/docker/install/ubuntu_caffe.sh
  ci/docker/install/ubuntu_core.sh
  ci/docker/install/ubuntu_publish.sh
Due: none

attempt to fix ci
  python/mxnet/gluon/probability/distributions/constraint.py
  python/mxnet/gluon/probability/distributions/gumbel.py
  python/mxnet/gluon/probability/distributions/laplace.py
Due: python

[v1.x] [Large Tensor] Backport of Fixed RNN op (#17632)
  src/operator/rnn-inl.h
  src/operator/rnn_impl.h
  tests/nightly/test_large_array.py
Due: backend

[v1.x] Backport of Fix LSTM and GRU layers gradient calculations (#18203)
  src/operator/rnn-inl.h
  src/operator/rnn_impl.h
  tests/python/unittest/test_gluon_rnn.py
Due: backend

recover #18404
  3rdparty/mshadow/mshadow/base.h
Due: none

fix cd for release of docker images
  cd/python/docker/python_images.sh
Due: none

fix werror
  src/operator/numpy/np_insert_op-inl.h
Due: backend

stop running test_conv.py script as it no longer exists
  cd/python/docker/test_python_image.sh
  ci/docker/runtime_functions.sh
  docker/docker-python/README.md
  docker/docker-python/build_python_dockerfile.sh
Due: none

revert adding mkldnn test for cu* builds
  cd/python/docker/test_python_image.sh
Due: none

Improve log_softmax op performance by using DNNL support (#18320)
  src/operator/nn/log_softmax.cc
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_log_softmax.cc
  src/operator/nn/mkldnn/mkldnn_ops-inl.h
  tests/python/unittest/test_loss.py
  tests/python/unittest/test_numpy_gluon.py
  tests/python/unittest/test_operator.py
Due: backend

fix some parts
  python/mxnet/gluon/block.py
  python/mxnet/gluon/contrib/nn/basic_layers.py
Due: python

Remove manually created symbolic link to ninja-build (#18437)
  ci/docker/install/centos7_core.sh
Due: none

Remove manually created symbolic link to ninja-build (#18437) (#18456)
  ci/docker/install/centos7_core.sh
Due: none

redirect visitors based on geolocation - update host condition
  docs/static_site/src/.htaccess
Due: none

Set OMP_NUM_THREADS
  ci/docker/runtime_functions.sh
Due: none

Update nccl installation in Dockerfile.build.centos7 (#18441)
  ci/docker/Dockerfile.build.centos7
  ci/docker/docker-compose.yml
Due: none

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
