Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

Improve the backward mirroring implementation
  ci/windows/test_py3_cpu.ps1
  ci/windows/test_py3_gpu.ps1
  docs/static_site/src/pages/api/faq/env_var.md
  example/image-classification/README.md
  python/mxnet/rnn/rnn_cell.py
  src/executor/exec_pass.h
  src/executor/graph_executor.cc
  src/executor/graph_executor.h
  src/imperative/cached_op.h
  src/imperative/imperative.cc
  src/nnvm/gradient.cc
  src/nnvm/plan_memory.cc
  src/operator/nn/activation-inl.h
  src/operator/nn/activation.cc
  src/operator/nn/activation.cu
  src/operator/nn/cudnn/cudnn_batch_norm-inl.h
  tests/python/unittest/test_memory_opt.py
Due: python, backend

Change LC_NUMERIC for CentOS CI jobs to verify locale invariance (#18097)
  ci/docker/Dockerfile.build.centos7
  ci/docker/runtime_functions.sh
  conftest.py
  scala-package/core/src/test/scala/org/apache/mxnet/CancelTestUtil.scala
  scala-package/core/src/test/scala/org/apache/mxnet/ModuleSuite.scala
  scala-package/core/src/test/scala/org/apache/mxnet/OperatorSuite.scala
  scala-package/core/src/test/scala/org/apache/mxnet/train/ConvSuite.scala
  tests/python/unittest/common.py
  tests/python/unittest/test_autograd.py
  tests/python/unittest/test_contrib_autograd.py
  tests/python/unittest/test_contrib_operator.py
  tests/python/unittest/test_contrib_optimizer.py
  tests/python/unittest/test_contrib_stes_op.py
  tests/python/unittest/test_gluon.py
  tests/python/unittest/test_gluon_data_vision.py
  tests/python/unittest/test_gluon_trainer.py
  tests/python/unittest/test_higher_order_grad.py
  tests/python/unittest/test_image.py
  tests/python/unittest/test_loss.py
  tests/python/unittest/test_metric.py
  tests/python/unittest/test_numpy_gluon_data_vision.py
  tests/python/unittest/test_numpy_ndarray.py
  tests/python/unittest/test_numpy_op.py
  tests/python/unittest/test_operator.py
  tests/python/unittest/test_optimizer.py
  tests/python/unittest/test_sparse_ndarray.py
Due: clojure

revert removal of ubuntu_build_cuda
  ci/build.py
  tests/nightly/JenkinsfileForBinaries
Due: none

add linux gpu g4 node to all steps using g3 in unix-gpu pipeline
  ci/Jenkinsfile_utils.groovy
  ci/jenkins/Jenkins_steps.groovy
  ci/jenkins/Jenkinsfile_unix_gpu
Due: none

Fix interleave matmul doc (#18260)
  src/operator/contrib/transformer.cc
Due: backend

refactor kl test(WIP)
  python/mxnet/gluon/probability/distributions/beta.py
  python/mxnet/gluon/probability/distributions/divergence.py
  python/mxnet/gluon/probability/distributions/gumbel.py
  python/mxnet/gluon/probability/distributions/pareto.py
  python/mxnet/gluon/probability/distributions/poisson.py
  python/mxnet/gluon/probability/distributions/transformed_distribution.py
  tests/python/unittest/test_gluon_probability.py
Due: python

port nd.multinomial to npx.sample_categorical
  src/operator/random/sample_multinomial_op.cc
  tests/python/unittest/test_numpy_op.py
Due: backend

Fix pylint astroid sanity issue
  ci/docker/install/requirements
Due: none

add python3 requirement
  ci/docker/install/requirements
Due: none

Revert "add python3 requirement"
  ci/docker/install/requirements
Due: none

fixing batch_norm and layer_norm for large tensors (#17805) (#18261)
  src/operator/nn/batch_norm.cc
  src/operator/nn/layer_norm.cc
Due: backend

move to npx.random
  src/operator/random/sample_multinomial_op.cc
  tests/python/unittest/test_numpy_op.py
Due: backend

Fix pylint astroid sanity issue (#18275)
  ci/docker/install/requirements
Due: none

CI: Update Android, ARM build and ARM test containers (#18264)
  ci/build.py
  ci/docker/Dockerfile.build.android
  ci/docker/Dockerfile.build.android_armv8
  ci/docker/Dockerfile.build.arm
  ci/docker/Dockerfile.build.armv6
  ci/docker/Dockerfile.build.armv7
  ci/docker/Dockerfile.build.armv8
  ci/docker/Dockerfile.build.test.armv8
  ci/docker/Dockerfile.test.arm
  ci/docker/docker-compose.yml
Due: none

avoid race condition in profiler init
  src/profiler/storage_profiler.h
Due: backend

[Numpy] Port nd.random.multinomial to npx.sample_categorical (#18272)
  src/operator/random/sample_multinomial_op.cc
  tests/python/unittest/test_numpy_op.py
Due: backend

Deprecate dataset transform= argument in gluon data API (#17852)
  docs/python_docs/python/tutorials/packages/gluon/blocks/save_load_params.md
  example/distributed_training/README.md
  example/distributed_training/cifar10_dist.py
  example/gluon/data.py
  example/gluon/dc_gan/dcgan.py
  example/gluon/mnist/mnist.py
  example/gluon/sn_gan/data.py
  example/restricted-boltzmann-machine/binary_rbm_gluon.py
  python/mxnet/gluon/data/dataset.py
  python/mxnet/gluon/data/vision/datasets.py
Due: python

[Numpy] New FFIs for Operator: squeeze, repeat, around, round, diagflat (#18263)
  benchmark/python/ffi/benchmark_ffi.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/api/operator/numpy/np_elemwise_unary_op_basic.cc
  src/api/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  src/operator/tensor/elemwise_unary_op.h
  src/operator/tensor/matrix_op-inl.h
  src/operator/tensor/matrix_op.cc
Due: python, backend

Revert "Fix and optimize handling of vectorized memory accesses (#17767)"
  3rdparty/mshadow/mshadow/base.h
  3rdparty/mshadow/mshadow/half2.h
  src/common/cuda_vectorization.cuh
  src/operator/mshadow_op.h
  src/operator/tensor/elemwise_binary_op.cuh
  src/operator/tensor/elemwise_binary_op.h
  src/operator/tensor/elemwise_binary_op_basic.cu
  src/operator/tensor/elemwise_binary_scalar_op.cuh
  src/operator/tensor/elemwise_binary_scalar_op.h
  src/operator/tensor/elemwise_binary_scalar_op_basic.cu
  src/operator/tensor/elemwise_binary_scalar_op_extended.cu
  src/operator/tensor/elemwise_sum.cu
  src/operator/tensor/elemwise_sum.h
  src/operator/tensor/elemwise_unary_op.cuh
  src/operator/tensor/elemwise_unary_op.h
  src/operator/tensor/elemwise_unary_op_basic.cu
  src/operator/tensor/elemwise_unary_op_pow.cu
  src/operator/tensor/elemwise_unary_op_trig.cu
  tests/python/unittest/test_operator.py
Due: backend

np.tril
  src/api/operator/utils.cc
  src/api/operator/utils.h
  tests/python/unittest/test_deferred_compute.py
Due: backend

put lr outside momentum
  python/mxnet/optimizer/nag.py
  python/mxnet/optimizer/sgd.py
  src/operator/optimizer_op-inl.h
  src/operator/optimizer_op.cc
  src/operator/optimizer_op.cu
  src/optimizer/sgd-inl.h
  tests/python/unittest/test_optimizer.py
Due: python, backend

Avoid overhead
  src/api/operator/utils.cc
  src/api/operator/utils.h
Due: backend

Update unix gpu toolchain (#18186)
  ci/Jenkinsfile_utils.groovy
  ci/build.py
  ci/docker/Dockerfile.build.ubuntu
  ci/docker/docker-compose.yml
  ci/jenkins/Jenkins_steps.groovy
  ci/jenkins/Jenkinsfile_unix_gpu
Due: none

add more kl, fix float32 underflow issue
  python/mxnet/gluon/probability/distributions/beta.py
  python/mxnet/gluon/probability/distributions/dirichlet.py
  python/mxnet/gluon/probability/distributions/divergence.py
  tests/python/unittest/test_gluon_probability.py
Due: python

fix skip validation test
  python/mxnet/module/base_module.py
Due: python

fix error
  python/mxnet/numpy/multiarray.py
  tests/python/unittest/test_numpy_op.py
Due: python

remove redundant code
  tests/python/unittest/test_numpy_op.py
Due: none

fix issue #18060
  python/mxnet/gluon/data/dataloader.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/util.py
Due: python

Fix comments
  src/operator/rnn-inl.h
  src/operator/rnn_impl.h
Due: backend

Add more test cases for fused rnn layers
  tests/python/unittest/test_gluon_rnn.py
Due: none

Fix gradient calculation for GRU
  src/operator/rnn_impl.h
Due: backend

Enable tests for GRU and LSTM gradients
  tests/python/unittest/test_gluon_rnn.py
Due: none

Fix input gradient calculation for bidirectional LSTM
  src/operator/rnn-inl.h
  src/operator/rnn_impl.h
Due: backend

Change loop iteration deduction
  src/operator/rnn_impl.h
Due: backend

fix CI error
  tests/python/unittest/test_numpy_op.py
Due: none

Mark test_np_mixed_precision_binary_funcs flaky
  ci/docker/install/requirements
  tests/python/unittest/test_numpy_op.py
Due: none

add license to reverted file
  3rdparty/mshadow/mshadow/half2.h
Due: none

add gelu doc (#18274)
  src/operator/leaky_relu.cc
Due: backend

Enable test_amp_conversion
  tests/python/gpu/test_contrib_amp.py
Due: none

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
