Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

Renable ONNX section
  ci/docker/runtime_functions.sh
Due: none

set weight decay zero for binary weights
  python/mxnet/gluon/nn/binary_layers.py
Due: python

Throw exception if MXSymbolInferShape fails. (#12733)
  scala-package/native/src/main/native/org_apache_mxnet_native_c_api.cc
Due: clojure

Will likely compile but not run
  Makefile
  ci/docker/runtime_functions.sh
  make/crosscompile.jetson.mk
Due: none

install mxnet-to-coreml for testing
  ci/travis/install.sh
Due: none

exclude test that takes too long
  .travis.yml
Due: none

Add dependency for IPython update.
  ci/docker/install/ubuntu_nightly_tests.sh
Due: none

Fix failing tests
  src/operator/nn/batch_norm.cc
Due: backend

[MXNET-716] Adding Scala Inference Benchmarks (#12721)
  scala-package/examples/scripts/benchmark/run_image_inference_bm.sh
  scala-package/examples/scripts/infer/imageclassifier/get_resnet_18_data.sh
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/InferBase.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/benchmark/README.md
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/benchmark/ScalaInferenceBenchmark.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/infer/imageclassifier/ImageClassifierExample.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/infer/objectdetector/SSDClassifierExample.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/rnn/TestCharRnn.scala
  scala-package/examples/src/test/scala/org/apache/mxnetexamples/benchmark/ScalaInferenceBenchmarkSuite.scala
Due: clojure

[MXNET-623] Fixing an integer overflow bug in large NDArray (#11742)
  src/c_api/c_api_function.cc
  src/executor/graph_executor.cc
  src/io/image_iter_common.h
  src/io/iter_image_recordio_2.cc
  src/ndarray/ndarray.cc
  src/ndarray/ndarray_function.cc
  src/operator/batch_norm_v1-inl.h
  src/operator/bilinear_sampler.cu
  src/operator/channel_op_common.h
  src/operator/contrib/count_sketch-inl.h
  src/operator/contrib/deformable_convolution-inl.h
  src/operator/contrib/fft-inl.h
  src/operator/contrib/ifft-inl.h
  src/operator/contrib/sync_batch_norm-inl.h
  src/operator/convolution_v1-inl.h
  src/operator/custom/custom.cc
  src/operator/custom/native_op-inl.h
  src/operator/elemwise_op_common.h
  src/operator/nn/batch_norm.cc
  src/operator/nn/convolution.cc
  src/operator/nn/deconvolution-inl.h
  src/operator/nn/deconvolution.cc
  src/operator/nn/lrn.cc
  src/operator/nn/upsampling-inl.h
  src/operator/nn/upsampling.cc
  src/operator/operator_common.h
  src/operator/pad.cu
  src/operator/random/shuffle_op.cu
  src/operator/rnn-inl.h
  src/operator/sequence_last-inl.h
  src/operator/sequence_mask-inl.h
  src/operator/sequence_reverse-inl.h
  src/operator/softmax_output-inl.h
  src/operator/svm_output-inl.h
  src/operator/tensor/indexing_op-inl.cuh
  src/operator/tensor/matrix_op-inl.h
  src/operator/tensor/ordering_op-inl.h
  src/operator/tensor/ordering_op.cc
  tests/nightly/test_all.sh
  tests/nightly/test_large_array.py
Due: backend

Change numpy version to 1.15.2 in python and docker install requirements (#12711)
  ci/docker/install/docs_requirements
  ci/docker/install/ubuntu_python.sh
  docs/install/requirements.txt
  python/setup.py
Due: none

Detect errors in notebook execution failure.
  tests/utils/notebook_test/__init__.py
Due: none

add unit test for backward compatibility
  tests/python/unittest/test_operator.py
Due: none

Reenable test_gluon.test_conv (#12718)
  tests/python/unittest/test_gluon.py
Due: none

linting
  tests/python/unittest/test_operator.py
Due: none

Clean up of naming in retry code.
  tests/utils/notebook_test/__init__.py
Due: none

add flag to disable mkldnn cache
  src/common/utils.h
  src/operator/nn/mkldnn/mkldnn_act.cc
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_batch_norm-inl.h
  src/operator/nn/mkldnn/mkldnn_concat.cc
  src/operator/nn/mkldnn/mkldnn_convolution.cc
  src/operator/nn/mkldnn/mkldnn_deconvolution.cc
  src/operator/nn/mkldnn/mkldnn_lrn-inl.h
  src/operator/nn/mkldnn/mkldnn_pooling.cc
Due: backend

update docs
  docs/faq/env_var.md
Due: none

fix typos
  src/operator/nn/mkldnn/mkldnn_batch_norm-inl.h
Due: backend

update var name
  src/operator/nn/mkldnn/mkldnn_base-inl.h
Due: backend

fix ordering
  src/operator/nn/mkldnn/mkldnn_act.cc
Due: backend

simplify the cases with defaults for gamma, beta
  src/operator/nn/batch_norm.cc
Due: backend

dummy change
  README.md
Due: none

Refine mxnet python installation (#12696)
  docs/install/windows_setup.md
Due: none

Try fix for gluon multiprocessing bug
  src/storage/storage.cc
Due: backend

Update packages and tests in the straight dope nightly (#12744)
  ci/docker/install/ubuntu_nightly_tests.sh
  tests/nightly/straight_dope/test_notebooks_single_gpu.py
  tests/utils/notebook_test/__init__.py
Due: none

edit
  src/storage/storage.cc
Due: backend

Proximal Group Adagrad optimizer
  docs/api/python/index.md
  docs/api/python/optimization/contrib.md
  python/mxnet/optimizer/__init__.py
  python/mxnet/optimizer/contrib.py
  python/mxnet/optimizer/optimizer.py
  python/mxnet/test_utils.py
  src/operator/contrib/optimizer_op-inl.h
  src/operator/contrib/optimizer_op.cc
  src/operator/contrib/optimizer_op.cu
  tests/python/unittest/test_contrib_optimizer.py
  tests/python/unittest/test_optimizer.py
Due: python, backend

Remove proximal implementation and rename to GroupAdagrad
  docs/api/python/optimization/contrib.md
  python/mxnet/optimizer/__init__.py
  python/mxnet/optimizer/contrib.py
  src/operator/contrib/optimizer_op-inl.h
  src/operator/contrib/optimizer_op.cc
  src/operator/contrib/optimizer_op.cu
  tests/python/unittest/test_contrib_optimizer.py
Due: python, backend

Remove superfluous doc
  python/mxnet/optimizer/contrib.py
  src/operator/contrib/optimizer_op.cc
Due: python, backend

Fix failing GPU test on single GPU host (kvstore) (#12726)
  tests/python/gpu/test_kvstore_gpu.py
Due: none

[MXNET-623] Fix compile-time errors with std::min
  src/operator/convolution_v1-inl.h
  src/operator/nn/deconvolution-inl.h
Due: backend

video introduction link with installation instruction time.
  contrib/clojure-package/README.md
Due: none

Added Latex code for formula for cosine embedding loss
  python/mxnet/gluon/loss.py
Due: python

try nvidia fix
  src/common/cuda_utils.h
  src/storage/storage.cc
Due: backend

add gluoncv support
  example/quantization/imagenet_gen_qsym_mkldnn.py
  example/quantization/imagenet_inference.py
Due: none

update readme and submodule
  README.md
Due: none

Handle input order change after subgraph pass.
  src/executor/graph_executor.cc
  src/operator/subgraph/partition_graph.cc
  src/operator/subgraph/subgraph_property.h
  tests/python/mkl/test_subgraph.py
Due: backend

Core Java API class commit
  scala-package/core/pom.xml
  scala-package/core/src/main/scala/org/apache/mxnet/javaapi/Context.scala
  scala-package/core/src/main/scala/org/apache/mxnet/javaapi/DType.scala
  scala-package/core/src/main/scala/org/apache/mxnet/javaapi/IO.scala
  scala-package/core/src/main/scala/org/apache/mxnet/javaapi/Shape.scala
  scala-package/core/src/test/java/org/apache/mxnet/javaapi/ContextTest.java
  scala-package/core/src/test/java/org/apache/mxnet/javaapi/DTypeTest.java
  scala-package/core/src/test/java/org/apache/mxnet/javaapi/IOTest.java
  scala-package/core/src/test/java/org/apache/mxnet/javaapi/ShapeTest.java
Due: clojure
