Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

fix op sinc test files
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_elemwise_unary_op_basic.h
  tests/python/unittest/test_numpy_op.py
Due: python, backend

np.ndarray.repeat support & doc for np.repeat
  python/mxnet/_numpy_op_doc.py
  python/mxnet/numpy/multiarray.py
  src/operator/numpy/np_matrix_op.cc
Due: python, backend

Update julia/deps/build.jl
  julia/deps/build.jl
Due: none

Fixes openblas installation for static build
  tools/dependencies/openblas.sh
Due: none

Add PushPull API
  include/mxnet/c_api.h
  include/mxnet/kvstore.h
  python/mxnet/kvstore.py
  src/c_api/c_api.cc
  src/kvstore/kvstore_dist.h
  src/kvstore/kvstore_dist_server.h
  src/kvstore/kvstore_local.h
Due: python, backend

Add PushPull test cases
  tests/nightly/dist_device_sync_kvstore.py
Due: none

Update dataset.py
  python/mxnet/gluon/data/dataset.py
Due: python

Fix failing tests
  contrib/clojure-package/test/org/apache/clojure_mxnet/operator_test.clj
Due: none

[Dataset] Add take, filter, sample API to dataset (#16078)
  python/mxnet/gluon/data/dataset.py
  python/mxnet/gluon/data/sampler.py
  tests/python/unittest/test_gluon_data.py
Due: python

julia: rename build env var `MXNET_HOME` to `MXNET_ROOT` (#15568)
  ci/docker/runtime_functions.sh
  ci/windows/test_jl07_cpu.ps1
  ci/windows/test_jl10_cpu.ps1
  julia/NEWS.md
  julia/deps/build.jl
  julia/docs/src/user-guide/install.md
  julia/src/base.jl
Due: none

[DOC] Consistent capitalization: mxnet -> MXNet, scala -> Scala (#16041)
  CONTRIBUTORS.md
Due: none

[mkldnn-v1.0] Update MKL-DNN to v1.0.2 (#16012)
  mkldnn.mk
  tests/python/mkl/test_quantization_mkldnn.py
  tools/dependencies/openblas.sh
Due: none

fix preloaded_multi_* dtype inference, add SGDwFastLARS optimizer and test
  python/mxnet/optimizer/optimizer.py
  src/operator/contrib/preloaded_multi_sgd-inl.h
  src/operator/contrib/preloaded_multi_sgd.cc
  tests/python/gpu/test_operator_gpu.py
  tests/python/gpu/test_optimizer.py
Due: python, backend

remove commented out cast from lenet5 model
  tests/python/gpu/test_optimizer.py
Due: none

fix lint
  src/operator/contrib/preloaded_multi_sgd.cc
Due: backend

[MXNET-1294] Add KVSTORE PushPull API (#15559)
  include/mxnet/c_api.h
  include/mxnet/kvstore.h
  python/mxnet/kvstore.py
  src/c_api/c_api.cc
  src/kvstore/kvstore_dist.h
  src/kvstore/kvstore_dist_server.h
  src/kvstore/kvstore_local.h
  tests/nightly/dist_device_sync_kvstore.py
Due: python, backend

explain params, indent fix, explain blocksize
  src/operator/tensor/matrix_op-inl.h
Due: backend

retrigger CI
  src/operator/numpy/random/np_normal_op.cc
Due: backend

Fix scala build
  scala-package/macros/src/main/scala/org/apache/mxnet/utils/CToScalaUtils.scala
Due: clojure

fix comments (#8)
  src/ndarray/ndarray.cc
  src/operator/nn/mkldnn/mkldnn_base-inl.h
Due: backend

julia: migrate build process to cmake
  julia/Project.toml
  julia/deps/build.jl
  julia/src/base.jl
Due: none

Fix amalgamation
  amalgamation/amalgamation.py
Due: none

subgraph forward
  example/lib_ops/mylib.cc
  example/lib_ops/subgraph_lib.cc
  include/mxnet/lib_api.h
  src/c_api/c_api.cc
Due: backend

Ignore load lib test in CD jobs
  ci/docker/runtime_functions.sh
  python/mxnet/test_utils.py
  tests/python/unittest/test_library_loading.py
Due: python

Update main.yml
  .github/workflows/main.yml
Due: none

Removes cu80 and adds cu101 support to CD builds
  cd/Jenkinsfile_cd_pipeline
  python/mxnet/test_utils.py
Due: python

add base code for mkldnn 1.0
  include/mxnet/base.h
  include/mxnet/ndarray.h
  mkldnn.mk
  src/ndarray/ndarray.cc
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_base.cc
Due: backend

fix lint
  src/ndarray/ndarray.cc
  src/operator/nn/mkldnn/mkldnn_base-inl.h
Due: backend

fix build
  src/operator/nn/mkldnn/mkldnn_base.cc
  src/operator/nn/mkldnn/mkldnn_ops-inl.h
  src/operator/nn/mkldnn/mkldnn_sum.cc
Due: backend

Fix failing tests (#16117)
  contrib/clojure-package/test/org/apache/clojure_mxnet/operator_test.clj
Due: none

fix lint
  src/operator/nn/mkldnn/mkldnn_base-inl.h
Due: backend

[Numpy] Random.choice implemented (#16089)
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/random.py
  src/operator/numpy/random/np_choice_op.cc
  src/operator/numpy/random/np_choice_op.cu
  src/operator/numpy/random/np_choice_op.h
  src/operator/tensor/indexing_op.cc
  tests/python/unittest/test_numpy_op.py
Due: python, backend

fix p,n and reduce for loop computation j+a,i+b
  src/operator/tensor/matrix_op-inl.h
Due: backend

Add more documentation, change name of SGDwFastLARS by LARS, removing redundancy of 'lars' in the parameters
  python/mxnet/optimizer/optimizer.py
  tests/python/gpu/test_optimizer.py
Due: python

Update python dependencies (#16105)
  tools/pip/setup.py
Due: none

Fix slice_like
  src/operator/fusion/fused_op-inl.h
  src/operator/fusion/fused_op.cu
  src/operator/fusion/fused_op.h
  tests/python/gpu/test_fusion.py
Due: backend
