Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

ONNX export: Test for fully connected
  tests/python-pytest/onnx/test_node.py
Due: none

Update git clone location to apache github
  docs/install/osx_setup.md
Due: none

address comments
  Makefile
  cmake/DownloadMKLML.cmake
Due: none

Edit CI scripts mxnet export test cleanup
  ci/docker/runtime_functions.sh
  tests/python-pytest/onnx/export/mxnet_export_test.py
Due: none

Further cleanup backend tests
  ci/docker/runtime_functions.sh
  tests/python-pytest/onnx/gluon_backend_test.py
  tests/python-pytest/onnx/import/gluon_backend_test.py
  tests/python-pytest/onnx/mxnet_backend_test.py
  tests/python-pytest/onnx/mxnet_export_test.py
Due: none

README
  tests/python-pytest/onnx/README.md
Due: none

Some corrections
  tests/python-pytest/onnx/mxnet_export_test.py
  tests/python-pytest/onnx/test_models.py
  tests/python-pytest/onnx/test_node.py
Due: none

test case format for test_models
  tests/python-pytest/onnx/test_models.py
Due: none

Added javadocs and improved example instructions
  scala-package/examples/src/main/java/org/apache/mxnetexamples/javaapi/infer/objectdetector/README.md
  scala-package/infer/src/main/scala/org/apache/mxnet/infer/javaapi/ObjectDetectorOutput.scala
Due: clojure

address comments
  src/operator/image/resize-inl.h
Due: backend

address comment 1. add description 2. refactor unit test and add dtype
  src/operator/image/resize.cc
  tests/python/unittest/test_gluon_data_vision.py
Due: backend

Update git clone location to apache github (#13706)
  docs/install/osx_setup.md
Due: none

Add timeout/retry logic to docker cache download (#13573)
  ci/docker_cache.py
Due: none

Add C++ Predictor class for inference
  cpp-package/example/cpp-predictor/cpp_pred.cpp
  cpp-package/example/cpp-predictor/predictor.h
Due: none

Jetson build with CMake and TensorRT
  CMakeLists.txt
  ci/build.py
  ci/docker/Dockerfile.build.jetson
  ci/docker/install/arm_onnx.sh
  ci/docker/install/arm_protobuf.sh
  ci/docker/runtime_functions.sh
Due: none

update data type check
  src/operator/image/resize-inl.h
  tests/python/unittest/test_gluon_data_vision.py
Due: backend

lint
  src/operator/image/resize-inl.h
Due: backend

address comments
  src/operator/image/crop-inl.h
  src/operator/image/crop.cc
  tests/python/unittest/test_gluon_data_vision.py
Due: backend

Fix NDArray ToDLPack Bug (#13698)
  src/ndarray/ndarray.cc
Due: backend

disable error checking when building old versions
  docs/build_version_doc/build_all_version.sh
Due: none

Add license to cpp_pred.cpp
  cpp-package/example/cpp-predictor/cpp_pred.cpp
Due: none

move the common utitlity to image_utils
  src/operator/image/image_utils.h
Due: backend

setting mkldnn default for x86_64 only
  Makefile
Due: none

add default value for keep_ratio
  src/operator/image/resize-inl.h
Due: backend

running docs with mkldnn=0 flag
  docs/mxdoc.py
Due: none

fp16 dot
  .gitmodules
Due: none

Update cpp_pred.cpp
  cpp-package/example/cpp-predictor/cpp_pred.cpp
Due: none

Added javadocs and improved example instructions (#13711)
  scala-package/examples/src/main/java/org/apache/mxnetexamples/javaapi/infer/objectdetector/README.md
  scala-package/infer/src/main/scala/org/apache/mxnet/infer/javaapi/ObjectDetectorOutput.scala
Due: clojure

address comments
  docs/tutorials/gluon/hybrid.md
Due: none

removing CentOS CPU Scala MKLDNN test
  ci/jenkins/Jenkins_steps.groovy
  ci/jenkins/Jenkinsfile_centos_cpu
Due: none

setting mkldnn default for x86_64 only
  CMakeLists.txt
Due: none

Port of scala infer package to clojure
  contrib/clojure-package/project.clj
  contrib/clojure-package/scripts/infer/imageclassifier/get_resnet_18_data.sh
  contrib/clojure-package/scripts/infer/imageclassifier/get_resnet_data.sh
  contrib/clojure-package/scripts/infer/objectdetector/get_ssd_data.sh
  contrib/clojure-package/src/org/apache/clojure_mxnet/infer.clj
  contrib/clojure-package/src/org/apache/clojure_mxnet/util.clj
Due: none

Fix project.clj
  contrib/clojure-package/project.clj
Due: none

Address comments and add unit tests
  contrib/clojure-package/examples/infer/imageclassifier/README.md
  contrib/clojure-package/examples/infer/imageclassifier/src/infer/imageclassifier_example.clj
  contrib/clojure-package/examples/infer/objectdetector/README.md
  contrib/clojure-package/examples/infer/objectdetector/src/infer/objectdetector_example.clj
  contrib/clojure-package/examples/infer/predictor/README.md
  contrib/clojure-package/examples/infer/predictor/scripts/get_resnet_18_data.sh
  contrib/clojure-package/examples/infer/predictor/src/infer/predictor_example.clj
  contrib/clojure-package/integration-tests.sh
  contrib/clojure-package/scripts/infer/get_resnet_18_data.sh
  contrib/clojure-package/scripts/infer/get_ssd_data.sh
  contrib/clojure-package/test/org/apache/clojure_mxnet/infer/imageclassifier_test.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/infer/objectdetector_test.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/infer/predictor_test.clj
  contrib/clojure-package/test/test-images/Pug-Cookie.jpg
  contrib/clojure-package/test/test-images/kitten.jpg
Due: none

Add inference examples
  contrib/clojure-package/examples/infer/imageclassifier/.gitignore
  contrib/clojure-package/examples/infer/imageclassifier/README.md
  contrib/clojure-package/examples/infer/imageclassifier/project.clj
  contrib/clojure-package/examples/infer/imageclassifier/scripts/get_resnet_18_data.sh
  contrib/clojure-package/examples/infer/imageclassifier/scripts/get_resnet_data.sh
  contrib/clojure-package/examples/infer/imageclassifier/src/infer/imageclassifier_example.clj
  contrib/clojure-package/examples/infer/objectdetector/.gitignore
  contrib/clojure-package/examples/infer/objectdetector/README.md
  contrib/clojure-package/examples/infer/objectdetector/project.clj
  contrib/clojure-package/examples/infer/objectdetector/scripts/get_ssd_data.sh
  contrib/clojure-package/examples/infer/objectdetector/src/infer/objectdetector_example.clj
  contrib/clojure-package/examples/infer/predictor/.gitignore
  contrib/clojure-package/examples/infer/predictor/README.md
  contrib/clojure-package/examples/infer/predictor/project.clj
  contrib/clojure-package/examples/infer/predictor/scripts/get_resnet_18_data.sh
  contrib/clojure-package/examples/infer/predictor/scripts/get_resnet_data.sh
  contrib/clojure-package/examples/infer/predictor/src/infer/predictor_example.clj
  contrib/clojure-package/src/org/apache/clojure_mxnet/image.clj
  contrib/clojure-package/src/org/apache/clojure_mxnet/infer.clj
Due: none

Update code for integration tests
  contrib/clojure-package/examples/infer/imageclassifier/src/infer/imageclassifier_example.clj
  contrib/clojure-package/examples/infer/imageclassifier/test/infer/imageclassifier_example_test.clj
  contrib/clojure-package/examples/infer/objectdetector/src/infer/objectdetector_example.clj
  contrib/clojure-package/examples/infer/objectdetector/test/infer/objectdetector_example_test.clj
  contrib/clojure-package/examples/infer/predictor/src/infer/predictor_example.clj
  contrib/clojure-package/examples/infer/predictor/test/infer/predictor_example_test.clj
Due: none

not making mkldn default on windows
  CMakeLists.txt
  Makefile
Due: none

Add specs and simplify interface
  contrib/clojure-package/examples/infer/imageclassifier/src/infer/imageclassifier_example.clj
  contrib/clojure-package/examples/infer/imageclassifier/test/infer/imageclassifier_example_test.clj
  contrib/clojure-package/examples/infer/objectdetector/src/infer/objectdetector_example.clj
  contrib/clojure-package/examples/infer/objectdetector/test/infer/objectdetector_example_test.clj
  contrib/clojure-package/examples/infer/predictor/src/infer/predictor_example.clj
  contrib/clojure-package/examples/infer/predictor/test/infer/predictor_example_test.clj
  contrib/clojure-package/src/org/apache/clojure_mxnet/infer.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/infer/imageclassifier_test.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/infer/objectdetector_test.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/infer/predictor_test.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/util_test.clj
Due: none

Minor nit
  contrib/clojure-package/src/org/apache/clojure_mxnet/infer.clj
Due: none

Fix typos
  cpp-package/example/cpp-predictor/cpp_pred.cpp
Due: none

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
