Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

differentiable svd
  python/mxnet/_numpy_op_doc.py
  src/operator/c_lapack_api.cc
  src/operator/c_lapack_api.h
  src/operator/linalg.h
  src/operator/linalg_impl.h
  src/operator/numpy/linalg/np_gesvd-inl.h
  src/operator/numpy/linalg/np_gesvd.cc
  src/operator/numpy/linalg/np_gesvd.cu
  tests/python/unittest/test_numpy_op.py
Due: python, backend

init
  contrib/tvmop/basic/ufunc.py
  src/operator/contrib/tvmop/ufunc.cc
Due: backend

restore support mkldnn bn condition
  src/operator/nn/batch_norm.cc
Due: backend

rm duplicate code
  src/operator/nn/mkldnn/mkldnn_batch_norm-inl.h
Due: backend

Fix __getitem__
  python/mxnet/numpy/multiarray.py
Due: python

add test
  tests/python/unittest/test_tvm_op.py
Due: none

fix format error
  src/operator/numpy/np_nonzero_op-inl.h
  src/operator/numpy/np_nonzero_op.cc
  src/operator/numpy/np_nonzero_op.cu
Due: backend

Shift cpu mem vars to private, trigger CI
  src/operator/rnn-inl.h
Due: backend

Typo in test_operator fixed; temporary gpu support for npx.slice
  src/operator/numpy/np_matrix_op.cu
  tests/python/unittest/test_dgl_graph.py
  tests/python/unittest/test_numpy_op.py
  tests/python/unittest/test_operator.py
Due: backend

numpy doc of prod, random_shuffle, arange, random_normal, trunc, logical_not and arccosh
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/symbol/numpy/random.py
  src/operator/numpy/np_elemwise_unary_op_basic.cc
  src/operator/numpy/np_elemwise_unary_op_basic.cu
Due: python, backend

numpy operator arctan2
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/math_functions-inl.h
  src/operator/mshadow_op.h
  src/operator/numpy/np_elemwise_broadcast_op.cc
  src/operator/numpy/np_elemwise_broadcast_op.cu
  src/operator/operator_tune.cc
  tests/python/gpu/test_operator_gpu.py
  tests/python/unittest/test_numpy_op.py
Due: python, backend

add int8 bn mkldnn implementation and test (#15664)
  cpp-package/scripts/OpWrapperGenerator.py
  src/operator/nn/batch_norm-inl.h
  src/operator/nn/mkldnn/mkldnn_batch_norm-inl.h
  src/operator/quantization/mkldnn/mkldnn_quantized_batch_norm.cc
  src/operator/quantization/quantize_graph_pass.cc
  src/operator/quantization/quantized_batch_norm.cc
  tests/python/quantization/test_quantization.py
Due: backend

Support zero-sized tensor get and set
  python/mxnet/ndarray/ndarray.py
  python/mxnet/numpy/multiarray.py
Due: python

fix license issues
  LICENSE
  src/operator/special_functions-inl.h
Due: backend

Add MKLDNN 4c layout to fix gluoncv se_resnext101_64x4d (#15692) (#15801)
  src/operator/nn/mkldnn/mkldnn_base.cc
Due: backend

sequence_last, sequence_reverse, sequence_mask
  tests/nightly/test_large_array.py
Due: none

[MXNET-1206] Support NDArray indexing with None and Ellipsis (#13143)
  python/mxnet/ndarray/ndarray.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/test_utils.py
  src/operator/tensor/matrix_op-inl.h
  tests/python/unittest/test_dgl_graph.py
  tests/python/unittest/test_ndarray.py
  tests/python/unittest/test_operator.py
Due: python, backend

Add MKLDNN 4c layout to fix gluoncv se_resnext101_64x4d (#15692)
  src/operator/nn/mkldnn/mkldnn_base.cc
Due: backend

Fix unused arg
  python/mxnet/module/bucketing_module.py
Due: python

Add AMP Conversion support for bucketing module
  python/mxnet/contrib/amp/amp.py
  python/mxnet/module/bucketing_module.py
  python/mxnet/module/module.py
  tests/python/gpu/test_contrib_amp.py
  tests/python/train/test_bucketing.py
Due: python

Add bucketing module conversion
  docs/tutorials/amp/amp_tutorial.md
  example/rnn/bucketing/README.md
  example/rnn/bucketing/cudnn_rnn_bucketing.py
Due: none

Add bucketing module changes
  python/mxnet/contrib/amp/amp.py
  python/mxnet/module/bucketing_module.py
Due: python

Add load_aprams
  python/mxnet/model.py
  python/mxnet/module/bucketing_module.py
  tests/python/train/test_bucketing.py
  tests/python/unittest/test_module.py
Due: python

Refactor around lib loading
  src/c_api/c_api.cc
  src/common/library.cc
  src/common/library.h
  src/initialize.cc
  src/initialize.h
Due: backend

Fix lint
  src/initialize.cc
Due: backend

CR
  src/common/utils.h
  src/engine/threaded_engine_perdevice.cc
Due: backend

Refactor LibraryInitializer so it's thread safe. Fixes #13438 Fixes #14979
  docs/faq/env_var.md
  src/common/library.cc
  src/common/library.h
  src/common/utils.h
  src/engine/threaded_engine_perdevice.cc
  src/initialize.cc
  src/initialize.h
  src/profiler/profiler.h
Due: backend

Add option to choose between OMP implementations
  CMakeLists.txt
Due: none

numpy-compatible sum
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cu
  tests/python/gpu/test_operator_gpu.py
  tests/python/unittest/test_numpy_op.py
Due: backend

add branch param
  ci/jenkins/Jenkins_steps.groovy
Due: none

add new version build function
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
Due: none

Fix bug
  src/initialize.cc
Due: backend

Fix from CR
  src/initialize.cc
Due: backend

fixes and refinements
  docs/faq/env_var.md
  include/mxnet/imperative.h
  src/common/directed_graph.h
  src/nnvm/graph_dump.cc
  src/nnvm/graph_dump.h
Due: backend

Fix lint
  src/common/directed_graph.h
  tests/cpp/common/directed_graph_test.cc
  tests/cpp/nnvm/graph_dump_test.cc
Due: backend

forwards
  src/imperative/imperative.cc
  src/nnvm/graph_dump.cc
  src/nnvm/graph_dump.h
Due: backend

Add source files for graph_dump
  src/nnvm/graph_dump.cc
  src/nnvm/graph_dump.h
  tests/cpp/nnvm/graph_dump_test.cc
Due: backend

Add const accesor for Node
  src/common/directed_graph.h
Due: backend

Serialize to dot
  src/common/directed_graph.h
  src/nnvm/graph_dump.cc
  src/nnvm/graph_dump.h
  tests/cpp/common/directed_graph_test.cc
Due: backend

refine graph dump
  docs/faq/env_var.md
  include/mxnet/imperative.h
  src/imperative/imperative.cc
  src/nnvm/graph_dump.cc
Due: backend
