Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

Follow redirects when downloading apache-maven-3.3.9-bin.tar.gz
  ci/docker/install/centos7_scala.sh
  ci/docker/install/ubuntu_publish.sh
  ci/docker/install/ubuntu_scala.sh
Due: none

added example for gluon partitioning, fixed subgraphOp gradient
  example/extensions/lib_subgraph/subgraph_lib.cc
  example/extensions/lib_subgraph/test_subgraph.py
  src/c_api/c_api.cc
Due: backend

added comments
  src/c_api/c_api.cc
Due: backend

address review comments
  tests/cpp/include/test_mkldnn.h
Due: none

update symbol to json (#16948)
  python/mxnet/symbol/symbol.py
Due: python

Additional fix for vector access. (#17230)
  3rdparty/mshadow/mshadow/dot_engine-inl.h
Due: none

Fix OS X staticbuild, update docs and add tests (#17602)
  .github/workflows/os_x_staticbuild.yml
  cmake/Modules/FindAccelerate.cmake
  config/darwin.cmake
  config/distribution/darwin_cpu.cmake
  config/linux.cmake
  config/linux_gpu.cmake
  docs/static_site/src/pages/get_started/osx_setup.md
  docs/static_site/src/pages/get_started/ubuntu_setup.md
  tools/staticbuild/build_lib_cmake.sh
Due: none

Fix Non-ASCII character in docstring (#17600)
  ci/docker/runtime_functions.sh
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Due: python

cleaned up code, added more explanations to doc
  example/extensions/lib_subgraph/README.md
  src/c_api/c_api.cc
Due: backend

fixed code block
  example/extensions/lib_subgraph/README.md
Due: none

[CI] Follow redirects when downloading apache-maven-3.3.9-bin.tar.gz (#17608)
  ci/docker/install/centos7_scala.sh
  ci/docker/install/ubuntu_publish.sh
  ci/docker/install/ubuntu_scala.sh
Due: none

[Perl] MXNET-1447 Runtime features and large tensor support.
  perl-package/AI-MXNet/Changes
  perl-package/AI-MXNet/MANIFEST
  perl-package/AI-MXNet/META.json
  perl-package/AI-MXNet/META.yml
  perl-package/AI-MXNet/Makefile.PL
  perl-package/AI-MXNet/README
  perl-package/AI-MXNet/lib/AI/MXNet.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Gluon/Data/Vision.pm
  perl-package/AI-MXNet/lib/AI/MXNet/NDArray.pm
  perl-package/AI-MXNet/lib/AI/MXNet/NDArray/Sparse.pm
  perl-package/AI-MXNet/lib/AI/MXNet/RunTime.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Symbol.pm
  perl-package/AI-MXNet/t/test_runtime.t
  perl-package/AI-MXNetCAPI/Changes
  perl-package/AI-MXNetCAPI/META.json
  perl-package/AI-MXNetCAPI/META.yml
  perl-package/AI-MXNetCAPI/README
  perl-package/AI-MXNetCAPI/lib/AI/MXNetCAPI.pm
  perl-package/AI-MXNetCAPI/mxnet.i
  perl-package/AI-MXNetCAPI/mxnet_typemaps.i
Due: none

doc fix for argmax & argmin (#17604)
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Due: python

support np.dsplit, fix some error msgs and corner cases for hsplit and vsplit, add interoperability tests for h/v/dsplit (#17478)
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Due: python, backend

MXNET-1447 fixed test, corrected module version.
  perl-package/AI-MXNet/lib/AI/MXNet/Base.pm
  perl-package/AI-MXNet/t/test_runtime.t
Due: none

modify quantile test
  src/operator/numpy/np_bincount_op.cc
  src/operator/numpy/np_percentile_op.cc
  tests/python/unittest/test_numpy_op.py
Due: backend

C++
  src/operator/numpy/random/np_rayleigh_op.cc
  src/operator/numpy/random/np_rayleigh_op.cu
  src/operator/numpy/random/np_rayleigh_op.h
Due: backend

rayleigh
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/random.py
  src/operator/numpy/random/np_rayleigh_op.cc
  src/operator/numpy/random/np_rayleigh_op.cu
  src/operator/numpy/random/np_rayleigh_op.h
  tests/python/unittest/test_numpy_op.py
Due: python, backend

exponential
  src/operator/numpy/random/np_exponential_op.h
Due: backend

c++
  src/operator/numpy/random/np_rayleigh_op.h
Due: backend

passed args down to acceptSubgraph
  example/extensions/lib_subgraph/subgraph_lib.cc
  include/mxnet/lib_api.h
  src/c_api/c_api_symbolic.cc
  src/operator/subgraph/partitioner/custom_subgraph_property.h
Due: backend

triu
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_triu_op-inl.h
  src/operator/numpy/np_triu_op.cc
  src/operator/numpy/np_triu_op.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Due: python, backend

Revert "address review comments"
  tests/cpp/include/test_mkldnn.h
Due: none

categorical WIP
  python/mxnet/gluon/probability/distributions/categorical.py
  python/mxnet/gluon/probability/distributions/multivariate_normal.py
  python/mxnet/gluon/probability/distributions/one_hot_categorical.py
  tests/python/unittest/test_gluon_probability.py
Due: python

Backport #17596 (#17603)
  ci/docker/install/centos7_python.sh
  ci/docker/install/centos7_scala.sh
  ci/docker/install/requirements
  ci/docker/install/ubuntu_onnx.sh
  ci/docker/install/ubuntu_publish.sh
  ci/docker/install/ubuntu_scala.sh
  docs/python_docs/environment.yml
  julia/docs/Makefile
  src/operator/contrib/transformer.cu
  tools/caffe_converter/caffe_proto_utils.py
  tools/caffe_converter/convert_mean.py
Due: backend

Correct the grammar in 1-ndarray tutorial (#17513)
  docs/python_docs/python/tutorials/getting-started/crash-course/1-ndarray.md
Due: none

miscellaneous cleanups.
  perl-package/AI-MXNet/META.json
  perl-package/AI-MXNet/META.yml
  perl-package/AI-MXNet/lib/AI/MXNet/Base.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Executor/Group.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Gluon.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Metric.pm
  perl-package/AI-MXNet/lib/AI/MXNet/NDArray.pm
  perl-package/AI-MXNet/lib/AI/MXNet/RunTime.pm
  perl-package/AI-MXNetCAPI/lib/AI/MXNetCAPI.pm
  perl-package/AI-NNVMCAPI/Changes
  perl-package/AI-NNVMCAPI/META.json
  perl-package/AI-NNVMCAPI/META.yml
  perl-package/AI-NNVMCAPI/README
  perl-package/AI-NNVMCAPI/lib/AI/NNVMCAPI.pm
Due: none

Added IdentityAttachKLSparseReg
  benchmark/opperf/nd_operations/nn_basic_operators.py
Due: none

Added SoftmaxOutput
  benchmark/opperf/nd_operations/nn_basic_operators.py
Due: none

Run backward test
  benchmark/opperf/nd_operations/nn_basic_operators.py
Due: none

Added data1 and 2 to ndarray
  benchmark/opperf/rules/default_params.py
Due: none

Made loc ndarray type
  benchmark/opperf/rules/default_params.py
Due: none

Added grad back
  benchmark/opperf/nd_operations/nn_basic_operators.py
Due: none

Added LinearRegressionOutput
  benchmark/opperf/nd_operations/nn_basic_operators.py
Due: none

Added sparseness target
  benchmark/opperf/nd_operations/nn_basic_operators.py
Due: none

Reworked layer/instance norm
  benchmark/opperf/nd_operations/nn_basic_operators.py
Due: none

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
