Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

Replace mxnetci dockcross with public dockcross due to missing image
  ci/docker/Dockerfile.build.android_armv7
  ci/docker/Dockerfile.build.android_armv8
  ci/docker/Dockerfile.build.armv6
  ci/docker/Dockerfile.build.armv7
  ci/docker/Dockerfile.build.armv8
  ci/docker/Dockerfile.build.jetson
Due: none

Initial website documentation for Java API (#13289)
  docs/_static/js/sidebar.js
  docs/_static/mxnet-theme/navbar.html
  docs/api/java/index.md
  docs/install/build_from_source.md
  docs/install/java_setup.md
  docs/mxdoc.py
  docs/tutorials/java/index.md
  tests/tutorials/test_sanity_tutorials.py
Due: none

Remove source lists change
  ci/docker/Dockerfile.build.armv8
  ci/docker/Dockerfile.build.jetson
Due: none

Disable Jetson
  Jenkinsfile
  ci/jenkins/Jenkinsfile_edge
Due: none

Move to mxnetcipinned
  ci/docker/Dockerfile.build.android_armv7
  ci/docker/Dockerfile.build.android_armv8
  ci/docker/Dockerfile.build.armv6
  ci/docker/Dockerfile.build.armv7
  ci/docker/Dockerfile.build.armv8
  ci/docker/Dockerfile.build.jetson
Due: none

Replace mxnetci dockcross with public dockcross due to missing image (#13402)
  Jenkinsfile
  ci/docker/Dockerfile.build.android_armv7
  ci/docker/Dockerfile.build.android_armv8
  ci/docker/Dockerfile.build.armv6
  ci/docker/Dockerfile.build.armv7
  ci/docker/Dockerfile.build.armv8
  ci/docker/Dockerfile.build.jetson
  ci/jenkins/Jenkinsfile_edge
Due: none

Add ONNX unit-test
  tests/python-pytest/onnx/export/mxnet_export_test.py
Due: none

Added multi-output shape inference.
  python/mxnet/contrib/onnx/mx2onnx/export_onnx.py
Due: python

added java install option
  docs/install/index.md
Due: none

update maven blocks
  docs/install/index.md
Due: none

Fixed pylint
  python/mxnet/contrib/onnx/mx2onnx/export_onnx.py
Due: python

update maven button url to snapshot search for java
  docs/install/index.md
Due: none

bumping commit for CI
  docs/conf.py
Due: none

Fixing doc links and minor edits for Java API
  docs/tutorials/java/mxnet_java_on_intellij.md
  docs/tutorials/java/ssd_inference.md
Due: none

Correct shapes of images in cifar10 and cifar100 (#13348)
  python/mxnet/gluon/data/vision/datasets.py
Due: python

Updated recommenders example (#13041)
  example/recommenders/README.md
  example/recommenders/crossentropy.py
  example/recommenders/demo1-MF.ipynb
  example/recommenders/demo1-MF2-fancy.ipynb
  example/recommenders/demo2-binary.ipynb
  example/recommenders/demo2-dssm.ipynb
  example/recommenders/demo3-dssm.ipynb
  example/recommenders/matrix_fact.py
  example/recommenders/movielens_data.py
  example/recommenders/negativesample.py
  example/recommenders/randomproj.py
  example/recommenders/recotools.py
  example/recommenders/symbol_alexnet.py
Due: none

Improving multi-processing reliability for gluon DataLoader (#13318)
  python/mxnet/gluon/data/dataloader.py
Due: python

Fix repeated typo in mxnet_op.h
  src/operator/mxnet_op.h
Due: backend

Onnx multi output (#13390)
  python/mxnet/contrib/onnx/mx2onnx/export_onnx.py
  tests/python-pytest/onnx/export/mxnet_export_test.py
Due: python

speedup sampling
  src/operator/contrib/dgl_graph.cc
Due: backend

Change docker login
  ci/docker_cache.py
Due: none

Change docker login (#13408)
  ci/docker_cache.py
Due: none

Fixing doc links and minor edits for Java API (#13405)
  docs/tutorials/java/mxnet_java_on_intellij.md
  docs/tutorials/java/ssd_inference.md
Due: none

change into dArr
  scala-package/core/src/main/scala/org/apache/mxnet/Executor.scala
Due: clojure

add new line and fix code style
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/infer/predictor/PredictorExample.scala
  scala-package/infer/src/main/scala/org/apache/mxnet/infer/Predictor.scala
Due: clojure

add img config
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/infer/predictor/PredictorExample.scala
Due: clojure

add predictor Example
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/infer/predictor/PredictorExample.scala
  scala-package/examples/src/test/scala/org/apache/mxnetexamples/infer/imageclassifier/ImageClassifierExampleSuite.scala
  scala-package/examples/src/test/scala/org/apache/mxnetexamples/infer/objectdetector/ObjectDetectorExampleSuite.scala
  scala-package/examples/src/test/scala/org/apache/mxnetexamples/infer/predictor/PredictorExampleSuite.scala
  scala-package/infer/src/main/scala/org/apache/mxnet/infer/Predictor.scala
Due: clojure

init commit with Predictor Improvement
  scala-package/core/src/main/scala/org/apache/mxnet/Executor.scala
  scala-package/infer/src/main/scala/org/apache/mxnet/infer/Predictor.scala
  scala-package/infer/src/main/scala/org/apache/mxnet/infer/javaapi/Predictor.scala
Due: clojure

Fix repeated typo in mxnet_op.h (#13406)
  src/operator/mxnet_op.h
Due: backend

ONNX export: Hard sigmoid
  python/mxnet/contrib/onnx/mx2onnx/_op_translations.py
  tests/python-pytest/onnx/export/onnx_backend_test.py
  tests/python-pytest/onnx/import/test_cases.py
Due: python

ONNX export: Comparison operators
  python/mxnet/contrib/onnx/mx2onnx/_op_translations.py
  tests/python-pytest/onnx/export/mxnet_export_test.py
Due: python

Gluon MNIST tutorial: Use modern Gluon constructs, fix some wordings
  docs/tutorials/gluon/mnist.md
Due: none

Add mnist Gluon tutorial images
  docs/tutorials/gluon/wrong_train.png
  docs/tutorials/gluon/wrong_val.png
Due: none

Simplify mnist Gluon tutorial and add mislabelled sample plotting
  docs/tutorials/gluon/mnist.md
Due: none

Minor fixes to documentation
  docs/tutorials/java/mxnet_java_on_intellij.md
  docs/tutorials/java/ssd_inference.md
Due: none
