Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

update build_jetson function
  ci/docker/runtime_functions.sh
Due: none

Fix test_subgraph skipif
  tests/python/unittest/test_extensions.py
Due: none

Fix undef symbol mxnet::op::ElemwiseBinaryOp::DnsCsrCsrOp (#18357)
  src/operator/tensor/elemwise_binary_broadcast_op_basic.cc
Due: backend

Include lib/libopenblas.so.0 on CD (#18356)
  cd/mxnet_lib/static/Jenkins_pipeline.groovy
Due: none

update ubuntu_julia.sh
  ci/docker/install/ubuntu_julia.sh
Due: none

fix windows dll search path in python 3.8
  python/mxnet/libinfo.py
Due: python

Fix memory leaks in Gluon (#18328) (#18358)
  python/mxnet/gluon/block.py
  tests/python/unittest/test_gluon.py
  tests/python/unittest/test_thread_local.py
Due: python

Makefile bug fix for opencv4.
  Makefile
Due: none

fix lint
  python/mxnet/libinfo.py
Due: python

sanity
  src/operator/numpy/np_broadcast_reduce_op.h
Due: backend

prod
  src/operator/numpy/np_broadcast_reduce_op.h
Due: backend

mean
  src/operator/numpy/np_broadcast_reduce_op.h
Due: backend

nan
  src/operator/numpy/np_broadcast_reduce_op.h
  tests/python/unittest/test_numpy_interoperability.py
Due: backend

change kernel
  src/operator/numpy/np_broadcast_reduce_op.h
Due: backend

cmake: check compiler supports C++17 sufficiently (#18354)
  CMakeLists.txt
Due: none

Fix leak in gluon.Trainer
  conftest.py
  python/mxnet/gluon/parameter.py
  tests/python/unittest/test_gluon.py
Due: python

Disable test_sequential_rnn_cells (#18360)
  tests/python/unittest/test_gluon_rnn.py
  tests/python/unittest/test_numpy_op.py
Due: none

include
  src/operator/numpy/np_broadcast_reduce_op.h
Due: backend

revert a.copyto() to mx.nd.copyto(a)
  docs/static_site/src/pages/api/r/docs/tutorials/ndarray.md
Due: none

[Numpy] FFI: max/min/amax/amin (#17824)
  benchmark/python/ffi/benchmark_ffi.py
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/symbol/numpy/linalg.py
  src/api/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cu
Due: python, backend

Fix sanity
  conftest.py
Due: none

Include all mkldnn headers in CD builds (#18355)
  CMakeLists.txt
  cd/python/pypi/pypi_package.sh
  tools/pip/setup.py
Due: none

Fix test_multi_trainer
  python/mxnet/gluon/parameter.py
  tests/python/unittest/test_gluon_trainer.py
Due: python

fix (#18313)
  python/mxnet/numpy/multiarray.py
  tests/python/unittest/test_numpy_op.py
Due: python

Add missing ndim check in in matrix_op-inl.h
  src/operator/tensor/matrix_op-inl.h
Due: backend

fix file name
  python/mxnet/gluon/probability/block/stochastic_block.py
Due: python

Fix indent and comments
  src/operator/nn/log_softmax.cc
  src/operator/nn/mkldnn/mkldnn_log_softmax.cc
Due: backend

Fix lint errors
  src/operator/nn/log_softmax.cc
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_log_softmax.cc
Due: backend

Adapt tests for MKLDNN log_softmax
  tests/python/unittest/test_loss.py
  tests/python/unittest/test_numpy_gluon.py
  tests/python/unittest/test_operator.py
Due: none

Improve log_softmax performance by OneDNN library
  src/operator/nn/log_softmax.cc
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_log_softmax.cc
  src/operator/nn/mkldnn/mkldnn_ops-inl.h
  tests/python/unittest/test_operator.py
Due: backend

Fix MXNet not supporting coredumps (#18315)
  src/initialize.cc
Due: backend

add more doc
  python/mxnet/gluon/probability/block/stochastic_block.py
  python/mxnet/gluon/probability/distributions/transformed_distribution.py
Due: python

Website global search feature (#18288)
  docs/static_site/src/_config.yml
  docs/static_site/src/_config_beta.yml
  docs/static_site/src/_config_prod.yml
  docs/static_site/src/_includes/head.html
  docs/static_site/src/_includes/header.html
  docs/static_site/src/_sass/globalSearch.scss
  docs/static_site/src/_sass/minima/_layout.scss
  docs/static_site/src/assets/img/search-icon.svg
  docs/static_site/src/assets/js/globalSearch.js
  docs/static_site/src/assets/main.scss
Due: none

switch fid in multithreading
  python/mxnet/recordio.py
Due: python

replace google CDN with JQuery's own CDN
  docs/static_site/src/_includes/head.html
Due: none

typo fix.
  Makefile
Due: none

pytest fixture temp_dir
  tests/python/unittest/test_gluon_data.py
Due: none

fix activation numpy bug
  python/mxnet/gluon/nn/activations.py
  tests/python/unittest/test_numpy_gluon.py
Due: python

Update test_numpy_gluon.py
  tests/python/unittest/test_numpy_gluon.py
Due: none
