Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

add aux_states
  python/mxnet/executor.py
  python/mxnet/symbol/symbol.py
  tests/python/unittest/test_operator.py
  tests/python/unittest/test_profiler.py
  tests/python/unittest/test_subgraph.py
Due: python

fix aux-state type
  python/mxnet/executor.py
  python/mxnet/symbol/symbol.py
  tests/python/unittest/test_operator.py
  tests/python/unittest/test_sparse_operator.py
Due: python

try to remove set_prefix()
  python/mxnet/gluon/block.py
  python/mxnet/gluon/model_zoo/vision/alexnet.py
  python/mxnet/gluon/model_zoo/vision/densenet.py
  python/mxnet/gluon/model_zoo/vision/inception.py
  python/mxnet/gluon/model_zoo/vision/mobilenet.py
  python/mxnet/gluon/model_zoo/vision/resnet.py
  python/mxnet/gluon/model_zoo/vision/squeezenet.py
  python/mxnet/gluon/model_zoo/vision/vgg.py
  python/mxnet/gluon/nn/basic_layers.py
  python/mxnet/gluon/parameter.py
  tests/python/gpu/test_gluon_gpu.py
  tests/python/train/test_autograd.py
  tests/python/unittest/onnx/mxnet_export_test.py
  tests/python/unittest/test_gluon.py
  tests/python/unittest/test_gluon_rnn.py
Due: python

remove parameter name
  example/gluon/embedding_learning/train.py
  example/gluon/style_transfer/main.py
  python/mxnet/gluon/block.py
  python/mxnet/gluon/contrib/cnn/conv_layers.py
  python/mxnet/gluon/contrib/nn/basic_layers.py
  python/mxnet/gluon/contrib/rnn/conv_rnn_cell.py
  python/mxnet/gluon/contrib/rnn/rnn_cell.py
  python/mxnet/gluon/nn/activations.py
  python/mxnet/gluon/nn/basic_layers.py
  python/mxnet/gluon/nn/conv_layers.py
  python/mxnet/gluon/parameter.py
  python/mxnet/gluon/rnn/rnn_cell.py
  python/mxnet/gluon/rnn/rnn_layer.py
  tests/nightly/dist_async_kvstore.py
  tests/nightly/dist_device_sync_kvstore.py
  tests/nightly/dist_sync_kvstore.py
  tests/python/unittest/test_contrib_stes_op.py
  tests/python/unittest/test_deferred_compute.py
  tests/python/unittest/test_gluon.py
  tests/python/unittest/test_gluon_trainer.py
  tests/python/unittest/test_numpy_gluon.py
Due: python

try to fix test
  tests/python/unittest/test_operator.py
Due: none

fix lint
  python/mxnet/gluon/probability/block/__init__.py
  python/mxnet/gluon/probability/block/stochastic_block.py
  python/mxnet/gluon/probability/distributions/bernoulli.py
  python/mxnet/gluon/probability/distributions/beta.py
  python/mxnet/gluon/probability/distributions/binomial.py
  python/mxnet/gluon/probability/distributions/categorical.py
  python/mxnet/gluon/probability/distributions/constraint.py
  python/mxnet/gluon/probability/distributions/dirichlet.py
  python/mxnet/gluon/probability/distributions/distribution.py
  python/mxnet/gluon/probability/distributions/divergence.py
  python/mxnet/gluon/probability/distributions/exp_family.py
  python/mxnet/gluon/probability/distributions/exponential.py
  python/mxnet/gluon/probability/distributions/gamma.py
  python/mxnet/gluon/probability/distributions/geometric.py
  python/mxnet/gluon/probability/distributions/half_normal.py
  python/mxnet/gluon/probability/distributions/independent.py
  python/mxnet/gluon/probability/distributions/multinomial.py
  python/mxnet/gluon/probability/distributions/multivariate_normal.py
  python/mxnet/gluon/probability/distributions/negative_binomial.py
  python/mxnet/gluon/probability/distributions/normal.py
  python/mxnet/gluon/probability/distributions/one_hot_categorical.py
  python/mxnet/gluon/probability/distributions/poisson.py
  python/mxnet/gluon/probability/distributions/relaxed_bernoulli.py
  python/mxnet/gluon/probability/distributions/relaxed_one_hot_categorical.py
  python/mxnet/gluon/probability/distributions/utils.py
  python/mxnet/gluon/probability/distributions/weibull.py
  python/mxnet/gluon/probability/transformation/__init__.py
  python/mxnet/gluon/probability/transformation/domain_map.py
  python/mxnet/gluon/probability/transformation/transformation.py
  tests/python/gpu/test_operator_gpu.py
  tests/python/unittest/test_gluon_probability.py
Due: python

fix Constant and Symbolblock
  python/mxnet/gluon/block.py
  python/mxnet/gluon/nn/basic_layers.py
  python/mxnet/gluon/parameter.py
  tests/python/unittest/test_gluon.py
  tests/python/unittest/test_numpy_gluon.py
Due: python

reduce the number of tests for batchnorm
  tests/python/unittest/test_numpy_op.py
  tests/python/unittest/test_operator.py
Due: none

fix
  tests/python/unittest/test_numpy_op.py
  tests/python/unittest/test_operator.py
Due: none

Julia: remove downloading of the non-ASF binary build (#18489) (#18503)
  julia/deps/build.jl
Due: none

Julia: remove downloading of the non-ASF binary build (#18489) (#18502)
  julia/deps/build.jl
Due: none

Whitespace
  src/operator/contrib/intgemm/intgemm_fully_connected_op.cc
Due: backend

remove mx.rnn APIs (#18507)
  python/mxnet/__init__.py
  python/mxnet/initializer.py
  python/mxnet/rnn/__init__.py
  python/mxnet/rnn/io.py
  python/mxnet/rnn/rnn.py
  python/mxnet/rnn/rnn_cell.py
  tests/python/gpu/test_contrib_amp.py
  tests/python/gpu/test_operator_gpu.py
  tests/python/quantization/test_quantization.py
  tests/python/train/test_bucketing.py
  tests/python/unittest/test_contrib_control_flow.py
  tests/python/unittest/test_module.py
  tests/python/unittest/test_operator.py
  tests/python/unittest/test_rnn.py
Due: python

[Bug Fixed] Fix batch norm when grad_req is `add` (#18500)
  src/operator/nn/batch_norm-inl.h
  src/operator/nn/batch_norm.cc
  src/operator/nn/batch_norm.cu
  src/operator/nn/cudnn/cudnn_batch_norm-inl.h
  src/operator/nn/mkldnn/mkldnn_batch_norm-inl.h
  tests/python/unittest/test_numpy_op.py
  tests/python/unittest/test_operator.py
Due: backend

Drop list support in optimize_for (#18483)
  example/extensions/lib_pass/test_pass.py
  example/extensions/lib_subgraph/test_subgraph.py
  python/mxnet/gluon/block.py
  python/mxnet/symbol/symbol.py
  tests/python/unittest/test_extensions.py
  tests/python/unittest/test_subgraph_op.py
Due: python

Update ci/docker/install/requirements
  ci/docker/Dockerfile.build.centos7
  ci/docker/install/requirements
Due: none

Fix race condition in FusedOp (#18498) (#18505)
  src/operator/fusion/fused_op.cc
Due: backend

Update visualize.jl
  julia/src/visualize.jl
Due: none

Bugfix -- set_optimizer is not implemented
  julia/src/model.jl
Due: none

Cleaned
  julia/src/visualize.jl
Due: none

fix some tests
  python/mxnet/executor.py
  tests/python/unittest/test_operator.py
Due: python

remove xxOutput operators used in Module
  src/operator/regression_output.cc
  src/operator/regression_output.cu
  tests/python/unittest/test_operator.py
Due: backend

remove SVMOutput
  tests/python/gpu/test_operator_gpu.py
  tests/python/unittest/test_operator.py
Due: none

Fix batch norm when grad_req is
  src/operator/nn/batch_norm-inl.h
  src/operator/nn/batch_norm.cc
  src/operator/nn/batch_norm.cu
  src/operator/nn/cudnn/cudnn_batch_norm-inl.h
  src/operator/nn/mkldnn/mkldnn_batch_norm-inl.h
  tests/python/unittest/test_numpy_op.py
  tests/python/unittest/test_operator.py
Due: backend

backport 18500
  src/operator/nn/batch_norm-inl.h
  src/operator/nn/batch_norm.cc
  src/operator/nn/cudnn/cudnn_batch_norm-inl.h
  tests/python/unittest/test_numpy_op.py
  tests/python/unittest/test_operator.py
Due: backend

change condition
  src/operator/nn/batch_norm.cc
Due: backend

fix
  src/operator/nn/batch_norm.cc
Due: backend

Switch to flang to avoid libgfortran.so GPL runtime dependency
  cd/mxnet_lib/static/Jenkins_pipeline.groovy
  ci/build.py
  ci/docker/Dockerfile.build.centos7
  ci/docker/runtime_functions.sh
  cmake/ChooseBlas.cmake
  make/staticbuild/linux_cpu.mk
  make/staticbuild/linux_cu100.mk
  make/staticbuild/linux_cu101.mk
  make/staticbuild/linux_cu102.mk
  make/staticbuild/linux_cu92.mk
  make/staticbuild/linux_native.mk
  scala-package/assembly/src/main/assembly/assembly.xml
  scala-package/core/src/main/scala/org/apache/mxnet/util/NativeLibraryLoader.scala
  tools/dependencies/LICENSE.binary.dependencies
  tools/dependencies/README.md
  tools/dependencies/libpng.sh
  tools/dependencies/libturbojpeg.sh
  tools/dependencies/openblas.sh
  tools/dependencies/opencv.sh
  tools/dependencies/openssl.sh
  tools/dependencies/protobuf.sh
  tools/pip/setup.py
  tools/staticbuild/build.sh
  tools/staticbuild/build_lib.sh
  tools/staticbuild/build_lib_cmake.sh
Due: clojure

remove softmax test
  tests/python/unittest/test_numpy_op.py
Due: none

except storage
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/symbol/numpy/_symbol.py
  src/api/operator/numpy/np_repeat_op.cc
  src/operator/numpy/np_repeat_op-inl.h
  src/operator/numpy/np_repeat_op.cc
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Due: python, backend

repeat
  src/api/operator/numpy/np_repeat_op.cc
  src/operator/numpy/np_repeat_op-inl.h
  src/operator/numpy/np_repeat_op.cc
  src/operator/numpy/np_repeat_op.cu
Due: backend

delete
  src/operator/numpy/np_repeat_op-inl.h
Due: backend

except .h
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/symbol/numpy/_symbol.py
  src/api/operator/numpy/np_repeat_op.cc
  src/operator/numpy/np_repeat_op.cc
  src/operator/numpy/np_repeat_op.cu
Due: python, backend

change fwd
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_repeat_op-inl.h
Due: python, backend

fix check symbolic forwrad/backward
  python/mxnet/autograd.py
  python/mxnet/executor.py
  python/mxnet/ndarray/ndarray.py
  python/mxnet/test_utils.py
  src/executor/infer_graph_attr_pass.cc
  tests/python/unittest/test_operator.py
Due: python, backend

remove batchnorm_v1
  benchmark/opperf/utils/op_registry_utils.py
  python/mxnet/contrib/amp/lists/symbol_bf16.py
  python/mxnet/contrib/amp/lists/symbol_fp16.py
  src/operator/batch_norm_v1-inl.h
  src/operator/batch_norm_v1.cc
  tests/cpp/operator/batchnorm_test.cc
  tests/python/gpu/test_operator_gpu.py
  tests/python/unittest/test_operator.py
Due: python, backend

fix symbolic grad check
  python/mxnet/executor.py
  python/mxnet/test_utils.py
  tests/python/unittest/test_subgraph.py
Due: python

fix
  tests/python/unittest/test_operator.py
Due: none

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
