Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

Fix mxnet_unit_tests path
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
Due: none

add wait in MKLDNNDataReorder
  src/ndarray/ndarray.cc
  src/operator/nn/fully_connected.cc
Due: backend

Add check if scipy is imported in sparse.py (#16574)
  python/mxnet/ndarray/sparse.py
Due: python

export correct LD_LIBRARY_PATH
  ci/docker/runtime_functions.sh
Due: none

add mkldnn layout
  tests/cpp/include/test_mkldnn.h
Due: none

fix lint error and don't expand if scale==1
  tests/cpp/include/test_mkldnn.h
Due: none

[mkldnn-v1.0] Must reorder and emplace weights for inference primitives
  src/operator/nn/mkldnn/mkldnn_rnn.cc
Due: backend

todo (+1 squashed commit) Squashed commits: [3e61a7528] init
  contrib/tvmop/__init__.py
  contrib/tvmop/basic/ufunc.py
  contrib/tvmop/core/umath.py
  contrib/tvmop/core/umath/__init__.py
  contrib/tvmop/core/umath/core.py
  contrib/tvmop/core/umath/operator.py
  contrib/tvmop/core/umath/register.py
  contrib/tvmop/utils.py
Due: none

add shape inference for compatibility with numpy
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/numpy/linalg.py
  python/mxnet/symbol/numpy/linalg.py
  src/operator/numpy/linalg/np_potrf-inl.h
  src/operator/numpy/linalg/np_potrf.cc
  src/operator/numpy/linalg/np_potrf.cu
  src/operator/tensor/la_op-inl.h
  src/operator/tensor/la_op.cc
Due: python, backend

fix cpp comments
  src/operator/numpy/linalg/np_gesvd.cc
  src/operator/numpy/linalg/np_potrf-inl.h
  src/operator/numpy/linalg/np_potrf.cc
  src/operator/numpy/linalg/np_potrf.cu
Due: backend

[mkldnn-v1.0] Must reorder and emplace weights for inference primitives (#16682)
  src/operator/nn/mkldnn/mkldnn_rnn.cc
Due: backend

add operator : append ; fix op concatenate when axis = None
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Due: python, backend

add warning in bwd_ignore_zero_init description, also test with fp32
  src/operator/contrib/transformer-inl.h
  tests/python/gpu/test_operator_gpu.py
Due: backend

add default parameter for mkldnn rnn
  src/operator/nn/mkldnn/mkldnn_rnn.cc
Due: backend

fix and doc
  python/mxnet/gluon/contrib/estimator/estimator.py
Due: python

Add comments to simple_partition_pass.h file
  src/executor/infer_graph_attr_pass.cc
  src/executor/simple_partition_pass.h
Due: backend

handle composite metrics in estimator
  python/mxnet/gluon/contrib/estimator/estimator.py
  tests/nightly/estimator/test_sentiment_rnn.py
Due: python

Added launch bounds to the reduce kernels (#16397)
  src/operator/tensor/broadcast_reduce-inl.cuh
Due: backend

fix composite metric case in handlers
  python/mxnet/gluon/contrib/estimator/estimator.py
  python/mxnet/gluon/contrib/estimator/event_handler.py
  python/mxnet/gluon/contrib/estimator/utils.py
  tests/nightly/estimator/test_sentiment_rnn.py
Due: python

remove unused import
  python/mxnet/gluon/contrib/estimator/estimator.py
Due: python

Add cpp include dirs
  tests/cpp/unittest.mk
Due: none

Build test with USE_CPP_PACKAGE
  ci/docker/runtime_functions.sh
Due: none

Fix download cmd in runtime_functions
  ci/docker/runtime_functions.sh
Due: none

Add cached op threadsafe version with corresponding C APIs, CPP Package changes, CI changes and tests
  CMakeLists.txt
  Makefile
  ci/docker/runtime_functions.sh
  cpp-package/include/mxnet-cpp/symbol.h
  cpp-package/include/mxnet-cpp/symbol.hpp
  include/mxnet/c_api.h
  src/c_api/c_api_ndarray.cc
  src/imperative/cached_op_threadsafe.cc
  src/imperative/cached_op_threadsafe.h
  tests/CMakeLists.txt
  tests/cpp/engine/thread_local_test.cc
  tests/cpp/include/test_util.h
  tests/cpp/operator/mkldnn_operator_test.cc
  tests/cpp/test_main.cc
  tests/cpp/thread_safety/thread_safety_test.cc
  tests/cpp/unittest.mk
Due: backend

Merge
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
  tests/cpp/include/test_util.h
  tests/cpp/operator/mkldnn_operator_test.cc
  tests/cpp/unittest.mk
Due: none

fix for enable model parallelism for non-fp32 data
  src/operator/cross_device_copy.cc
  tests/python/unittest/test_model_parallel.py
Due: backend

[Estimator] handle composite metrics in estimator (#16676)
  python/mxnet/gluon/contrib/estimator/estimator.py
  python/mxnet/gluon/contrib/estimator/event_handler.py
  python/mxnet/gluon/contrib/estimator/utils.py
  tests/nightly/estimator/test_sentiment_rnn.py
Due: python

[Estimator] refactor estimator to allow overriding evaluate/fit of a batch (#16678)
  python/mxnet/gluon/contrib/estimator/estimator.py
Due: python

Add env var MXNET_ELIMINATE_COMMON_EXPR, default true
  docs/faq/env_var.md
  src/executor/graph_executor.cc
  src/imperative/cached_op.cc
Due: backend

Add comments, improve readability of eliminate_common_expr_pass.cc
  src/executor/eliminate_common_expr_pass.cc
Due: backend

change mkldnn lib name
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
Due: none

Implement Initializer.__eq__
  python/mxnet/initializer.py
  tests/python/unittest/test_gluon.py
Due: python

pylint disable
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Due: python

add quantized embedding
  src/operator/quantization/quantized_indexing_op.cc
  src/operator/tensor/indexing_op.h
Due: backend

add mxnet mkldnn cmake instruction
  docs/python_docs/python/tutorials/performance/backend/mkldnn/mkldnn_readme.md
Due: none

fix install dir
  mkldnn.mk
Due: none

Expand testing
  tests/python/unittest/test_symbol.py
Due: none

add fail info for mkldnn fc
  src/operator/nn/mkldnn/mkldnn_fully_connected.cc
Due: backend

fix logic
  src/operator/numpy/linalg/np_gesvd.cc
  src/operator/numpy/linalg/np_potrf.cc
  src/operator/tensor/la_op-inl.h
Due: backend
