Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

fix push sync nd api
  include/mxnet/c_api.h
  src/c_api/c_api.cc
Due: backend

Update init_op.cc
  src/operator/tensor/init_op.cc
Due: backend

Update elemwise_unary_op_basic.cc
  src/operator/tensor/elemwise_unary_op_basic.cc
Due: backend

align code
  include/mxnet/c_api.h
  src/c_api/c_api.cc
Due: backend

numpy behavior uniform implemented
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/random.py
  src/operator/numpy/random/np_uniform_op.cc
  src/operator/numpy/random/np_uniform_op.cu
  src/operator/numpy/random/np_uniform_op.h
  tests/python/unittest/test_numpy_ndarray.py
Due: python, backend

Collapse for-loop, readable offset, size_t vars
  src/operator/nn/mkldnn/mkldnn_rnn_impl.h
Due: backend

use new style decorator in unittest
  tests/python/unittest/test_numpy_ndarray.py
Due: none

fix to pass sanity
  src/operator/numpy/indexing_op.cc
  src/operator/numpy/indexing_op.cu
  src/operator/numpy/indexing_op.h
Due: backend

fix error in pylint
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/symbol/numpy/_symbol.py
Due: python

fix sanity error
  src/operator/numpy/indexing_op.h
Due: backend

remove unused code and fix sanity error (+2 squashed commits) Squashed commits: [25d38bff7] finish tril [847671a64] TODO: broadcast, doc and test
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_tril_op-inl.h
  src/operator/numpy/np_tril_op.cc
  src/operator/numpy/np_tril_op.cu
  tests/python/unittest/test_numpy_op.py
Due: python, backend

fix broadcast op param (#15714)
  benchmark/opperf/rules/default_params.py
Due: none

Fix OpenMP incompatible unsigned int with MSVC on windows
  src/operator/nn/mkldnn/mkldnn_rnn_impl.h
Due: backend

pointer bug fixed
  src/operator/numpy/random/np_uniform_op.h
Due: backend

CI compiling error fixed
  src/operator/numpy/random/np_uniform_op.cc
  src/operator/numpy/random/np_uniform_op.h
Due: backend

add unit test for quantize gluon
  python/mxnet/contrib/quantization.py
  tests/python/mkl/test_quantization_mkldnn.py
  tests/python/quantization/test_quantization.py
Due: python

Explicitly convert size_t to int
  src/operator/nn/mkldnn/mkldnn_rnn_impl.h
Due: backend

Add symbolic basic slicing
  python/mxnet/__init__.py
  python/mxnet/_ctypes/ndarray.py
  python/mxnet/_ctypes/symbol.py
  python/mxnet/base.py
  python/mxnet/cython/ndarray.pyx
  python/mxnet/cython/symbol.pyx
  python/mxnet/gluon/block.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/ndarray/register.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/symbol/register.py
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  tests/python/unittest/test_numpy_gluon.py
  tests/python/unittest/test_numpy_op.py
Due: python, backend

fix lint
  python/mxnet/contrib/quantization.py
Due: python

numpy hsplit
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  tests/python/unittest/test_numpy_op.py
Due: python, backend

fix lint 2
  python/mxnet/contrib/quantization.py
Due: python

Doc for full and slice_assign
  python/mxnet/ndarray/ndarray.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
Due: python

implement operator numpy moveaxis
  python/mxnet/_numpy_op_doc.py
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  tests/python/unittest/test_numpy_op.py
Due: python, backend

put common functions into new file
  src/operator/numpy/random/np_uniform_op.cc
  src/operator/numpy/random/np_uniform_op.h
  src/operator/numpy/random/twoparams_dist_common.h
Due: backend

update test for syncnd
  tests/cpp/engine/threaded_engine_test.cc
Due: none

add test file for numpy indices
  python/mxnet/symbol/numpy/_symbol.py
Due: python

style fixed
  src/operator/numpy/random/twoparams_dist_common.h
Due: backend

fix bug in tests/cpp/engine/threaded_engine_test
  tests/cpp/engine/threaded_engine_test.cc
Due: none

fixed empty shape case
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/symbol/numpy/random.py
Due: python

numpy bitwise_xor
  src/operator/mshadow_op.h
  src/operator/numpy/np_elemwise_binary_op.cc
  src/operator/numpy/np_elemwise_binary_op.cu
  src/operator/operator_tune.cc
  tests/python/unittest/test_numpy_op.py
Due: backend

numpy op logspace
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_init_op.cc
  src/operator/numpy/np_init_op.cu
  src/operator/tensor/init_op.h
  tests/python/unittest/test_numpy_op.py
Due: python, backend

implemnet numpy indices
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_init_op.cc
  src/operator/numpy/np_init_op.cu
  src/operator/numpy/np_init_op.h
  tests/python/unittest/test_numpy_op.py
Due: python, backend

fix temporary directory in python2
  python/mxnet/contrib/quantization.py
Due: python

add numpy linalg norm and numpy min
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/symbol/numpy/linalg.py
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cu
  src/operator/numpy/np_la_op-inl.cuh
  src/operator/numpy/np_la_op.cc
  src/operator/numpy/np_la_op.cu
  src/operator/numpy/np_la_op.h
Due: python, backend

updated cumsum
  src/operator/tensor/cumulative_op.cc
  src/operator/tensor/cumulative_op.cu
  src/operator/tensor/cumulative_op.h
  tests/python/unittest/test_operator.py
Due: backend

comment shape
  src/operator/tensor/cumulative_op.h
Due: backend

minor changes
  src/operator/tensor/cumulative_op.cc
  src/operator/tensor/cumulative_op.h
Due: backend
