Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

remove *mkl variants
  make/staticbuild/linux_cu100mkl.mk
  make/staticbuild/linux_cu101mkl.mk
  make/staticbuild/linux_cu75mkl.mk
  make/staticbuild/linux_cu80mkl.mk
  make/staticbuild/linux_cu90mkl.mk
  make/staticbuild/linux_cu91mkl.mk
  make/staticbuild/linux_cu92mkl.mk
  make/staticbuild/linux_mkl.mk
  make/staticbuild/linux_native.mk
Due: none

Test https://github.com/dmlc/dmlc-core/pull/585
  .gitmodules
Due: none

[API] unified API for custom kvstores (#17010)
  ci/docker/runtime_functions.sh
  python/mxnet/__init__.py
  python/mxnet/gluon/trainer.py
  python/mxnet/kvstore/__init__.py
  python/mxnet/kvstore/base.py
  python/mxnet/kvstore/kvstore.py
  python/mxnet/kvstore/kvstore_server.py
  python/mxnet/model.py
  src/kvstore/kvstore_local.h
  tests/nightly/dist_device_sync_kvstore_custom.py
  tests/python/unittest/test_gluon_trainer.py
  tests/python/unittest/test_kvstore_custom.py
Due: python, backend

Refactor code
  example/quantization/imagenet_gen_qsym_mkldnn.py
  python/mxnet/contrib/quantization.py
  src/operator/quantization/quantize_graph_pass.cc
Due: python, backend

julia: migrate build process to cmake
  julia/Project.toml
  julia/deps/build.jl
  julia/src/base.jl
Due: none

build with Julia's private libopenblas
  cmake/Modules/FindOpenBLAS.cmake
  julia/deps/build.jl
  julia/docs/src/user-guide/install.md
Due: none

USE_JULIA_BLAS
  julia/deps/build.jl
Due: none

submodule update
  julia/deps/build.jl
Due: none

Implement atleast_1d/2d/3d
  python/mxnet/_numpy_op_doc.py
  python/mxnet/numpy_dispatch_protocol.py
  src/operator/numpy/np_init_op.cc
  src/operator/numpy/np_init_op.cu
  src/operator/numpy/np_init_op.h
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Due: python, backend

fixed clearing supportedNodes set after multiple calls Added example executor in library and implementations for ops
  example/extensions/lib_subgraph/subgraph_lib.cc
  example/extensions/lib_subgraph/test_subgraph.py
  src/operator/subgraph/partitioner/custom_subgraph_property.h
Due: backend

reset local stats of metrics
  python/mxnet/gluon/contrib/estimator/event_handler.py
Due: python

reset local metrics
  python/mxnet/gluon/contrib/estimator/event_handler.py
Due: python

backport Julia patches to v1.5.x (#16142)
  docs/install/index.md
  julia/REQUIRE
  julia/deps/build.jl
  julia/docs/src/api/ndarray.md
  julia/docs/src/api/symbolic-node.md
  julia/src/executor.jl
  julia/test/unittest/bind.jl
Due: none

row col norm backward
  src/operator/numpy/linalg/np_norm-inl.h
  src/operator/numpy/linalg/np_norm.cc
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Due: backend

mvn WIP
  python/mxnet/__init__.py
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  python/mxnet/numpy_random_fallback.py
Due: python

Fix Concat (attempt 2)
  src/operator/nn/concat.cc
Due: backend

changed types to int64_t for tensor sizes, fixed indent
  example/extensions/lib_subgraph/subgraph_lib.cc
Due: none

FreeBSD comparibility patch (#17077)
  3rdparty/mshadow/mshadow/packet-inl.h
Due: none

Fix bug: needs to allocate memory for MultiSumSq
  src/operator/contrib/multi_lamb-inl.h
  src/operator/contrib/multi_sum_sq-inl.h
  src/operator/contrib/multi_sum_sq.cu
Due: backend

Fix lint
  python/mxnet/contrib/quantization.py
Due: python

improve tests
  src/operator/numpy/linalg/np_norm-inl.h
  tests/python/unittest/test_numpy_op.py
Due: backend

all
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Due: python

delete describe
  src/operator/numpy/np_elemwise_unary_op_basic.cc
Due: backend

have output
  src/operator/numpy/np_elemwise_unary_op_basic.cc
  src/operator/numpy/np_elemwise_unary_op_basic.cu
  src/operator/tensor/elemwise_unary_op.h
  tests/python/unittest/test_numpy_interoperability.py
Due: backend

only
  src/operator/mshadow_op.h
Due: backend

add test
  src/operator/mshadow_op.h
  src/operator/numpy/np_elemwise_unary_op_basic.cc
  src/operator/numpy/np_elemwise_unary_op_basic.cu
  src/operator/tensor/elemwise_unary_op.h
  tests/python/unittest/test_numpy_interoperability.py
Due: backend

test op not change
  tests/python/unittest/test_numpy_op.py
Due: none

solve conflict
  python/mxnet/symbol/numpy/_symbol.py
  tests/python/unittest/test_numpy_op.py
Due: python

all
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/mshadow_op.h
  src/operator/numpy/np_elemwise_unary_op_basic.cc
  src/operator/numpy/np_elemwise_unary_op_basic.cu
  src/operator/operator_tune.cc
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Due: python, backend

Add im2col and col2im operator (#16502)
  src/operator/nn/im2col-inl.h
  src/operator/nn/im2col.cc
  src/operator/nn/im2col.cu
  tests/python/unittest/test_operator.py
Due: backend

added support for passing options to supportedOps
  example/extensions/lib_subgraph/subgraph_lib.cc
  example/extensions/lib_subgraph/test_subgraph.py
  include/mxnet/lib_api.h
  src/operator/subgraph/partitioner/custom_subgraph_property.h
Due: backend

Disable OpenMP offloading support for 3rdparty/openmp
  CMakeLists.txt
Due: none

beautify cpp
  src/operator/numpy/linalg/np_gesvd-inl.h
  src/operator/numpy/linalg/np_norm-inl.h
  src/operator/numpy/linalg/np_norm.cc
  src/operator/numpy/linalg/np_norm.cu
  tests/python/unittest/test_numpy_op.py
Due: backend

update changelog
  CHANGELOG.md
Due: none

Update CMake on CI
  ci/build_windows.py
  ci/docker/Dockerfile.build.android_armv7
  ci/docker/Dockerfile.build.android_armv8
  ci/docker/Dockerfile.build.armv6
  ci/docker/Dockerfile.build.armv7
  ci/docker/Dockerfile.build.armv8
  ci/docker/Dockerfile.build.jetson
  ci/docker/install/ubuntu_core.sh
  ci/util.py
Due: none

normal wip, to be tested
  python/mxnet/gluon/probability/distributions/Normal.py
  python/mxnet/gluon/probability/distributions/distribution.py
  python/mxnet/gluon/probability/distributions/exp_family.py
  python/mxnet/numpy_random_fallback.py
Due: python

[MXNET-978] Higher Order Gradient Support `arcsin`, `arccos`. (#15515)
  src/operator/tensor/elemwise_unary_op_trig.cc
  tests/python/unittest/test_higher_order_grad.py
Due: backend

update
  python/mxnet/gluon/probability/__init__.py
  python/mxnet/gluon/probability/block/__init__.py
  python/mxnet/gluon/probability/distributions/__init__.py
  python/mxnet/gluon/probability/distributions/distribution.py
  python/mxnet/gluon/probability/distributions/normal.py
  python/mxnet/gluon/probability/transformation/__init__.py
Due: python

enable s3 publish for nightly builds in cd
  cd/python/pypi/Jenkins_pipeline.groovy
  cd/python/pypi/pypi_publish.py
  ci/docker/runtime_functions.sh
Due: none

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
