Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

fix wrong changes for Symbolblock
  python/mxnet/gluon/block.py
  python/mxnet/gluon/parameter.py
Due: python

Unset USE_SSE for s390x architecture
  make/config.mk
Due: none

Revert PR 17767 for fixing GPU memory usage regression (#18283) (#18311)
  3rdparty/mshadow/mshadow/base.h
  3rdparty/mshadow/mshadow/half2.h
  src/common/cuda_vectorization.cuh
  src/operator/mshadow_op.h
  src/operator/tensor/elemwise_binary_op.cuh
  src/operator/tensor/elemwise_binary_op.h
  src/operator/tensor/elemwise_binary_op_basic.cu
  src/operator/tensor/elemwise_binary_scalar_op.cuh
  src/operator/tensor/elemwise_binary_scalar_op.h
  src/operator/tensor/elemwise_binary_scalar_op_basic.cu
  src/operator/tensor/elemwise_binary_scalar_op_extended.cu
  src/operator/tensor/elemwise_sum.cu
  src/operator/tensor/elemwise_sum.h
  src/operator/tensor/elemwise_unary_op.cuh
  src/operator/tensor/elemwise_unary_op.h
  src/operator/tensor/elemwise_unary_op_basic.cu
  src/operator/tensor/elemwise_unary_op_pow.cu
  src/operator/tensor/elemwise_unary_op_trig.cu
  tests/python/unittest/test_operator.py
Due: backend

Fix CD failure due to illegal instruction in OpenBLAS (#18408)
  tools/dependencies/README.md
  tools/dependencies/openblas.sh
Due: none

fix misbehave of KLDivLoss
  python/mxnet/gluon/loss.py
Due: python

more support for boolean indexing and assign (#18352)
  python/mxnet/ndarray/ndarray.py
  python/mxnet/numpy/multiarray.py
  src/operator/numpy/np_nonzero_op.cc
  src/operator/tensor/indexing_op.cc
  src/operator/tensor/indexing_op.cu
  src/operator/tensor/indexing_op.h
  tests/python/unittest/test_numpy_ndarray.py
Due: python, backend

more support for boolean indexing and assign (#18351)
  python/mxnet/ndarray/ndarray.py
  python/mxnet/numpy/multiarray.py
  src/operator/numpy/np_nonzero_op.cc
  src/operator/tensor/indexing_op.cc
  src/operator/tensor/indexing_op.cu
  src/operator/tensor/indexing_op.h
  tests/python/unittest/test_numpy_ndarray.py
Due: python, backend

Fix pylint
  python/mxnet/util.py
Due: python

remove buggy lines
  python/mxnet/gluon/probability/block/stochastic_block.py
  python/mxnet/gluon/probability/distributions/divergence.py
  python/mxnet/gluon/probability/distributions/laplace.py
  tests/python/unittest/test_gluon_probability.py
Due: python

fix batchnorm
  python/mxnet/gluon/contrib/nn/basic_layers.py
  python/mxnet/gluon/nn/basic_layers.py
Due: python

Update ecosystem.html
  docs/static_site/src/pages/ecosystem.html
Due: none

Add optuna.png
  docs/static_site/src/assets/img/optuna.png
Due: none

fix load, collect_params; partially fix tests
  python/mxnet/gluon/block.py
  tests/python/gpu/test_gluon_gpu.py
  tests/python/unittest/onnx/mxnet_export_test.py
  tests/python/unittest/test_gluon_rnn.py
Due: python

fix compile error
  src/operator/tensor/index_add-inl.h
Due: backend

test CI
  src/operator/tensor/index_add-inl.h
Due: backend

tensor ind
  python/mxnet/_numpy_op_doc.py
  src/operator/tensor/index_add-inl.h
  src/operator/tensor/index_add_backward.cc
  src/operator/tensor/index_add_backward.cu
  src/operator/tensor/index_add_forward.cc
  src/operator/tensor/index_add_forward.cu
  tests/python/unittest/test_numpy_op.py
Due: python, backend

index_add forward & test
  src/operator/tensor/index_add-inl.h
  src/operator/tensor/index_add.cu
  tests/python/unittest/test_numpy_op.py
Due: backend

index_update_test
  python/mxnet/_numpy_op_doc.py
  src/operator/tensor/index_update-inl.h
  src/operator/tensor/index_update.cc
  src/operator/tensor/index_update.cu
  tests/python/unittest/test_numpy_op.py
Due: python, backend

fix wrong doc
  python/mxnet/_numpy_op_doc.py
Due: python

test CI compiler
  src/operator/tensor/index_add-inl.h
  tests/python/unittest/test_numpy_op.py
Due: backend

fix index_add_sanity_error
  src/operator/tensor/index_add-inl.h
  src/operator/tensor/index_add.cu
Due: backend

fix sanity error
  src/operator/tensor/index_add-inl.h
Due: backend

reduce bwd macro code
  src/operator/tensor/index_add-inl.h
  src/operator/tensor/index_add_backward.cc
  src/operator/tensor/index_add_backward.cu
  src/operator/tensor/index_add_forward.cc
  src/operator/tensor/index_add_forward.cu
Due: backend

reduce fwd macro code
  src/operator/tensor/index_add-inl.h
  src/operator/tensor/index_add_forward.cc
  src/operator/tensor/index_add_forward.cu
Due: backend

remove index_update & implement index_add backward
  python/mxnet/_numpy_op_doc.py
  src/operator/tensor/index_add-inl.h
  src/operator/tensor/index_add.cc
  src/operator/tensor/index_add.cu
  src/operator/tensor/index_update-inl.h
  src/operator/tensor/index_update.cc
  src/operator/tensor/index_update.cu
  tests/python/unittest/test_numpy_op.py
Due: python, backend

depart into two file
  src/operator/tensor/index_add_backward.cc
  src/operator/tensor/index_add_backward.cu
  src/operator/tensor/index_add_forward.cc
  src/operator/tensor/index_add_forward.cu
Due: backend

reduce code length
  src/operator/tensor/index_add-inl.h
Due: backend

part cpu
  python/mxnet/_numpy_op_doc.py
  src/operator/tensor/index_add-inl.h
  src/operator/tensor/index_add.cc
Due: python, backend

reduce mshadow & allow more dtype
  src/operator/tensor/index_add-inl.h
  src/operator/tensor/index_add_backward.cc
  src/operator/tensor/index_add_backward.cu
  src/operator/tensor/index_add_forward.cc
  src/operator/tensor/index_add_forward.cu
  tests/python/unittest/test_numpy_op.py
Due: backend

fix conflict
  tests/python/unittest/test_numpy_op.py
Due: none

fix compile error
  src/operator/tensor/index_add-inl.h
  src/operator/tensor/index_add_backward.cc
  src/operator/tensor/index_add_backward.cu
  src/operator/tensor/index_add_forward.cc
  src/operator/tensor/index_add_forward.cu
Due: backend

try to pass CI
  src/operator/tensor/index_add-inl.h
  src/operator/tensor/index_add_backward.cc
  src/operator/tensor/index_add_backward.cu
  tests/python/unittest/test_numpy_op.py
Due: backend

use value instead of references
  src/operator/tensor/index_add-inl.h
  src/operator/tensor/index_add_backward.cc
  src/operator/tensor/index_add_backward.cu
  src/operator/tensor/index_add_forward.cc
  src/operator/tensor/index_add_forward.cu
Due: backend

fix windows compile error
  src/operator/tensor/index_add-inl.h
  src/operator/tensor/index_add_backward.cc
  src/operator/tensor/index_add_backward.cu
  src/operator/tensor/index_add_forward.cc
  src/operator/tensor/index_add_forward.cu
Due: backend

fix naive engine error
  src/operator/tensor/index_add-inl.h
  src/operator/tensor/index_add_backward.cc
  src/operator/tensor/index_add_backward.cu
Due: backend

remove cudaMalloc/cudaFree
  src/operator/tensor/index_add-inl.h
  src/operator/tensor/index_add_backward.cc
  src/operator/tensor/index_add_backward.cu
  src/operator/tensor/index_add_forward.cc
  src/operator/tensor/index_add_forward.cu
Due: backend

remove pragma
  src/operator/tensor/index_add_backward.cc
  src/operator/tensor/index_add_forward.cc
Due: backend
