Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

Fix clang-tidy
  src/executor/infer_graph_attr_pass.cc
Due: backend

Add Reduction operator benchmarks
  benchmark/opperf/nd_operations/README.md
  benchmark/opperf/nd_operations/reduction_operators.py
  benchmark/opperf/opperf.py
  benchmark/opperf/rules/default_params.py
  benchmark/opperf/utils/op_registry_utils.py
Due: none

Add an utility to get list of operator not benchmarked
  benchmark/opperf/utils/op_registry_utils.py
Due: none

[MXNET-978] Second order gradient support for some unary operators (#14613)
  src/operator/tensor/elemwise_unary_op_basic.cc
  src/operator/tensor/elemwise_unary_op_trig.cc
  tests/python/unittest/test_higher_order_grad.py
Due: backend

Added source button
  docs/tutorials/gluon/transforms.md
Due: none

Use current_context in tutorial
  docs/tutorials/amp/amp_tutorial.md
  python/mxnet/contrib/amp/amp.py
Due: python

Added license.
  docs/tutorials/gluon/transforms.md
Due: none

Updated Image Augmentation tutorial to use Transforms.
  docs/tutorials/gluon/data_augmentation.md
Due: none

Update __all__
  python/mxnet/contrib/amp/amp.py
Due: python

Merge with load params API changes
  python/mxnet/gluon/parameter.py
Due: python

removed slack archive
  docs/community/contribute.md
Due: none

Revert "Allow AR path to be chosen by user"
  Makefile
  ci/docker/install/ubuntu_ar.sh
  ci/docker/runtime_functions.sh
Due: none

Revert "Upgrade archive utility, fixes: #15084"
  ci/docker/Dockerfile.build.ubuntu_build_cuda
  ci/docker/install/ubuntu_ar.sh
Due: none

move images to static
  docs/_static/tutorials/tensorrt/wavenet_optimized.png
  docs/_static/tutorials/tensorrt/wavenet_unoptimized.png
  docs/tutorials/tensorrt/inference_with_trt.md
Due: none

Autogenerate list of operators to cover
  benchmark/opperf/nd_operations/README.md
  benchmark/opperf/opperf.py
Due: none

fix broken links
  docs/_static/mxnet-theme/index.html
  docs/community/ecosystem.md
  docs/faq/env_var.md
  docs/faq/index.md
  docs/install/build_from_source.md
  docs/install/java_setup.md
  docs/install/scala_setup.md
  docs/tutorials/c++/basics.md
  docs/tutorials/embedded/wine_detector.md
  docs/tutorials/java/ssd_inference.md
  docs/tutorials/sparse/train.md
  python/mxnet/contrib/onnx/onnx2mx/import_model.py
  python/mxnet/contrib/text/embedding.py
  python/mxnet/gluon/contrib/rnn/rnn_cell.py
Due: python

numpy amax
  src/operator/mshadow_op.h
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cu
  tests/python/unittest/test_numpy_op.py
Due: backend

weird cu file diff
  src/operator/numpy/np_broadcast_reduce_op_value.cu
Due: backend

fix the bug on unit test
  tests/python/unittest/test_numpy_op.py
Due: none

change the macro for now
  src/operator/tensor/broadcast_reduce_op.h
Due: backend

remove test zero
  tests/python/unittest/test_numpy_op.py
Due: none

fix the broadcast_reduce_op_value.cu wrong kernel
  src/operator/numpy/np_broadcast_reduce_op_value.cu
Due: backend

fix lint
  src/operator/mshadow_op.h
Due: backend

fix the unit test error
  tests/python/unittest/test_numpy_op.py
Due: none

minor fix
  src/operator/mshadow_op.h
  src/operator/numpy/np_broadcast_reduce_op_value.cu
  tests/python/unittest/test_numpy_op.py
Due: backend

add more logic in shape to detect the invalid situation
  src/operator/numpy/np_broadcast_reduce_op.h
  tests/python/unittest/test_numpy_op.py
Due: backend

change back to type swtich
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/tensor/broadcast_reduce_op.h
Due: backend

fix gpu bug
  src/operator/numpy/np_broadcast_reduce_op_value.cu
Due: backend

use mshadow maximum
  src/operator/mshadow_op.h
  src/operator/numpy/np_broadcast_reduce_op_value.cc
Due: backend

change the cuda to use mashadow op
  src/operator/numpy/np_broadcast_reduce_op_value.cu
Due: backend

add zero dimension unit test
  tests/python/unittest/test_numpy_op.py
Due: none

remove scalar value check
  tests/python/unittest/test_numpy_op.py
Due: none

revert the tuple change
  include/mxnet/tuple.h
Due: backend

fix the case () that breaks the kernel launch
  include/mxnet/tuple.h
Due: backend

Add basic nn operators - FC, dropout, batchnorm
  benchmark/opperf/nd_operations/README.md
  benchmark/opperf/nd_operations/nn_basic_operators.py
  benchmark/opperf/opperf.py
  benchmark/opperf/rules/default_params.py
  benchmark/opperf/utils/benchmark_utils.py
Due: none

fix quantized act and concat
  src/operator/quantization/quantized_activation.cc
  src/operator/quantization/quantized_concat.cc
  tests/python/mkl/test_subgraph.py
Due: backend

change to as_nd_ndarray
  tests/python/unittest/test_numpy_op.py
Due: none

add missing @npx.use_np_shape
  tests/python/unittest/test_numpy_op.py
Due: none

Fix UT
  src/imperative/cached_op.cc
Due: backend

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
