Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

AMP Changes to support conditional op names switch
  include/mxnet/c_api.h
  python/mxnet/contrib/amp/amp.py
  src/c_api/c_api_symbolic.cc
  src/nnvm/low_precision_pass.cc
Due: python, backend

Merge AMP Changes
  python/mxnet/contrib/__init__.py
  python/mxnet/contrib/amp.py
  python/mxnet/contrib/amp/amp.py
Due: python

Fix error_str for load_dict
  python/mxnet/gluon/parameter.py
Due: python

Fix comment for inference use case
  python/mxnet/contrib/amp/amp.py
Due: python

Check all conditions
  src/nnvm/low_precision_pass.cc
Due: backend

Fix lint
  python/mxnet/contrib/amp/amp.py
  src/c_api/c_api_symbolic.cc
  src/nnvm/low_precision_pass.cc
Due: python, backend

numpy concatenate
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/nn/concat.cc
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  src/operator/quantization/quantized_concat.cc
  tests/python/unittest/test_numpy_op.py
Due: python, backend

Fix warnings
  src/c_api/c_api_symbolic.cc
Due: backend

Add license for example script
  example/automatic-mixed-precision/amp_model_conversion.py
Due: none

Remove gpu test and move tests to test_contrib_amp
  tests/python/gpu/test_amp.py
  tests/python/unittest/test_contrib_amp.py
Due: none

Clean up AMP tests
  tests/python/unittest/test_contrib_amp.py
Due: none

Backporting the fix to v1.4.x branch to prevent the crash in naive engine.
  src/engine/naive_engine.cc
Due: backend

Update env_var.md
  docs/faq/env_var.md
Due: none

fix misspell (#15149)
  python/mxnet/profiler.py
Due: python

numpy concatenate (#15104)
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/nn/concat.cc
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  src/operator/quantization/quantized_concat.cc
  tests/python/unittest/test_numpy_op.py
Due: python, backend

Fix pylint
  python/mxnet/gluon/data/dataloader.py
  python/mxnet/gluon/utils.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Due: python

More fix
  python/mxnet/gluon/data/dataloader.py
  python/mxnet/gluon/data/vision/transforms.py
  python/mxnet/gluon/loss.py
  python/mxnet/gluon/nn/basic_layers.py
  python/mxnet/gluon/utils.py
  python/mxnet/numpy_extension/__init__.py
  python/mxnet/optimizer/optimizer.py
  python/mxnet/symbol/register.py
  tests/python/unittest/test_numpy_gluon.py
Due: python

Fix linear regression gluon
  python/mxnet/gluon/data/dataloader.py
  python/mxnet/gluon/loss.py
  python/mxnet/gluon/nn/basic_layers.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_extension/__init__.py
  python/mxnet/util.py
  src/operator/nn/fully_connected.cc
Due: python, backend

Fix
  python/mxnet/ndarray/register.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/symbol/register.py
  python/mxnet/util.py
Due: python

Fix for chapter 4
  python/mxnet/gluon/loss.py
  python/mxnet/gluon/nn/activations.py
  python/mxnet/gluon/nn/basic_layers.py
  python/mxnet/gluon/utils.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/symbol/symbol.py
Due: python

Add np.add mul div mod pow sub and shuffle
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  src/operator/random/shuffle_op.cc
Due: python, backend

Fix dropout
  python/mxnet/gluon/nn/basic_layers.py
Due: python

Fix
  python/mxnet/ndarray/numpy/_op.py
  src/operator/tensor/matrix_op.cc
Due: python, backend

Fix weight decay
  python/mxnet/gluon/loss.py
Due: python

Fix model selection, underfitting, overfitting
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  src/operator/random/shuffle_op.cc
  src/operator/tensor/elemwise_unary_op_basic.cc
Due: python, backend

Fix Scala release
  scala-package/deploy/pom.xml
  scala-package/externalPom/pom.xml
  scala-package/externalPom/src/main/deploy/deploy.xml
  scala-package/pom.xml
Due: clojure

Add additional comments, add tutorial
  docs/tutorials/amp/amp_tutorial.md
  python/mxnet/contrib/amp/amp.py
  tests/python/unittest/test_contrib_amp.py
Due: python

Remove mention of hypothesis
  benchmark/opperf/README.md
Due: none

Fix chapter 4
  python/mxnet/gluon/loss.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/nn/activation.cc
  src/operator/nn/batch_norm.cc
  src/operator/nn/convolution.cc
  src/operator/nn/pooling.cc
  src/operator/tensor/matrix_op.cc
Due: python, backend

[WIP][numpy] Fix for D2L Chapters 2/3/4 (#15139)
  python/mxnet/gluon/data/dataloader.py
  python/mxnet/gluon/data/vision/transforms.py
  python/mxnet/gluon/loss.py
  python/mxnet/gluon/nn/activations.py
  python/mxnet/gluon/nn/basic_layers.py
  python/mxnet/gluon/utils.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/ndarray/register.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_extension/__init__.py
  python/mxnet/optimizer/optimizer.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/symbol/register.py
  python/mxnet/symbol/symbol.py
  python/mxnet/util.py
  src/operator/nn/activation.cc
  src/operator/nn/batch_norm.cc
  src/operator/nn/convolution.cc
  src/operator/nn/fully_connected.cc
  src/operator/nn/pooling.cc
  src/operator/random/shuffle_op.cc
  src/operator/tensor/elemwise_unary_op_basic.cc
  src/operator/tensor/matrix_op.cc
  tests/python/unittest/test_numpy_gluon.py
Due: python, backend

Python test failures under windows now report the exit code
  ci/windows/test_py2_cpu.ps1
  ci/windows/test_py2_gpu.ps1
  ci/windows/test_py3_cpu.ps1
  ci/windows/test_py3_gpu.ps1
Due: none

Update env_var.md (#15153)
  docs/faq/env_var.md
Due: none

support gluon ssd
  python/mxnet/contrib/quantization.py
Due: python

Backporting the fix to v1.4.x branch to prevent the crash in naive engine. (#15154)
  src/engine/naive_engine.cc
Due: backend

bcast add sort of work
  example/tvm-op/driver.py
  example/tvm-op/run_vector_add.py
  example/tvm-op/vector_add.py
  include/mxnet/tensor_blob.h
  src/operator/contrib/tvm_vector_add.cc
Due: backend

Fix duplicate xml heading
  scala-package/externalPom/pom.xml
Due: clojure

Move the test to gpu dir
  tests/python/gpu/test_contrib_amp.py
Due: none

update license
  LICENSE
  cpp-package/example/get_data.sh
  example/gluon/embedding_learning/get_cub200_data.sh
Due: none

update license
  LICENSE
  example/gluon/style_transfer/dataset/download_dataset.py
  example/gluon/super_resolution/README.md
  example/gluon/super_resolution/super_resolution.py
  tests/nightly/estimator/test_sentiment_rnn.py
Due: none

fix typo
  LICENSE
Due: none
