Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

add softmax
  python/mxnet/gluon/contrib/estimator/estimator.py
Due: python

fix doc string
  python/mxnet/gluon/contrib/estimator/event_handler.py
Due: python

fix doc gen
  python/mxnet/gluon/contrib/estimator/__init__.py
  python/mxnet/gluon/contrib/estimator/estimator.py
Due: python

Add missing default arg
  python/mxnet/symbol/symbol.py
Due: python

Add test
  tests/python/unittest/test_symbol.py
Due: none

Update test_profiler.py
  tests/python/unittest/test_profiler.py
Due: none

Add -DMXNET_USE_OPENMP to Makefiles so libinfo gets updated accordingly (#15498)
  Makefile
Due: none

replaced julia page and remaining dmlc.ml links
  docs/api/julia/index.md
  docs/faq/bucketing.md
  docs/install/osx_setup.md
  docs/install/ubuntu_setup.md
  docs/install/windows_setup.md
  docs/tutorials/scala/char_lstm.md
  docs/tutorials/tensorrt/inference_with_trt.md
  example/neural-style/end_to_end/README.md
  tools/coreml/README.md
  tools/coreml/test/test_mxnet_models.py
Due: none

Update README.md
  tools/coreml/README.md
Due: none

change makefile
  Makefile
  mkldnn.mk
Due: none

update previous flaky naive engine test (#15651)
  tests/python/unittest/test_profiler.py
Due: none

change cmake
  CMakeLists.txt
Due: none

Fix doc gen (#12)
  docs/tutorials/gluon/fit_api_tutorial.md
  python/mxnet/gluon/contrib/estimator/estimator.py
  python/mxnet/gluon/contrib/estimator/event_handler.py
  tests/python/unittest/test_gluon_estimator.py
Due: python

add test
  tests/python/unittest/test_gluon.py
Due: none

update ci build and pip package build
  ci/docker/Dockerfile.build.centos7_cpu
  ci/docker/Dockerfile.build.ubuntu_build_cuda
  ci/docker/Dockerfile.build.ubuntu_cpu
  ci/docker/Dockerfile.build.ubuntu_gpu_cu100
  ci/docker/Dockerfile.build.ubuntu_gpu_cu101
  ci/docker/Dockerfile.build.ubuntu_gpu_cu80
  ci/docker/Dockerfile.build.ubuntu_gpu_cu90
  ci/docker/Dockerfile.build.ubuntu_gpu_cu92
  ci/docker/Dockerfile.build.ubuntu_nightly_cpu
  ci/docker/Dockerfile.build.ubuntu_nightly_gpu
  ci/docker/install/ubuntu_mklml.sh
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
  cmake/DownloadMKLML.cmake
  scala-package/assembly/src/main/assembly/assembly.xml
  scala-package/core/src/main/scala/org/apache/mxnet/util/NativeLibraryLoader.scala
  tools/pip/setup.py
  tools/staticbuild/build_lib.sh
Due: clojure

Enable re-initialization with training path
  src/operator/nn/mkldnn/mkldnn_rnn_impl.h
Due: backend

fix typo in mkldnn.mk
  mkldnn.mk
Due: none

update julia install doc (#15609)
  docs/install/index.md
Due: none

fix build for USE_BLAS=mkl & bump MKL version
  ci/docker/install/ubuntu_mkl.sh
  ci/docker/runtime_functions.sh
Due: none

fix memory leaks.
  cpp-package/example/feature_extract/feature_extract.cpp
Due: none

skip mkldnn unit tests
  tests/python/mkl/test_subgraph.py
Due: none

fix test (#13)
  python/mxnet/gluon/contrib/estimator/estimator.py
  python/mxnet/gluon/contrib/estimator/event_handler.py
Due: python

fix warning (#14)
  tests/python/unittest/test_gluon_estimator.py
Due: none

make TransposeShape infer shape form both sides
  src/operator/tensor/matrix_op-inl.h
Due: backend

Update feature_extract.cpp
  cpp-package/example/feature_extract/feature_extract.cpp
Due: none

remove mshadow submodule
  .gitmodules
Due: none

Add missing default axis value to symbol.squeeze op (#15707)
  python/mxnet/symbol/symbol.py
  tests/python/unittest/test_gluon.py
  tests/python/unittest/test_symbol.py
Due: python

add deconv in TRT subgraph (#15666)
  src/operator/subgraph/tensorrt/nnvm_to_onnx-inl.h
  src/operator/subgraph/tensorrt/nnvm_to_onnx.cc
  src/operator/subgraph/tensorrt/tensorrt-inl.h
  tests/python/tensorrt/test_tensorrt_deconv.py
Due: backend

fix broadcast op param
  benchmark/opperf/rules/default_params.py
Due: none

Update index.md
  docs/api/julia/index.md
Due: none

small fixes
  src/operator/tensor/matrix_op-inl.h
Due: backend

Fix Scala Symbolic API some/Some typo (#15687)
  docs/api/scala/symbol.md
Due: none

fix href (#15)
  docs/api/python/gluon/contrib.md
Due: none

remove redundant lines
  src/operator/tensor/matrix_op-inl.h
Due: backend
