Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

[DOC] refine autograd docs (#15109)
  docs/api/python/autograd/autograd.md
  python/mxnet/autograd.py
  python/mxnet/ndarray/ndarray.py
Due: python

Update test_profiler.py
  tests/python/unittest/test_profiler.py
Due: none

revert unit32 to unsigned int
  include/mxnet/c_api.h
  include/mxnet/c_predict_api.h
Due: backend

Fix quantized concat when inputs are mixed int8 and uint8 (#15693)
  src/operator/quantization/mkldnn/mkldnn_quantized_concat.cc
  tests/python/mkl/test_subgraph.py
Due: backend

[MKLDNN]Enhance Quantization APIs and Tutorial (#15448)
  docs/tutorials/index.md
  docs/tutorials/mkldnn/mkldnn_quantization.md
  example/quantization/README.md
  example/quantization/imagenet_gen_qsym_mkldnn.py
  python/mxnet/contrib/quantization.py
  tests/tutorials/test_tutorials.py
Due: python

make TransposeShape infer shape form both sides (#15713)
  src/operator/tensor/matrix_op-inl.h
  tests/python/unittest/test_operator.py
Due: backend

[MXNET-1358] Fit api tutorial (#15353)
  docs/api/python/gluon/contrib.md
  docs/tutorials/gluon/fit_api_tutorial.md
  docs/tutorials/index.md
  python/mxnet/gluon/contrib/__init__.py
  python/mxnet/gluon/contrib/estimator/__init__.py
  python/mxnet/gluon/contrib/estimator/estimator.py
  python/mxnet/gluon/contrib/estimator/event_handler.py
  tests/python/unittest/test_gluon_estimator.py
  tests/tutorials/test_tutorials.py
Due: python

remove mshadow submodule
  .gitmodules
Due: none

[numpy] Numpy dot (#14831)
  python/mxnet/test_utils.py
  src/operator/numpy/np_dot-inl.h
  src/operator/numpy/np_dot.cc
  src/operator/numpy/np_dot.cu
  tests/python/unittest/test_numpy_op.py
Due: python, backend

[numpy] Some np ops for d2l (#14924)
  example/numpy/demo.ipynb
  include/mxnet/tuple.h
  python/mxnet/base.py
  python/mxnet/ndarray/numpy/__init__.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/ndarray/numpy/ext.py
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/__init__.py
  python/mxnet/numpy/ext.py
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/symbol/numpy/ext.py
  python/mxnet/symbol/numpy/linalg.py
  python/mxnet/symbol/numpy/random.py
  src/c_api/c_api_common.h
  src/operator/numpy/np_elemwise_broadcast_op.cc
  src/operator/numpy/np_elemwise_broadcast_op.cu
  src/operator/numpy/np_elemwise_unary_op_basic.cc
  src/operator/numpy/np_elemwise_unary_op_basic.cu
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  src/operator/tensor/elemwise_binary_broadcast_op.h
  src/operator/tensor/matrix_op-inl.h
  tests/python/unittest/test_numpy_ndarray.py
  tests/python/unittest/test_numpy_op.py
Due: python, backend

Enable np op compat check with name prefix (#14897)
  src/c_api/c_api_common.h
  src/operator/numpy/np_broadcast_reduce_op_value.cc
Due: backend

numpy-compatible mean (#14859)
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cu
  tests/python/unittest/test_numpy_op.py
Due: backend

[Do not review] [Do not merge] New numpy-compatible sum (#14739)
  python/mxnet/__init__.py
  python/mxnet/base.py
  python/mxnet/ndarray/__init__.py
  python/mxnet/ndarray/numpy.py
  python/mxnet/numpy/__init__.py
  python/mxnet/symbol/numpy.py
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cu
  src/operator/tensor/broadcast_reduce_op.h
  tests/python/gpu/test_operator_gpu.py
  tests/python/unittest/test_numpy_op.py
Due: python, backend

[numpy] Fix d2l chapter 5 (#15264)
  python/mxnet/gluon/block.py
  python/mxnet/gluon/parameter.py
  python/mxnet/initializer.py
  python/mxnet/ndarray/utils.py
  python/mxnet/numpy/__init__.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/utils.py
  tests/python/unittest/test_numpy_ndarray.py
Due: python

[numpy] Fix several places in numpy (#15398)
  include/mxnet/base.h
  python/mxnet/contrib/text/embedding.py
  python/mxnet/gluon/nn/basic_layers.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_extension/image.py
Due: python, backend

fix for ch11 (#15244)
  python/mxnet/gluon/parameter.py
  python/mxnet/numpy_extension/__init__.py
Due: python

Change np_compat to np_shape
  python/mxnet/gluon/block.py
  python/mxnet/gluon/parameter.py
  python/mxnet/gluon/utils.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/ndarray/register.py
  python/mxnet/numpy/__init__.py
  python/mxnet/numpy/multiarray.py
  tests/python/unittest/test_numpy_gluon.py
  tests/python/unittest/test_numpy_ndarray.py
  tests/python/unittest/test_numpy_op.py
Due: python

Fix (#15188)
  example/numpy/numpy_semantics.ipynb
  python/mxnet/gluon/data/dataloader.py
  python/mxnet/gluon/data/vision/datasets.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_extension/__init__.py
  python/mxnet/util.py
Due: python

Numpy compatible linspace (#15256)
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/tensor/init_op.cc
  tests/python/unittest/test_numpy_op.py
Due: python, backend

[numpy][doc-fix] sum, copy, tile, argmax, sign, log, degrees (#15382)
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_elemwise_unary_op_basic.cc
  src/operator/numpy/np_elemwise_unary_op_basic.cu
Due: python, backend

Numpy compatible max (#15161)
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cu
  tests/python/unittest/test_numpy_op.py
Due: backend

[numpy] Fix d2l chapter8 (#15237)
  python/mxnet/_numpy_op_doc.py
  python/mxnet/base.py
  python/mxnet/gluon/data/dataloader.py
  python/mxnet/gluon/nn/basic_layers.py
  python/mxnet/gluon/rnn/rnn_layer.py
  python/mxnet/ndarray/ndarray.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/__init__.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/ndarray/ndarray.cc
  src/operator/nn/concat.cc
  src/operator/numpy/np_dot-inl.h
  src/operator/numpy/np_dot.cc
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  src/operator/rnn.cc
  src/operator/sequence_mask.cc
  src/operator/swapaxis-inl.h
  src/operator/swapaxis.cc
  src/operator/tensor/indexing_op.cc
  src/operator/tensor/matrix_op-inl.h
  src/operator/tensor/matrix_op.cc
  tests/python/unittest/test_numpy_op.py
Due: python, backend

numpy concatenate (#15104)
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/nn/concat.cc
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  src/operator/quantization/quantized_concat.cc
  tests/python/unittest/test_numpy_op.py
Due: python, backend

Numpy Trace (#15258)
  python/mxnet/_numpy_op_doc.py
  src/operator/numpy/np_trace_op-inl.h
  src/operator/numpy/np_trace_op.cc
  src/operator/numpy/np_trace_op.cu
  tests/python/unittest/test_numpy_op.py
Due: python, backend

Numpy-compatible split (#15049)
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/tensor/matrix_op-inl.h
  src/operator/tensor/matrix_op.cc
  tests/python/unittest/test_numpy_op.py
Due: python, backend

[numpy] Fix np branch after rebase (#15086)
  ci/jenkins/Jenkins_steps.groovy
  ci/jenkins/Jenkinsfile_unix_cpu
  example/numpy/demo.ipynb
  python/mxnet/__init__.py
  python/mxnet/_ctypes/ndarray.py
  python/mxnet/base.py
  python/mxnet/gluon/block.py
  python/mxnet/gluon/parameter.py
  python/mxnet/gluon/utils.py
  python/mxnet/ndarray/__init__.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/__init__.py
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/random.py
  python/mxnet/numpy_extension/__init__.py
  python/mxnet/symbol/__init__.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/symbol/numpy/linalg.py
  python/mxnet/symbol/numpy/random.py
  python/mxnet/test_utils.py
  python/mxnet/util.py
  src/operator/numpy/np_broadcast_reduce_op_index.cc
  src/operator/numpy/np_broadcast_reduce_op_index.cu
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cu
  src/operator/numpy/np_elemwise_unary_op_basic.cc
  src/operator/numpy/np_elemwise_unary_op_basic.cu
  src/operator/numpy/np_init_op.cc
  src/operator/random/sample_op.cc
  src/operator/tensor/broadcast_reduce_op.h
  src/operator/tensor/elemwise_binary_broadcast_op_logic.cc
  src/operator/tensor/elemwise_binary_scalar_op_logic.cc
  tests/python/unittest/test_contrib_amp.py
  tests/python/unittest/test_numpy_gluon.py
  tests/python/unittest/test_numpy_ndarray.py
  tests/python/unittest/test_numpy_op.py
  tests/python/unittest/test_thread_local.py
Due: python, backend

[Numpy] Numpy compatible argsort (#15501)
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/tensor/ordering_op-inl.h
  src/operator/tensor/ordering_op.cc
  tests/python/unittest/test_numpy_op.py
Due: python, backend

[numpy] fix cython (#15418)
  ci/jenkins/Jenkins_steps.groovy
  ci/jenkins/Jenkinsfile_unix_cpu
  python/mxnet/cython/ndarray.pyx
  python/mxnet/cython/symbol.pyx
Due: python

numpy-compatible cumsum (#15309)
  src/operator/numpy/np_cumsum-inl.h
  src/operator/numpy/np_cumsum.cc
  src/operator/numpy/np_cumsum.cu
  tests/python/unittest/test_numpy_op.py
Due: backend

add doc for multinomial, dot, cumsum, clip, abs, exp, arctan (#15386)
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_elemwise_unary_op_basic.cc
  src/operator/numpy/np_elemwise_unary_op_basic.cu
Due: python, backend

[numpy] Fix d2l performance regression (#15173)
  python/mxnet/gluon/data/vision/transforms.py
  python/mxnet/gluon/loss.py
  python/mxnet/gluon/nn/activations.py
  python/mxnet/gluon/nn/basic_layers.py
  python/mxnet/gluon/utils.py
  python/mxnet/ndarray/ndarray.py
  python/mxnet/ndarray/register.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_extension/__init__.py
  python/mxnet/optimizer/optimizer.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/symbol/register.py
  python/mxnet/symbol/symbol.py
  python/mxnet/test_utils.py
  python/mxnet/util.py
  src/operator/numpy/np_matrix_op.cu
  src/operator/tensor/elemwise_unary_op_basic.cc
  src/operator/tensor/matrix_op.cc
  tests/python/unittest/test_numpy_ndarray.py
  tests/python/unittest/test_numpy_op.py
Due: python, backend

[WIP][numpy] Fix for D2L Chapters 2/3/4 (#15139)
  python/mxnet/gluon/data/dataloader.py
  python/mxnet/gluon/data/vision/transforms.py
  python/mxnet/gluon/loss.py
  python/mxnet/gluon/nn/activations.py
  python/mxnet/gluon/nn/basic_layers.py
  python/mxnet/gluon/utils.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/ndarray/register.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_extension/__init__.py
  python/mxnet/optimizer/optimizer.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/symbol/register.py
  python/mxnet/symbol/symbol.py
  python/mxnet/util.py
  src/operator/nn/activation.cc
  src/operator/nn/batch_norm.cc
  src/operator/nn/convolution.cc
  src/operator/nn/fully_connected.cc
  src/operator/nn/pooling.cc
  src/operator/random/shuffle_op.cc
  src/operator/tensor/elemwise_unary_op_basic.cc
  src/operator/tensor/matrix_op.cc
  tests/python/unittest/test_numpy_gluon.py
Due: python, backend

[numpy][doc-fix] mean, transpose, stack, split, log2, rint and radians (#15370)
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cu
  src/operator/numpy/np_elemwise_unary_op_basic.cc
  src/operator/numpy/np_elemwise_unary_op_basic.cu
Due: python, backend

fix for chapter6 conv nn (#15224)
  python/mxnet/gluon/data/dataloader.py
  python/mxnet/gluon/data/vision/transforms.py
  python/mxnet/gluon/nn/conv_layers.py
  python/mxnet/gluon/utils.py
  python/mxnet/numpy/multiarray.py
Due: python

[numpy] [DO NOT MERGE] Fix d2l chapters 9 and 13 (#15246)
  python/mxnet/_numpy_op_doc.py
  python/mxnet/contrib/text/embedding.py
  python/mxnet/gluon/block.py
  python/mxnet/gluon/loss.py
  python/mxnet/gluon/nn/basic_layers.py
  python/mxnet/gluon/parameter.py
  python/mxnet/gluon/utils.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/nn/dropout.cc
  src/operator/nn/layer_norm.cc
  src/operator/nn/softmax.cc
  src/operator/tensor/broadcast_reduce_op_index.cc
  src/operator/tensor/dot.cc
  src/operator/tensor/matrix_op-inl.h
  src/operator/tensor/matrix_op.cc
  src/operator/tensor/ordering_op.cc
  tests/python/unittest/test_numpy_op.py
Due: python, backend
