Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

[tvmop] support cuda multi-arch compilation
  contrib/tvmop/compile.py
Due: none

Clean-up code and follow Mxnet case/format
  python/mxnet/optimizer/optimizer.py
  src/operator/contrib/multi_lamb.cc
Due: python, backend

[v1.6.x] Cherry-pick MKL-DNN Rnn operator enhancements to v1.6.x (#17225)
  docs/static_site/src/pages/api/faq/env_var.md
  src/common/utils.h
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_rnn-inl.h
  src/operator/nn/mkldnn/mkldnn_rnn.cc
  src/operator/operator_common.h
  src/operator/rnn.cc
  tests/python/unittest/test_gluon_rnn.py
  tests/python/unittest/test_operator.py
Due: backend

removed unused code
  src/c_api/c_api.cc
Due: backend

Update perf.md
  docs/static_site/src/pages/api/faq/perf.md
Due: none

minor change for script message
  example/quantization/launch_inference_mkldnn.sh
Due: none

fix broadcast_to scalar case
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cu
  tests/python/unittest/test_numpy_op.py
Due: python, backend

Update README.md
  example/distributed_training-horovod/README.md
Due: none

[tvmop] support cuda multi-arch compilation (#17214)
  CMakeLists.txt
  cmake/BuildTVM.cmake
  contrib/tvmop/compile.py
Due: none

categorical mostly done
  python/mxnet/gluon/probability/distributions/categorical.py
Due: python

change broadcast_to namespace prefix
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/stride_tricks.py
Due: python

remove unused import
  python/mxnet/numpy/stride_tricks.py
Due: python

update benchmark script for ncf
  example/neural_collaborative_filtering/benchmark.sh
  example/quantization/launch_inference_mkldnn.sh
Due: none

Add ~/.local/bin prefix
  docs/static_site/src/pages/get_started/ubuntu_setup.md
Due: none

Add test
  tests/python/unittest/test_gluon.py
Due: none

autograd video and image link fixes and removing symbol tutorials (#17227)
  docs/python_docs/python/api/symbol/index.rst
  docs/python_docs/python/tutorials/packages/autograd/index.md
Due: none

Fix and clean up Ubuntu build from source instructions (#17229)
  docs/static_site/src/pages/get_started/ubuntu_setup.md
Due: none

fixed variable naming
  src/operator/subgraph/partitioner/custom_subgraph_property.h
Due: backend

Fix test
  tests/python/unittest/test_gluon.py
Due: none

update distributions/utils.py
  python/mxnet/gluon/probability/distributions/utils.py
Due: python

Fixing autograd images
  docs/python_docs/python/tutorials/packages/autograd/index.md
Due: none

Disable large tensor support explicitly on mxnet-mkl on Mac, mxnet-mkl, mxnet-cu101mkl on Ubuntu
  make/pip/pip_darwin_mkl.mk
  make/pip/pip_linux_cu101mkl.mk
  make/pip/pip_linux_mkl.mk
Due: none

Multithreaded Inference Interface
  CMakeLists.txt
  Makefile
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
  ci/jenkins/Jenkinsfile_unix_gpu
  cpp-package/include/mxnet-cpp/symbol.h
  cpp-package/include/mxnet-cpp/symbol.hpp
  include/mxnet/c_api.h
  src/c_api/c_api_ndarray.cc
  src/imperative/cached_op_threadsafe.cc
  src/imperative/cached_op_threadsafe.h
  tests/CMakeLists.txt
  tests/cpp/engine/thread_local_test.cc
  tests/cpp/include/test_util.h
  tests/cpp/operator/mkldnn_operator_test.cc
  tests/cpp/test_main.cc
  tests/cpp/thread_safety/thread_safety_test.cc
  tests/cpp/unittest.mk
Due: backend

change _generate_op_module_signature get_module_file open with encoding="utf-8",it fix some encode error in Chinese windows system. (#16738)
  python/mxnet/base.py
Due: python

Static Build and CD for mxnet-cu102/mxnet-cu102mkl (#17074)
  cd/Jenkinsfile_cd_pipeline
  cd/Jenkinsfile_release_job
  cd/README.md
  cd/utils/mxnet_base_image.sh
  ci/docker/Dockerfile.build.ubuntu_gpu_cu100
  ci/docker/Dockerfile.build.ubuntu_gpu_cu101
  ci/docker/Dockerfile.build.ubuntu_gpu_cu102
  ci/docker/Dockerfile.build.ubuntu_gpu_cu90
  ci/docker/Dockerfile.publish.ubuntu1404_cpu
  ci/docker/Dockerfile.publish.ubuntu1404_gpu
  ci/docker/install/ubuntu_cudnn.sh
  make/pip/linux_cu102.mk
  make/pip/linux_cu102mkl.mk
  tools/pip/doc/CU101_ADDITIONAL.md
  tools/pip/doc/CU102MKL_ADDITIONAL.md
  tools/pip/doc/CU102_ADDITIONAL.md
  tools/pip/doc/CU75MKL_ADDITIONAL.md
  tools/pip/doc/CU75_ADDITIONAL.md
  tools/pip/doc/CU80MKL_ADDITIONAL.md
  tools/pip/doc/CU80_ADDITIONAL.md
  tools/pip/doc/CU90MKL_ADDITIONAL.md
  tools/pip/doc/CU90_ADDITIONAL.md
  tools/pip/doc/CU92MKL_ADDITIONAL.md
  tools/pip/doc/CU92_ADDITIONAL.md
  tools/pip/setup.py
  tools/setup_gpu_build_tools.sh
Due: none

[Numpy] Add broadcast_to scalar case (#17233)
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/stride_tricks.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cu
  tests/python/unittest/test_numpy_op.py
Due: python, backend

gather_nd: check bound and wrap negative indices
  python/mxnet/error.py
  src/operator/tensor/indexing_op.cc
  src/operator/tensor/indexing_op.cu
  src/operator/tensor/indexing_op.h
  tests/python/unittest/test_operator.py
Due: python, backend

Enhancements for MXTensor for custom operators (#17204)
  include/mxnet/lib_api.h
  src/c_api/c_api.cc
Due: backend

add dot ahead of import
  python/mxnet/gluon/probability/__init__.py
  python/mxnet/gluon/probability/block/__init__.py
Due: python

adding asnumpy() to output of gather(implicitly called) to fix gather test in large vector and tensor tests
  tests/nightly/test_large_array.py
  tests/nightly/test_large_vector.py
Due: none

Run the nightly test against S3 pip wheel
  ci/Jenkinsfile_utils.groovy
  ci/docker/Dockerfile.build.ubuntu_nightly_gpu
  ci/docker/install/ubuntu_install_mxnet.sh
  ci/docker/runtime_functions.sh
  tests/nightly/JenkinsfileForBinaries
  tests/nightly/test_image_classification.sh
Due: none

Dynamic subgraph property (#17034)
  CMakeLists.txt
  Makefile
  ci/jenkins/Jenkins_steps.groovy
  example/extensions/lib_custom_op/subgraph_lib.cc
  example/extensions/lib_subgraph/Makefile
  example/extensions/lib_subgraph/subgraph_lib.cc
  example/extensions/lib_subgraph/test_subgraph.py
  include/mxnet/lib_api.h
  src/c_api/c_api.cc
  src/operator/subgraph/build_subgraph.cc
  src/operator/subgraph/partitioner/custom_subgraph_property.h
  src/operator/subgraph/subgraph_property.h
  tests/python/unittest/test_extensions.py
Due: backend

poc gpu customop end to end
  example/extensions/lib_custom_op/relu_lib.cu
  example/extensions/lib_custom_op/test_relu.py
  include/mxnet/lib_api.h
  src/c_api/c_api.cc
Due: backend

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
