Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

Add comment on correctness of 2nd order grad
  src/operator/nn/fully_connected.cc
Due: backend

NodeEntry refactor fallout
  src/operator/nn/fully_connected.cc
Due: backend

Add backward to fully connected. (_backward_FullyConnected)
  src/operator/nn/fully_connected.cc
  tests/python/unittest/test_gluon.py
Due: backend

simplify implementation of second order gradient for FC
  src/operator/nn/fully_connected.cc
Due: backend

Save work
  src/operator/nn/fully_connected-inl.h
Due: backend

implementation of FCGradGrad
  src/operator/nn/fully_connected-inl.h
  src/operator/nn/fully_connected.cc
Due: backend

Address CR comments
  tests/python/unittest/test_higher_order_grad.py
Due: none

Code review
  tests/python/unittest/test_higher_order_grad.py
Due: none

sketch of 2nd order gradient for FC, shapes don't work
  src/operator/linalg.h
  src/operator/nn/fully_connected-inl.h
  src/operator/nn/fully_connected.cc
  tests/python/unittest/test_higher_order_grad.py
Due: backend

Python2 compat
  tests/python/unittest/test_higher_order_grad.py
Due: none

Address CR comments
  tests/python/unittest/test_gluon.py
  tests/python/unittest/test_higher_order_grad.py
Due: none

fix enums
  src/operator/nn/fully_connected-inl.h
Due: backend

Fix typo
  include/mxnet/tensor_blob.h
Due: backend

CR
  src/operator/nn/fully_connected-inl.h
  tests/python/unittest/test_gluon.py
Due: backend

CR
  tests/python/unittest/test_higher_order_grad.py
Due: none

Refactor camelcase
  src/operator/nn/fully_connected-inl.h
Due: backend

Lint and CR
  src/operator/nn/fully_connected-inl.h
Due: backend

Add bias 2nd order
  src/operator/nn/fully_connected-inl.h
Due: backend

refine comment
  src/operator/nn/fully_connected-inl.h
Due: backend

CR
  src/operator/nn/fully_connected.cc
  tests/python/unittest/test_higher_order_grad.py
Due: backend

Fix and test FC without flattened inputs
  src/operator/nn/fully_connected-inl.h
  tests/python/unittest/test_higher_order_grad.py
Due: backend

Clean imports
  tests/python/unittest/test_higher_order_grad.py
Due: none

Fix FC flatten test
  tests/python/unittest/test_higher_order_grad.py
Due: none

CR comments
  src/operator/nn/fully_connected-inl.h
  src/operator/nn/fully_connected.cc
Due: backend

CR
  src/operator/nn/fully_connected.cc
Due: backend

refine FC higher order gradient test
  src/operator/nn/fully_connected-inl.h
  tests/python/unittest/test_higher_order_grad.py
Due: backend

Updated install instructions for mac
  cmake/cmake_options_osx.yml
  docs/install/osx_setup.md
Due: none

Update osx_setup.md to use explicit cmake invocation
  docs/install/osx_setup.md
Due: none

CR, remove virtualenv
  docs/install/osx_setup.md
Due: none

Fix cmake_options
  cmake/cmake_options.yml
  cmake/cmake_options_osx.yml
Due: none

Debug -> RelWithDebInfo
  docs/install/osx_setup.md
Due: none

Address CR comments
  docs/install/osx_setup.md
Due: none

add -p to mkdir
  docs/install/osx_setup.md
Due: none

added CMAKE_BUILD_TYPE=Release to docs for building from source
  docs/install/build_from_source.md
  docs/install/c_plus_plus.md
  docs/install/index.md
  docs/install/ubuntu_setup.md
  docs/install/windows_setup.md
Due: none

Fix sample.normal shape inference
  src/operator/random/multisample_op.h
  tests/python/unittest/test_operator.py
Due: backend

Fix
  python/mxnet/executor.py
Due: python

Fix 2
  python/mxnet/executor.py
Due: python
