Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

Temporarily Commenting out Flaky Test (#15436)
  tests/python/unittest/test_profiler.py
Due: none

rename gcd file for merage sake.
  src/operator/numpy/np_elemwise_binary_op-inl.h
  src/operator/numpy/np_elemwise_binary_op.cc
  src/operator/numpy/np_elemwise_binary_op.cu
Due: backend

Remove mhard-float option. This is already deprecated by Google. (#15435)
  amalgamation/Makefile
Due: none

Update test_tutorials.py
  tests/tutorials/test_tutorials.py
Due: none

Update index.md
  docs/tutorials/index.md
Due: none

Update performance.md
  docs/tutorials/gluon/performance.md
Due: none

modify pics
  docs/tutorials/mkldnn/quantization.png
Due: none

skip test
  docs/tutorials/mkldnn/MKLDNN_QUANTIZATION.md
  tests/tutorials/test_sanity_tutorials.py
Due: none

add quantize layer in graph
  docs/tutorials/mkldnn/fp32_fusion.svg
  docs/tutorials/mkldnn/fp32_raw.svg
  docs/tutorials/mkldnn/naive_calib.svg
  docs/tutorials/mkldnn/none_calib.svg
  docs/tutorials/mkldnn/post_quantize.svg
Due: none

update
  docs/tutorials/mkldnn/MKLDNN_QUANTIZATION.md
Due: none

remove center css flag
  docs/tutorials/mkldnn/MKLDNN_QUANTIZATION.md
Due: none

change requantize color
  docs/tutorials/mkldnn/naive_calib.svg
  docs/tutorials/mkldnn/none_calib.svg
Due: none

Doc fix for split, stack, transpose, mean, rint, radians, log2.
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_elemwise_unary_op_basic.cc
  src/operator/numpy/np_elemwise_unary_op_basic.cu
Due: python, backend

Minor syntax fix
  python/mxnet/_numpy_op_doc.py
Due: python

Add some disable=line-too-long to pass pylint test
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Due: python

Fix a non-ascii character
  python/mxnet/_numpy_op_doc.py
Due: python

Add Notes following the guide of example PR by Mu Li
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Due: python

Minor syntax fix
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Due: python

Fix issues mentioned in review by @reminisce
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Due: python

Register mean into npi namespace and wrap it to have same sigatrue as standard numpy
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cu
Due: python, backend

Add mean to __all__ list
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Due: python

Note the imcompatibility of broacasting to output
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Due: python

Specify out must have the same type
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Due: python

[MXNET-978] Higher order gradient for sigmoid (#15288)
  src/common/exec_utils.h
  src/imperative/imperative.cc
  src/operator/tensor/elemwise_unary_op_basic.cc
  src/operator/tensor/elemwise_unary_op_trig.cc
  tests/python/unittest/test_higher_order_grad.py
Due: backend

fix markdown pics
  docs/tutorials/mkldnn/MKLDNN_QUANTIZATION.md
Due: none

change to use png
  docs/tutorials/mkldnn/MKLDNN_QUANTIZATION.md
  docs/tutorials/mkldnn/fp32_fusion.svg
  docs/tutorials/mkldnn/fp32_raw.svg
  docs/tutorials/mkldnn/naive_calib.svg
  docs/tutorials/mkldnn/none_calib.svg
  docs/tutorials/mkldnn/post_quantize.svg
Due: none

Add blank lines.
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Due: python

Update MKLDNN_QUANTIZATION.md
  docs/tutorials/mkldnn/MKLDNN_QUANTIZATION.md
Due: none

enable ipython script
  tests/tutorials/test_sanity_tutorials.py
  tests/tutorials/test_tutorials.py
Due: none

fix png
  docs/tutorials/mkldnn/fp32_fusion.png
  docs/tutorials/mkldnn/fp32_raw.png
  docs/tutorials/mkldnn/naive_calib.png
  docs/tutorials/mkldnn/none_calib.png
  docs/tutorials/mkldnn/post_quantize.png
Due: none

fix lint
  docs/tutorials/mkldnn/MKLDNN_QUANTIZATION.md
Due: none

Clearify the `out` in symbol is only a dummy variable
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Due: python

change title
  docs/tutorials/index.md
  docs/tutorials/mkldnn/MKLDNN_QUANTIZATION.md
  example/quantization/README.md
Due: none

implement numpy logspace
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_init_op.cc
  src/operator/numpy/np_init_op.cu
  src/operator/tensor/init_op.h
  tests/python/unittest/test_numpy_op.py
Due: python, backend

[numpy][doc-fix] mean, transpose, stack, split, log2, rint and radians (#15370)
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cu
  src/operator/numpy/np_elemwise_unary_op_basic.cc
  src/operator/numpy/np_elemwise_unary_op_basic.cu
Due: python, backend

change the file name and move infertype from .h to .cc
  src/operator/numpy/np_arctan2_op.h
  src/operator/numpy/np_elemwise_binary_op.cc
  src/operator/numpy/np_elemwise_binary_op.cu
Due: backend
