Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

changed GPU test.
  src/operator/numpy/np_tensordot_op.cu
Due: backend

modify indices python api
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Due: python

Recover lines.
  python/mxnet/numpy/multiarray.py
Due: python

Fix UT
  src/executor/graph_executor.cc
  tests/python/mkl/test_quantization_mkldnn.py
Due: backend

modify cpplint error
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_init_op.cc
  src/operator/numpy/np_init_op.h
Due: python, backend

add dcnv2
  src/operator/contrib/modulated_deformable_convolution-inl.h
  src/operator/contrib/modulated_deformable_convolution.cc
  src/operator/contrib/modulated_deformable_convolution.cu
  src/operator/contrib/nn/modulated_deformable_im2col.cuh
  src/operator/contrib/nn/modulated_deformable_im2col.h
Due: backend

some minor typos/clarifications
  scala-package/README.md
Due: clojure

fix normalize mean error bug
  src/operator/image/image_random-inl.h
Due: backend

add dcnv2 unit tests
  tests/python/unittest/test_operator.py
Due: none

Support python 2
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Due: python

Test Python 2
  tests/python/unittest/test_numpy_op.py
Due: none

PDF operators for each distribution for which we have a random sampler (plus also the PDF of the Dirichlet). Supports probabilities and log-probabilities, as well as gradients.
  python/mxnet/contrib/amp/lists/symbol.py
  src/operator/random/pdf_op.cc
  src/operator/random/pdf_op.cu
  src/operator/random/pdf_op.h
  tests/python/unittest/test_random.py
Due: python, backend

fix a cpplint problem
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Due: python

fix heap-use-after-free in scala (#15503)
  scala-package/native/src/main/native/org_apache_mxnet_native_c_api.cc
Due: clojure

normal, uniform ops
  benchmark/opperf/nd_operations/random_sampling_operators.py
  benchmark/opperf/utils/op_registry_utils.py
Due: none

change size_t to index_t
  src/common/tensor_inspector.h
Due: backend

Avoid memory copy for dropout inference (#15521)
  src/operator/nn/dropout-inl.h
Due: backend

add julia env settings (#15523)
  docs/build_version_doc/build_all_version.sh
Due: none

bug fixes and add print value options in value_check()
  src/common/tensor_inspector.h
Due: backend

numpy amin
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  tests/python/unittest/test_numpy_op.py
Due: backend

broadcast axis is alias to broadcast axes; doc fix
  src/operator/tensor/broadcast_reduce_op_value.cc
Due: backend

missed function call
  benchmark/opperf/opperf.py
Due: none

add squeeze to Array change shape
  docs/api/python/ndarray/ndarray.md
Due: none

fix gpu part
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cu
Due: backend

fix test file
  tests/python/unittest/test_numpy_op.py
Due: none

Bypass cuda/cudnn checks if no driver.
  src/common/cuda_utils.cc
Due: backend

intra to use tvm write op kernels
  Makefile
  contrib/tvmop/__init__.py
  contrib/tvmop/basic/__init__.py
  contrib/tvmop/basic/ufunc.py
  contrib/tvmop/compile.py
  contrib/tvmop/opdef.py
  contrib/tvmop/prepare_tvm.sh
  contrib/tvmop/utils.py
  include/mxnet/c_api.h
  include/mxnet/libinfo.h
  make/config.mk
  python/mxnet/base.py
  python/mxnet/libinfo.py
  src/c_api/c_api.cc
  src/libinfo.cc
  src/operator/contrib/tvmop/ufunc.cc
  src/operator/tvmop/op_module.cc
  src/operator/tvmop/op_module.h
  tests/python/gpu/test_operator_gpu.py
  tests/python/unittest/test_tvm_op.py
Due: python, backend

use smaller testcase for test_layer_norm
  tests/python/unittest/test_operator.py
Due: none

remove redundant test for test_layer_norm
  tests/python/unittest/test_operator.py
Due: none

reuse old testcase
  tests/python/unittest/test_operator.py
Due: none

[MKLDNN] Independent gradients requests check with respect to weights and bias of convolution (#15497)
  src/operator/nn/mkldnn/mkldnn_convolution.cc
  tests/python/unittest/test_operator.py
Due: backend

fix pylint and test window-cpu error
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/symbol/numpy/_symbol.py
  tests/python/unittest/test_numpy_op.py
Due: python

Fix lint
  src/executor/graph_executor.cc
  tests/python/unittest/test_operator.py
Due: backend

fix path to be static
  ci/docker/runtime_functions.sh
  docs/build_version_doc/build_all_version.sh
Due: none

test numpy indices
  tests/python/unittest/test_numpy_op.py
Due: none

Add more tests
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_tensordot_op.cc
  tests/python/unittest/test_numpy_op.py
Due: python, backend

Add error msg
  src/operator/numpy/np_tensordot_op.cc
Due: backend

fix op indices test problem in windows
  tests/python/unittest/test_numpy_op.py
Due: none

add op mgrid
  python/mxnet/numpy/index_tricks.py
Due: python

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
