Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

Added lamb_update_phase2
  benchmark/opperf/nd_operations/nn_basic_operators.py
Due: none

Fixed lint errors
  benchmark/opperf/utils/benchmark_utils.py
Due: none

Refactored individual tests into generalized framework
  benchmark/opperf/nd_operations/nn_basic_operators.py
  benchmark/opperf/rules/default_params.py
  benchmark/opperf/utils/benchmark_utils.py
  benchmark/opperf/utils/op_registry_utils.py
Due: none

Added GroupNorm
  benchmark/opperf/nd_operations/nn_basic_operators.py
Due: none

Passed sparse from c_api to lib_api.h and set in MXTensor
  include/mxnet/lib_api.h
  src/c_api/c_api.cc
Due: backend

Fix indent
  include/mxnet/lib_api.h
  src/c_api/c_api.cc
Due: backend

Fix get_started scala gpu (#17434)
  docs/static_site/src/_includes/get_started/linux/scala/gpu.md
Due: none

fix ImageRecordFile decoding
  python/mxnet/gluon/data/_internal.py
  python/mxnet/gluon/data/vision/datasets.py
  src/io/dataset.cc
Due: python, backend

refactor sample_n
  python/mxnet/ndarray/numpy_extension/random.py
  python/mxnet/symbol/numpy_extension/random.py
  src/operator/numpy/random/dist_common.h
  src/operator/numpy/random/np_bernoulli_op.cc
  tests/python/unittest/test_numpy_op.py
Due: python, backend

rebase
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
Due: python

[numpy] add op random.rayleigh (#17541)
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/random.py
  src/operator/numpy/random/np_rayleigh_op.cc
  src/operator/numpy/random/np_rayleigh_op.cu
  src/operator/numpy/random/np_rayleigh_op.h
  tests/python/unittest/test_numpy_op.py
Due: python, backend

Add result_type
  python/mxnet/numpy/fallback.py
Due: python

8
  python/mxnet/numpy/fallback.py
  tests/python/unittest/test_numpy_interoperability.py
Due: python

Fix astype
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Due: python

Add more tests
  tests/python/unittest/test_numpy_interoperability.py
Due: none

More fallback ops
  python/mxnet/numpy/fallback.py
Due: python

More fix
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/fallback.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Due: python

Support mixed type of mx.np.ndarray and np.ndarray in binary ops
  python/mxnet/ndarray/ndarray.py
  python/mxnet/ndarray/numpy/_op.py
Due: python

Fix
  python/mxnet/numpy/fallback.py
  python/mxnet/numpy/multiarray.py
  tests/python/unittest/test_numpy_interoperability.py
Due: python

Add more fallback ops
  python/mxnet/numpy/fallback.py
  python/mxnet/numpy/fallback_linalg.py
  python/mxnet/numpy/utils.py
Due: python

all fallback
  include/mxnet/tensor_blob.h
  python/mxnet/ndarray/ndarray.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/fallback.py
  python/mxnet/numpy/fallback_linalg.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/util.py
  tests/python/unittest/test_numpy_interoperability.py
Due: python, backend

fallback---------------
  python/mxnet/numpy/fallback.py
  python/mxnet/numpy/fallback_linalg.py
Due: python

ok
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/fallback.py
  python/mxnet/numpy/multiarray.py
  tests/python/unittest/test_numpy_interoperability.py
Due: python

Remove implemented ops
  python/mxnet/numpy/fallback.py
Due: python

Add fallback ops
  python/mxnet/numpy/fallback.py
  python/mxnet/numpy/fallback_linalg.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/utils.py
Due: python

delete repetition
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/fallback.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/util.py
  tests/python/unittest/test_numpy_interoperability.py
Due: python

F
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/random.py
  tests/python/unittest/test_numpy_op.py
Due: python

f
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/random.py
  tests/python/unittest/test_numpy_op.py
Due: python

added example and set param names on inputs to subgraph to map
  example/extensions/lib_subgraph/subgraph_lib.cc
  example/extensions/lib_subgraph/test_subgraph.py
  include/mxnet/lib_api.h
  src/c_api/c_api.cc
  src/operator/subgraph/build_subgraph.cc
  src/operator/subgraph/partitioner/custom_subgraph_property.h
Due: backend

fixed docs, changed argument to backend_opts and added comments
  example/extensions/lib_subgraph/README.md
  python/mxnet/gluon/block.py
  src/c_api/c_api.cc
Due: python, backend

categorical sampling implemented
  python/mxnet/gluon/probability/distributions/__init__.py
  python/mxnet/gluon/probability/distributions/categorical.py
  python/mxnet/gluon/probability/distributions/one_hot_categorical.py
  tests/python/unittest/test_gluon_probability.py
Due: python

[CI] Upgrade sphinx and autodocsumm (#17594)
  docs/python_docs/environment.yml
Due: none

added Gluon test for custom subgraph library unittests
  tests/python/unittest/test_extensions.py
Due: none

remove printstacktrace
  ci/Jenkinsfile_utils.groovy
Due: none

moved gpu custom operator tests to different file
  tests/python/gpu/test_extensions_gpu.py
  tests/python/gpu/test_operator_gpu.py
  tests/python/unittest/test_extensions.py
Due: none

fixed stateful op registration context support
  src/c_api/c_api.cc
Due: backend

unlinked test_operator_gpu.py with test_extensions_gpu.py
  tests/python/gpu/test_operator_gpu.py
Due: none

removed cpu context check since its in gpu folder now
  tests/python/gpu/test_extensions_gpu.py
Due: none

fixed context
  src/c_api/c_api.cc
Due: backend

add np.product
  python/mxnet/_numpy_op_doc.py
  python/mxnet/numpy_dispatch_protocol.py
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  tests/python/unittest/test_numpy_interoperability.py
Due: python, backend

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
