Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

Revert "check if split arch resolves linking errors"
  ci/build_windows.py
Due: none

fix subgraph segfault and improve cmake
  CMakeLists.txt
  example/extensions/lib_custom_op/test_relu.py
  include/mxnet/lib_api.h
  src/c_api/c_api.cc
  src/common/random_generator.cu
  tests/python/gpu/test_extensions_gpu.py
Due: backend

fix mvn attribute check
  python/mxnet/gluon/probability/distributions/multivariate_normal.py
Due: python

resolve sam comments
  example/extensions/lib_custom_op/relu_lib.cu
  example/extensions/lib_custom_op/test_relu.py
  include/mxnet/lib_api.h
  src/c_api/c_api.cc
Due: backend

MVN done
  python/mxnet/gluon/probability/distributions/multivariate_normal.py
  tests/python/unittest/test_gluon_probability.py
Due: python

refine doc
  CONTRIBUTORS.md
Due: none

copyto
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/fallback.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_copyto-inl.h
  src/operator/numpy/np_copyto.cc
  src/operator/numpy/np_copyto.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Due: python, backend

copyto ok
  python/mxnet/numpy/fallback.py
Due: python

Remove from CODEOWNERS
  CODEOWNERS
Due: none

Update build_windows.py
  ci/build_windows.py
Due: none

use resc_req for all and fix type
  example/extensions/lib_custom_op/relu_lib.cu
  example/extensions/lib_custom_op/test_relu.py
  include/mxnet/lib_api.h
  src/c_api/c_api.cc
Due: backend

fixing hyperlinks in python tutorial
  docs/python_docs/python/tutorials/deploy/run-on-aws/use_ec2.rst
Due: none

indent fix
  ci/build_windows.py
Due: none

Fix for handling of negative axis, begin and end in fusion of slice ops
  src/operator/fusion/fused_op-inl.h
  src/operator/fusion/fused_op.cu
Due: backend

clean up
  src/operator/tensor/elemwise_binary_broadcast_op_extended.cc
Due: backend

Change bat file from x86_64 to 64
  ci/build_windows.py
Due: none

try with ninja
  ci/build_windows.py
Due: none

param.axes redundant condition
  src/operator/numpy/np_matrix_op.cc
Due: backend

Remove duplicate condition
  src/operator/numpy/linalg/np_eig-inl.h
Due: backend

nit fix
  src/c_api/c_api.cc
Due: backend

poisson done
  python/mxnet/gluon/probability/distributions/__init__.py
  python/mxnet/gluon/probability/distributions/poisson.py
  python/mxnet/gluon/probability/distributions/utils.py
  python/mxnet/gluon/probability/transformation/transformation.py
  tests/python/unittest/test_gluon_probability.py
Due: python

Added test
  tests/python/gpu/test_fusion.py
Due: none

Add div by zero check for num_cols
  src/operator/tensor/square_sum-inl.h
Due: backend

hack poisson for size support
  python/mxnet/gluon/probability/distributions/poisson.py
  src/operator/random/multisample_op.cu
  src/operator/random/multisample_op.h
  src/operator/random/sample_op.cc
Due: python, backend

Fix compilation errors
  src/operator/tensor/square_sum-inl.h
Due: backend

apply patch
  CMakeLists.txt
  ci/build_windows.py
  ci/jenkins/Jenkins_steps.groovy
  ci/safe_docker_run.py
  ci/windows_dev_env/setup.ps1
  ci/windows_dev_env/windows_deps_headless_installer.py
  docs/static_site/src/pages/get_started/windows_setup.md
Due: none

Using unrestricted
  ci/jenkins/Jenkinsfile_website_full
Due: none

Drop publish step
  ci/jenkins/Jenkinsfile_website_full
Due: none

Update CMakeLists.txt
  CMakeLists.txt
Due: none

Enable restricted nodes
  ci/jenkins/Jenkinsfile_website_full
Due: none

Reverted website_full, added website_nightly
  ci/jenkins/Jenkinsfile_website_nightly
Due: none

Reduced node labels to utility and linux_cpu
  ci/jenkins/Jenkinsfile_website_nightly
Due: none

[numpy] add op median (#17084)
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Due: python

copyto
  src/api/ndarray/ndarray.cc
  src/api/operator/ufunc_helper.cc
Due: backend

init
  python/mxnet/numpy/multiarray.py
Due: python

moveaxis
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/api/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_matrix_op.cc
Due: python, backend
