Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

add minimal test for MKLDNN-R
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
Due: none

Initial commit
  src/imperative/cached_op.cc
  src/imperative/cached_op.h
  src/imperative/imperative_utils.h
  src/operator/contrib/boolean_mask.cc
  src/operator/subgraph_op_common.cc
  src/operator/subgraph_op_common.h
Due: backend

Remove infer_range for python ndarray.arange
  python/mxnet/ndarray/ndarray.py
Due: python

Update CONTRIBUTORS.md
  CONTRIBUTORS.md
Due: none

Address comments.
  include/mxnet/c_api.h
  src/operator/quantization/mkldnn/mkldnn_dequantize-inl.h
  src/operator/quantization/quantize_v2-inl.h
  src/operator/quantization/quantize_v2.cc
Due: backend

remove debug; add support for v1.4.x docs; fix publish bug (#14015)
  docs/mxdoc.py
  docs/settings.ini
Due: none

Fix jar path and add missing ones for spark jobs
  scala-package/spark/src/test/scala/org/apache/mxnet/spark/SharedSparkContext.scala
Due: clojure

Fix mxdoc path
  docs/mxdoc.py
Due: none

Add batch mode to calls
  ci/docker/runtime_functions.sh
  docs/mxdoc.py
Due: none

add inline to Shape
  src/operator/image/image_random-inl.h
Due: backend

add test case of 4D input
  tests/python/unittest/test_gluon_data_vision.py
Due: none

refactor the resize operator and address lint issues
  src/operator/image/image_random-inl.h
Due: backend

use ndarray datatype
  tests/python/unittest/test_gluon_data_vision.py
Due: none

add image resize operator and unit test
  python/mxnet/gluon/data/vision/transforms.py
  src/operator/image/image_random-inl.h
  src/operator/image/image_random.cc
  tests/python/unittest/test_gluon_data_vision.py
Due: python, backend

add 4D input example
  python/mxnet/gluon/data/vision/transforms.py
Due: python

assert size is more than 2
  tests/python/unittest/test_gluon_data_vision.py
Due: none

address comment and add doc
  python/mxnet/gluon/data/vision/transforms.py
  src/operator/image/image_random-inl.h
Due: python, backend

use Hang implementation to achieve image resize operator GPU
  src/operator/contrib/bilinear_resize-inl.cuh
  src/operator/contrib/bilinear_resize.cu
  src/operator/image/image_utils.h
  src/operator/image/resize-inl.h
  src/operator/image/resize.cc
  src/operator/image/resize.cu
Due: backend

refactor the code with structure and enum to make code more understandable
  src/operator/image/image_utils.h
  src/operator/image/resize-inl.h
Due: backend

delete the variable not used
  tests/python/unittest/test_gluon_data_vision.py
Due: none

fix the lint
  src/operator/image/image_utils.h
Due: backend

lint
  src/operator/image/resize-inl.h
Due: backend

refactor the duplicate code and separate the resize from image_random
  src/io/image_io.cc
  src/operator/image/image_random-inl.h
  src/operator/image/image_random.cc
Due: backend

move the common utitlity to image_utils
  src/operator/image/image_utils.h
Due: backend

address comment 1. add description 2. refactor unit test and add dtype
  src/operator/image/resize.cc
  tests/python/unittest/test_gluon_data_vision.py
Due: backend

fix lint
  src/operator/image/resize-inl.h
Due: backend

update the image utility function
  src/operator/image/image_utils.h
Due: backend

update data type check
  src/operator/image/resize-inl.h
  tests/python/unittest/test_gluon_data_vision.py
Due: backend

update the check and doc
  python/mxnet/gluon/data/vision/transforms.py
  src/operator/image/resize-inl.h
Due: python, backend

refactor the caffe_gpu_interp2_kernel
  src/operator/contrib/bilinear_resize-inl.cuh
Due: backend

change the operator doc
  src/operator/image/resize-inl.h
Due: backend

add resize implementation
  src/operator/image/resize-inl.h
  src/operator/image/resize.cc
Due: backend

update the comment
  src/operator/image/image_utils.h
Due: backend

update doc and fix the cpu compile error
  src/operator/contrib/bilinear_resize-inl.cuh
  src/operator/image/resize-inl.h
  src/operator/image/resize.cc
  src/operator/image/resize.cu
Due: backend

clean up the code
  src/operator/image/image_random-inl.h
Due: backend

address comments
  src/operator/image/resize-inl.h
Due: backend

add default value for keep_ratio
  src/operator/image/resize-inl.h
Due: backend

fix lint
  src/operator/image/image_utils.h
Due: backend

add unit test for gpu
  tests/python/gpu/test_gluon_transforms.py
  tests/python/unittest/test_gluon_data_vision.py
Due: none

address comments
  python/mxnet/gluon/data/vision/transforms.py
  src/operator/image/resize-inl.h
Due: python, backend
