Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

fix testcases
  src/profiler/custom_op_profiler.h
  tests/python/unittest/test_profiler.py
Due: backend

Fix split_and_load use np
  python/mxnet/gluon/utils.py
Due: python

[numpy] improve np.ones document
  python/mxnet/numpy/multiarray.py
Due: python

numpy hsplit
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  tests/python/unittest/test_numpy_op.py
Due: python, backend

Fix
  src/imperative/cached_op.cc
  src/nnvm/legacy_op_util.cc
Due: backend

enable gpu case
  Makefile
  contrib/tvmop/example/elemwise.py
Due: none

Fix fine tuning
  python/mxnet/gluon/block.py
  python/mxnet/gluon/data/vision/transforms.py
  python/mxnet/gluon/model_zoo/vision/resnet.py
  src/ndarray/ndarray.cc
  src/operator/image/resize.cc
Due: python, backend

modify hsplit can split a empty list
  src/operator/numpy/np_matrix_op-inl.h
  tests/python/unittest/test_numpy_op.py
Due: backend

add operator arctan2 with its test code
  src/operator/numpy/np_arctan2_op.cc
  src/operator/numpy/np_arctan2_op.cu
  src/operator/numpy/np_arctan2_op.h
  tests/python/gpu/test_operator_gpu.py
  tests/python/unittest/test_numpy_op.py
Due: backend

modify an error
  python/mxnet/ndarray/numpy/_op.py
Due: python

fix cpplint
  src/operator/nn/mkldnn/mkldnn_flatten.cc
  src/operator/nn/mkldnn/mkldnn_reshape-inl.h
Due: backend

numpy hsplit
  tests/python/unittest/test_numpy_op.py
Due: none

rebase test_numpy_op.py
  tests/python/unittest/test_numpy_op.py
Due: none

address comments
  NEWS.md
Due: none

improve README
  cpp-package/example/inference/README.md
Due: none

correct pylint error
  tests/python/unittest/test_numpy_op.py
Due: none

use system's openmp first, if not found, use 3rd party submodule
  CMakeLists.txt
Due: none

correct pylint error
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
Due: python

add contrib.arange_like operator
  src/operator/tensor/init_op.cc
  src/operator/tensor/init_op.cu
  src/operator/tensor/init_op.h
  tests/python/unittest/test_operator.py
Due: backend

Disabling fusion if it alters topological order of inputs
  src/common/exec_utils.h
  src/executor/graph_executor.cc
  src/imperative/cached_op.cc
  src/imperative/imperative.cc
Due: backend

Print code only when env variable is set
  src/operator/fusion/fused_op.cu
Due: backend

Fix bbox and anchor
  python/mxnet/numpy/__init__.py
  python/mxnet/numpy/arrayprint.py
  src/operator/contrib/multibox_detection.cc
  src/operator/contrib/multibox_prior.cc
  src/operator/contrib/multibox_target.cc
Due: python, backend

Fix
  src/operator/fusion/fused_op.cu
Due: backend

revert back to reduce overhead
  src/operator/custom/custom-inl.h
  src/profiler/custom_op_profiler.h
Due: backend

fix style
  src/operator/custom/custom-inl.h
Due: backend

Fix lint and 2 tests that specify the same names for multiple inputs
  src/common/exec_utils.h
  src/executor/graph_executor.cc
  src/imperative/cached_op.cc
  tests/python/unittest/test_operator.py
Due: backend

Fix odd
  python/mxnet/gluon/block.py
  python/mxnet/image/detection.py
  python/mxnet/image/image.py
  python/mxnet/numpy/multiarray.py
Due: python

Address code review comments
  docs/tutorials/basic/symbol.md
Due: none

Fix ssd and rcnn
  src/operator/roi_pooling.cc
  src/operator/tensor/elemwise_binary_scalar_op_extended.cc
Due: backend

Remove restriction on binary element-wise scalar
  src/operator/numpy/np_elemwise_broadcast_op.cc
Due: backend

[MXNET-1086] added sub and mul to ONNX->TensorRT conversion (#15344)
  CMakeLists.txt
  src/operator/subgraph/tensorrt/nnvm_to_onnx-inl.h
  src/operator/subgraph/tensorrt/nnvm_to_onnx.cc
  tests/python/tensorrt/test_ops.py
Due: backend

Revise Naming tutorial
  docs/tutorials/gluon/naming.md
Due: none

Code review fixes
  docs/tutorials/gluon/naming.md
Due: none

Split tie weight example into blocks
  docs/tutorials/basic/symbol.md
Due: none

fix FindOpenMP module compatibility among different cmake version
  CMakeLists.txt
Due: none
