Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

[Website 2.0] General Version Dropdown (#17948)
  ci/docker/Dockerfile.build.ubuntu_cpu_jekyll
  docs/python_docs/themes/mx-theme/mxtheme/header_top.html
  docs/python_docs/themes/mx-theme/mxtheme/layout.html
  docs/static_site/Makefile
  docs/static_site/src/_includes/head.html
  docs/static_site/src/_includes/header.html
Due: none

add: numpy rollaxis
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/fallback.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  tests/python/unittest/test_numpy_op.py
Due: python, backend

use any format in pooling backward
  src/operator/nn/mkldnn/mkldnn_pooling.cc
Due: backend

use data_type()
  src/operator/nn/mkldnn/mkldnn_pooling.cc
Due: backend

add missing params
  src/api/operator/numpy/np_matrix_op.cc
Due: backend

add test case
  tests/python/unittest/test_numpy_op.py
Due: none

fix
  src/operator/numpy/np_where_op-inl.h
Due: backend

typo
  python/mxnet/ndarray/numpy/_op.py
Due: python

unary
  python/mxnet/ndarray/numpy/_op.py
  src/api/operator/numpy/np_elemwise_unary_op_basic.cc
  src/api/operator/ufunc_helper.cc
Due: python, backend

add `_pure_unary_func_helper`
  python/mxnet/ndarray/numpy/_op.py
Due: python

fix
  benchmark/python/ffi/benchmark_ffi.py
  src/api/operator/numpy/np_elemwise_unary_op_basic.cc
Due: backend

add more unary ops
  python/mxnet/ndarray/numpy/_op.py
  src/api/operator/numpy/np_elemwise_unary_op_basic.cc
Due: python, backend

fix
  src/api/operator/ufunc_helper.cc
Due: backend

add benchmarks
  benchmark/python/ffi/benchmark_ffi.py
Due: none

Fix lint
  tests/nightly/dist_device_sync_kvstore_horovod.py
Due: none

Added test
  tests/python/unittest/test_operator.py
Due: none

Add np.linalg.qr (#17851)
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/numpy/fallback_linalg.py
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/linalg.py
  src/operator/c_lapack_api.cc
  src/operator/c_lapack_api.h
  src/operator/numpy/linalg/np_qr-inl.h
  src/operator/numpy/linalg/np_qr.cc
  src/operator/numpy/linalg/np_qr.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Due: python, backend

Improve activation backward (#17973)
  src/operator/nn/mkldnn/mkldnn_act.cc
Due: backend

Fix typo in crash course
  docs/python_docs/python/tutorials/getting-started/crash-course/4-train.md
  docs/python_docs/python/tutorials/getting-started/crash-course/5-predict.md
Due: none

fix np flip when axis input contains negative number (#17880)
  src/operator/numpy/np_matrix_op-inl.h
  tests/python/unittest/test_numpy_op.py
Due: backend

optimize for backward batchnorm
  src/operator/nn/mkldnn/mkldnn_batch_norm-inl.h
Due: backend

using memcpy instead of 'for' loop
  src/operator/nn/mkldnn/mkldnn_batch_norm-inl.h
Due: backend

rm unnecessary pointer cast and add const for some variable
  src/operator/nn/mkldnn/mkldnn_batch_norm-inl.h
Due: backend

fix static build ubuntu 1404 python error in nvidia docker gnutls handshake error
  ci/docker/install/ubuntu_publish.sh
Due: none

Temporal solution for fp16 accumulation in Bert gemms
  src/operator/contrib/transformer.cu
  src/operator/linalg_impl.h
Due: backend

Resolve alpha/beta type issue
  src/operator/contrib/transformer.cu
  src/operator/linalg_impl.h
Due: backend

add documentation for env variable MXNET_FC_TRUE_FP16
  docs/static_site/src/pages/api/faq/env_var.md
Due: none

Improve description of env variable
  docs/static_site/src/pages/api/faq/env_var.md
Due: none

flatnonzero (#17690)
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/fallback.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Due: python

Fix nightly build instruction on mxnet webpage (#17687)
  docs/static_site/src/_includes/get_started/linux/python/cpu/pip.md
  docs/static_site/src/_includes/get_started/linux/python/gpu/pip.md
  docs/static_site/src/_includes/get_started/macos/python/cpu/pip.md
  docs/static_site/src/_includes/get_started/windows/python/cpu/pip.md
  docs/static_site/src/_includes/get_started/windows/python/gpu/pip.md
Due: none

cmake: remove -mf16c flag for android build (#17523)
  3rdparty/mshadow/cmake/AutoDetectF16C.cmake
Due: none

refactor sample_n (#17618)
  python/mxnet/ndarray/numpy_extension/random.py
  python/mxnet/symbol/numpy_extension/random.py
  src/operator/numpy/random/dist_common.h
  src/operator/numpy/random/np_bernoulli_op.cc
  tests/python/unittest/test_numpy_op.py
Due: python, backend

Move cpp-package/include/mxnet-cpp/.gitignore to avoid copying it on installation
  cpp-package/.gitignore
  cpp-package/include/mxnet-cpp/.gitignore
Due: none

Fix compiler warnings in new FFI (#17718)
  include/mxnet/ir/expr.h
  include/mxnet/node/container.h
  include/mxnet/runtime/container.h
  include/mxnet/runtime/ffi_helper.h
  include/mxnet/runtime/object.h
Due: backend

Fix lapack detection on Ubuntu 18.04 in Makefile (#17714)
  Makefile
Due: none

CI: Switch to cmake builds for majority of tests (#17645)
  .github/workflows/os_x_staticbuild.yml
  3rdparty/mshadow/CMakeLists.txt
  3rdparty/mshadow/mshadow/base.h
  CMakeLists.txt
  R-package/Makefile
  ci/docker/install/centos7_base.sh
  ci/docker/install/centos7_core.sh
  ci/docker/install/ubuntu_core.sh
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
  ci/jenkins/Jenkinsfile_centos_cpu
  ci/jenkins/Jenkinsfile_unix_cpu
  ci/jenkins/Jenkinsfile_unix_gpu
  cmake/BuildCythonModules.cmake
  config/distribution/darwin_cpu.cmake
  config/distribution/linux_cpu.cmake
  config/distribution/linux_cu100.cmake
  config/distribution/linux_cu101.cmake
  config/distribution/linux_cu102.cmake
  config/distribution/linux_cu75.cmake
  config/distribution/linux_cu80.cmake
  config/distribution/linux_cu90.cmake
  config/distribution/linux_cu91.cmake
  config/distribution/linux_cu92.cmake
  src/operator/mshadow_op.h
  src/operator/numpy/linalg/np_norm-inl.h
Due: r-package, backend

Add unitest checking environment variable
  tests/python/gpu/test_gluon_gpu.py
Due: none

Add warning message for fallback operators (#17697)
  python/mxnet/numpy/multiarray.py
Due: python

[Large Tensor] Fix cumsum op (#17677)
  src/operator/numpy/np_cumsum-inl.h
  tests/nightly/test_large_array.py
Due: backend

[Large Tensor] Implemented LT flag for OpPerf testing (#17449)
  benchmark/opperf/nd_operations/array_rearrange.py
  benchmark/opperf/nd_operations/binary_operators.py
  benchmark/opperf/nd_operations/gemm_operators.py
  benchmark/opperf/nd_operations/indexing_routines.py
  benchmark/opperf/nd_operations/linalg_operators.py
  benchmark/opperf/nd_operations/misc_operators.py
  benchmark/opperf/nd_operations/nn_activation_operators.py
  benchmark/opperf/nd_operations/nn_basic_operators.py
  benchmark/opperf/nd_operations/nn_conv_operators.py
  benchmark/opperf/nd_operations/nn_loss_operators.py
  benchmark/opperf/nd_operations/nn_optimizer_operators.py
  benchmark/opperf/nd_operations/random_sampling_operators.py
  benchmark/opperf/nd_operations/reduction_operators.py
  benchmark/opperf/nd_operations/sorting_searching_operators.py
  benchmark/opperf/nd_operations/unary_operators.py
  benchmark/opperf/opperf.py
  benchmark/opperf/rules/default_params.py
  benchmark/opperf/utils/benchmark_utils.py
  benchmark/opperf/utils/op_registry_utils.py
Due: none

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
