Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

fix uint8 bn reorder memomry
  src/operator/nn/mkldnn/mkldnn_batch_norm-inl.h
  src/operator/quantization/mkldnn/mkldnn_quantized_batch_norm.cc
Due: backend

fix extra copy
  src/operator/contrib/rroi_align-inl.h
  src/operator/contrib/rroi_align.cc
Due: backend

changed decltype to typedef
  src/c_api/c_api.cc
Due: backend

fixed whitespace
  src/c_api/c_api.cc
Due: backend

Port ops from np branch (#16018)
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/random.py
  python/mxnet/numpy_extension/__init__.py
  python/mxnet/numpy_extension/random.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/symbol/numpy/random.py
  src/operator/numpy/np_broadcast_reduce_op_index.cc
  src/operator/numpy/np_broadcast_reduce_op_index.cu
  src/operator/numpy/np_elemwise_broadcast_op.cc
  src/operator/numpy/np_elemwise_broadcast_op.cu
  src/operator/tensor/elemwise_binary_broadcast_op.h
  src/operator/tensor/elemwise_binary_broadcast_op_extended.cc
  src/operator/tensor/elemwise_binary_scalar_op_extended.cc
  tests/python/unittest/test_numpy_op.py
Due: python, backend

update resnet152-v2 int8 acc
  example/quantization/README.md
  example/quantization/imagenet_gen_qsym_mkldnn.py
Due: none

Added windows declaration types, change APIs to return MXReturnValue instead of int
  example/lib_ops/mylib.cc
  include/mxnet/lib_api.h
Due: backend

Update README.md
  README.md
Due: none

added library version number, API to get, and check to validate
  include/mxnet/lib_api.h
  src/c_api/c_api.cc
Due: backend

Changed CMakeLists to build lib_ops instead of lib_api, updated lib_api example, fixed whitespace
  CMakeLists.txt
  example/lib_api/Makefile
  example/lib_api/mylib.cc
  include/mxnet/lib_api.h
Due: backend

numpy-compatible cumsum upstream
  python/mxnet/_numpy_op_doc.py
  src/operator/numpy/np_cumsum-inl.h
  src/operator/numpy/np_cumsum.cc
  src/operator/numpy/np_cumsum.cu
  tests/python/unittest/test_numpy_op.py
Due: python, backend

beta deployment script for CI publish job
  ci/publish/website/beta-deploy.sh
Due: none

update bmxnet operators to mxnet 1.5.0 changes
  src/operator/contrib/binary_inference/binary_inference_convolution-inl.h
  src/operator/contrib/binary_inference/binary_inference_convolution.cc
  src/operator/contrib/binary_inference/binary_inference_convolution.cu
  src/operator/contrib/binary_inference/binary_inference_fully_connected-inl.h
  src/operator/contrib/binary_inference/binary_inference_fully_connected.cc
  src/operator/contrib/binary_inference/binary_inference_fully_connected.cu
  src/operator/contrib/gradient_cancel-inl.h
  src/operator/contrib/gradient_cancel.cc
  tools/binary_converter/main.cpp
Due: backend

Fixing css and js
  docs/python_docs/_static/mxnet.css
  docs/python_docs/themes/mx-theme/mxtheme/drawer.html
  docs/python_docs/themes/mx-theme/mxtheme/static/sphinx_materialdesign_theme.css
  docs/python_docs/themes/mx-theme/mxtheme/static/sphinx_materialdesign_theme.css.map
  docs/python_docs/themes/mx-theme/mxtheme/static/sphinx_materialdesign_theme.js
  docs/python_docs/themes/mx-theme/mxtheme/static/sphinx_materialdesign_theme.js.map
  docs/python_docs/themes/mx-theme/mxtheme/static/webfonts/fa-solid-900.eot
  docs/python_docs/themes/mx-theme/mxtheme/static/webfonts/fa-solid-900.svg
  docs/python_docs/themes/mx-theme/mxtheme/static/webfonts/fa-solid-900.ttf
  docs/python_docs/themes/mx-theme/mxtheme/static/webfonts/fa-solid-900.woff
  docs/python_docs/themes/mx-theme/mxtheme/static/webfonts/fa-solid-900.woff2
  docs/python_docs/themes/mx-theme/src/js/sphinx_materialdesign_theme.js
  docs/python_docs/themes/mx-theme/src/scss/layout/_layout.scss
Due: none

[MXNET-1399] multiclass-mcc metric enhancements (#14874)
  python/mxnet/metric.py
  tests/python/unittest/test_metric.py
Due: python

Delete print
  tests/python/unittest/test_numpy_op.py
Due: none

cp libtvm_runtime.so when make rpkg
  Makefile
Due: none

[MXNET-895] ONNX import/export: TopK (#13627)
  python/mxnet/contrib/onnx/mx2onnx/_op_translations.py
  python/mxnet/contrib/onnx/onnx2mx/_import_helper.py
  python/mxnet/contrib/onnx/onnx2mx/_op_translations.py
  tests/python-pytest/onnx/test_cases.py
Due: python

FullyConnected Bias performance improvement on GPU
  src/operator/nn/fully_connected-inl.h
Due: backend

Handle req properly
  src/operator/nn/fully_connected-inl.h
Due: backend

numpy-compatible cumsum upstream (#15924)
  python/mxnet/_numpy_op_doc.py
  src/operator/numpy/np_cumsum-inl.h
  src/operator/numpy/np_cumsum.cc
  src/operator/numpy/np_cumsum.cu
  tests/python/unittest/test_numpy_op.py
Due: python, backend

Add test
  python/mxnet/gluon/block.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  tests/python/unittest/test_numpy_gluon.py
Due: python

Fix flaky test
  tests/python/unittest/test_numpy_op.py
Due: none

numpy infra residual part
  python/mxnet/contrib/text/embedding.py
  python/mxnet/gluon/block.py
  python/mxnet/gluon/data/dataloader.py
  python/mxnet/gluon/data/vision/datasets.py
  python/mxnet/gluon/data/vision/transforms.py
  python/mxnet/gluon/loss.py
  python/mxnet/gluon/model_zoo/vision/resnet.py
  python/mxnet/gluon/nn/activations.py
  python/mxnet/gluon/nn/basic_layers.py
  python/mxnet/gluon/nn/conv_layers.py
  python/mxnet/gluon/rnn/rnn_layer.py
  python/mxnet/gluon/utils.py
  python/mxnet/image/detection.py
  python/mxnet/image/image.py
  python/mxnet/initializer.py
Due: python

Fix sanity
  python/mxnet/gluon/data/dataloader.py
Due: python

removing tests not required for vector testing
  tests/nightly/test_large_vector.py
Due: none

Adding tests to verify support for Large Tensors in additional Ops along with new C_Apis supporting 64bit indexing
  tests/nightly/test_large_vector.py
Due: none

removing skipped tests
  tests/nightly/test_large_vector.py
Due: none

Adding more tests for Large Indices and adding support for Large Indices in one_hot operator
  src/ndarray/ndarray_function.cc
  src/operator/tensor/indexing_op.h
  src/operator/tensor/matrix_op-inl.h
  tests/nightly/test_large_vector.py
Due: backend

add prototype of subgraph op
  example/lib_ops/mylib.cc
  example/lib_ops/subgraph_lib.cc
  example/lib_ops/test.py
  example/lib_ops/test_subgraph.py
Due: none

teardown, lint, remove redundant functions
  tests/nightly/test_large_vector.py
Due: none

Fix _copy_to on MKLDNN backend (#15637)
  src/imperative/imperative_utils.h
Due: backend

Fix after rebase
  src/operator/mxnet_op.h
Due: backend

add libtvm_runtime.so to scala-pkg
  scala-package/assembly/src/main/assembly/assembly.xml
  scala-package/core/src/main/scala/org/apache/mxnet/util/NativeLibraryLoader.scala
Due: clojure

More fixes from rebase
  src/common/cuda_utils.h
Due: backend

Update README.md (#16035)
  README.md
Due: none

[DOC] Consistent capitalization: mxnet -> MXNet, scala -> Scala
  CONTRIBUTORS.md
Due: none

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
