Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

Factorize CUDA_KERNEL_LOOP used in CUDA kernels
  src/operator/contrib/count_sketch.cu
  src/operator/contrib/deformable_psroi_pooling.cu
  src/operator/contrib/psroi_pooling.cu
  src/operator/contrib/roi_align.cu
  src/operator/correlation.cu
Due: backend

assert_allclose -> rtol=1e-10
  tests/python/unittest/test_ndarray.py
Due: none

Add register_op_hook for gluon (#15839)
  include/mxnet/c_api.h
  python/mxnet/_ctypes/ndarray.py
  python/mxnet/cython/base.pyi
  python/mxnet/cython/ndarray.pyx
  python/mxnet/gluon/block.py
  src/c_api/c_api_ndarray.cc
  src/common/utils.cc
  src/common/utils.h
  src/imperative/cached_op.cc
  src/imperative/cached_op.h
  src/imperative/imperative_utils.cc
  src/imperative/imperative_utils.h
  tests/python/unittest/test_gluon.py
Due: python, backend

adding codeowners (#16165)
  CODEOWNERS
Due: none

assert_allclose -> rtol=1e-10 (#16198)
  tests/python/unittest/test_ndarray.py
Due: none

Removes unnecessary parameter
  ci/Jenkinsfile_utils.groovy
Due: none

Adds revision parameter to release job
  cd/Jenkinsfile_release_job
  cd/Jenkinsfile_utils.groovy
Due: none

[Dataset] add shard API (#16175)
  python/mxnet/gluon/data/dataset.py
  python/mxnet/gluon/data/sampler.py
  tests/python/unittest/test_gluon_data.py
Due: python

kernel
  src/operator/tensor/matrix_op-inl.h
Due: backend

address comments
  python/mxnet/gluon/data/dataloader.py
Due: python

improve dataloader signals and messages
  python/mxnet/gluon/data/dataloader.py
Due: python

fix spawn tests on windows
  tests/python/unittest/test_gluon_data.py
Due: none

removing MXNDArrayLoadFromBuffer64 and MXNDArrayLoad64
  include/mxnet/c_api.h
Due: backend

fix lint
  python/mxnet/optimizer/optimizer.py
  tests/python/gpu/test_operator_gpu.py
Due: python

removing the utility nodes
  ci/jenkins/Jenkinsfile_website_full
Due: none

use restricted nodes for everything
  ci/jenkins/Jenkinsfile_website_full
Due: none

Update documentation
  cd/README.md
  cd/img/job_setup.png
Due: none

Changes RELEASE_JOB_TYPE to string parameter
  cd/Jenkinsfile_release_job
Due: none

Add __array_function__
  python/mxnet/__init__.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  tests/python/gpu/test_operator_gpu.py
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_ndarray.py
  tests/python/unittest/test_numpy_op.py
Due: python

Fix np.choice
  tests/python/unittest/test_numpy_op.py
Due: none

Improved error mesages
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
Due: python

[MEMORY] retry GPU memory allocation if fragmented (#16194)
  src/storage/pooled_storage_manager.h
Due: backend

Fix README Build Status (#16183)
  README.md
Due: none

empty commit
  ci/docker/Dockerfile.build.ubuntu_cpu_r
Due: none

add exception check for numpy reshape (#16180)
  tests/python/unittest/test_exc_handling.py
Due: none

gpu thread 1
  src/operator/tensor/matrix_op-inl.h
Due: backend

fix typo
  ci/jenkins/Jenkins_steps.groovy
Due: none

fix the restricted-utility bug
  ci/jenkins/Jenkinsfile_website_full
Due: none

Update ndarray.py
  python/mxnet/ndarray/ndarray.py
Due: python

deleting unused function
  ci/docker/runtime_functions.sh
Due: none

Fix GPU CI
  tests/python/unittest/test_operator.py
Due: none

fix multinomial bug on gpu
  src/operator/numpy/random/np_multinomial_op.cu
  src/operator/numpy/random/np_multinomial_op.h
  tests/python/unittest/test_numpy_ndarray.py
Due: backend

improve dataloader signals and messages (#16114)
  python/mxnet/gluon/data/dataloader.py
  tests/python/unittest/test_gluon_data.py
Due: python

[Numpy] Numpy behavior normal distribution (#16109)
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/random.py
  src/operator/numpy/random/dist_common.cc
  src/operator/numpy/random/dist_common.cu
  src/operator/numpy/random/dist_common.h
  src/operator/numpy/random/np_normal_op.cc
  src/operator/numpy/random/np_normal_op.cu
  src/operator/numpy/random/np_normal_op.h
  tests/python/unittest/test_numpy_op.py
Due: python, backend

fix multinomial bug on gpu (#16204)
  src/operator/numpy/random/np_multinomial_op.cu
  src/operator/numpy/random/np_multinomial_op.h
  tests/python/unittest/test_numpy_ndarray.py
Due: backend

Update ndarray.py (#16205)
  python/mxnet/ndarray/ndarray.py
Due: python

subscribe to build and CD changes (#16192)
  CODEOWNERS
Due: none

add kernel
  src/operator/tensor/matrix_op-inl.h
  src/operator/tensor/pseudo2DTranspose_op-inl.cuh
Due: backend

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
