Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

free memory for size zero storage handle
  include/mxnet/ndarray.h
  src/ndarray/ndarray.cc
Due: backend

set context for aux handle
  include/mxnet/ndarray.h
Due: backend

skip adding nullptr into GPU memory pool
  src/storage/pooled_storage_manager.h
Due: backend

set context for aux handle once it is created
  include/mxnet/ndarray.h
  src/ndarray/ndarray.cc
Due: backend

improve arg check
  python/mxnet/gluon/estimator/estimator.py
Due: python

fix pylint
  python/mxnet/gluon/estimator/estimator.py
Due: python

add more tests for estimator
  tests/python/unittest/test_gluon_estimator.py
Due: none

Disable the new testcase to track bugs
  tests/python/unittest/test_ndarray.py
Due: none

Add dtype visualization to plot_network (#14066)
  python/mxnet/visualization.py
  tests/python/unittest/test_viz.py
Due: python

Fix test
  src/operator/subgraph/mkldnn/mkldnn_fc.cc
Due: backend

Support multi-threading for Custom Operator (#14363)
  docs/faq/env_var.md
  src/operator/custom/custom-inl.h
Due: backend

enable some new testcases
  tests/python/unittest/test_ndarray.py
Due: none

try to change hybridize module
  example/gluon/wavenet/models.py
  example/gluon/wavenet/trainer.py
Due: none

Fix entropy for uint8 (#14150)
  python/mxnet/contrib/quantization.py
  tests/python/quantization/test_quantization.py
Due: python

Update test_ndarray.py
  tests/python/unittest/test_ndarray.py
Due: none

what's new - add 1.4.0 release
  README.md
Due: none

what's new - add 1.4.0 release (#14435)
  README.md
Due: none

moveaxis operator now accepts negative indices and sequence of ints as well. (#14321)
  python/mxnet/ndarray/ndarray.py
  tests/python/unittest/test_ndarray.py
Due: python

Add repr for SymbolBlock (#14423)
  python/mxnet/gluon/block.py
  tests/python/unittest/test_gluon.py
Due: python

Initial commit
  src/operator/contrib/adamw-inl.h
  src/operator/contrib/adaptive_avg_pooling-inl.h
  src/operator/contrib/bilinear_resize-inl.h
  src/operator/contrib/boolean_mask.cc
  src/operator/contrib/bounding_box-inl.h
  src/operator/contrib/count_sketch-inl.h
  src/operator/contrib/deformable_convolution-inl.h
  src/operator/contrib/dgl_graph.cc
  src/operator/contrib/fft-inl.h
  src/operator/contrib/ifft-inl.h
  src/operator/contrib/index_copy-inl.h
  src/operator/contrib/multi_proposal-inl.h
  src/operator/contrib/nnvm_to_onnx.cc
  src/operator/contrib/optimizer_op.cc
  src/operator/contrib/proposal-inl.h
  src/operator/contrib/quadratic_op-inl.h
  src/operator/contrib/sync_batch_norm-inl.h
  src/operator/contrib/transformer-inl.h
Due: backend

Fixes from review
  python/mxnet/optimizer/optimizer.py
Due: python

add unit tests
  python/mxnet/gluon/estimator/event_handler.py
  tests/python/unittest/test_gluon_event_handler.py
Due: python

Fixing unintentional variable overloading
  example/recommenders/matrix_fact.py
Due: none

added validation logic
  python/mxnet/gluon/estimator/__init__.py
  python/mxnet/gluon/estimator/estimator.py
  python/mxnet/gluon/estimator/event_handler.py
Due: python

Address comments
  src/operator/contrib/adaptive_avg_pooling-inl.h
  src/operator/contrib/deformable_convolution-inl.h
  src/operator/contrib/dgl_graph.cc
  src/operator/contrib/index_copy-inl.h
  src/operator/contrib/optimizer_op.cc
  src/operator/contrib/quadratic_op-inl.h
  src/operator/contrib/transformer-inl.h
Due: backend

[Numpy] Change semantics of ndim for operators in `src/operator/contrib` (#14409)
  src/operator/contrib/adamw-inl.h
  src/operator/contrib/adaptive_avg_pooling-inl.h
  src/operator/contrib/bilinear_resize-inl.h
  src/operator/contrib/boolean_mask.cc
  src/operator/contrib/bounding_box-inl.h
  src/operator/contrib/count_sketch-inl.h
  src/operator/contrib/deformable_convolution-inl.h
  src/operator/contrib/dgl_graph.cc
  src/operator/contrib/fft-inl.h
  src/operator/contrib/ifft-inl.h
  src/operator/contrib/index_copy-inl.h
  src/operator/contrib/multi_proposal-inl.h
  src/operator/contrib/nnvm_to_onnx.cc
  src/operator/contrib/optimizer_op.cc
  src/operator/contrib/proposal-inl.h
  src/operator/contrib/quadratic_op-inl.h
  src/operator/contrib/sync_batch_norm-inl.h
  src/operator/contrib/transformer-inl.h
Due: backend

added error handlers, unittests
  python/mxnet/gluon/estimator/estimator.py
  tests/python/unittest/test_gluon_estimator.py
Due: python

Adding to conbributor list
  CONTRIBUTORS.md
Due: none

fix lint error
  src/operator/nn/deconvolution-inl.h
Due: backend

MXNET version of numpy.allclose operation implemented
  python/mxnet/test_utils.py
  src/operator/contrib/allclose_op-inl.h
  src/operator/contrib/allclose_op.cc
  src/operator/contrib/allclose_op.cu
  tests/python-pytest/onnx/mxnet_export_test.py
  tests/python/gpu/test_gluon_gpu.py
  tests/python/gpu/test_gluon_model_zoo_gpu.py
  tests/python/gpu/test_operator_gpu.py
  tests/python/mkl/test_mkldnn.py
  tests/python/unittest/test_gluon_contrib.py
  tests/python/unittest/test_loss.py
  tests/python/unittest/test_ndarray.py
  tests/python/unittest/test_operator.py
  tests/python/unittest/test_random.py
  tests/python/unittest/test_sparse_operator.py
  tests/python/unittest/test_subgraph.py
Due: python, backend

improve val stats
  python/mxnet/gluon/estimator/estimator.py
  python/mxnet/gluon/estimator/event_handler.py
Due: python

update after review
  docs/tutorials/python/module_to_gluon.md
Due: none

update after review
  docs/tutorials/index.md
Due: none

Changes to make ResourceScope.using work with existing scope
  scala-package/core/src/main/scala/org/apache/mxnet/ResourceScope.scala
  scala-package/core/src/test/scala/org/apache/mxnet/ResourceScopeSuite.scala
Due: clojure

temporarily disable integ tests with a dependency on origami repo
  contrib/clojure-package/integration-tests.sh
Due: none

[MXNet-1334][Fit API]base class for estimator and eventhandler (#14346)
  python/mxnet/gluon/estimator/__init__.py
  python/mxnet/gluon/estimator/estimator.py
  python/mxnet/gluon/estimator/event_handler.py
  tests/python/unittest/test_gluon_event_handler.py
Due: python
