Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

revert timeout increase
  ci/jenkins/Jenkinsfile_unix_cpu
Due: none

Adding tests to verify support for Large Tensors in additional Ops along with new C_Apis supporting 64bit indexing (#15895)
  include/mxnet/c_api.h
  python/mxnet/ndarray/ndarray.py
  src/c_api/c_api.cc
  src/operator/tensor/dot-inl.h
  tests/nightly/test_large_array.py
Due: python, backend

Set monitor callback basic support
  include/mxnet/c_api.h
  python/mxnet/_ctypes/ndarray.py
  python/mxnet/gluon/block.py
  src/c_api/c_api_ndarray.cc
  src/common/utils.cc
  src/common/utils.h
  src/imperative/cached_op.cc
  src/imperative/cached_op.h
  src/imperative/imperative_utils.cc
  src/imperative/imperative_utils.h
  tests/python/unittest/test_gluon.py
Due: python, backend

fix naive engine for multi-threaded inference (#15574)
  src/engine/naive_engine.cc
Due: backend

update support MKLDNN BN conditions
  src/operator/nn/batch_norm.cc
Due: backend

add bn test case for channel size = 8
  tests/python/unittest/test_operator.py
Due: none

fix mkldnn bn output when use_global_stats
  src/operator/nn/mkldnn/mkldnn_batch_norm-inl.h
Due: backend

rm useless comments
  src/operator/nn/batch_norm.cc
Due: backend

fix bn gradient with use_global_stats
  src/operator/nn/mkldnn/mkldnn_batch_norm-inl.h
Due: backend

fix lint
  src/operator/nn/mkldnn/mkldnn_batch_norm-inl.h
Due: backend

Set laop_6 seed.
  ci/windows/test_py2_cpu.ps1
  ci/windows/test_py3_gpu.ps1
  tests/python/unittest/test_operator.py
Due: none

randint completed
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/random.py
  src/operator/random/sample_op.cc
  tests/python/unittest/test_numpy_op.py
Due: python, backend

Use NDArray to manage temp memory
  src/operator/rnn-inl.h
  src/operator/rnn.cc
Due: backend

remove a_max limitation for bounded_relu
  src/operator/subgraph/mkldnn/mkldnn_fc_property.h
Due: backend

tvm broadcast backward
  contrib/tvmop/basic/ufunc.py
  src/operator/contrib/tvmop/ufunc.cc
  tests/python/unittest/test_tvm_op.py
Due: backend

dispatch by req
  contrib/tvmop/basic/ufunc.py
  src/operator/contrib/tvmop/ufunc.cc
  tests/python/unittest/test_tvm_op.py
Due: backend

[Quantization]support exclude operators while quantization (#15910)
  docs/tutorials/mkldnn/mkldnn_quantization.md
  example/quantization/imagenet_gen_qsym.py
  include/mxnet/c_api.h
  python/mxnet/contrib/quantization.py
  src/c_api/c_api_symbolic.cc
  src/operator/quantization/quantize_graph_pass.cc
  tests/python/mkl/test_subgraph.py
  tests/python/quantization/test_quantization.py
Due: python, backend

pad for broadcast to a larger dim
  contrib/tvmop/__init__.py
  contrib/tvmop/basic/ufunc.py
  contrib/tvmop/utils.py
  src/operator/contrib/tvmop/ufunc.cc
  tests/python/unittest/test_tvm_op.py
Due: backend

median,avg,p90,p99
  benchmark/opperf/utils/benchmark_utils.py
  benchmark/opperf/utils/common_utils.py
  benchmark/opperf/utils/profiler_utils.py
Due: none

Correct way to use NDArray
  src/operator/rnn.cc
Due: backend

Add mkldnn imlementation for quantized flatten and smart quantize mode
  example/quantization/README.md
  example/quantization/imagenet_gen_qsym_mkldnn.py
  example/ssd/quantization.py
  include/mxnet/c_api.h
  include/mxnet/op_attr_types.h
  python/mxnet/contrib/quantization.py
  src/c_api/c_api_symbolic.cc
  src/operator/nn/mkldnn/mkldnn_flatten-inl.h
  src/operator/nn/mkldnn/mkldnn_flatten.cc
  src/operator/quantization/mkldnn/mkldnn_quantized_flatten.cc
  src/operator/quantization/quantize_graph_pass.cc
  src/operator/quantization/quantized_conv.cc
  src/operator/quantization/quantized_fully_connected.cc
  src/operator/subgraph/mkldnn/mkldnn_conv.cc
  src/operator/subgraph/mkldnn/mkldnn_fc.cc
  tests/python/mkl/test_subgraph.py
  tests/python/quantization/test_quantization.py
Due: python, backend

Add calibrate op
  example/quantization/imagenet_gen_qsym.py
  example/quantization/imagenet_gen_qsym_mkldnn.py
  example/ssd/quantization.py
  include/mxnet/c_api.h
  include/mxnet/c_api_error.h
  include/mxnet/op_attr_types.h
  python/mxnet/contrib/quantization.py
  src/c_api/c_api_symbolic.cc
  src/operator/quantization/calibrate-inl.h
  src/operator/quantization/calibrate.cc
  src/operator/quantization/mkldnn/mkldnn_quantized_elemwise_add.cc
  src/operator/quantization/quantization_utils.h
  src/operator/quantization/quantize_graph_pass.cc
  src/operator/quantization/quantize_v2.cc
  src/operator/quantization/quantized_batch_norm.cc
  src/operator/quantization/requantize.cc
  tests/python/mkl/test_subgraph.py
  tests/python/quantization/test_quantization.py
Due: python, backend

Fix merge
  python/mxnet/contrib/quantization.py
  src/c_api/c_api_symbolic.cc
  src/operator/quantization/quantize_graph_pass.cc
Due: python, backend

add unit test
  tests/python/gpu/test_operator_gpu.py
Due: none

Moving get_rows_per_block to common place
  src/common/cuda_utils.cc
  src/common/cuda_utils.h
  src/operator/nn/softmax-inl.h
Due: backend

Going easy on Windows compiler (again)
  src/operator/fusion/fused_op-inl.h
  src/operator/fusion/fused_op.cu
Due: backend

Fix
  src/operator/nn/softmax-inl.h
Due: backend

remove cat image
  julia/examples/imagenet/ijulia-pretrained-predict/Prediction with Pre-trained Model.ipynb
  julia/examples/imagenet/ijulia-pretrained-predict/cat.png
Due: none

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
