Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

set rtol = 1e-2 and atol = 1e-4 when dtype == np.float32 in test_numpy_op.py:test_np_linalg_solve (#17025)
  python/mxnet/symbol/numpy/linalg.py
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Due: python

removing unecessary functions from PyLAMB
  tests/python/gpu/test_operator_gpu.py
  tests/python/unittest/test_optimizer.py
Due: none

multi-precision lamb update operator
  python/mxnet/optimizer/optimizer.py
  src/operator/optimizer_op-inl.h
  src/operator/optimizer_op.cc
  src/operator/optimizer_op.cu
  tests/python/gpu/test_operator_gpu.py
  tests/python/unittest/test_optimizer.py
Due: python, backend

removing multi-tensor code from lamb
  python/mxnet/optimizer/optimizer.py
Due: python

doing operation beta^t outside of kernel call
  src/operator/optimizer_op-inl.h
Due: backend

Revert downgrade cublas version as Nvidia-docker have fixed this
  ci/docker/Dockerfile.build.centos7_gpu
  ci/docker/Dockerfile.build.ubuntu_base_gpu
  ci/docker/Dockerfile.build.ubuntu_build_cuda
  ci/docker/Dockerfile.build.ubuntu_gpu_cu101
  ci/docker/Dockerfile.build.ubuntu_nightly_gpu
  ci/docker/install/centos7_cublas.sh
  ci/docker/install/ubuntu_cublas.sh
Due: none

Follow MXNet letters case format
  src/operator/contrib/multi_sum_sq.cc
  src/operator/contrib/multi_sum_sq.cu
  tests/python/gpu/test_operator_gpu.py
Due: backend

Workaround problem with fusion in CUDA 9
  src/operator/fusion/fused_op-inl.h
  src/operator/fusion/fused_op.cu
Due: backend

Revert downgrade cublas version as Nvidia-docker have fixed this (#17026)
  ci/docker/Dockerfile.build.centos7_gpu
  ci/docker/Dockerfile.build.ubuntu_base_gpu
  ci/docker/Dockerfile.build.ubuntu_build_cuda
  ci/docker/Dockerfile.build.ubuntu_gpu_cu101
  ci/docker/Dockerfile.build.ubuntu_nightly_gpu
  ci/docker/install/centos7_cublas.sh
  ci/docker/install/ubuntu_cublas.sh
Due: none

Fix ndarray indexing bug (#16895)
  python/mxnet/ndarray/ndarray.py
  src/ndarray/ndarray.cc
  tests/python/unittest/test_ndarray.py
  tests/python/unittest/test_numpy_ndarray.py
Due: python, backend

[Gluon] Update contrib.Estimator LoggingHandler to support logging per batch interval (#16922)
  python/mxnet/gluon/contrib/estimator/event_handler.py
  tests/python/unittest/test_gluon_event_handler.py
Due: python

Add micro averaging strategy to pearsonr metric (#16878)
  python/mxnet/metric.py
  tests/python/unittest/test_metric.py
Due: python

[Bugfix] [Numpy] Add `kAddTo` and kNullOp to Transpose (#16979)
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_matrix_op.cc
  src/operator/tensor/matrix_op-inl.h
  src/operator/tensor/matrix_op.cc
  src/operator/tensor/pseudo2DTranspose_op-inl.cuh
  tests/python/unittest/test_numpy_op.py
Due: backend

Merge make/pip and make/maven configurations
  ci/docker/runtime_functions.sh
  ci/publish/python/build.sh
  ci/publish/scala/build.sh
  make/maven/maven_darwin_mkl.mk
  make/maven/maven_linux_cu90mkl.mk
  make/maven/maven_linux_cu92mkl.mk
  make/maven/maven_linux_mkl.mk
  make/staticbuild/darwin_cpu.mk
  make/staticbuild/darwin_mkl.mk
  make/staticbuild/linux_cpu.mk
  make/staticbuild/linux_cu100.mk
  make/staticbuild/linux_cu100mkl.mk
  make/staticbuild/linux_cu101.mk
  make/staticbuild/linux_cu101mkl.mk
  make/staticbuild/linux_cu75.mk
  make/staticbuild/linux_cu75mkl.mk
  make/staticbuild/linux_cu80.mk
  make/staticbuild/linux_cu80mkl.mk
  make/staticbuild/linux_cu90.mk
  make/staticbuild/linux_cu90mkl.mk
  make/staticbuild/linux_cu91.mk
  make/staticbuild/linux_cu91mkl.mk
  make/staticbuild/linux_cu92.mk
  make/staticbuild/linux_cu92mkl.mk
  make/staticbuild/linux_mkl.mk
  tools/dependencies/README.md
  tools/staticbuild/README.md
  tools/staticbuild/build.sh
  tools/staticbuild/build_lib.sh
Due: none

introduce gradient update handler to the base estimator (#16900)
  python/mxnet/gluon/contrib/estimator/estimator.py
  python/mxnet/gluon/contrib/estimator/event_handler.py
  tests/python/unittest/test_gluon_estimator.py
Due: python

Multi Precision Lamb Update operator (#16885)
  python/mxnet/optimizer/optimizer.py
  src/operator/optimizer_op-inl.h
  src/operator/optimizer_op.cc
  src/operator/optimizer_op.cu
  tests/python/gpu/test_operator_gpu.py
  tests/python/unittest/test_optimizer.py
Due: python, backend

add C++ unit test
  tests/cpp/engine/omp_test.cc
Due: none

Add comment
  src/engine/openmp.cc
Due: backend

Op_Diagonal [Numpy] (#16989)
  python/mxnet/_numpy_op_doc.py
  python/mxnet/numpy_dispatch_protocol.py
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Due: python, backend

Fix CUDNN detection for CMake build (#17019)
  CMakeLists.txt
  cmake/BuildTVM.cmake
  cmake/FirstClassLangCuda.cmake
  cmake/Modules/FindCUDNN.cmake
Due: none

Replace mxnet_option macro with standard CMAKE_DEPENDENT_OPTION
  CMakeLists.txt
  cmake/Modules/FindMKL.cmake
  cmake/Utils.cmake
Due: none

Merge make/pip and make/maven configurations (#17027)
  ci/docker/runtime_functions.sh
  ci/publish/python/build.sh
  ci/publish/scala/build.sh
  make/maven/maven_darwin_mkl.mk
  make/maven/maven_linux_cu90mkl.mk
  make/maven/maven_linux_cu92mkl.mk
  make/maven/maven_linux_mkl.mk
  make/staticbuild/darwin_cpu.mk
  make/staticbuild/darwin_mkl.mk
  make/staticbuild/linux_cpu.mk
  make/staticbuild/linux_cu100.mk
  make/staticbuild/linux_cu100mkl.mk
  make/staticbuild/linux_cu101.mk
  make/staticbuild/linux_cu101mkl.mk
  make/staticbuild/linux_cu75.mk
  make/staticbuild/linux_cu75mkl.mk
  make/staticbuild/linux_cu80.mk
  make/staticbuild/linux_cu80mkl.mk
  make/staticbuild/linux_cu90.mk
  make/staticbuild/linux_cu90mkl.mk
  make/staticbuild/linux_cu91.mk
  make/staticbuild/linux_cu91mkl.mk
  make/staticbuild/linux_cu92.mk
  make/staticbuild/linux_cu92mkl.mk
  make/staticbuild/linux_mkl.mk
  tools/dependencies/README.md
  tools/staticbuild/README.md
  tools/staticbuild/build.sh
  tools/staticbuild/build_lib.sh
Due: none

Include eval_net the validation model in the estimator api
  python/mxnet/gluon/contrib/estimator/estimator.py
  tests/python/unittest/test_gluon_estimator.py
Due: python

fix small issue
  tests/python/unittest/test_gluon_estimator.py
Due: none

Workaround problem with fusion in CUDA 9 (#17028)
  src/operator/fusion/fused_op-inl.h
  src/operator/fusion/fused_op.cu
Due: backend

Include eval_net the validation model in the gluon estimator api (#16957)
  python/mxnet/gluon/contrib/estimator/estimator.py
  tests/python/unittest/test_gluon_estimator.py
Due: python

numpy bincount
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_bincount_op-inl.h
  src/operator/numpy/np_bincount_op.cc
  src/operator/numpy/np_bincount_op.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Due: python, backend

Turns off unnecessary DEBUG flag
  ci/docker/runtime_functions.sh
Due: none

Fixes cudnn version for cuda 10.1 Dockefile
  ci/docker/Dockerfile.build.ubuntu_gpu_cu101
Due: none

Adds mx_mkldnn_deps back to dynamic libmxnet pipeline
  cd/mxnet_lib/dynamic/Jenkins_pipeline.groovy
  cd/mxnet_lib/static/Jenkins_pipeline.groovy
Due: none

Adds USE_NVTX=1 to cu90 make configuration
  make/staticbuild/linux_cu90.mk
  make/staticbuild/linux_cu90mkl.mk
Due: none

merge changes with the master branch
  python/mxnet/gluon/contrib/estimator/event_handler.py
  tests/python/unittest/test_gluon_estimator.py
Due: python

fix unittest failures for the new api interface
  tests/python/unittest/test_gluon_event_handler.py
Due: none

Extend estimator.evaluate() to support event handlers
  python/mxnet/gluon/contrib/estimator/estimator.py
  python/mxnet/gluon/contrib/estimator/event_handler.py
  tests/python/unittest/test_gluon_estimator.py
Due: python

Remove unused argument val_metrics
  python/mxnet/gluon/contrib/estimator/estimator.py
  python/mxnet/gluon/contrib/estimator/event_handler.py
  tests/python/unittest/test_gluon_estimator.py
Due: python

fix some regression errors
  tests/python/unittest/test_gluon_event_handler.py
Due: none

Add comments in the code for readability
  python/mxnet/gluon/contrib/estimator/estimator.py
  python/mxnet/gluon/contrib/estimator/event_handler.py
Due: python

fix bugs introduced in the merging phase
  python/mxnet/gluon/contrib/estimator/event_handler.py
  tests/python/unittest/test_gluon_estimator.py
Due: python
