Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

fix typo bug
  src/operator/quantization/quantized_fully_connected.cc
Due: backend

retrigger ci
  src/operator/quantization/quantized_fully_connected.cc
Due: backend

[Doc] Fix repo paths in Ubuntu build doc
  docs/install/ubuntu_setup.md
Due: none

[Doc] Use relative path in Ubuntu build doc
  docs/install/ubuntu_setup.md
Due: none

int32 to int64 support, indentation fix, check for optype correctly based on type of random function
  include/mxnet/random_generator.h
  python/mxnet/ndarray/random.py
  python/mxnet/symbol/random.py
  src/operator/random/sample_op.cc
  src/operator/random/sample_op.h
  tests/python/unittest/test_random.py
Due: python, backend

Improve cpp-package example project build files.
  cpp-package/example/Makefile
  cpp-package/example/README.md
  cpp-package/example/example.mk
Due: none

use cudnnGet instead of cudnnFind when determinism required
  src/operator/nn/cudnn/cudnn_convolution-inl.h
  src/operator/nn/cudnn/cudnn_deconvolution-inl.h
Due: backend

customized take forward for CPU (#12997)
  src/operator/tensor/indexing_op.cc
  src/operator/tensor/indexing_op.cu
  src/operator/tensor/indexing_op.h
Due: backend

Update module example (#12961)
  example/module/utils/__init__.py
  example/module/utils/get_data.py
Due: none

ONNX export: Scalar, Reshape - Set appropriate tensor type (#13067)
  python/mxnet/contrib/onnx/mx2onnx/_op_translations.py
Due: python

Fix example for mxnet.nd.contrib.cond and fix typo in src/engine (#12954)
  python/mxnet/ndarray/contrib.py
  src/engine/engine.cc
  src/engine/threaded_engine.h
Due: python, backend

Improve the Clojure Package README to Make it Easier to Get Started (#12881)
  contrib/clojure-package/README.md
Due: none

retrigger the ci test
  src/operator/quantization/quantized_fully_connected.cc
Due: backend

Retrigger CI
  src/operator/l2_normalization.cc
Due: backend

add java benchmark
  scala-package/examples/scripts/benchmark/run_java_inference_bm.sh
  scala-package/examples/src/main/java/org/apache/mxnetexamples/javaapi/benchmark/InferBase.java
  scala-package/examples/src/main/java/org/apache/mxnetexamples/javaapi/benchmark/JavaBenchmark.java
  scala-package/examples/src/main/java/org/apache/mxnetexamples/javaapi/benchmark/ObjectDetectionBenchmark.java
  scala-package/examples/src/main/java/org/apache/mxnetexamples/javaapi/infer/objectdetector/README.md
  scala-package/examples/src/main/java/org/apache/mxnetexamples/javaapi/infer/objectdetector/SSDClassifierExample.java
  scala-package/infer/src/main/scala/org/apache/mxnet/infer/javaapi/ObjectDetector.scala
Due: clojure

applied changes based on Piyush comments
  scala-package/examples/src/main/java/org/apache/mxnetexamples/javaapi/benchmark/InferBase.java
  scala-package/examples/src/main/java/org/apache/mxnetexamples/javaapi/benchmark/JavaBenchmark.java
  scala-package/examples/src/main/java/org/apache/mxnetexamples/javaapi/benchmark/ObjectDetectionBenchmark.java
Due: clojure

Resolving conflict
  Jenkinsfile
Due: none

change CMAKE_CXX_FLAGS
  ci/build_windows.py
Due: none

change cxx flags for mkldnn
  CMakeLists.txt
Due: none

limit change to MSVC
  CMakeLists.txt
Due: none

Revert "change CMAKE_CXX_FLAGS"
  ci/build_windows.py
Due: none

fix typo in op guide
  docs/faq/add_op_in_backend.md
Due: none

[MXNET-918] Introduce Random module / Refact code generation (#13038)
  scala-package/macros/src/main/scala/org/apache/mxnet/APIDocGenerator.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/GeneratorBase.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/NDArrayMacro.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/SymbolMacro.scala
Due: clojure

Fix lint issues and make existing tests pass
  python/mxnet/gluon/block.py
Due: python

Infer dtype in SymbolBlock import from input symbol
  python/mxnet/gluon/block.py
Due: python

Add tests for fp16, add default dtype in infer_param_types
  python/mxnet/gluon/block.py
  python/mxnet/gluon/parameter.py
  tests/python/gpu/test_gluon_gpu.py
  tests/python/unittest/test_gluon.py
Due: python

Add tests for importing a fp64 model into symbol block
  tests/python/unittest/test_gluon.py
Due: none

Fixing failing GPU tests
  tests/python/gpu/test_gluon_gpu.py
  tests/python/unittest/test_gluon.py
Due: none

Set context in unit tests
  tests/python/unittest/test_gluon.py
Due: none

Use tmp directory as root for loading from model zoo to avoid race condition
  tests/python/gpu/test_gluon_gpu.py
  tests/python/unittest/test_gluon.py
Due: none

Fixing failing test for test symbol block
  tests/python/unittest/test_gluon.py
Due: none

Fixing naming and parameter selection in test case
  tests/python/gpu/test_gluon_gpu.py
  tests/python/unittest/test_gluon.py
Due: none

Add tests to verify behavior of SymbolBlock.cast
  tests/python/unittest/test_gluon.py
Due: none

Handle multiple symbolic input usecase
  python/mxnet/gluon/block.py
Due: python

Make unit test more deterministic to get param name
  tests/python/gpu/test_gluon_gpu.py
  tests/python/unittest/test_gluon.py
Due: none

Override cast in symbol block, handle grouped symbol
  python/mxnet/gluon/block.py
Due: python

[MXNET-953] Fix oob memory read
  src/operator/tensor/elemwise_unary_op_basic.cc
Due: backend

[MXNET-969] Fix buffer overflow in RNNOp
  src/operator/rnn-inl.h
Due: backend

[MXNET-969] Use ternary op for statecell
  src/operator/rnn-inl.h
Due: backend
