Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

update description in file header
  src/operator/nn/mkldnn/mkldnn_fully_connected-inl.h
  src/operator/nn/mkldnn/mkldnn_fully_connected.cc
  src/operator/quantization/mkldnn/mkldnn_quantized_fully_connected.cc
  src/operator/quantization/mkldnn/mkldnn_quantized_ops-inl.h
  src/operator/subgraph/mkldnn/mkldnn_fc.cc
  src/operator/subgraph/mkldnn/mkldnn_fc_post_quantize_property.cc
  src/operator/subgraph/mkldnn/mkldnn_fc_property.cc
Due: backend

Add instrumentation to debug failing CI.
  tests/python/gpu/test_operator_gpu.py
Due: none

[MXNET-1291] solve pylint errors in examples with issue no.12205 (#13848)
  CONTRIBUTORS.md
  example/bayesian-methods/bdk_demo.py
  example/caffe/caffe_net.py
  example/caffe/train_model.py
  example/cnn_chinese_text_classification/data_helpers.py
  example/cnn_chinese_text_classification/text_cnn.py
  example/cnn_text_classification/data_helpers.py
  example/cnn_text_classification/text_cnn.py
  example/ctc/captcha_generator.py
  example/ctc/ctc_metrics.py
  example/ctc/hyperparams.py
  example/ctc/lstm_ocr_infer.py
  example/ctc/lstm_ocr_train.py
  example/ctc/multiproc_data.py
  example/ctc/ocr_iter.py
  example/ctc/ocr_predict.py
  example/deep-embedded-clustering/autoencoder.py
  example/deep-embedded-clustering/data.py
  example/deep-embedded-clustering/dec.py
  example/deep-embedded-clustering/model.py
  example/distributed_training/cifar10_dist.py
Due: none

#14199: catch subprocess.CalledProcessError in get_gpus() (#14212)
  benchmark/python/control_flow/rnn.py
  example/image-classification/common/util.py
  python/mxnet/test_utils.py
  python/mxnet/util.py
  tools/bandwidth/test_measure.py
Due: python

fix errors
  CONTRIBUTORS.md
  python/mxnet/gluon/loss.py
  tests/python/unittest/test_loss.py
Due: python

fix errors
  CONTRIBUTORS.md
Due: none

fix order
  python/mxnet/gluon/loss.py
Due: python

Update loss.py
  python/mxnet/gluon/loss.py
Due: python

fix pylint
  python/mxnet/gluon/loss.py
Due: python

print error message for mxnet::cpp::Operator::Invoke when failed (#14318)
  cpp-package/example/alexnet.cpp
  cpp-package/example/inception_bn.cpp
  cpp-package/example/lenet_with_mxdataiter.cpp
  cpp-package/example/resnet.cpp
  cpp-package/include/mxnet-cpp/operator.hpp
Due: none

fix conflit of mkl/test_subgraph.py
  tests/python/mkl/test_subgraph.py
Due: none

Bulked op segments to allow Variable nodes (#14200)
  docs/faq/env_var.md
  include/mxnet/imperative.h
  src/executor/graph_executor.cc
  src/executor/graph_executor.h
  src/imperative/cached_op.cc
  src/imperative/cached_op.h
  tests/python/gpu/test_gluon_gpu.py
  tests/python/gpu/test_operator_gpu.py
  tests/python/unittest/common.py
Due: backend

initial commit -2
  src/operator/tensor/cumulative_op.cc
  src/operator/tensor/cumulative_op.cu
  src/operator/tensor/cumulative_op.h
Due: backend

default pos_weight=None
  python/mxnet/gluon/loss.py
Due: python

support leading dimension of -1 in ravel/unravel
  src/operator/tensor/ravel.cc
  src/operator/tensor/ravel.h
  tests/python/unittest/test_operator.py
Due: backend

add broadcast_mul and fix pylint
  python/mxnet/gluon/loss.py
  tests/python/unittest/test_loss.py
Due: python

fix unittest
  tests/python/unittest/test_loss.py
Due: none

Installs qemu pip requirements from qemu requirements file
  ci/docker/qemu/runtime_functions.py
  ci/docker/qemu/vmcontrol.py
  ci/qemu/README.md
  ci/qemu/test_requirements.txt
  tests/requirements.txt
Due: none

Guarding ldg intrinsics
  src/operator/contrib/bounding_box-inl.cuh
Due: backend

Fixes #14181, validate model output shape for ObjectDetector. (#14215)
  scala-package/infer/src/main/scala/org/apache/mxnet/infer/ImageClassifier.scala
  scala-package/infer/src/main/scala/org/apache/mxnet/infer/ObjectDetector.scala
  scala-package/infer/src/main/scala/org/apache/mxnet/infer/Predictor.scala
Due: clojure

Optimizer MXKVStoreUpdater bug fix in serializeState method (#14337)
  CONTRIBUTORS.md
  scala-package/core/src/main/scala/org/apache/mxnet/Optimizer.scala
Due: clojure

update examples
  example/distributed_training-horovod/README.md
  example/distributed_training-horovod/gluon_mnist.py
  example/distributed_training-horovod/module_mnist.py
  example/distributed_training-horovod/mxnet_imagenet_resnet50.py
Due: none

Installs qemu pip requirements from qemu requirements file (#14355)
  ci/docker/qemu/runtime_functions.py
  ci/docker/qemu/vmcontrol.py
  ci/qemu/README.md
  ci/qemu/test_requirements.txt
  tests/requirements.txt
Due: none

Add a global switch to turn on/off numpy compatibility
  python/mxnet/base.py
  python/mxnet/ndarray/ndarray.py
  tests/python/unittest/test_ndarray.py
  tests/python/unittest/test_thread_local.py
Due: python

Retriever
  tests/python/unittest/test_ndarray.py
Due: none

nan comparison
  src/operator/mshadow_op.h
  tests/python/unittest/test_ndarray.py
Due: backend

fix relu grad
  src/operator/mshadow_op.h
  tests/python/unittest/test_ndarray.py
Due: backend

add exception
  src/operator/tensor/init_op.h
Due: backend

update README
  example/distributed_training-horovod/README.md
  example/distributed_training-horovod/gluon_mnist.py
  example/distributed_training-horovod/resnet50_imagenet.py
Due: none

update mnist_module example
  example/distributed_training-horovod/module_mnist.py
Due: none

fix cmake
  CMakeLists.txt
Due: none

Optimize NMS part 2 (#14352)
  src/operator/contrib/bounding_box-common.h
  src/operator/contrib/bounding_box-inl.cuh
  src/operator/contrib/bounding_box-inl.h
Due: backend

add exception (#14362)
  src/operator/tensor/init_op.h
Due: backend
