Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

[#12345] Enabling two tests in the Straight Dope Nightly.
  tests/nightly/straight_dope/test_notebooks_single_gpu.py
Due: none

fix the link
  docs/install/windows_setup.md
Due: none

update the R anchor
  docs/install/windows_setup.md
Due: none

Added Stirling approximation for factorial term in the denominator and test case for the same
  python/mxnet/gluon/loss.py
  tests/python/unittest/test_loss.py
Due: python

move ctc_include to 3rdparty
  3rdparty/ctc_include/LICENSE
  3rdparty/ctc_include/contrib/moderngpu/LICENSE
  3rdparty/ctc_include/contrib/moderngpu/include/device/ctaloadbalance.cuh
  3rdparty/ctc_include/contrib/moderngpu/include/device/ctamerge.cuh
  3rdparty/ctc_include/contrib/moderngpu/include/device/ctascan.cuh
  3rdparty/ctc_include/contrib/moderngpu/include/device/ctasearch.cuh
  3rdparty/ctc_include/contrib/moderngpu/include/device/ctasegreduce.cuh
  3rdparty/ctc_include/contrib/moderngpu/include/device/ctasegscan.cuh
  3rdparty/ctc_include/contrib/moderngpu/include/device/ctasegsort.cuh
  3rdparty/ctc_include/contrib/moderngpu/include/device/ctasortedsearch.cuh
  3rdparty/ctc_include/contrib/moderngpu/include/device/devicetypes.cuh
  3rdparty/ctc_include/contrib/moderngpu/include/device/deviceutil.cuh
  3rdparty/ctc_include/contrib/moderngpu/include/device/intrinsics.cuh
  3rdparty/ctc_include/contrib/moderngpu/include/device/loadstore.cuh
  3rdparty/ctc_include/contrib/moderngpu/include/device/serialsets.cuh
  3rdparty/ctc_include/contrib/moderngpu/include/device/sortnetwork.cuh
  3rdparty/ctc_include/contrib/moderngpu/include/mgpudevice.cuh
  3rdparty/ctc_include/contrib/moderngpu/include/mgpuenums.h
  3rdparty/ctc_include/contrib/moderngpu/include/util/static.h
  3rdparty/ctc_include/detail/cpu_ctc.h
  3rdparty/ctc_include/detail/ctc_helper.h
  3rdparty/ctc_include/detail/gpu_ctc.h
  3rdparty/ctc_include/detail/gpu_ctc_kernels.h
  3rdparty/ctc_include/detail/hostdevice.h
  Makefile
  src/operator/nn/ctc_loss.cc
  src/operator/nn/ctc_loss.cu
Due: backend

Separated the test cases for Flag value for logits and compute_full
  tests/python/unittest/test_loss.py
Due: none

Move jenkinsfile and gpg password
  Makefile
  ci/publish/Jenkinsfile
  scala-package/dev/buildkey.py
Due: clojure

Added comments for package- numpy inclusion and some pylint formatting
  python/mxnet/gluon/loss.py
  tests/python/unittest/test_loss.py
Due: python

[MXNET-637] Multidimensional LSTM example for MXNetR (#12664)
  R-package/vignettes/MultidimLstm.Rmd
  docs/tutorials/r/MultidimLstm.md
  tests/tutorials/test_sanity_tutorials.py
Due: r-package

try fix for gluon mp interaction
  python/mxnet/gluon/data/dataloader.py
Due: python

fix the error message bug and add remove when the movefile fail on windows
  python/mxnet/gluon/utils.py
Due: python

Fix static / dynamic linking of gperftools and jemalloc
  Makefile
  make/config.mk
Due: none

Disable test batchnorm slice
  tests/python/unittest/test_gluon.py
Due: none

Address KellenSunderland's comments.
  src/operator/quantization/quantize_graph_pass.cc
Due: backend

Re-enables test_dropout
  tests/python/unittest/test_operator.py
Due: none

remove contrib ctc_loss operator
  python/mxnet/gluon/loss.py
  src/operator/contrib/ctc_include/LICENSE
  src/operator/contrib/ctc_include/contrib/moderngpu/LICENSE
  src/operator/contrib/ctc_include/contrib/moderngpu/include/device/ctaloadbalance.cuh
  src/operator/contrib/ctc_include/contrib/moderngpu/include/device/ctamerge.cuh
  src/operator/contrib/ctc_include/contrib/moderngpu/include/device/ctascan.cuh
  src/operator/contrib/ctc_include/contrib/moderngpu/include/device/ctasearch.cuh
  src/operator/contrib/ctc_include/contrib/moderngpu/include/device/ctasegreduce.cuh
  src/operator/contrib/ctc_include/contrib/moderngpu/include/device/ctasegscan.cuh
  src/operator/contrib/ctc_include/contrib/moderngpu/include/device/ctasegsort.cuh
  src/operator/contrib/ctc_include/contrib/moderngpu/include/device/ctasortedsearch.cuh
  src/operator/contrib/ctc_include/contrib/moderngpu/include/device/devicetypes.cuh
  src/operator/contrib/ctc_include/contrib/moderngpu/include/device/deviceutil.cuh
  src/operator/contrib/ctc_include/contrib/moderngpu/include/device/intrinsics.cuh
  src/operator/contrib/ctc_include/contrib/moderngpu/include/device/loadstore.cuh
  src/operator/contrib/ctc_include/contrib/moderngpu/include/device/serialsets.cuh
  src/operator/contrib/ctc_include/contrib/moderngpu/include/device/sortnetwork.cuh
  src/operator/contrib/ctc_include/contrib/moderngpu/include/mgpudevice.cuh
  src/operator/contrib/ctc_include/contrib/moderngpu/include/mgpuenums.h
  src/operator/contrib/ctc_include/contrib/moderngpu/include/util/static.h
  src/operator/contrib/ctc_include/detail/cpu_ctc.h
  src/operator/contrib/ctc_include/detail/ctc_helper.h
  src/operator/contrib/ctc_include/detail/gpu_ctc.h
  src/operator/contrib/ctc_include/detail/gpu_ctc_kernels.h
  src/operator/contrib/ctc_include/detail/hostdevice.h
  src/operator/contrib/ctc_loss-inl.h
  src/operator/contrib/ctc_loss.cc
  src/operator/contrib/ctc_loss.cu
  src/operator/nn/ctc_loss.cc
  src/operator/nn/ctc_loss.cu
  tests/python/unittest/test_loss.py
Due: python, backend

revert a change by mistake
  tests/python/unittest/test_loss.py
Due: none

reenable the test
  tests/python/unittest/test_gluon.py
Due: none

add remove temp file for non-windows os
  python/mxnet/gluon/utils.py
Due: python

handle the OSError caused by os.remove
  python/mxnet/gluon/utils.py
Due: python

fix cnn visualization tutorial
  docs/tutorials/vision/cnn_visualization.md
Due: none

Updated the code to address the cpp lint errors.
  cpp-package/example/mlp_csv.cpp
Due: none

Removed the author tag.
  cpp-package/example/mlp_csv.cpp
Due: none

add option for automatic downcasting for cudnn
  docs/faq/env_var.md
  src/common/cuda_utils.h
  src/operator/cudnn_rnn-inl.h
  src/operator/nn/cudnn/cudnn_convolution-inl.h
Due: backend

remove guard that prevent omp flag in mac
  MKLDNN_README.md
  Makefile
Due: none

Fix static / dynamic linking of gperftools and jemalloc (#12714)
  Makefile
  make/config.mk
Due: none

fix for test order
  tests/python/unittest/test_ndarray.py
Due: none

Disable test batchnorm slice (#12716)
  tests/python/unittest/test_gluon.py
Due: none

fix formatting
  tests/python/unittest/test_ndarray.py
Due: none

Fix a bug in kDevCPU
  src/operator/nn/ctc_loss-inl.h
Due: backend

revert change by mistake
  tests/python/unittest/test_loss.py
Due: none

refine the description of step 7
  docs/install/windows_setup.md
Due: none

add missing .
  docs/install/windows_setup.md
Due: none

fix spelling
  docs/install/windows_setup.md
Due: none

add alias to make it backward compatible
  src/operator/nn/ctc_loss.cc
  src/operator/nn/ctc_loss.cu
  tests/python/unittest/test_operator.py
Due: backend

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
