Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

Fix compilation error in CUDA
  src/operator/nn/ctc_loss.cu
Due: backend

Fix CPU compilation error
  src/operator/nn/ctc_loss-inl.h
  src/operator/nn/ctc_loss.cu
Due: backend

explain
  python/mxnet/gluon/data/dataloader.py
Due: python

use mirror link; add verification instructions
  docs/install/download.md
Due: none

use https links
  docs/install/download.md
Due: none

Gluon DataLoader: avoid recursionlimit error (#12622)
  python/mxnet/gluon/data/dataloader.py
  python/mxnet/recordio.py
  tests/python/unittest/test_gluon_data.py
Due: python

opencv2-->opencv; deleted duplicate content
  docs/tutorials/scala/mxnet_scala_on_intellij.md
Due: none

fix benchmark on control flow operators.
  benchmark/python/control_flow/rnn.py
Due: none

Updated download links and verification instructions (#12651)
  docs/install/download.md
Due: none

More ways to login
  docker/docker-python/build_python_dockerfile.sh
Due: none

[MXNET-703] Show perf info for TensorRT during tests
  ci/docker/runtime_functions.sh
Due: none

Disable optimizations
  CMakeLists.txt
  Makefile
Due: none

Fix compile errors
  ci/Jenkinsfile_utils.groovy
  src/kvstore/gpu_topology.h
Due: backend

Resolve conflicts
  src/io/iter_image_det_recordio.cc
Due: backend

Add docker file which includes sample jupyter notebook (#12611)
  docker/notebook/Dockerfile
  docker/notebook/run_jupyter_notebook.sh
  docker/notebook/sample-notebook/hybridize.ipynb
  docker/notebook/sample-notebook/linear-regression-scratch.ipynb
  docker/notebook/sample-notebook/ndarray.ipynb
  docker/notebook/sample-notebook/onelayer.png
  docker/notebook/sample-notebook/operator-context.png
Due: none

Add single notebook which prints mxnet version
  docker/notebook/sample-notebook/hybridize.ipynb
  docker/notebook/sample-notebook/linear-regression-scratch.ipynb
  docker/notebook/sample-notebook/mxnet-sample.ipynb
  docker/notebook/sample-notebook/ndarray.ipynb
  docker/notebook/sample-notebook/onelayer.png
  docker/notebook/sample-notebook/operator-context.png
Due: none

Add the license on run file
  docker/notebook/run_jupyter_notebook.sh
Due: none

Revert "Disable optimizations"
  CMakeLists.txt
  Makefile
Due: none

Remove mkldnn fallback change.
  src/executor/attach_op_execs_pass.cc
  src/operator/nn/mkldnn/mkldnn_convolution-inl.h
  src/operator/nn/mkldnn/mkldnn_convolution.cc
  src/operator/quantization/dequantize.cc
  src/operator/quantization/mkldnn/mkldnn_quantized_conv.cc
  src/operator/quantization/mkldnn/mkldnn_quantized_pooling.cc
  src/operator/quantization/quantize.cc
  src/operator/quantization/requantize.cc
  src/operator/subgraph/mkldnn/mkldnn_conv.cc
Due: backend

[MXNET-953] Correct ASAN cflags flag
  CMakeLists.txt
Due: none

fix bug in prelu
  src/operator/leaky_relu-inl.h
Due: backend

rename mxnet-sample notebook to mxnet-test
  docker/notebook/sample-notebook/mxnet-test.ipynb
Due: none

Address Haibin's comments.
  example/quantization/imagenet_gen_qsym_mkldnn.py
  python/mxnet/contrib/quantization.py
  src/common/utils.h
  src/operator/quantization/quantize_graph_pass.cc
  src/operator/subgraph/mkldnn/mkldnn_conv.cc
  src/operator/subgraph/mkldnn/mkldnn_conv_post_quantize_property.cc
Due: python, backend

Add TIsMKLDNN for _sg_mkldnn_conv temporarily.
  src/operator/subgraph/mkldnn/mkldnn_conv.cc
Due: backend

Improve mkldnn fallback.
  src/executor/attach_op_execs_pass.cc
  src/operator/quantization/dequantize.cc
  src/operator/quantization/mkldnn/mkldnn_quantized_pooling.cc
  src/operator/quantization/quantize.cc
  src/operator/quantization/requantize.cc
Due: backend

[MXNET-867] Pooling1D with "same" padding (#12594)
  CONTRIBUTORS.md
  src/operator/nn/pool.h
  src/operator/nn/pooling-inl.h
  src/operator/nn/pooling.cc
  tests/python/unittest/test_operator.py
Due: backend

Fix the location of the tutorial of control flow operators (#12638)
  docs/tutorials/index.md
Due: none

[Doc] Change the description for pip packages (#12584)
  docs/install/index.md
  docs/install/windows_setup.md
Due: none

Update README with login options
  docker/docker-python/README.md
Due: none

[MXNET-953] Fix oob memory read
  src/operator/tensor/elemwise_unary_op_basic.cc
Due: backend

update troubleshooting info
  docs/tutorials/scala/mxnet_scala_on_intellij.md
Due: none

added R LSTM examples
  R-package/vignettes/MultidimLstm.Rmd
  docs/tutorials/r/MultidimLstm.md
Due: r-package

cleaned up code, passing initial unit tests
  src/operator/tensor/trace_op-inl.h
  src/operator/tensor/trace_op.cc
Due: backend

initial commit for trace op feature
  src/operator/tensor/trace_op-inl.h
  src/operator/tensor/trace_op.cc
Due: backend

added tutorial to whitelist
  tests/tutorials/test_sanity_tutorials.py
Due: none

fixed whitespace
  src/operator/tensor/trace_op-inl.h
Due: backend

fixed whitespace2
  src/operator/tensor/trace_op-inl.h
Due: backend

fixed loop bounds
  src/operator/tensor/trace_op-inl.h
Due: backend

fixed whitespace3
  src/operator/tensor/trace_op-inl.h
Due: backend

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
