Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

fix the situation where idx didn't align with rec (#13550)
  python/mxnet/image/detection.py
  python/mxnet/image/image.py
  tests/python/unittest/test_image.py
Due: python

Update MXNetTutorialTemplate.ipynb (#13568)
  example/MXNetTutorialTemplate.ipynb
Due: none

Fix the dockerfile names
  docker/docker-python/build_python_dockerfile.sh
Due: none

Fix
  docker/docker-python/Dockerfile.mxnet.python3.cpu.mkl
  docker/docker-python/Dockerfile.mxnet.python3.gpu.cu80
  docker/docker-python/Dockerfile.mxnet.python3.gpu.cu80.mkl
  docker/docker-python/Dockerfile.mxnet.python3.gpu.cu90
  docker/docker-python/Dockerfile.mxnet.python3.gpu.cu90.mkl
  docker/docker-python/Dockerfile.mxnet.python3.gpu.cu92
  docker/docker-python/Dockerfile.mxnet.python3.gpu.cu92.mkl
Due: none

Add dockerfiles for python3
  docker/docker-python/Dockerfile.mxnet.python3.cpu
  docker/docker-python/Dockerfile.mxnet.python3.cpu.mkl
  docker/docker-python/Dockerfile.mxnet.python3.gpu.cu80
  docker/docker-python/Dockerfile.mxnet.python3.gpu.cu80.mkl
  docker/docker-python/Dockerfile.mxnet.python3.gpu.cu90
  docker/docker-python/Dockerfile.mxnet.python3.gpu.cu90.mkl
  docker/docker-python/Dockerfile.mxnet.python3.gpu.cu92
  docker/docker-python/Dockerfile.mxnet.python3.gpu.cu92.mkl
  docker/docker-python/build_python_dockerfile.sh
Due: none

Parameterize the mxnet version
  docker/docker-python/Dockerfile.mxnet.python.cpu
  docker/docker-python/Dockerfile.mxnet.python.cpu.mkl
  docker/docker-python/Dockerfile.mxnet.python.gpu.cu80
  docker/docker-python/Dockerfile.mxnet.python.gpu.cu80.mkl
  docker/docker-python/Dockerfile.mxnet.python.gpu.cu90
  docker/docker-python/Dockerfile.mxnet.python.gpu.cu90.mkl
  docker/docker-python/Dockerfile.mxnet.python.gpu.cu92
  docker/docker-python/Dockerfile.mxnet.python.gpu.cu92.mkl
  docker/docker-python/Dockerfile.mxnet.python3.cpu
  docker/docker-python/Dockerfile.mxnet.python3.cpu.mkl
  docker/docker-python/Dockerfile.mxnet.python3.gpu.cu80
  docker/docker-python/Dockerfile.mxnet.python3.gpu.cu80.mkl
  docker/docker-python/Dockerfile.mxnet.python3.gpu.cu90
  docker/docker-python/Dockerfile.mxnet.python3.gpu.cu90.mkl
  docker/docker-python/Dockerfile.mxnet.python3.gpu.cu92
  docker/docker-python/Dockerfile.mxnet.python3.gpu.cu92.mkl
  docker/docker-python/build_python_dockerfile.sh
Due: none

Bug Fix: Script should fail if any background process returns non-zero code
  docker/docker-python/build_python_dockerfile.sh
Due: none

Reduce the number of docker layers
  docker/docker-python/Dockerfile.mxnet.python.cpu
  docker/docker-python/Dockerfile.mxnet.python.cpu.mkl
  docker/docker-python/Dockerfile.mxnet.python.gpu.cu80
  docker/docker-python/Dockerfile.mxnet.python.gpu.cu80.mkl
  docker/docker-python/Dockerfile.mxnet.python.gpu.cu90
  docker/docker-python/Dockerfile.mxnet.python.gpu.cu90.mkl
  docker/docker-python/Dockerfile.mxnet.python.gpu.cu92
  docker/docker-python/Dockerfile.mxnet.python.gpu.cu92.mkl
  docker/docker-python/Dockerfile.mxnet.python3.cpu
  docker/docker-python/Dockerfile.mxnet.python3.cpu.mkl
  docker/docker-python/Dockerfile.mxnet.python3.gpu.cu80
  docker/docker-python/Dockerfile.mxnet.python3.gpu.cu80.mkl
  docker/docker-python/Dockerfile.mxnet.python3.gpu.cu90
  docker/docker-python/Dockerfile.mxnet.python3.gpu.cu90.mkl
  docker/docker-python/Dockerfile.mxnet.python3.gpu.cu92
  docker/docker-python/Dockerfile.mxnet.python3.gpu.cu92.mkl
Due: none

Update the README with python3 images
  docker/docker-python/README.md
Due: none

Move error checking to a method
  docker/docker-python/build_python_dockerfile.sh
Due: none

Combine build and Test, run builds in parallel. Use variable names instead of numbers
  docker/docker-python/build_python_dockerfile.sh
Due: none

Minor typos
  docker/docker-python/README.md
  docker/docker-python/build_python_dockerfile.sh
Due: none

minor fix
  docker/docker-python/build_python_dockerfile.sh
Due: none

Create ~/temp dir
  docker/docker-python/build_python_dockerfile.sh
Due: none

Minor Rearrangement - sometimes tagging fails
  docker/docker-python/build_python_dockerfile.sh
Due: none

Fix typo
  docker/docker-python/build_python_dockerfile.sh
Due: none

Push BAI images to dockerhub
  docker/docker-python/build_python_dockerfile.sh
Due: none

Bug Fix
  docker/docker-python/build_python_dockerfile.sh
Due: none

Update README for build command
  docker/docker-python/README.md
Due: none

Changes needed for Benchmarking, 4 new tags, change python to python-dev
  docker/docker-python/Dockerfile.mxnet.python.cpu
  docker/docker-python/Dockerfile.mxnet.python.cpu.mkl
  docker/docker-python/Dockerfile.mxnet.python.gpu.cu80
  docker/docker-python/Dockerfile.mxnet.python.gpu.cu80.mkl
  docker/docker-python/Dockerfile.mxnet.python.gpu.cu90
  docker/docker-python/Dockerfile.mxnet.python.gpu.cu90.mkl
  docker/docker-python/Dockerfile.mxnet.python.gpu.cu92
  docker/docker-python/Dockerfile.mxnet.python.gpu.cu92.mkl
  docker/docker-python/Dockerfile.mxnet.python3.cpu
  docker/docker-python/Dockerfile.mxnet.python3.cpu.mkl
  docker/docker-python/Dockerfile.mxnet.python3.gpu.cu80
  docker/docker-python/Dockerfile.mxnet.python3.gpu.cu80.mkl
  docker/docker-python/Dockerfile.mxnet.python3.gpu.cu90
  docker/docker-python/Dockerfile.mxnet.python3.gpu.cu90.mkl
  docker/docker-python/Dockerfile.mxnet.python3.gpu.cu92
  docker/docker-python/Dockerfile.mxnet.python3.gpu.cu92.mkl
  docker/docker-python/README.md
  docker/docker-python/build_python_dockerfile.sh
Due: none

ONNX import/export: Size (#13112)
  python/mxnet/contrib/onnx/mx2onnx/_op_translations.py
  python/mxnet/contrib/onnx/onnx2mx/_import_helper.py
  python/mxnet/contrib/onnx/onnx2mx/_op_translations.py
  tests/python-pytest/onnx/export/onnx_backend_test.py
  tests/python-pytest/onnx/import/test_cases.py
Due: python

fix link for gluon model zoo (#13583)
  docs/community/ecosystem.md
Due: none

Fix exception handling api doc (#13519)
  python/mxnet/ndarray/ndarray.py
Due: python

add cpp example inception to nightly test (#13534)
  cpp-package/example/mlp.cpp
  cpp-package/tests/ci_test.sh
Due: none

Update copycode.js
  docs/_static/js/copycode.js
Due: none

Speedup and fix bug in dgl_csr_sampling op
  src/operator/contrib/dgl_graph.cc
Due: backend

Update dgl_graph.cc
  src/operator/contrib/dgl_graph.cc
Due: backend

simplify functions.
  src/operator/contrib/dgl_graph.cc
Due: backend

image libraries
  tools/dependencies/README.md
  tools/dependencies/eigen.sh
  tools/dependencies/libpng.sh
  tools/dependencies/libtiff.sh
  tools/dependencies/libturbojpeg.sh
  tools/dependencies/opencv.sh
Due: none

license
  tools/dependencies/cityhash.sh
  tools/dependencies/curl.sh
  tools/dependencies/eigen.sh
  tools/dependencies/libpng.sh
  tools/dependencies/libtiff.sh
  tools/dependencies/libturbojpeg.sh
  tools/dependencies/libz.sh
  tools/dependencies/lz4.sh
  tools/dependencies/openblas.sh
  tools/dependencies/opencv.sh
  tools/dependencies/openssl.sh
  tools/dependencies/protobuf.sh
  tools/dependencies/zmq.sh
Due: none

ps-lite dependencies
  tools/dependencies/README.md
  tools/dependencies/cityhash.sh
  tools/dependencies/lz4.sh
  tools/dependencies/protobuf.sh
  tools/dependencies/zmq.sh
Due: none

USE_S3 dependencies
  tools/dependencies/README.md
  tools/dependencies/curl.sh
  tools/dependencies/libz.sh
  tools/dependencies/openssl.sh
Due: none

openblas script
  tools/dependencies/README.md
  tools/dependencies/openblas.sh
Due: none

avoid adding nodes in the last level in the queue.
  src/operator/contrib/dgl_graph.cc
Due: backend

remove a hashtable lookup in neigh_pos.
  src/operator/contrib/dgl_graph.cc
Due: backend

reduce a hashtable lookup in sub_ver_mp.
  src/operator/contrib/dgl_graph.cc
Due: backend

merge copying vids and layers.
  src/operator/contrib/dgl_graph.cc
Due: backend

fix a bug.
  src/operator/contrib/dgl_graph.cc
Due: backend

reduce hashtable lookup when writing to output csr.
  src/operator/contrib/dgl_graph.cc
Due: backend

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
