Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

Mark test_np_mixed_precision_binary_funcs flaky (#18290)
  ci/docker/install/requirements
  tests/python/unittest/test_numpy_op.py
Due: none

make sampling more stable
  python/mxnet/gluon/probability/distributions/beta.py
  python/mxnet/gluon/probability/distributions/dirichlet.py
  python/mxnet/gluon/probability/distributions/utils.py
  tests/python/unittest/test_gluon_probability.py
Due: python

Revert PR 17767 for fixing GPU memory usage regression (#18283)
  3rdparty/mshadow/mshadow/base.h
  3rdparty/mshadow/mshadow/half2.h
  src/common/cuda_vectorization.cuh
  src/operator/mshadow_op.h
  src/operator/tensor/elemwise_binary_op.cuh
  src/operator/tensor/elemwise_binary_op.h
  src/operator/tensor/elemwise_binary_op_basic.cu
  src/operator/tensor/elemwise_binary_scalar_op.cuh
  src/operator/tensor/elemwise_binary_scalar_op.h
  src/operator/tensor/elemwise_binary_scalar_op_basic.cu
  src/operator/tensor/elemwise_binary_scalar_op_extended.cu
  src/operator/tensor/elemwise_sum.cu
  src/operator/tensor/elemwise_sum.h
  src/operator/tensor/elemwise_unary_op.cuh
  src/operator/tensor/elemwise_unary_op.h
  src/operator/tensor/elemwise_unary_op_basic.cu
  src/operator/tensor/elemwise_unary_op_pow.cu
  src/operator/tensor/elemwise_unary_op_trig.cu
  tests/python/unittest/test_operator.py
Due: backend

fix quantization failure
  tests/python/quantization/test_quantization.py
Due: none

Update storage_profiler.h
  src/profiler/storage_profiler.h
Due: backend

remove Profiler from the runtime feature list, since its always built
  include/mxnet/libinfo.h
  python/mxnet/runtime.py
Due: python, backend

Update libinfo.cc
  src/libinfo.cc
Due: backend

Update RunTime.pm
  perl-package/AI-MXNet/lib/AI/MXNet/RunTime.pm
Due: none

fix pylint
  src/operator/optimizer_op-inl.h
Due: backend

replace Flase to False
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/symbol/numpy/random.py
Due: python

add 'dtype=False' to set_np()
  python/mxnet/util.py
Due: python

Fix missing MKLDNN headers
  tools/pip/setup.py
Due: none

Enable all tests
  tests/python/unittest/test_deferred_compute.py
Due: none

fix doc
  python/mxnet/util.py
Due: python

Fix LSTM and GRU layers gradient calculations (#18203)
  src/operator/rnn-inl.h
  src/operator/rnn_impl.h
  tests/python/unittest/test_gluon_rnn.py
Due: backend

xfail_when_nonstandard_decimal_separator for test_metric.py
  tests/python/unittest/test_metric.py
Due: none

Fix coredumps
  src/initialize.cc
Due: backend

Mark CD quantization tests as xfail on , decimal separator locales (#18307)
  tests/python/quantization/test_quantization.py
Due: none

Reenable test_amp_conversion (#18292)
  tests/python/gpu/test_contrib_amp.py
Due: none

handle inconsistent mode
  python/mxnet/gluon/probability/distributions/utils.py
  tests/python/unittest/test_gluon_probability.py
Due: python

serial tests
  tests/python/unittest/test_gluon_data.py
Due: none

xfail_when_nonstandard_decimal_separator for test_metric.py (#18312)
  tests/python/unittest/test_metric.py
Due: none

Momentum correction in SGD
  src/operator/optimizer_op-inl.h
  tests/python/unittest/test_optimizer.py
Due: backend

Preloaded_ -> LARS
  python/mxnet/contrib/amp/lists/symbol_fp16.py
  python/mxnet/optimizer/lars.py
  src/operator/lars_multi_sgd-inl.h
  src/operator/lars_multi_sgd.cc
  src/operator/lars_multi_sgd.cu
  src/operator/optimizer_op-inl.h
  src/operator/optimizer_op.cc
  src/operator/optimizer_op.cu
  tests/python/gpu/test_operator_gpu.py
Due: python, backend

mx.nd.copyto doesnt exist & website title shows ndarray instead of symbol
  docs/static_site/src/pages/api/r/docs/tutorials/ndarray.md
  docs/static_site/src/pages/api/r/docs/tutorials/symbol.md
Due: none

update init.py with appropriate comments
  python/mxnet/__init__.py
Due: python

Fix memory leaks due to reference cycles in Gluon
  python/mxnet/gluon/block.py
  tests/python/unittest/test_gluon.py
Due: python

Fix tests
  tests/python/unittest/test_gluon.py
  tests/python/unittest/test_thread_local.py
Due: none

Fix missing MKLDNN headers (#18310)
  tools/pip/setup.py
Due: none

Fix lint and fix from review
  python/mxnet/optimizer/lars.py
  src/operator/lars_multi_sgd.cc
Due: python, backend

Fix memory leaks in Gluon (#18328)
  python/mxnet/gluon/block.py
  tests/python/unittest/test_gluon.py
  tests/python/unittest/test_thread_local.py
Due: python

Change the trainer test since the logic of SGD with momentum changed
  tests/python/unittest/test_gluon_trainer.py
Due: none

Fix
  src/operator/optimizer_op-inl.h
Due: backend

Change the unfused step of SGD optimizer
  python/mxnet/optimizer/sgd.py
Due: python

Fix LARS when no momentum is specified
  python/mxnet/optimizer/lars.py
Due: python

Skip test_metric_performance on MKL builds
  tests/python/unittest/test_metric_perf.py
Due: none

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
