Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

renmae
  tests/nightly/dist_device_sync_kvstore_custom.py
Due: none

remove horovod example
  python/mxnet/kvstore/__init__.py
  python/mxnet/kvstore/horovod.py
Due: python

revert horovod example
  example/distributed_training-horovod/gluon_mnist.py
Due: none

rename test_kvstore_custom.py
  tests/python/unittest/test_kvstore_custom.py
Due: none

more tests
  ci/docker/runtime_functions.sh
  tests/python/unittest/test_gluon_trainer.py
Due: none

more tests for teststore
  tests/python/unittest/test_kvstore_custom.py
Due: none

norm
  3rdparty/mshadow/mshadow/base.h
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/symbol/numpy/linalg.py
  src/operator/numpy/linalg/np_norm-inl.h
  src/operator/numpy/linalg/np_norm.cc
  src/operator/numpy/linalg/np_norm.cu
  src/operator/tensor/broadcast_reduce-inl.cuh
  src/operator/tensor/broadcast_reduce-inl.h
  src/operator/tensor/broadcast_reduce_op.h
  tests/python/unittest/test_numpy_op.py
Due: python, backend

fix type name
  python/mxnet/kvstore/base.py
  python/mxnet/model.py
Due: python

Remove mkldnn since no longer needed.
  tools/pip/setup.py
Due: none

Fix NDArrayIter cant pad when size is large (#17001)
  python/mxnet/io/io.py
  tests/python/unittest/test_io.py
Due: python

add inference benchmark script
  example/quantization/README.md
  example/quantization/launch_inference_mkldnn.sh
Due: none

fix lint
  src/operator/quantization/mkldnn/mkldnn_quantized_elemwise_add.cc
Due: backend

remove debug info
  tests/python/quantization/test_quantization.py
Due: none

optimization for s8 sum
  src/operator/operator_common.h
  src/operator/quantization/mkldnn/mkldnn_quantized_elemwise_add.cc
  src/operator/quantization/quantized_elemwise_add.cc
Due: backend

remove todo
  src/operator/quantization/quantized_elemwise_add.cc
Due: backend

exclude sum in lstm cell
  tests/python/quantization/test_quantization.py
Due: none

add quantized embedding test case
  tests/python/quantization/test_quantization.py
Due: none

Add small modification on the documentation.
  python/mxnet/gluon/contrib/estimator/event_handler.py
Due: python

add small tweak to the handler code
  python/mxnet/gluon/contrib/estimator/event_handler.py
Due: python

Remove white space to avoid the sanity check failure
  python/mxnet/gluon/contrib/estimator/event_handler.py
Due: python

Modify the gradient update handler to include the batch size
  python/mxnet/gluon/contrib/estimator/estimator.py
  python/mxnet/gluon/contrib/estimator/event_handler.py
  tests/python/unittest/test_gluon_estimator.py
Due: python

small modification on the documentation.
  python/mxnet/gluon/contrib/estimator/event_handler.py
Due: python

Modify the documentation of priority parameter of relevant handlers.
  python/mxnet/gluon/contrib/estimator/event_handler.py
Due: python

Remove unrelated gradient update handler.
  tests/python/unittest/test_gluon_estimator.py
Due: none

Modify gradient update handler to take the current batch size.
  python/mxnet/gluon/contrib/estimator/event_handler.py
Due: python

introduce gradient update handler to the base estimator
  python/mxnet/gluon/contrib/estimator/estimator.py
  python/mxnet/gluon/contrib/estimator/event_handler.py
  tests/python/unittest/test_gluon_estimator.py
Due: python

Remove unnecessary list check
  python/mxnet/gluon/contrib/estimator/event_handler.py
Due: python

optimize onnx ops import
  python/mxnet/contrib/onnx/onnx2mx/_op_translations.py
Due: python

diagonal fix
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
Due: python, backend

Add micro averaging strategy to pearsonr metric (#16878)
  python/mxnet/metric.py
  tests/python/unittest/test_metric.py
Due: python

skip more tests
  tests/python/gpu/test_operator_gpu.py
Due: none

Skip test_predictor_amp
  tests/python/gpu/test_predictor.py
Due: none

Revert "Only skip test_sgld"
  tests/python/gpu/test_operator_gpu.py
  tests/python/gpu/test_predictor.py
  tests/python/gpu/test_tvm_bridge.py
  tests/python/unittest/test_random.py
  tests/python/unittest/test_sparse_ndarray.py
Due: none

Enable test_sparse_nd_elemwise_add
  tests/python/unittest/test_sparse_ndarray.py
Due: none

Skip test_parallel_random_seed_setting
  tests/python/unittest/test_random.py
Due: none

Test
  src/resource.cc
Due: backend

Skip test_sgld
  tests/python/unittest/test_optimizer.py
Due: none

skip test sparse add
  tests/python/unittest/test_sparse_ndarray.py
Due: none

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
