Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

[Clojure] Add fastText example (#15340)
  contrib/clojure-package/examples/cnn-text-classification/README.md
  contrib/clojure-package/examples/cnn-text-classification/get_fasttext_data.sh
  contrib/clojure-package/examples/cnn-text-classification/src/cnn_text_classification/data_helper.clj
Due: none

update ratcheck for apache-rat 0.13 release
  Makefile
Due: none

address comments
  src/operator/nn/mkldnn/mkldnn_ops-inl.h
  src/operator/nn/mkldnn/mkldnn_reshape-inl.h
  src/operator/nn/mkldnn/mkldnn_reshape.cc
  src/operator/tensor/matrix_op.cc
Due: backend

synchronize all normal functions in different files
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/symbol/numpy/random.py
Due: python

change the expression
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Due: python

Keep the name in Notes consistently
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/symbol/numpy/random.py
Due: python

restyle
  src/operator/numpy/np_gcd_op-inl.h
  src/operator/numpy/np_gcd_op.cc
Due: backend

add numpy comptible op named gcd.
  src/operator/numpy/np_gcd_op-inl.h
  src/operator/numpy/np_gcd_op.cc
  src/operator/numpy/np_gcd_op.cu
  tests/python/unittest/test_numpy_op.py
Due: backend

fix code reivew on code style and type check.
  src/operator/mxnet_op.h
  src/operator/numpy/np_gcd_op-inl.h
  src/operator/numpy/np_gcd_op.cc
  src/operator/numpy/np_gcd_op.cu
  tests/python/unittest/test_numpy_op.py
Due: backend

restyle
  src/operator/mxnet_op.h
  src/operator/numpy/np_gcd_op-inl.h
  tests/python/unittest/test_numpy_op.py
Due: backend

restyle.
  src/operator/numpy/np_elemwise_binary_gcd_op.cc
  src/operator/numpy/np_elemwise_binary_gcd_op.cu
  src/operator/numpy/np_gcd_op-inl.h
  src/operator/numpy/np_gcd_op.cc
  src/operator/numpy/np_gcd_op.cu
Due: backend

update error messages
  src/operator/mxnet_op.h
Due: backend

restyle.
  src/operator/numpy/np_elemwise_binary_gcd_op-inl.h
  src/operator/numpy/np_elemwise_binary_op.cc
  src/operator/numpy/np_elemwise_binary_op.cu
  tests/python/unittest/test_numpy_op.py
Due: backend

fix comment and file names included.
  src/operator/mxnet_op.h
  src/operator/numpy/np_elemwise_binary_gcd_op-inl.h
  src/operator/numpy/np_elemwise_binary_gcd_op.cc
  src/operator/numpy/np_elemwise_binary_gcd_op.cu
Due: backend

fix some format problem and add ctx back to np.random.normal
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/symbol/numpy/random.py
Due: python

In arccosh, complex-value is not supported
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Due: python

change 'differs to' to 'differs from'
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/symbol/numpy/random.py
Due: python

edit doc of prod
  python/mxnet/_numpy_op_doc.py
Due: python

Removed extra spaces.
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Due: python

delete redundent '***'
  python/mxnet/ndarray/numpy/_op.py
Due: python

changed "divide"
  python/mxnet/symbol/numpy/_symbol.py
Due: python

Changed symbolic operators.
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Due: python

add notes in np.random.normal
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/random.py
Due: python

out in _symbol is dummy parameter to keep the consistency with the ndarray counterpart.
  python/mxnet/symbol/numpy/_symbol.py
Due: python

use python wrapper to extend operands types gcd supports.
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_elemwise_binary_gcd_op.cc
  src/operator/numpy/np_elemwise_binary_gcd_op.cu
Due: python, backend

add one more blank row between different functions
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Due: python

Removed kwargs comments
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Due: python

out is _Symbol or None, optional
  python/mxnet/symbol/numpy/_symbol.py
Due: python

fix some pr requests.
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Due: python

add cython support for numpy
  ci/jenkins/Jenkins_steps.groovy
  ci/jenkins/Jenkinsfile_unix_cpu
  python/mxnet/cython/ndarray.pyx
  python/mxnet/cython/symbol.pyx
Due: python

fixed errors in docs
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/symbol/numpy/random.py
Due: python

imrec
  docs/api/python/io/io.md
  python/mxnet/io/__init__.py
  python/mxnet/io/_im2rec.py
Due: python

fix
  python/mxnet/io/im2rec.py
  tests/python/unittest/test_im2rec.py
  tests/python/unittest/test_io.py
Due: python

add code
  python/mxnet/io/__init__.py
  python/mxnet/io/_im2rec.py
  python/mxnet/io/im2rec.py
Due: python

test
  python/mxnet/io/im2rec.py
  tests/python/unittest/test_io.py
Due: python

docs
  docs/faq/im2rec.md
  tests/python/unittest/test_im2rec.py
Due: none

Revert default return type for indices in argsort() and topk() back to float32 (#15360)
  src/operator/tensor/ordering_op-inl.h
  tests/python/unittest/test_ndarray.py
Due: backend

Exclude external dependencies from MXNet JAR (and fix Clojure build)
  CONTRIBUTORS.md
  contrib/clojure-package/project.clj
  scala-package/assembly/linux-x86_64-cpu/pom.xml
  scala-package/assembly/linux-x86_64-cpu/src/main/assembly/assembly.xml
  scala-package/assembly/linux-x86_64-gpu/pom.xml
  scala-package/assembly/linux-x86_64-gpu/src/main/assembly/assembly.xml
  scala-package/assembly/osx-x86_64-cpu/pom.xml
  scala-package/assembly/osx-x86_64-cpu/src/main/assembly/assembly.xml
  scala-package/assembly/pom.xml
  scala-package/core/pom.xml
  scala-package/macros/pom.xml
  scala-package/pom.xml
Due: clojure
