Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

fixed whitespace
  src/operator/subgraph/partitioner/custom_subgraph_property.h
Due: backend

Remove large tensors from test (memory issues when checking)
  tests/python/unittest/test_optimizer.py
Due: none

added registration of custom subgraph property in c_api
  example/extensions/lib_subgraph/test_subgraph.py
  src/c_api/c_api.cc
  src/operator/subgraph/partitioner/custom_subgraph_property.h
Due: backend

Reduce dimensions of tensors in the test
  tests/python/gpu/test_operator_gpu.py
Due: none

array_split pr (#17032)
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/tensor/matrix_op-inl.h
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Due: python, backend

making modifications as per @sojiadeshina recommendations
  docs/python_docs/_static/autograd_images/autograd_control_flow.png
  docs/python_docs/_static/autograd_images/autograd_control_flow_grad.png
  docs/python_docs/_static/autograd_images/autograd_forward_backward.png
  docs/python_docs/_static/autograd_images/autograd_grad_req.mp4
  docs/python_docs/_static/autograd_images/autograd_gradient.png
  docs/python_docs/_static/autograd_images/autograd_graph.mp4
  docs/python_docs/_static/autograd_images/autograd_head_grad.mp4
  docs/python_docs/python/tutorials/packages/autograd/index.md
  docs/python_docs/python/tutorials/packages/gluon/data/data.md
  docs/python_docs/python/tutorials/packages/gluon/data/index.rst
  docs/python_docs/python/tutorials/packages/gluon/index.rst
Due: none

[MXNET-1431] Multiple channel support in Gluon PReLU (#16262)
  python/mxnet/gluon/nn/activations.py
  tests/python/unittest/test_gluon.py
Due: python

fixed autogluon images
  docs/python_docs/python/tutorials/packages/autograd/index.md
  docs/python_docs/python/tutorials/packages/gluon/data/index.rst
  docs/python_docs/python/tutorials/packages/gluon/index.rst
Due: none

fixed link to data tutorials on package index page
  docs/python_docs/python/tutorials/packages/index.rst
Due: none

use env var to control stack trace logging (#17038)
  .github/ISSUE_TEMPLATE/bug_report.md
  CMakeLists.txt
  Makefile
  ci/docker/runtime_functions.sh
  docs/static_site/src/pages/api/faq/env_var.md
Due: none

Update parameter.py
  python/mxnet/gluon/parameter.py
Due: python

added support for calling supportOps from customSubgraphProperty
  example/extensions/lib_subgraph/subgraph_lib.cc
  include/mxnet/lib_api.h
  src/c_api/c_api.cc
  src/operator/subgraph/partitioner/custom_subgraph_property.h
  src/operator/subgraph/subgraph_property.h
Due: backend

add default behaviour
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/symbol/numpy/linalg.py
  src/operator/numpy/linalg/np_norm-inl.h
  src/operator/numpy/linalg/np_norm.cc
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Due: python, backend

add col norm forward
  src/operator/numpy/linalg/np_norm-inl.h
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Due: backend

sending symbol json to supportedOps API example is printing
  example/extensions/lib_subgraph/subgraph_lib.cc
  include/mxnet/lib_api.h
  src/operator/subgraph/partitioner/custom_subgraph_property.h
Due: backend

Add my key to KEYS
  KEYS
Due: none

use NodeOpGen for readability.
  src/operator/tensor/elemwise_unary_op_logexp.cc
  src/operator/tensor/elemwise_unary_op_pow.cc
Due: backend

Update docs/python_docs/python/tutorials/packages/autograd/index.md
  docs/python_docs/python/tutorials/packages/autograd/index.md
Due: none

Fix armv7 build by updating the base container and pin it
  ci/docker/Dockerfile.build.armv7
Due: none

Improve openblas CMake logic, add generic blas option.
  3rdparty/mshadow/cmake/mshadow.cmake
  Makefile
  cmake/ChooseBlas.cmake
  cmake/cmake_options.yml
  dev_menu.py
  docs/static_site/src/pages/get_started/build_from_source.md
  include/mxnet/libinfo.h
  make/config.mk
  src/libinfo.cc
Due: backend

adding stacktrace in Jenkinsfile_utils.groovy to inspect Python2 failure cause in CI
  ci/Jenkinsfile_utils.groovy
Due: none

Add my key to KEYS (#17066)
  KEYS
Due: none

Update dist_device_sync_kvstore_custom.py
  tests/nightly/dist_device_sync_kvstore_custom.py
Due: none

Add my key to KEYS (#17060)
  KEYS
Due: none

fix trainer param order
  python/mxnet/gluon/trainer.py
  tests/python/unittest/test_gluon_trainer.py
Due: python

Fix LeakyRelu number of inputs
  src/operator/leaky_relu.cc
Due: backend

Update trainer.py
  python/mxnet/gluon/trainer.py
Due: python

Website edits (#17050)
  docs/python_docs/_static/autograd_images/autograd_control_flow.png
  docs/python_docs/_static/autograd_images/autograd_control_flow_grad.png
  docs/python_docs/_static/autograd_images/autograd_forward_backward.png
  docs/python_docs/_static/autograd_images/autograd_grad_req.mp4
  docs/python_docs/_static/autograd_images/autograd_gradient.png
  docs/python_docs/_static/autograd_images/autograd_graph.mp4
  docs/python_docs/_static/autograd_images/autograd_head_grad.mp4
  docs/python_docs/python/tutorials/deploy/index.rst
  docs/python_docs/python/tutorials/packages/autograd/index.md
  docs/python_docs/python/tutorials/packages/gluon/data/data_augmentation.md
  docs/python_docs/python/tutorials/packages/gluon/data/datasets.md
  docs/python_docs/python/tutorials/packages/gluon/data/index.rst
  docs/python_docs/python/tutorials/packages/gluon/index.rst
  docs/python_docs/python/tutorials/packages/index.rst
  docs/python_docs/python/tutorials/performance/index.rst
  docs/static_site/src/_includes/get_started/macos/perl/perl.md
  docs/static_site/src/_includes/get_started/macos/python/cpu/build-from-source.md
Due: none

fix for number of inputs/outputs for backward custom ops
  src/c_api/c_api.cc
Due: backend

fix filter channel
  python/mxnet/gluon/contrib/cnn/conv_layers.py
  tests/python/unittest/test_gluon_contrib.py
Due: python

fix slice during forward
  python/mxnet/gluon/contrib/cnn/conv_layers.py
Due: python

working partitioning example
  example/extensions/lib_subgraph/subgraph_lib.cc
  example/extensions/lib_subgraph/test_subgraph.py
  src/c_api/c_api.cc
  src/operator/subgraph/partitioner/custom_subgraph_property.h
Due: backend

fixed whitespace
  src/c_api/c_api.cc
  src/operator/subgraph/partitioner/custom_subgraph_property.h
Due: backend

fixed style
  src/operator/subgraph/partitioner/custom_subgraph_property.h
Due: backend

[MXNET-978] Higher Order Gradient Support `logp1`, `expm1`, `square`. (#15416)
  src/operator/tensor/elemwise_unary_op_logexp.cc
  src/operator/tensor/elemwise_unary_op_pow.cc
  tests/python/unittest/test_higher_order_grad.py
Due: backend
