Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

fix the error message of reshape()
  python/mxnet/numpy/multiarray.py
Due: python

Fixing issue #16655 reshape() error message
  python/mxnet/numpy/multiarray.py
Due: python

use label.ctx in metric.py; remove gluoncv dependency in test_cvnets
  python/mxnet/gluon/metric.py
  tests/python/tensorrt/test_cvnets.py
Due: python

fix sanity
  python/mxnet/gluon/metric.py
Due: python

Revert "skip flaky tests"
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_ndarray.py
  tests/python/unittest/test_numpy_op.py
Due: none

Remove duplicate large_vector_test
  ci/docker/runtime_functions.sh
Due: none

fixing batch_norm and layer_norm for large tensors (#17805)
  src/operator/nn/batch_norm.cc
  src/operator/nn/layer_norm.cc
Due: backend

Remove duplicate large_vector_test (#18259)
  ci/docker/runtime_functions.sh
Due: none

Fixing #16655 (#18257)
  python/mxnet/numpy/multiarray.py
Due: python

Change include to relative in nvvm_to_onnx.cc (#18249)
  src/operator/subgraph/tensorrt/nnvm_to_onnx.cc
Due: backend

fixed overwrite of args/aux variables (#18232)
  python/mxnet/symbol/symbol.py
Due: python

Android build containers
  ci/build.py
  ci/docker/Dockerfile.build.android
  ci/docker/Dockerfile.build.android_armv8
  ci/docker/docker-compose.yml
Due: none

ARM build containers
  ci/build.py
  ci/docker/Dockerfile.build.arm
  ci/docker/Dockerfile.build.armv6
  ci/docker/Dockerfile.build.armv7
  ci/docker/Dockerfile.build.armv8
  ci/docker/docker-compose.yml
Due: none

ARM test containers
  ci/build.py
  ci/docker/Dockerfile.build.test.armv8
  ci/docker/Dockerfile.test.arm
  ci/docker/docker-compose.yml
Due: none

fix importError
  python/mxnet/gluon/contrib/data/vision/dataloader.py
  python/mxnet/gluon/contrib/data/vision/transforms/bbox/bbox.py
  python/mxnet/gluon/data/dataloader.py
  tests/python/tensorrt/test_cvnets.py
Due: python

Feature ffi x 5
  benchmark/python/ffi/benchmark_ffi.py
  python/mxnet/ndarray/numpy/_op.py
  python/test_bug.py
  src/api/operator/numpy/np_swapaxes_op.cc
  src/operator/swapaxis-inl.h
Due: python, backend

FFI new feature
  benchmark/python/ffi/benchmark_ffi.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  python/test_bug.py
  src/api/operator/numpy/np_elemwise_unary_op_basic.cc
  src/api/operator/numpy/np_matrix_op.cc
  src/api/operator/numpy/np_swapaxes_op.cc
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  src/operator/swapaxis-inl.h
  src/operator/tensor/elemwise_unary_op.h
  src/operator/tensor/matrix_op-inl.h
  src/operator/tensor/matrix_op.cc
Due: python, backend

Fix pylint error
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Due: python

Fix pylint error
  python/mxnet/ndarray/numpy/_op.py
Due: python

Fix around error
  python/mxnet/ndarray/numpy/_op.py
Due: python

Mark tests that fail due to the decimal point with xfail
  tests/python/unittest/common.py
  tests/python/unittest/test_autograd.py
  tests/python/unittest/test_contrib_autograd.py
  tests/python/unittest/test_contrib_operator.py
  tests/python/unittest/test_contrib_optimizer.py
  tests/python/unittest/test_contrib_stes_op.py
  tests/python/unittest/test_gluon.py
  tests/python/unittest/test_gluon_data_vision.py
  tests/python/unittest/test_gluon_trainer.py
  tests/python/unittest/test_higher_order_grad.py
  tests/python/unittest/test_image.py
  tests/python/unittest/test_loss.py
  tests/python/unittest/test_metric.py
  tests/python/unittest/test_numpy_ndarray.py
  tests/python/unittest/test_operator.py
  tests/python/unittest/test_optimizer.py
  tests/python/unittest/test_sparse_ndarray.py
Due: none

Cancel some Scala tests when C locale uses a non-standard decimal sep.
  scala-package/core/src/test/scala/org/apache/mxnet/ModuleSuite.scala
  scala-package/core/src/test/scala/org/apache/mxnet/OperatorSuite.scala
  scala-package/core/src/test/scala/org/apache/mxnet/TestUtil.scala
  scala-package/core/src/test/scala/org/apache/mxnet/train/ConvSuite.scala
Due: clojure

Load the user's locale before performing tests
  conftest.py
Due: none

Change the locale for the CentOS CI jobs to weed out locale-related bugs
  ci/docker/Dockerfile.build.centos7
Due: none

Disable the "symbol pow" test when running with non-standard decimal sep
  scala-package/core/src/test/scala/org/apache/mxnet/OperatorSuite.scala
Due: clojure

Fix scalastyle errors
  scala-package/core/src/test/scala/org/apache/mxnet/TestUtil.scala
Due: clojure

Disable more Python tests that fail due to locale-related issues
  tests/python/unittest/test_numpy_op.py
  tests/python/unittest/test_optimizer.py
Due: none

Rename xfail helper to xfail_when_nonstandard_decimal_separator
  tests/python/unittest/common.py
  tests/python/unittest/test_autograd.py
  tests/python/unittest/test_contrib_autograd.py
  tests/python/unittest/test_contrib_operator.py
  tests/python/unittest/test_contrib_optimizer.py
  tests/python/unittest/test_contrib_stes_op.py
  tests/python/unittest/test_gluon.py
  tests/python/unittest/test_gluon_data_vision.py
  tests/python/unittest/test_gluon_trainer.py
  tests/python/unittest/test_higher_order_grad.py
  tests/python/unittest/test_image.py
  tests/python/unittest/test_loss.py
  tests/python/unittest/test_metric.py
  tests/python/unittest/test_numpy_ndarray.py
  tests/python/unittest/test_operator.py
  tests/python/unittest/test_optimizer.py
  tests/python/unittest/test_sparse_ndarray.py
Due: none

Move assumeStandardDecimalSeparator into separate object to fix scaladoc
  ci/docker/runtime_functions.sh
  scala-package/core/src/test/scala/org/apache/mxnet/CancelTestUtil.scala
  scala-package/core/src/test/scala/org/apache/mxnet/ModuleSuite.scala
  scala-package/core/src/test/scala/org/apache/mxnet/OperatorSuite.scala
  scala-package/core/src/test/scala/org/apache/mxnet/TestUtil.scala
  scala-package/core/src/test/scala/org/apache/mxnet/train/ConvSuite.scala
Due: clojure

Run localedef when generating the CentOS CI image
  ci/docker/Dockerfile.build.centos7
Due: none

Fix naming scheme
  ci/docker/docker-compose.yml
Due: none

Disable new tests that fail due to locale-related issues
  tests/python/unittest/test_gluon_data_vision.py
  tests/python/unittest/test_numpy_gluon_data_vision.py
Due: none

Set WORKDIR at correct location
  ci/docker/Dockerfile.build.android
  ci/docker/Dockerfile.build.arm
Due: none

fix when clicking version dropdown it jumps to top of the page (#18238)
  docs/static_site/src/assets/js/options.js
Due: none

remove nose
  tests/python/unittest/test_metric.py
Due: none

fix mixed type backward
  src/operator/mshadow_op.h
  src/operator/numpy/np_elemwise_broadcast_op.cc
  src/operator/numpy/np_elemwise_broadcast_op.cu
  src/operator/numpy/np_true_divide-inl.h
  src/operator/numpy/np_true_divide.cc
  src/operator/numpy/np_true_divide.cu
  src/operator/operator_tune.cc
  tests/python/unittest/test_numpy_op.py
Due: backend

repeat modified
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Due: python

Work around two pylint false positives in mxnet/io/io.py
  python/mxnet/io/io.py
Due: python

fix mixed type backward (#18250)
  src/operator/mshadow_op.h
  src/operator/numpy/np_elemwise_broadcast_op.cc
  src/operator/numpy/np_elemwise_broadcast_op.cu
  src/operator/numpy/np_true_divide-inl.h
  src/operator/numpy/np_true_divide.cc
  src/operator/numpy/np_true_divide.cu
  src/operator/operator_tune.cc
  tests/python/unittest/test_numpy_op.py
Due: backend

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
