Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

fix meansum nan
  3rdparty/mshadow/mshadow/base.h
  src/operator/mshadow_op.h
  tests/python/unittest/test_operator.py
Due: backend

update
  3rdparty/mshadow/mshadow/base.h
Due: none

fix argmin and argmax, update julia unittest
  3rdparty/mshadow/mshadow/extension/reduce_with_axis.h
  julia/test/unittest/ndarray.jl
  tests/python/unittest/test_operator.py
Due: none

update to avoid assignment
  3rdparty/mshadow/mshadow/base.h
Due: none

update test
  tests/python/unittest/test_operator.py
Due: none

debug
  tests/python/unittest/test_operator.py
Due: none

update including sign
  julia/test/unittest/ndarray.jl
Due: none

update
  tests/python/unittest/test_operator.py
Due: none

update argmin/argmax docs in julia bindings
  julia/src/ndarray/reduction.jl
Due: none

fix sum merge
  3rdparty/mshadow/mshadow/base.h
Due: none

update testcase
  julia/test/unittest/ndarray.jl
  python/mxnet/ndarray/ndarray.py
  tests/python/unittest/test_ndarray.py
  tests/python/unittest/test_operator.py
Due: python

fix allclose
  src/operator/contrib/allclose_op-inl.h
Due: backend

improve unary and binary operator handling and refactor tests
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/util.py
  src/operator/numpy/np_elemwise_broadcast_op.cc
  src/operator/tensor/elemwise_binary_broadcast_op-inl.cuh
  tests/python/unittest/test_numpy_op.py
Due: python, backend

[MKLDNN] Fix uint quantized fc when not fusing with requantize
  src/operator/quantization/mkldnn/mkldnn_quantized_fully_connected.cc
  src/operator/subgraph/mkldnn/mkldnn_fc.cc
Due: backend

remove float16
  python/mxnet/numpy_dispatch_protocol.py
  tests/python/unittest/test_numpy_interoperability.py
Due: python

open USE_MKLDNN check
  src/c_api/c_api.cc
  src/common/utils.h
  src/ndarray/ndarray.cc
  src/operator/tensor/matrix_op-inl.h
  src/operator/tensor/matrix_op.cc
  src/storage/cpu_device_storage.h
Due: backend

added more tests to verify support for large vector (#16477)
  tests/nightly/test_large_vector.py
Due: none

Fixing broken links (#16500)
  docs/python_docs/python/tutorials/deploy/export/onnx.md
  docs/python_docs/python/tutorials/deploy/run-on-aws/cloud.md
  docs/python_docs/python/tutorials/deploy/run-on-aws/cloud.rst
  docs/python_docs/python/tutorials/deploy/run-on-aws/index.rst
  docs/python_docs/python/tutorials/getting-started/gluon_from_experiment_to_deployment.md
  docs/python_docs/python/tutorials/getting-started/to-mxnet/index.rst
  docs/python_docs/python/tutorials/packages/autograd/index.md
  docs/python_docs/python/tutorials/packages/gluon/blocks/custom_layer_beginners.md
  docs/python_docs/python/tutorials/packages/gluon/blocks/hybridize.md
  docs/python_docs/python/tutorials/packages/gluon/blocks/init.md
  docs/python_docs/python/tutorials/packages/gluon/blocks/nn.md
  docs/python_docs/python/tutorials/packages/gluon/blocks/parameters.md
  docs/python_docs/python/tutorials/packages/gluon/image/image-augmentation.md
  docs/python_docs/python/tutorials/packages/gluon/image/pretrained_models.md
  docs/python_docs/python/tutorials/packages/gluon/index.rst
  docs/python_docs/python/tutorials/packages/gluon/loss/custom-loss.md
  docs/python_docs/python/tutorials/packages/gluon/loss/loss.md
  docs/python_docs/python/tutorials/packages/gluon/training/fit_api_tutorial.md
  docs/python_docs/python/tutorials/packages/gluon/training/learning_rates/learning_rate_finder.md
  docs/python_docs/python/tutorials/packages/gluon/training/learning_rates/learning_rate_schedules_advanced.md
  docs/python_docs/python/tutorials/packages/gluon/training/trainer.md
  docs/python_docs/python/tutorials/packages/kvstore/index.rst
  docs/python_docs/python/tutorials/packages/kvstore/kvstore.md
  docs/python_docs/python/tutorials/packages/ndarray/01-ndarray-intro.md
  docs/python_docs/python/tutorials/packages/ndarray/02-ndarray-operations.md
  docs/python_docs/python/tutorials/packages/ndarray/03-ndarray-contexts.md
  docs/python_docs/python/tutorials/packages/ndarray/gotchas_numpy_in_mxnet.md
  docs/python_docs/python/tutorials/packages/ndarray/sparse/row_sparse.md
  docs/python_docs/python/tutorials/packages/onnx/fine_tuning_gluon.md
  docs/python_docs/python/tutorials/packages/onnx/inference_on_onnx_model.md
  docs/python_docs/python/tutorials/packages/onnx/super_resolution.md
  docs/static_site/src/pages/api/faq/distributed_training.md
  docs/static_site/src/pages/api/r/docs/tutorials/five_minutes_neural_network.md
Due: none

adding large tensor support for dropout operator
  src/operator/nn/dropout-inl.h
  src/operator/tensor/elemwise_binary_broadcast_op.h
Due: backend

adding tests to very large tensor support for more operators
  tests/nightly/test_large_array.py
Due: none

code refactor and added new comments
  tests/nightly/test_large_array.py
Due: none

add option to remove indexes
  docs/static_site/src/.htaccess
Due: none

Load NDArray only to GPU if GPU is present (#16432)
  src/ndarray/ndarray.cc
  tests/python/unittest/test_ndarray.py
Due: backend

changed hyperbolic functions into existing trignometric functions
  tests/nightly/test_large_vector.py
Due: none

add binary and docs build command options (#16514)
  dev_menu.py
Due: none

final submit
  python/mxnet/numpy_dispatch_protocol.py
  tests/python/unittest/test_numpy_interoperability.py
Due: python

[MKLDNN] Fix uint quantized fc when not fusing with requantize (#16523)
  src/operator/quantization/mkldnn/mkldnn_quantized_fully_connected.cc
  src/operator/subgraph/mkldnn/mkldnn_fc.cc
Due: backend

improve unary and binary operator handling and refactor tests (#16423)
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/util.py
  src/operator/numpy/np_elemwise_broadcast_op.cc
  src/operator/tensor/elemwise_binary_broadcast_op-inl.cuh
  tests/python/unittest/test_numpy_op.py
Due: python, backend

Bug fix for the input of same axes of the swapaxes operator (#16513)
  src/operator/swapaxis-inl.h
  tests/python/unittest/test_numpy_op.py
  tests/python/unittest/test_operator.py
Due: backend

added DLTensor into MXTensor
  include/mxnet/lib_api.h
Due: backend

fixed whitespace
  include/mxnet/lib_api.h
Due: backend

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
