Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

Retrigger ci
  src/operator/subgraph/mkldnn/mkldnn_conv.cc
Due: backend

fix unittest
  tests/python/mkl/test_subgraph.py
Due: none

fix lint
  tests/python/mkl/test_subgraph.py
Due: none

update the test case
  tests/python/mkl/test_subgraph.py
Due: none

remove apachecon promo
  docs/_static/mxnet-theme/index.html
Due: none

PoissonNLLLoss function to compute negative log likelihood loss
  python/mxnet/gluon/loss.py
  tests/python/unittest/test_loss.py
Due: python

update the installation document
  docs/install/windows_setup.md
Due: none

Removing debugging print statements
  tests/python/unittest/test_loss.py
Due: none

fix minor text
  docs/install/windows_setup.md
Due: none

remove apachecon promo (#12695)
  docs/_static/mxnet-theme/index.html
Due: none

Onnx version update from 1.2.1 to 1.3 in CI (#12633)
  ci/docker/install/ubuntu_onnx.sh
  python/mxnet/contrib/onnx/mx2onnx/_op_translations.py
  python/mxnet/contrib/onnx/onnx2mx/_op_translations.py
  tests/python-pytest/onnx/export/onnx_backend_test.py
  tests/python-pytest/onnx/import/mxnet_backend_rep.py
  tests/python-pytest/onnx/import/mxnet_backend_test.py
  tests/python-pytest/onnx/import/test_cases.py
Due: python

[MXNET-833] [R] Char-level RNN tutorial fix (#12670)
  R-package/vignettes/CharRnnModel.Rmd
  docs/tutorials/r/charRnnModel.md
Due: r-package

Addressed the review comments to make the example configurable. Moved the unittests folder in 'examples' directory.
  cpp-package/example/mlp_csv.cpp
  cpp-package/example/unittests/unit_test_mlp_csv.sh
Due: none

Add documents for two new environment variables for memory pool. (#12668)
  docs/faq/env_var.md
Due: none

update the rename process
  docs/install/windows_setup.md
Due: none

fix wording
  docs/install/windows_setup.md
Due: none

remind users. of env and vs version
  docs/install/windows_setup.md
Due: none

Fix unit test in GPU
  src/operator/bilinear_sampler.cu
Due: backend

Update env_var.md
  docs/faq/env_var.md
Due: none

Pylint code formatting problems addressed
  python/mxnet/gluon/loss.py
  tests/python/unittest/test_loss.py
Due: python

Change correct type for nnvmGraph
  src/c_api/c_api_function.cc
  src/operator/elemwise_op_common.h
  src/operator/operator_common.h
  src/operator/tensor/ordering_op.cc
Due: backend

leave only the required dll
  docs/install/windows_setup.md
Due: none

fix for test order (#12358)
  tests/python/unittest/test_ndarray.py
Due: none

Update contribute.md
  docs/community/contribute.md
Due: none

Update README with links to test. test_mxnet link will work only after merge
  docker/docker-python/README.md
Due: none

[MXNET-951] Python dockerfiles built on pip binaries and build/release script (#12556)
  docker/docker-python/Dockerfile.mxnet.python.cpu
  docker/docker-python/Dockerfile.mxnet.python.cpu.mkl
  docker/docker-python/Dockerfile.mxnet.python.gpu.cu80
  docker/docker-python/Dockerfile.mxnet.python.gpu.cu80.mkl
  docker/docker-python/Dockerfile.mxnet.python.gpu.cu90
  docker/docker-python/Dockerfile.mxnet.python.gpu.cu90.mkl
  docker/docker-python/Dockerfile.mxnet.python.gpu.cu92
  docker/docker-python/Dockerfile.mxnet.python.gpu.cu92.mkl
  docker/docker-python/README.md
  docker/docker-python/build_python_dockerfile.sh
  docker/docker-python/test_mxnet.py
Due: none

Check subgraph index.
  src/operator/quantization/quantize_graph_pass.cc
Due: backend

Use index as FAvoidQuantizeInput's parameter.
  include/mxnet/op_attr_types.h
  src/common/utils.h
  src/operator/quantization/quantize_graph_pass.cc
  src/operator/subgraph/mkldnn/mkldnn_conv.cc
Due: backend

Add mkldnn_hwigo support as quantizaiton needs.
  src/operator/nn/mkldnn/mkldnn_base.cc
Due: backend

[MXNET-908] Speed up travis builds to avoid timeouts
  .travis.yml
  ci/travis/install.sh
Due: none

[MXNET-500]Test cases improvement for MKLDNN on Gluon (#10921)
  tests/python/unittest/test_gluon.py
Due: none

Update proposal_target.py
  example/rcnn/symnet/proposal_target.py
Due: none

Enable test_gluon.test_export (#12688)
  tests/python/unittest/test_gluon.py
Due: none

Update contribute.md (#12685)
  docs/community/contribute.md
Due: none

Update proposal_target.py (#12709)
  example/rcnn/symnet/proposal_target.py
Due: none

Basic Jenkins
  ci/docker/runtime_functions.sh
  scala-package/dev/build.sh
Due: clojure

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
