Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

Numpy det and slogdet operators (#15861)
  python/mxnet/_numpy_op_doc.py
  src/operator/tensor/la_op.cc
  src/operator/tensor/la_op.cu
  src/operator/tensor/la_op.h
  tests/python/unittest/test_numpy_op.py
Due: python, backend

Numpy Operators: Inner, Outer, vdot (#15846)
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  tests/python/unittest/test_numpy_op.py
Due: python

Fix random op signature
  python/mxnet/initializer.py
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  python/mxnet/numpy_op_signature.py
  python/mxnet/symbol/numpy/random.py
  src/operator/random/sample_op.cc
  tests/python/unittest/test_exc_handling.py
  tests/python/unittest/test_numpy_gluon.py
  tests/python/unittest/test_numpy_op.py
Due: python, backend

update test_resnet18.py
  tests/python/tensorrt/test_resnet18.py
Due: none

removing broken tutorial
  docs/python_docs/python/tutorials/extend/control_flow.md
Due: none

fix internal for loop
  src/operator/tensor/matrix_op-inl.h
Due: backend

update to the docs
  docs/python_docs/python/scripts/conf.py
  docs/python_docs/themes/mx-theme/mxtheme/static/sphinx_materialdesign_theme.css
  docs/python_docs/themes/mx-theme/mxtheme/static/sphinx_materialdesign_theme.css.map
  docs/python_docs/themes/mx-theme/src/scss/toc/_globaltoc.scss
Due: none

adding autodoc javascript, fixing some warnings
  docs/python_docs/README.md
  docs/python_docs/_static/autodoc.js
  docs/python_docs/_static/mxnet.css
  docs/python_docs/python/README.md
  docs/python_docs/python/api/gluon/model_zoo/index.rst
  docs/python_docs/python/api/ndarray/mxnet.ndarray.NDArray.rst
  docs/python_docs/python/api/symbol-related/index.rst
  docs/python_docs/python/api/symbol/index.rst
  docs/python_docs/python/index.rst
  python/mxnet/gluon/block.py
  python/mxnet/gluon/contrib/estimator/estimator.py
  python/mxnet/gluon/contrib/rnn/conv_rnn_cell.py
  python/mxnet/gluon/model_zoo/vision/__init__.py
  python/mxnet/gluon/model_zoo/vision/resnet.py
  python/mxnet/monitor.py
  src/operator/instance_norm.cc
Due: python, backend

adding the autodoc js plugin
  docs/python_docs/_static/autodoc.js
Due: none

restructure top level toctree navs and bubble more submodules to the top
  docs/python_docs/python/Makefile
  docs/python_docs/python/api/autograd/index.rst
  docs/python_docs/python/api/contrib/autograd/index.rst
  docs/python_docs/python/api/contrib/index.rst
  docs/python_docs/python/api/contrib/io/index.rst
  docs/python_docs/python/api/contrib/ndarray/index.rst
  docs/python_docs/python/api/contrib/onnx/index.rst
  docs/python_docs/python/api/contrib/quantization/index.rst
  docs/python_docs/python/api/contrib/symbol/index.rst
  docs/python_docs/python/api/contrib/tensorboard/index.rst
  docs/python_docs/python/api/contrib/tensorrt/index.rst
  docs/python_docs/python/api/contrib/text/index.rst
  docs/python_docs/python/api/gluon/block.rst
  docs/python_docs/python/api/gluon/constant.rst
  docs/python_docs/python/api/gluon/contrib/index.rst
  docs/python_docs/python/api/gluon/gluon.rst
  docs/python_docs/python/api/gluon/hybrid_block.rst
  docs/python_docs/python/api/gluon/index.rst
  docs/python_docs/python/api/gluon/parameter.rst
  docs/python_docs/python/api/gluon/parameter_dict.rst
  docs/python_docs/python/api/gluon/symbol_block.rst
  docs/python_docs/python/api/gluon/trainer.rst
  docs/python_docs/python/api/index.rst
  docs/python_docs/python/api/initializer/index.rst
  docs/python_docs/python/api/kvstore/index.rst
  docs/python_docs/python/api/lr_scheduler/index.rst
  docs/python_docs/python/api/metric/index.rst
  docs/python_docs/python/api/module/index.rst
  docs/python_docs/python/api/mxnet/context/index.rst
  docs/python_docs/python/api/mxnet/image/index.rst
  docs/python_docs/python/api/mxnet/index.rst
  docs/python_docs/python/api/ndarray/index.rst
  docs/python_docs/python/api/ndarray/ndarray.rst
  docs/python_docs/python/api/optimizer/index.rst
  docs/python_docs/python/api/symbol/index.rst
  docs/python_docs/python/api/symbol/symbol.rst
  docs/python_docs/python/scripts/conf.py
Due: none

doc fixes for gluon api sub modules only
  docs/python_docs/environment.yml
  docs/python_docs/python/Makefile
  docs/python_docs/python/api/gluon/contrib/index.rst
  docs/python_docs/python/api/gluon/gluon.rst
  docs/python_docs/python/api/gluon/index.rst
  docs/python_docs/python/api/gluon/loss/index.rst
  docs/python_docs/python/api/gluon/model_zoo/index.rst
  docs/python_docs/python/api/gluon/mxnet.gluon.HybridBlock.rst
  docs/python_docs/python/api/gluon/mxnet.gluon.ParameterDict.rst
  docs/python_docs/python/api/gluon/mxnet.gluon.Trainer.rst
  docs/python_docs/python/api/gluon/mxnet.gluon.data.rst
  docs/python_docs/python/api/gluon/mxnet.gluon.loss.rst
  docs/python_docs/python/api/gluon/mxnet.gluon.nn.Block.rst
  docs/python_docs/python/api/gluon/mxnet.gluon.nn.HybridBlock.rst
  docs/python_docs/python/api/gluon/mxnet.gluon.nn.SymbolBlock.rst
  docs/python_docs/python/api/gluon/mxnet.gluon.parameter.rst
  docs/python_docs/python/api/gluon/mxnet.gluon.utils.rst
  docs/python_docs/python/api/gluon/nn/index.rst
  docs/python_docs/python/api/gluon/rnn.rst
  docs/python_docs/python/api/gluon/rnn/index.rst
  docs/python_docs/python/api/gluon/utils/index.rst
  docs/python_docs/python/scripts/conf.py
  docs/python_docs/python/tutorials/packages/gluon/blocks/nn.md
  docs/python_docs/python/tutorials/packages/gluon/training/normalization/index.md
Due: none

fixing model zoo
  docs/python_docs/python/api/gluon/model_zoo/index.rst
Due: none

modify import to reference defined classes and functions directly
  python/mxnet/io/__init__.py
Due: python

fix some broken links
  docs/python_docs/python/api/gluon/model_zoo/index.rst
  docs/python_docs/python/api/gluon/nn/index.rst
  docs/python_docs/python/api/gluon/rnn/index.rst
  docs/python_docs/python/api/index.rst
  docs/python_docs/python/api/mxnet/index.rst
  docs/python_docs/python/api/symbol/linalg/index.rst
Due: none

update NEWS.md and README.md (#16385)
  NEWS.md
  README.md
Due: none

unittest to catch the previous error
  tests/python/unittest/test_operator.py
Due: none

add extra work_space check and fix some typo
  src/operator/nn/mkldnn/mkldnn_pooling.cc
Due: backend

fix choice signature
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/random.py
Due: python

root cause the np max, min testing flakiness
  src/operator/numpy/random/dist_common.h
  tests/python/unittest/test_numpy_op.py
Due: backend

add raise test for shape
  tests/python/unittest/test_exc_handling.py
Due: none

chnage mask to single bit
  src/operator/mshadow_op.h
  src/operator/nn/dropout-inl.h
Due: backend

julia/docs: more DRY on page rendering
  julia/docs/Project.toml
  julia/docs/make.jl
  julia/docs/mkdocs.yml
  julia/docs/src/api.md
  julia/docs/src/api/ndarray.md
  julia/docs/src/api/symbolic-node.md
  julia/docs/src/index.md
  julia/src/executor.jl
  julia/src/symbolic-node/show.jl
Due: none

[IR-Patch] IR Bridge (#16290)
  CMakeLists.txt
  Makefile
  amalgamation/Makefile
  amalgamation/amalgamation.py
  ci/jenkins/Jenkins_steps.groovy
  scala-package/assembly/src/main/assembly/assembly.xml
  scala-package/core/src/main/scala/org/apache/mxnet/util/NativeLibraryLoader.scala
  src/imperative/cached_op.cc
  src/v3/src/nnvm_relay_bridge.cc
  tests/nightly/JenkinsfileForBinaries
  tests/nightly/model_backwards_compatibility_check/JenkinsfileForMBCC
Due: clojure, backend

Rebased
  Makefile
  src/imperative/cached_op.cc
  src/v3/include/bridge/legacy_nnvm.h
  src/v3/include/ir.h
  src/v3/include/op/attrs/nn.h
  src/v3/src/bridge/legacy_nnvm/attrs.cc
  src/v3/src/bridge/legacy_nnvm/ir.cc
  src/v3/src/op/attrs.cc
Due: backend

optimizations
  src/operator/tensor/matrix_op-inl.h
Due: backend

Round and sign straight-through-estimators C operators. (#16373)
  src/operator/contrib/stes_op.cc
  src/operator/contrib/stes_op.cu
  src/operator/contrib/stes_op.h
  tests/python/unittest/test_contrib_stes_op.py
Due: backend

Added launch bounds to the reduce_kernel_M1
  src/operator/tensor/broadcast_reduce-inl.cuh
Due: backend

add extra classes imported from c++
  python/mxnet/io/__init__.py
Due: python

microsoft cpp doesn't support omp collapse
  src/operator/tensor/matrix_op-inl.h
Due: backend

Skip compute capability <= 52 for TVM generated ops
  python/mxnet/test_utils.py
Due: python

Initial infra of boolean ndarray
  3rdparty/mshadow/mshadow/base.h
  CMakeLists.txt
  Makefile
  ci/docker/runtime_functions.sh
  contrib/tvmop/__init__.py
  contrib/tvmop/compile.py
  contrib/tvmop/core/__init__.py
  contrib/tvmop/core/fromnumeric.py
  contrib/tvmop/core/umath.py
  contrib/tvmop/opdef.py
  contrib/tvmop/utils.py
  include/mxnet/tensor_blob.h
  python/mxnet/ndarray/ndarray.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/test_utils.py
  src/ndarray/ndarray.cc
  src/ndarray/ndarray_function.cc
  src/ndarray/ndarray_function.cu
  src/operator/contrib/boolean_mask.cc
  src/operator/contrib/boolean_mask.cu
  src/operator/mxnet_op.h
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_elemwise_broadcast_op.cc
  src/operator/operator_tune.cc
  src/operator/tensor/elemwise_binary_broadcast_op_logic.cc
  src/operator/tensor/elemwise_binary_scalar_op_logic.cc
  src/operator/tensor/elemwise_unary_op.h
  src/operator/tensor/init_op.h
  src/operator/tvmop/op_module.cc
  src/operator/tvmop/op_module.h
  tests/python/unittest/test_numpy_gluon.py
  tests/python/unittest/test_numpy_ndarray.py
  tests/python/unittest/test_numpy_op.py
Due: python, backend

Fix cmake
  CMakeLists.txt
  tests/python/unittest/test_numpy_op.py
Due: none

Fix sanity
  python/mxnet/test_utils.py
Due: python

MxNet operator for aggregated Adam update
  python/mxnet/ndarray/contrib.py
  src/operator/contrib/adamw-inl.h
  src/operator/contrib/adamw.cc
  src/operator/contrib/adamw.cu
  tests/python/gpu/test_operator_gpu.py
  tests/python/unittest/test_contrib_optimizer.py
Due: python, backend
