Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

Revert default return type for indices in argsort() and topk() back to float32 (#15360)
  src/operator/tensor/ordering_op-inl.h
  tests/python/unittest/test_ndarray.py
Due: backend

[MXNET-1413] Adding Large Tensor support for sort operators (#15170)
  src/operator/tensor/init_op.h
  src/operator/tensor/ordering_op-inl.h
  tests/nightly/test_large_array.py
  tests/python/unittest/test_ndarray.py
Due: backend

Add power, exponent, log ops large tensor support (#15794)
  tests/nightly/test_large_array.py
Due: none

Add large tensor support binary arithmetic (#15785)
  tests/nightly/test_large_array.py
Due: none

[Numpy] Numpy compatible slicing (#15798)
  src/operator/tensor/matrix_op-inl.h
  src/operator/tensor/matrix_op.cc
  tests/python/unittest/test_operator.py
Due: backend

fixing problem with existing Singleton Caching (#15868)
  python/mxnet/runtime.py
Due: python

removing unnecessary int64 C apis that were added to support Large Tensors and Vectors (#15944)
  include/mxnet/c_api.h
Due: backend

Making Features as a singleton for improved caching (#15835)
  python/mxnet/runtime.py
  tests/python/unittest/test_runtime.py
Due: python

[MXNET-1206] Support NDArray indexing with None and Ellipsis (#13143)
  python/mxnet/ndarray/ndarray.py
  python/mxnet/test_utils.py
  src/operator/tensor/matrix_op-inl.h
  tests/python/unittest/test_dgl_graph.py
  tests/python/unittest/test_ndarray.py
  tests/python/unittest/test_operator.py
Due: python, backend

Add Large Tensor Support for Sequence, NN Ops (#15807)
  tests/nightly/test_large_array.py
  tests/nightly/test_large_vector.py
Due: none

Large Index Support for Slice (#15593)
  include/mxnet/c_api.h
  include/mxnet/c_predict_api.h
  python/mxnet/base.py
  python/mxnet/ndarray/ndarray.py
  python/mxnet/symbol/symbol.py
  src/c_api/c_api.cc
  src/c_api/c_api_common.h
  src/c_api/c_api_executor.cc
  src/c_api/c_api_ndarray.cc
  src/c_api/c_api_profile.cc
  src/c_api/c_api_symbolic.cc
  src/imperative/imperative.cc
  src/imperative/imperative_utils.h
  src/operator/tensor/matrix_op-inl.h
  src/operator/tensor/slice-inl.h
  tests/nightly/test_large_array.py
  tests/nightly/test_large_vector.py
Due: python, backend

Large tensor support for random ops (#15783)
  tests/nightly/test_large_array.py
Due: none

Test large vector mean operator and fix a few bugs (#16079)
  src/operator/mshadow_op.h
  src/operator/tensor/broadcast_reduce-inl.h
  tests/nightly/test_large_vector.py
Due: backend

Sequence last fix (#16156)
  src/operator/sequence_last-inl.h
  src/operator/sequence_last.cc
  tests/nightly/test_large_vector.py
Due: backend

Add Large tensor vector test cases (#15941)
  src/operator/sequence_last-inl.h
  src/operator/sequence_reverse-inl.h
  tests/nightly/test_large_array.py
  tests/nightly/test_large_vector.py
Due: backend

Adding tests to verify support for Large Tensors in additional Ops along with new C_Apis supporting 64bit indexing (#15895)
  include/mxnet/c_api.h
  python/mxnet/ndarray/ndarray.py
  src/c_api/c_api.cc
  src/operator/tensor/dot-inl.h
  tests/nightly/test_large_array.py
Due: python, backend

Reducing memory footprint of one_hot for Large Array Testing (#16136)
  tests/nightly/test_large_array.py
  tests/nightly/test_large_vector.py
Due: none

creating ndarray directly using mxnet ndarray primitives to reduce memory footprint of tests for topk, sort and argsort (#15900)
  tests/nightly/test_large_array.py
Due: none

changes in setup.py to build new wheel
  tools/pip/setup.py
Due: none

added wheel build and trigger scripts
  build_wheel.sh
  wheel.sh
Due: none

Added tests to verify Large Vector Support for initial set of ops (#15943)
  python/mxnet/test_utils.py
  src/operator/softmax_output-inl.h
  src/operator/tensor/matrix_op-inl.h
  tests/nightly/test_large_array.py
  tests/nightly/test_large_vector.py
Due: python, backend

Added more tests for Large Indices (#15960)
  src/ndarray/ndarray_function.cc
  src/operator/tensor/indexing_op.h
  src/operator/tensor/matrix_op-inl.h
  tests/nightly/test_large_vector.py
Due: backend

fix broken links (#16255)
  README.md
  docs/static_site/src/_includes/get_started/get_started.html
  docs/static_site/src/_includes/get_started/pip_snippet.md
  docs/static_site/src/pages/api/cpp/index.md
  docs/static_site/src/pages/get_started/index.html
  docs/static_site/src/pages/get_started/windows_setup.md
Due: none

Add mask target generator operator for Mask-RCNN
  src/operator/contrib/mrcnn_target-inl.h
  src/operator/contrib/mrcnn_target.cu
  tests/python/unittest/test_operator.py
Due: backend

add google-analytics config
  docs/static_site/src/_config_prod.yml
Due: none

Disable the unit test for CPU default ctx
  tests/python/unittest/test_operator.py
Due: none

Add list_ctx to ParameterDict
  python/mxnet/gluon/parameter.py
  tests/python/unittest/test_gluon.py
Due: python

Add assert to test reset_ctx
  tests/python/unittest/test_gluon.py
Due: none

check if master
  ci/Jenkinsfile_utils.groovy
Due: none

Fix grammar
  include/mxnet/tensor_blob.h
Due: backend

Add list_ctx to ParameterDict (#16185)
  python/mxnet/gluon/parameter.py
  tests/python/unittest/test_gluon.py
Due: python

fix the seg fault and incorrect python output
  src/operator/leaky_relu-inl.h
Due: backend

add unit test
  src/operator/leaky_relu-inl.h
  tests/python/unittest/test_operator.py
Due: backend

fix segmentation fault
  src/operator/leaky_relu-inl.h
Due: backend

dummy_commit
  dummy.py
Due: none

Revert "dummy_commit"
  dummy.py
Due: none

dummy commit
  test.py
Due: none

Implementing global reduction for argmax. Preparing for activation of USE_INT64_TENSOR_SIZE.
  src/operator/tensor/broadcast_reduce_op.h
  src/operator/tensor/broadcast_reduce_op_index.cc
  tests/python/unittest/test_operator.py
Due: backend

CI test for argmax activated
  tests/python/unittest/test_operator.py
Due: none

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
