Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

add inverse gpu
  src/operator/linalg.h
  src/operator/linalg_impl.h
  src/operator/tensor/la_op-inl.h
Due: backend

able to compile
  src/operator/linalg.h
  src/operator/linalg_impl.h
  src/operator/tensor/la_op.cu
Due: backend

use mx.context.num_gpus instead of mx.test_utils.list_gpus in MF recommender example (#14926)
  example/recommenders/demo1-MF.ipynb
Due: none

fix
  src/operator/linalg_impl.h
Due: backend

Refactor
  python/mxnet/base.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/__init__.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/symbol/symbol.py
  tests/python/unittest/test_numpy_op.py
Due: python

Initial commit
  python/mxnet/ndarray/ndarray.py
  tests/python/unittest/test_ndarray.py
Due: python

Initial commit
  NEWS.md
  README.md
Due: none

Re-enable static cached_op optimization (#14931)
  src/executor/attach_op_execs_pass.cc
  src/executor/exec_pass.h
  src/imperative/cached_op.cc
  src/imperative/imperative_utils.h
Due: backend

Website stuff
  docs/_static/js/options.js
  docs/_static/mxnet-theme/index.html
  docs/install/download.md
  docs/install/index.md
Due: none

fix links to md files
  docs/install/build_from_source.md
Due: none

switch html links to md
  docs/install/c_plus_plus.md
  docs/install/java_setup.md
  docs/install/osx_setup.md
  docs/install/scala_setup.md
  docs/install/ubuntu_setup.md
  docs/install/windows_setup.md
Due: none

update mklndd.md
  docs/tutorials/mkldnn/MKLDNN_README.md
Due: none

Update Jenkins_steps.groovy
  ci/jenkins/Jenkins_steps.groovy
Due: none

Fix CutGraphInputs
  src/operator/subgraph/build_subgraph.cc
Due: backend

Initial refactoring
  python/mxnet/__init__.py
  python/mxnet/base.py
  python/mxnet/ndarray/__init__.py
  python/mxnet/ndarray/numpy/__init__.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/ndarray/numpy/_register.py
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/ndarray/numpy_extension/__init__.py
  python/mxnet/ndarray/numpy_extension/_op.py
  python/mxnet/ndarray/numpy_extension/_register.py
  python/mxnet/numpy/__init__.py
  python/mxnet/numpy/_op.py
  python/mxnet/numpy/_register.py
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/random.py
  python/mxnet/numpy_extension/__init__.py
  python/mxnet/numpy_extension/_op.py
  python/mxnet/numpy_extension/_register.py
  python/mxnet/symbol/numpy/__init__.py
  python/mxnet/symbol/numpy/_op.py
  python/mxnet/symbol/numpy/_register.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/symbol/numpy/linalg.py
  python/mxnet/symbol/numpy/random.py
  python/mxnet/symbol/numpy_extension/__init__.py
  python/mxnet/symbol/numpy_extension/_op.py
  python/mxnet/symbol/numpy_extension/_register.py
  src/operator/numpy/np_elemwise_unary_op_basic.cc
  src/operator/numpy/np_elemwise_unary_op_basic.cu
  tests/python/unittest/test_numpy_ndarray.py
  tests/python/unittest/test_numpy_op.py
Due: python, backend

bump mkldnn version to v0.19
  ci/docker/install/ubuntu_mklml.sh
  cmake/DownloadMKLML.cmake
Due: none

Update docs/faq/env_var.md
  docs/faq/env_var.md
Due: none

Update docs/install/index.md
  docs/install/index.md
Due: none

Update docs/tutorials/mkldnn/MKLDNN_README.md
  docs/tutorials/mkldnn/MKLDNN_README.md
Due: none

guard for lower version cuda
  src/operator/linalg_impl.h
Due: backend

update docs
  src/operator/tensor/la_op.cc
Due: backend

update docs
  docs/api/python/symbol/linalg.md
Due: none

fix misaligned memory
  src/operator/linalg_impl.h
Due: backend

add test
  tests/python/unittest/test_operator.py
Due: none

Fix notebook
  example/numpy/demo.ipynb
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/__init__.py
Due: python

revert gitmodules
  .gitmodules
Due: none

remove comments
  ci/jenkins/Jenkins_steps.groovy
  cmake/DownloadMKLML.cmake
Due: none

Disables TensorRT build step
  ci/jenkins/Jenkinsfile_unix_gpu
Due: none

remove test code
  ci/jenkins/Jenkins_steps.groovy
Due: none

test 32 and 64 bit
  .gitlab-ci.yml
Due: none

Disables TensorRT build step (#14958)
  ci/jenkins/Jenkinsfile_unix_gpu
Due: none

fix lint
  src/operator/linalg_impl.h
Due: backend

fix android
  src/operator/c_lapack_api.h
Due: backend
