Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

fix incorrect type
  src/operator/tensor/ordering_op-inl.h
Due: backend

add roxygen requirement
  Makefile
Due: none

update lipnet
  example/gluon/lipnet/.gitignore
  example/gluon/lipnet/BeamSearch.py
  example/gluon/lipnet/LICENSE
  example/gluon/lipnet/README.md
  example/gluon/lipnet/asset/network_structure.png
  example/gluon/lipnet/data_loader.py
  example/gluon/lipnet/lipnet_model.ipynb
  example/gluon/lipnet/main.py
  example/gluon/lipnet/models/__init__.py
  example/gluon/lipnet/models/network.py
  example/gluon/lipnet/trainer.py
Due: none

update utils
  example/gluon/lipnet/utils/__init__.py
  example/gluon/lipnet/utils/align.py
  example/gluon/lipnet/utils/common.py
  example/gluon/lipnet/utils/download_data.py
  example/gluon/lipnet/utils/multi.py
  example/gluon/lipnet/utils/preprocess_data.py
  example/gluon/lipnet/utils/run_preprocess.ipynb
  example/gluon/lipnet/utils/run_preprocess_single_process.ipynb
Due: none

script for installing gpu libraries and build tools
  tools/setup_gpu_build_tools.sh
Due: none

Revert "remove moving mkldnn artifact"
  ci/docker/runtime_functions.sh
Due: none

Revert "remove mkldnn dynamic lib"
  ci/jenkins/Jenkins_steps.groovy
Due: none

update makefile
  Makefile
Due: none

added cpp model_converter files
  CMakeLists.txt
  tools/binary_converter/CMakeLists.txt
  tools/binary_converter/lib/rapidjson/allocators.h
  tools/binary_converter/lib/rapidjson/document.h
  tools/binary_converter/lib/rapidjson/encodedstream.h
  tools/binary_converter/lib/rapidjson/encodings.h
  tools/binary_converter/lib/rapidjson/error/en.h
  tools/binary_converter/lib/rapidjson/error/error.h
  tools/binary_converter/lib/rapidjson/filereadstream.h
  tools/binary_converter/lib/rapidjson/filewritestream.h
  tools/binary_converter/lib/rapidjson/fwd.h
  tools/binary_converter/lib/rapidjson/internal/biginteger.h
  tools/binary_converter/lib/rapidjson/internal/diyfp.h
  tools/binary_converter/lib/rapidjson/internal/dtoa.h
  tools/binary_converter/lib/rapidjson/internal/ieee754.h
  tools/binary_converter/lib/rapidjson/internal/itoa.h
  tools/binary_converter/lib/rapidjson/internal/meta.h
  tools/binary_converter/lib/rapidjson/internal/pow10.h
  tools/binary_converter/lib/rapidjson/internal/regex.h
  tools/binary_converter/lib/rapidjson/internal/stack.h
  tools/binary_converter/lib/rapidjson/internal/strfunc.h
  tools/binary_converter/lib/rapidjson/internal/strtod.h
  tools/binary_converter/lib/rapidjson/internal/swap.h
  tools/binary_converter/lib/rapidjson/istreamwrapper.h
  tools/binary_converter/lib/rapidjson/memorybuffer.h
  tools/binary_converter/lib/rapidjson/memorystream.h
  tools/binary_converter/lib/rapidjson/msinttypes/inttypes.h
  tools/binary_converter/lib/rapidjson/msinttypes/stdint.h
  tools/binary_converter/lib/rapidjson/ostreamwrapper.h
  tools/binary_converter/lib/rapidjson/pointer.h
  tools/binary_converter/lib/rapidjson/prettywriter.h
  tools/binary_converter/lib/rapidjson/rapidjson.h
  tools/binary_converter/lib/rapidjson/reader.h
  tools/binary_converter/lib/rapidjson/schema.h
  tools/binary_converter/lib/rapidjson/stream.h
  tools/binary_converter/lib/rapidjson/stringbuffer.h
  tools/binary_converter/lib/rapidjson/writer.h
  tools/binary_converter/main.cpp
Due: none

cpp model_converter
  tools/binary_converter/main.cpp
Due: none

updated reference to Apache MXNet (#13645)
  julia/README.md
Due: none

updated the cpp converter
  tools/binary_converter/main.cpp
Due: none

Complimentary gluon DataLoader improvements (#13606)
  docs/faq/env_var.md
  python/mxnet/gluon/data/dataloader.py
  src/initialize.cc
  tests/python/unittest/test_gluon_data.py
Due: python, backend

Improve CCache handling (#13456)
  .gitignore
  Makefile
  ci/docker/Dockerfile.build.android_armv7
  ci/docker/Dockerfile.build.android_armv8
  ci/docker/Dockerfile.build.armv6
  ci/docker/Dockerfile.build.armv7
  ci/docker/Dockerfile.build.armv8
  ci/docker/Dockerfile.build.jetson
  ci/docker/install/centos7_adduser.sh
  ci/docker/install/ubuntu_adduser.sh
  ci/docker/runtime_functions.sh
Due: none

tools for building pip package
  tools/pip/MANIFEST.in
  tools/pip/sanity_test.py
  tools/pip/setup.py
  tools/pip_package/README.md
  tools/pip_package/make_pip_package.sh
  tools/pip_package/setup.py
Due: none

add script for making all dependencies
  tools/dependencies/make_shared_dependencies.sh
  tools/dependencies/opencv.sh
  tools/dependencies/patch/opencv_lapack.h
  tools/dependencies/protobuf.sh
Due: none

build scripts for lib and wheel
  tools/build/build_lib.sh
  tools/build/build_wheel.sh
Due: none

Update MKLDNN_README.md
  MKLDNN_README.md
Due: none

[MXNET-918] Random module (#13039)
  scala-package/core/src/main/scala/org/apache/mxnet/Base.scala
  scala-package/core/src/main/scala/org/apache/mxnet/NDArray.scala
  scala-package/core/src/main/scala/org/apache/mxnet/NDArrayAPI.scala
  scala-package/core/src/main/scala/org/apache/mxnet/Symbol.scala
  scala-package/core/src/main/scala/org/apache/mxnet/SymbolAPI.scala
  scala-package/core/src/test/scala/org/apache/mxnet/NDArraySuite.scala
  scala-package/core/src/test/scala/org/apache/mxnet/SymbolSuite.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/APIDocGenerator.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/GeneratorBase.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/NDArrayMacro.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/SymbolMacro.scala
Due: clojure

add build fix for Scala/Java build
  scala-package/.gitignore
  scala-package/init-native/osx-x86_64/pom.xml
  scala-package/native/osx-x86_64-cpu/pom.xml
Due: clojure

Fix incorrect delete in MXExecutorReshape exception handling (#13376)
  src/c_api/c_api_executor.cc
Due: backend

[MXNET-1251] Basic configuration to do static-linking (#13621)
  ci/docker/install/ubuntu_publish.sh
Due: none

[MXNET-1195] Cleanup Scala README file (#13582)
  scala-package/README.md
Due: clojure

scripts for building libmxnet binary and wheel (#13648)
  tools/build/build_lib.sh
  tools/build/build_wheel.sh
  tools/dependencies/make_shared_dependencies.sh
  tools/dependencies/opencv.sh
  tools/dependencies/patch/opencv_lapack.h
  tools/dependencies/protobuf.sh
  tools/pip/MANIFEST.in
  tools/pip/sanity_test.py
  tools/pip/setup.py
  tools/pip_package/README.md
  tools/pip_package/make_pip_package.sh
  tools/pip_package/setup.py
Due: none

[MXNET-1083] Add the example to demonstrate the inference workflow using C++ API (#13294)
  cpp-package/example/README.md
  cpp-package/example/inference/Makefile
  cpp-package/example/inference/README.md
  cpp-package/example/inference/inception_inference.cpp
  cpp-package/example/inference/unit_test_inception_inference.sh
Due: none

fix tests.
  tests/python/unittest/test_dgl_graph.py
Due: none

Update MKLDNN_README.md (#13653)
  MKLDNN_README.md
Due: none

Support Quantized Fully Connected by INT8 GEMM (#12922)
  src/operator/quantization/quantized_fully_connected.cc
  tests/python/quantization/test_quantization.py
Due: backend

address comments.
  src/operator/contrib/dgl_graph.cc
  tests/python/unittest/test_dgl_graph.py
Due: backend

Update test_contrib_operator.py
  tests/python/unittest/test_contrib_operator.py
Due: none

add build fix for Scala/Java build (#13655)
  scala-package/.gitignore
  scala-package/init-native/osx-x86_64/pom.xml
  scala-package/native/osx-x86_64-cpu/pom.xml
Due: clojure

Add symbolic arange
  src/operator/contrib/sarange-inl.h
  src/operator/contrib/sarange.cc
  tests/python/unittest/test_operator.py
Due: backend

Add a faked backward for contrib.sarange
  src/operator/contrib/sarange.cc
Due: backend

Revert "remove build cpp-package in ubuntu_mkldnn_mkl"
  ci/docker/runtime_functions.sh
Due: none

update with release notes for 1.4.0 release
  NEWS.md
Due: none

debug mklml
  cpp-package/cpp-package.mk
Due: none

Fix Jetson compilation (#13532)
  ci/docker/Dockerfile.build.jetson
  ci/jenkins/Jenkinsfile_edge
  make/crosscompile.jetson.mk
Due: none

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
