Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

split_v2
  python/mxnet/ndarray/ndarray.py
  python/mxnet/symbol/symbol.py
  src/operator/tensor/matrix_op-inl.h
  src/operator/tensor/matrix_op.cc
  src/operator/tensor/matrix_op.cu
  tests/python/unittest/test_ndarray.py
  tests/python/unittest/test_operator.py
Due: python, backend

finetune READMEs
  example/bayesian-methods/README.md
  example/bayesian-methods/bdk_demo.py
  example/fcn-xs/README.md
  example/fcn-xs/fcn_xs.py
  example/rcnn/README.md
  example/rcnn/demo.py
  example/rcnn/test.py
  example/rcnn/train.py
Due: none

move c_api_common.h to include folder
  plugin/opencv/cv_api.cc
  src/c_api/c_api.cc
  src/c_api/c_api_common.h
  src/c_api/c_api_error.cc
  src/c_api/c_api_executor.cc
  src/c_api/c_api_function.cc
  src/c_api/c_api_ndarray.cc
  src/c_api/c_api_profile.cc
  src/c_api/c_api_symbolic.cc
  src/c_api/c_api_test.cc
  src/c_api/c_predict_api.cc
  src/imperative/imperative_utils.h
  src/nnvm/legacy_json_util.cc
Due: backend

Apply to train using multiprocess
  example/gluon/lipnet/README.md
  example/gluon/lipnet/main.py
  example/gluon/lipnet/trainer.py
Due: none

optimize dispatch_mode
  src/operator/tensor/matrix_op-inl.h
Due: backend

Add CPU test coverage and refine cmake builds (#13338)
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
  ci/jenkins/Jenkinsfile_unix_cpu
Due: none

fix build error
  src/c_api/c_api_error.cc
Due: backend

improved xnor forward in gpu
  CMakeLists.txt
  src/operator/contrib/binary_inference/binary_inference_convolution-inl.h
  src/operator/contrib/binary_inference/binary_inference_convolution.cc
  src/operator/contrib/binary_inference/binary_inference_convolution.cu
  src/operator/contrib/binary_inference/binary_inference_fully_connected.cu
  src/operator/contrib/binary_inference/xnor_kernels.cu
  tests/python/unittest/test_binary.py
Due: backend

added empty change to re-trigger PR check
  LICENSE
Due: none

add license (#13793)
  LICENSE
  docs/_static/js/auto_module_index.js
  docs/_static/js/clipboard.js
  docs/_static/js/copycode.js
  docs/_static/js/docversion.js
  docs/_static/js/navbar.js
  docs/_static/js/options.js
  docs/_static/js/page.js
  docs/_static/js/search.js
  docs/_static/js/sidebar.js
Due: none

add license
  LICENSE
  docs/_static/js/auto_module_index.js
  docs/_static/js/clipboard.js
  docs/_static/js/copycode.js
  docs/_static/js/docversion.js
  docs/_static/js/navbar.js
  docs/_static/js/options.js
  docs/_static/js/page.js
  docs/_static/js/search.js
  docs/_static/js/sidebar.js
Due: none

[MXNET-862] Basic maven jenkins pipeline (#13450)
  Makefile
  ci/Jenkinsfile_utils.groovy
  ci/build.py
  ci/docker/install/ubuntu_scala.sh
  ci/docker/runtime_functions.sh
  ci/docker_cache.py
  ci/publish/Jenkinsfile
  scala-package/.gitignore
  scala-package/dev/build.sh
  scala-package/dev/buildkey.py
  scala-package/dev/compile-mxnet-backend.sh
  scala-package/dev/deploy.sh
  scala-package/dev/test.sh
  scala-package/packageTest/Makefile
Due: clojure

keep c_api_common.h internal
  plugin/opencv/cv_api.cc
  src/c_api/c_api.cc
  src/c_api/c_api_common.h
  src/c_api/c_api_error.cc
  src/c_api/c_api_executor.cc
  src/c_api/c_api_function.cc
  src/c_api/c_api_ndarray.cc
  src/c_api/c_api_profile.cc
  src/c_api/c_api_symbolic.cc
  src/c_api/c_api_test.cc
  src/c_api/c_predict_api.cc
  src/imperative/imperative_utils.h
  src/nnvm/legacy_json_util.cc
Due: backend

Redo maven deploy related tasks.
  Makefile
  contrib/clojure-package/project.clj
  docs/mxdoc.py
  scala-package/.gitignore
  scala-package/README.md
  scala-package/assembly/pom.xml
  scala-package/assembly/src/javadoc.xml
  scala-package/assembly/src/main/assembly/assembly.xml
  scala-package/assembly/src/main/assembly/javadoc.xml
  scala-package/assembly/src/main/assembly/source.xml
  scala-package/assembly/src/source.xml
  scala-package/core/pom.xml
  scala-package/core/src/main/scala/org/apache/mxnet/Base.scala
  scala-package/core/src/main/scala/org/apache/mxnet/util/NativeLibraryLoader.scala
  scala-package/deploy/pom.xml
  scala-package/deploy/src/main/deploy/deploy.xml
  scala-package/examples/pom.xml
  scala-package/infer/pom.xml
  scala-package/init-native/pom.xml
  scala-package/init/pom.xml
  scala-package/macros/pom.xml
  scala-package/native/pom.xml
  scala-package/pom.xml
  scala-package/spark/pom.xml
Due: clojure

strip out error handling API into a separate header
  include/mxnet/c_api_common.h
  include/mxnet/c_api_error.h
  src/c_api/c_api_common.h
Due: backend

Support mkldnn for Scala.
  Makefile
  scala-package/README.md
  scala-package/assembly/src/main/assembly/assembly.xml
  scala-package/core/src/main/scala/org/apache/mxnet/util/NativeLibraryLoader.scala
  scala-package/init-native/pom.xml
  scala-package/native/pom.xml
Due: clojure

consolidate comment into one paragraph per review
  include/mxnet/c_api_error.h
  src/c_api/c_api_common.h
Due: backend

update license for tvm dependencies (#13797)
  LICENSE
Due: none

remove unnecessary include
  include/mxnet/c_api_error.h
Due: backend

Update LICENSE File with subcomponents
  LICENSE
  contrib/clojure-package/examples/infer/imageclassifier/src/infer/imageclassifier_example.clj
  perl-package/AI-MXNet-Gluon-Contrib/META.yml
  perl-package/AI-MXNet-Gluon-ModelZoo/META.yml
  perl-package/AI-MXNet/META.yml
  perl-package/AI-MXNetCAPI/META.yml
  perl-package/AI-NNVMCAPI/META.yml
  readthedocs.yml
  snapcraft.yaml
  tests/nightly/apache_rat_license_check/rat-excludes
  tools/license_header.py
  tools/pip/MANIFEST.in
Due: none

ReduceL1, l2 export, lpnormalization import added
  python/mxnet/contrib/onnx/mx2onnx/_op_translations.py
  python/mxnet/contrib/onnx/onnx2mx/_import_helper.py
  python/mxnet/contrib/onnx/onnx2mx/_op_translations.py
  tests/python-pytest/onnx/test_cases.py
  tests/python-pytest/onnx/test_node.py
Due: python

fix
  python/mxnet/contrib/onnx/onnx2mx/_op_translations.py
Due: python

fix
  tests/python-pytest/onnx/test_cases.py
Due: none

fix
  python/mxnet/contrib/onnx/mx2onnx/_op_translations.py
  python/mxnet/contrib/onnx/onnx2mx/_op_translations.py
Due: python

retrigger CI
  python/mxnet/contrib/onnx/mx2onnx/_op_translations.py
Due: python

retrigger CI
  python/mxnet/contrib/onnx/onnx2mx/import_onnx.py
Due: python

Fix JavaScript licenses
  LICENSE
  docs/_static/selectlang.js
  tests/nightly/apache_rat_license_check/rat-excludes
  tools/license_header.py
Due: none

Follow comments
  contrib/clojure-package/examples/captcha/README.md
Due: none

add test
  tests/python/unittest/test_operator.py
Due: none

gpu support
  src/operator/tensor/elemwise_unary_op_basic.cu
Due: backend

Revert "add default behaviour for argmax"
  src/operator/tensor/broadcast_reduce_op.h
  tests/python/unittest/test_ndarray.py
Due: backend

Add extra header file to export for error checking (#13795)
  include/mxnet/c_api_error.h
  src/c_api/c_api_common.h
Due: backend

Update image record iterator tests to check the whole iterator not only first image
  tests/python/unittest/test_io.py
Due: none

Moves seed_aug parameter to ImageRecParserParam and re-seeds RNG before each augmentation to guarantee reproducibilit
  src/io/image_aug_default.cc
  src/io/image_iter_common.h
  src/io/iter_image_recordio_2.cc
  tests/python/unittest/test_io.py
Due: backend

whitelist symbols for using MXNet error handling externally
  make/config/libmxnet.sym
  make/config/libmxnet.ver
Due: none

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
