Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

Refine tests for narrow_not_overflow
  tests/cpp/mshadow/test_overflow.cc
Due: none

lint
  tests/cpp/mshadow/test_overflow.cc
Due: none

Whitespace
  tests/python/unittest/test_gluon_data_vision.py
Due: none

Fix infer shape partial after unknown shape changed to -1 (#14869)
  src/operator/instance_norm-inl.h
  src/operator/l2_normalization-inl.h
  src/operator/l2_normalization.cc
  src/operator/nn/mkldnn/mkldnn_convolution.cc
  src/operator/nn/mkldnn/mkldnn_deconvolution.cc
  src/operator/nn/pooling.cc
  src/operator/pooling_v1-inl.h
  src/operator/tensor/broadcast_reduce_op.h
  src/operator/tensor/control_flow_op.h
  src/operator/tensor/dot-inl.h
  src/operator/tensor/elemwise_binary_broadcast_op.h
  src/operator/tensor/indexing_op.h
  src/operator/tensor/matrix_op-inl.h
  tests/python/unittest/test_infer_shape.py
Due: backend

Add support to export results as markdown
  benchmark/opperf/README.md
  benchmark/opperf/opperf.py
  benchmark/opperf/results/mxnet_operator_benchmarks_cpu.md
  benchmark/opperf/utils/common_utils.py
Due: none

Fix warning
  src/operator/nn/dropout-inl.h
Due: backend

CR comments
  src/operator/nn/dropout-inl.h
  src/operator/nn/dropout.cc
Due: backend

Allow padding param to be used for global pooling
  src/operator/nn/cudnn/cudnn_pooling-inl.h
  src/operator/nn/mkldnn/mkldnn_pooling.cc
  src/operator/pooling_v1-inl.h
Due: backend

add warning
  src/operator/nn/pooling-inl.h
Due: backend

Remove additional calls to NodeEntry in emplace_back
  src/imperative/cached_op.cc
  src/imperative/imperative.cc
  src/operator/nn/activation.cc
  src/operator/nn/dropout.cc
  src/operator/nn/layer_norm.cc
  src/operator/operator_common.h
  src/operator/quantization/quantize_graph_pass.cc
  src/operator/regression_output-inl.h
  src/operator/rnn.cc
  src/operator/subgraph/mkldnn/mkldnn_conv_property.h
  src/operator/subgraph/mkldnn/mkldnn_fc_property.h
  src/operator/tensor/broadcast_reduce_op_index.cc
  src/operator/tensor/control_flow_op.cc
  src/operator/tensor/elemwise_unary_op_basic.cc
  src/operator/tensor/indexing_op.cc
  src/operator/tensor/ordering_op.cc
  tests/cpp/include/test_core_op.h
Due: backend

refine patch
  src/operator/nn/batch_norm.cc
  src/operator/tensor/broadcast_reduce_op_value.cc
Due: backend

Fix lint
  src/operator/tensor/ordering_op.cc
Due: backend

Added fused slice sum operator
  src/operator/tensor/slice_sum-inl.h
  src/operator/tensor/slice_sum.cc
  src/operator/tensor/slice_sum.cu
  tests/python/unittest/test_operator.py
Due: backend

Fix windows CI
  src/operator/nn/dropout.cc
Due: backend

Added fused split, bias add, activation, multiplication operator
  src/operator/tensor/split_bias_act_red-inl.h
  src/operator/tensor/split_bias_act_red.cc
  src/operator/tensor/split_bias_act_red.cu
  tests/python/unittest/test_operator.py
Due: backend

Add support for second order gradient to tan function
  src/operator/tensor/elemwise_unary_op_trig.cc
Due: backend

try to add support some ops
  src/operator/tensor/elemwise_binary_op_basic.cc
  src/operator/tensor/elemwise_unary_op_basic.cc
  src/operator/tensor/elemwise_unary_op_trig.cc
Due: backend

Fix
  CMakeLists.txt
Due: none

Wno-unused-variable
  CMakeLists.txt
Due: none

Tune gcc warnings
  CMakeLists.txt
Due: none

Remove unnecessary use_np_compat
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/ndarray/register.py
  python/mxnet/numpy/__init__.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/util.py
Due: python

[MXNET-1401] adding more operators to test support for Large Tensor
  tests/nightly/test_large_array.py
Due: none

update test
  tests/python/gpu/test_operator_gpu.py
Due: none

fix lint
  src/operator/nn/pooling-inl.h
Due: backend

[MXNET-1406] [BUG] Fix DLManagedTensor deleter (#15016)
  include/mxnet/c_api.h
  include/mxnet/ndarray.h
  python/mxnet/ndarray/ndarray.py
  src/c_api/c_api.cc
  src/ndarray/ndarray.cc
Due: python, backend

fixup warning
  src/operator/nn/pooling-inl.h
Due: backend

[Quantization] Support zero-size tensor input for quantization flow
  src/operator/quantization/dequantize-inl.h
  src/operator/quantization/quantize-inl.h
  src/operator/quantization/quantize_v2-inl.h
  src/operator/quantization/quantized_fully_connected.cc
Due: backend

Comment out quantized_act and quantized_sum
  src/operator/quantization/quantized_activation.cc
  src/operator/quantization/quantized_elemwise_add.cc
Due: backend

test
  ta
Due: none

Improve FC perf when no_bias=False
  src/operator/nn/fully_connected-inl.h
  src/operator/nn/fully_connected.cc
  tests/python/unittest/test_operator.py
Due: backend

Add Issue number in comment
  tests/python/unittest/test_operator.py
Due: none

Use class decorator to initialize numpy ndarrays in parameter.py
  example/numpy/demo.ipynb
  python/mxnet/gluon/parameter.py
  python/mxnet/util.py
Due: python

Clear notebook outputs
  example/numpy/demo.ipynb
Due: none

fix link
  docs/install/index.md
Due: none

[MXNET-1401] adding more operators to test support for Large Tensor (#14944)
  tests/nightly/test_large_array.py
Due: none
