Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

make max epoch an argument
  cpp-package/example/inception_bn.cpp
Due: none

address review comments
  example/quantization/imagenet_gen_qsym_mkldnn.py
  src/operator/quantization/quantized_pooling.cc
Due: backend

addressing comments
  tests/examples/test_examples.py
Due: none

Addressed PR comments, about existing synset.txt file - no overwrite
  example/gluon/urban_sounds/datasets.py
  example/gluon/urban_sounds/model.py
  example/gluon/urban_sounds/predict.py
  example/gluon/urban_sounds/train.py
  example/gluon/urban_sounds/transforms.py
Due: none

RST - docstring issues fixed
  example/gluon/urban_sounds/datasets.py
Due: none

added README
  example/gluon/urban_sounds/README.md
Due: none

use all capital for constant
  example/ssd/quantization.py
  src/operator/quantization/mkldnn/mkldnn_quantize_concat.cc
  src/operator/quantization/quantization_utils.h
  src/operator/subgraph/mkldnn/mkldnn_conv.cc
Due: backend

adding check for non-empty accept_dims
  tests/cpp/operator/mkldnn_operator_test.cc
Due: none

adding test for mkldnn softmax operator for large negative inputs
  tests/python/mkl/test_mkldnn.py
Due: none

update doc.
  src/operator/contrib/dgl_graph.cc
Due: backend

Fix ONNX export of keepdims param (#12924)
  python/mxnet/contrib/onnx/mx2onnx/_op_translations.py
Due: python

adding unittest for MKLDNN Softmax operator (#12884)
  tests/cpp/include/test_mkldnn.h
  tests/cpp/operator/mkldnn_operator_test.cc
Due: none

fix unit test
  python/mxnet/ndarray/ndarray.py
  python/mxnet/ndarray/sparse.py
  python/mxnet/ndarray/utils.py
  python/mxnet/symbol/symbol.py
Due: python

[MXNET-1215] Allow dynamic shape exists in imperative mode (#13283)
  include/mxnet/ndarray.h
  src/imperative/imperative.cc
  src/imperative/imperative_utils.h
  src/operator/contrib/boolean_mask-inl.h
  src/operator/contrib/boolean_mask.cc
  tests/python/unittest/test_operator.py
Due: backend

Added missing dependencies to centos build
  ci/docker/install/centos7_core.sh
  cmake/DownloadMKLML.cmake
Due: none

fix argument call
  src/operator/linalg_impl.h
Due: backend

Enabled NCCL for centos build
  ci/docker/runtime_functions.sh
Due: none

Fixed context resolution
  tests/python/gpu/test_nccl.py
Due: none

Refactord test_nccl
  tests/python/gpu/test_nccl.py
Due: none

Added build and test with nccl
  CMakeLists.txt
  ci/docker/Dockerfile.build.ubuntu_gpu
  ci/docker/install/ubuntu_nccl.sh
  tests/python/gpu/test_nccl.py
Due: none

Switched on NCCL for make based builds
  ci/docker/runtime_functions.sh
Due: none

Fixed num_gpus not being part of the test case class
  tests/python/gpu/test_nccl.py
Due: none

Fixed test
  tests/python/gpu/test_nccl.py
Due: none

Reverted removed warnings as errors
  Makefile
Due: none

Added logging
  tests/python/gpu/test_nccl.py
Due: none

Shortened function name to prevent warning
  src/operator/tensor/elemwise_unary_op_basic.cc
Due: backend

Fixed installation prompt
  ci/docker/install/ubuntu_tutorials.sh
Due: none

Fixed python syntax
  tests/python/gpu/test_nccl.py
Due: none

Temporarily disabled warnings as errors
  Makefile
Due: none

Silenced warning
  src/kvstore/kvstore_nccl.h
Due: backend

document implicit float32 conversions
  src/operator/rnn.cc
  src/operator/tensor/la_op.cc
Due: backend

[MXNET-115] Fixed USE_LAPACK forced on all platforms
  CMakeLists.txt
  cmake/ChooseBlas.cmake
  cmake/Modules/FindAtlas.cmake
  cmake/Modules/FindOpenBLAS.cmake
Due: none

Enable Accelerate by default on mac
  CMakeLists.txt
  cmake/ChooseBlas.cmake
Due: none

Fixed parent scope which is not there
  cmake/ChooseBlas.cmake
Due: none

Improved lapack symbol detection
  ci/docker/Dockerfile.build.ubuntu_mkl
  cmake/ChooseBlas.cmake
  cmake/Modules/FindAccelerate.cmake
  cmake/Modules/FindAtlas.cmake
  cmake/Modules/FindOpenBLAS.cmake
Due: none

Fixed parent scope for mxnet linker libs
  cmake/ChooseBlas.cmake
Due: none

Fixed variable scope for mxnet libraries in blas cmake
  cmake/ChooseBlas.cmake
  cmake/Modules/FindOpenBLAS.cmake
Due: none

Small linker libs improvement in cmake
  CMakeLists.txt
Due: none

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
