Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

[numpy] fix cython (#15418)
  ci/jenkins/Jenkins_steps.groovy
  ci/jenkins/Jenkinsfile_unix_cpu
  python/mxnet/cython/ndarray.pyx
  python/mxnet/cython/symbol.pyx
Due: python

revert #15309 #15256 #15219 #15161
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cu
  src/operator/numpy/np_cumsum-inl.h
  src/operator/numpy/np_cumsum.cc
  src/operator/numpy/np_cumsum.cu
  src/operator/numpy/random/np_multinomial_op.cc
  src/operator/numpy/random/np_multinomial_op.cu
  src/operator/numpy/random/np_multinomial_op.h
  src/operator/tensor/init_op.cc
  tests/python/unittest/test_numpy_ndarray.py
  tests/python/unittest/test_numpy_op.py
Due: python, backend

remove numpy changes to gluon peripherals
  python/mxnet/gluon/data/dataloader.py
  python/mxnet/gluon/data/vision/datasets.py
  python/mxnet/gluon/data/vision/transforms.py
  python/mxnet/gluon/loss.py
  python/mxnet/gluon/model_zoo/vision/resnet.py
  python/mxnet/gluon/nn/activations.py
  python/mxnet/gluon/nn/basic_layers.py
  python/mxnet/gluon/nn/conv_layers.py
  python/mxnet/gluon/rnn/rnn_layer.py
  python/mxnet/gluon/utils.py
Due: python

[numpy] Fix several places in numpy (#15398)
  include/mxnet/base.h
  python/mxnet/contrib/text/embedding.py
  python/mxnet/gluon/nn/basic_layers.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_extension/image.py
Due: python, backend

[numpy] Misc fix for other chapters (#15332)
  python/mxnet/_numpy_op_doc.py
  python/mxnet/gluon/block.py
  python/mxnet/gluon/data/vision/datasets.py
  python/mxnet/ndarray/ndarray.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/ndarray/register.py
  python/mxnet/numpy/function_base.py
  python/mxnet/numpy/io.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/stride_tricks.py
  python/mxnet/numpy/utils.py
  python/mxnet/numpy_extension/__init__.py
  python/mxnet/numpy_extension/utils.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/symbol/numpy/linalg.py
  python/mxnet/symbol/register.py
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cu
  src/operator/numpy/np_elemwise_unary_op_basic.cc
  src/operator/numpy/np_elemwise_unary_op_basic.cu
  src/operator/tensor/broadcast_reduce_op.h
  tests/python/unittest/test_numpy_ndarray.py
  tests/python/unittest/test_numpy_op.py
Due: python, backend

Numpy compatible linspace (#15256)
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/tensor/init_op.cc
  tests/python/unittest/test_numpy_op.py
Due: python, backend

[numpy] Fix d2l chapter 5 (#15264)
  python/mxnet/gluon/block.py
  python/mxnet/gluon/parameter.py
  python/mxnet/initializer.py
  python/mxnet/ndarray/utils.py
  python/mxnet/numpy/__init__.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/utils.py
  tests/python/unittest/test_numpy_ndarray.py
Due: python

fix after rebase
  python/mxnet/gluon/loss.py
  python/mxnet/gluon/nn/basic_layers.py
  python/mxnet/gluon/utils.py
  python/mxnet/numpy_extension/__init__.py
  python/mxnet/test_utils.py
  src/operator/numpy/np_init_op.cc
  src/operator/numpy/np_init_op.cu
  tests/python/unittest/test_numpy_gluon.py
  tests/python/unittest/test_numpy_ndarray.py
  tests/python/unittest/test_numpy_op.py
Due: python, backend

remove changes to contrib/text/embedding.py
  python/mxnet/contrib/text/embedding.py
Due: python

fix flaky test and get rid of extra print
  tests/python/unittest/test_numpy_op.py
Due: none

Add matrix determinant operator in linalg (#15007)
  docs/api/python/symbol/linalg.md
  python/mxnet/contrib/amp/lists/symbol.py
  src/operator/linalg.h
  src/operator/linalg_impl.h
  src/operator/tensor/la_op-inl.h
  src/operator/tensor/la_op.cc
  src/operator/tensor/la_op.cu
  src/operator/tensor/la_op.h
  tests/python/unittest/test_operator.py
Due: python, backend

Improve doctest of __getitem__
  python/mxnet/ndarray/ndarray.py
Due: python

Remove list indexing restriction, fix value shape broadcasting
  python/mxnet/ndarray/ndarray.py
Due: python

Revamp NDArray.__getitem__ and __setitem__
  python/mxnet/ndarray/ndarray.py
Due: python

Support NDArray indexing with None and Ellipsis
  python/mxnet/ndarray/ndarray.py
Due: python

Fix basic __setitem__ for all test cases
  python/mxnet/ndarray/ndarray.py
Due: python

Fix typo in error message of SetSliceOpOutputDimSize
  src/operator/tensor/matrix_op-inl.h
Due: backend

Print failing index in setitem tests
  tests/python/unittest/test_ndarray.py
Due: none

WIP: fix basic indexing
  python/mxnet/ndarray/ndarray.py
Due: python

Fix setting of array with integer indices
  python/mxnet/ndarray/ndarray.py
  tests/python/unittest/test_ndarray.py
Due: python

Fix lint errors
  src/operator/tensor/matrix_op-inl.h
Due: backend

Better printing for failing setitem tests
  tests/python/unittest/test_ndarray.py
Due: none

Remove print statements from tests
  tests/python/unittest/test_ndarray.py
Due: none

Fix missing staticmethod
  python/mxnet/ndarray/ndarray.py
Due: python

Fix wrong slice used, add cases to test_indexing
  python/mxnet/ndarray/ndarray.py
  tests/python/unittest/test_ndarray.py
Due: python

WIP: fixing advanced indexing
  python/mxnet/ndarray/ndarray.py
Due: python

Re-implement advanced indexing with None and Ellipsis
  python/mxnet/ndarray/ndarray.py
Due: python

REMOVE: printing in tests
  tests/python/unittest/test_ndarray.py
Due: none

Update NDArray.__setitem__ docs with None and Ellipsis
  python/mxnet/ndarray/ndarray.py
Due: python

Remove superfluous _at and _slice
  python/mxnet/ndarray/ndarray.py
Due: python

Fix call into op.slice in basic indexing, add doctest
  python/mxnet/ndarray/ndarray.py
Due: python

Add setitem test for None and Ellipsis
  tests/python/unittest/test_ndarray.py
Due: none

Simplify implementation of advanced index broadcasting
  python/mxnet/ndarray/ndarray.py
Due: python

Fix op.slice with step<0 and end==-1
  src/operator/tensor/matrix_op-inl.h
Due: backend

Fix lint errors
  python/mxnet/ndarray/ndarray.py
Due: python

Implement copy-free general contiguous indexing
  python/mxnet/ndarray/ndarray.py
  tests/python/unittest/test_ndarray.py
Due: python

Fix boolean flag in NDArray.__getitem__, add doctests
  python/mxnet/ndarray/ndarray.py
Due: python

TEMP: print statements in tests
  tests/python/unittest/test_ndarray.py
Due: none

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
