Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

indent changes
  src/io/image_aug_default.cc
Due: backend

Efficient MXNet sampling in the multinomial distribution (#15311)
  src/operator/random/sample_multinomial_op.h
Due: backend

Two fixes for info_gan.md example Code
  docs/tutorials/gluon/info_gan.md
Due: none

indent changes (#15321)
  src/io/image_aug_default.cc
Due: backend

Extend Clojure BERT example (#15023)
  contrib/clojure-package/examples/bert/fine-tune-bert.ipynb
  contrib/clojure-package/examples/bert/src/bert/bert_sentence_classification.clj
  contrib/clojure-package/examples/bert/test/bert/bert_sentence_classification_test.clj
  contrib/clojure-package/examples/infer/predictor/src/infer/predictor_example.clj
Due: none

numpy-compatible cumsum (#15309)
  src/operator/numpy/np_cumsum-inl.h
  src/operator/numpy/np_cumsum.cc
  src/operator/numpy/np_cumsum.cu
  tests/python/unittest/test_numpy_op.py
Due: backend

Add np.prod
  python/mxnet/gluon/data/vision/datasets.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cu
  src/operator/tensor/broadcast_reduce_op.h
  tests/python/unittest/test_numpy_op.py
Due: python, backend

Fix ndarray.reshape accepting positional integers as arguments
  python/mxnet/ndarray/register.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/symbol/register.py
  tests/python/unittest/test_numpy_op.py
Due: python

Fix
  python/mxnet/numpy/io.py
  python/mxnet/symbol/numpy/linalg.py
Due: python

Fix
  python/mxnet/gluon/block.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/utils.py
Due: python

Add meshgrid and broadcast_arrays
  python/mxnet/ndarray/ndarray.py
  python/mxnet/numpy/__init__.py
  python/mxnet/numpy/function_base.py
  python/mxnet/numpy/stride_tricks.py
Due: python

Add np.ndarray.flatten
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  tests/python/unittest/test_numpy_op.py
Due: python

Fix rebase error
  src/operator/numpy/np_broadcast_reduce_op_value.cc
Due: backend

Rebase
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_broadcast_reduce_op_value.cc
Due: python, backend

Add more unary ops supporting python scalars
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/__init__.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_elemwise_unary_op_basic.cc
  src/operator/numpy/np_elemwise_unary_op_basic.cu
Due: python, backend

Add broadcast_to
  python/mxnet/numpy/multiarray.py
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  tests/python/unittest/test_numpy_op.py
Due: python, backend

Fix sin, cos, sinh, cosh not supporting scalars
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/stride_tricks.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_broadcast_reduce_op_value.cu
  src/operator/numpy/np_elemwise_unary_op_basic.cc
  src/operator/numpy/np_elemwise_unary_op_basic.cu
  tests/python/unittest/test_numpy_op.py
Due: python, backend

fix missing input
  src/operator/tensor/elemwise_unary_op_basic.cc
Due: backend

Fix
  python/mxnet/_numpy_op_doc.py
  python/mxnet/gluon/block.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/__init__.py
  python/mxnet/numpy/function_base.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/stride_tricks.py
  python/mxnet/numpy/utils.py
  python/mxnet/numpy_extension/__init__.py
  python/mxnet/numpy_extension/utils.py
  python/mxnet/symbol/numpy/_symbol.py
  tests/python/unittest/test_numpy_ndarray.py
Due: python

Fix ci
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_broadcast_reduce_op_value.cc
Due: python, backend

Fix sanity
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Due: python

Update repl running instructions
  contrib/clojure-package/examples/cnn-text-classification/README.md
Due: none

[numpy] Misc fix for other chapters (#15332)
  python/mxnet/_numpy_op_doc.py
  python/mxnet/gluon/block.py
  python/mxnet/gluon/data/vision/datasets.py
  python/mxnet/ndarray/ndarray.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/ndarray/register.py
  python/mxnet/numpy/function_base.py
  python/mxnet/numpy/io.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/stride_tricks.py
  python/mxnet/numpy/utils.py
  python/mxnet/numpy_extension/__init__.py
  python/mxnet/numpy_extension/utils.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/symbol/numpy/linalg.py
  python/mxnet/symbol/register.py
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cu
  src/operator/numpy/np_elemwise_unary_op_basic.cc
  src/operator/numpy/np_elemwise_unary_op_basic.cu
  src/operator/tensor/broadcast_reduce_op.h
  tests/python/unittest/test_numpy_ndarray.py
  tests/python/unittest/test_numpy_op.py
Due: python, backend

fix cpplint
  cpp-package/example/inference/imagenet_inference.cpp
  cpp-package/example/mlp_csv.cpp
  cpp-package/include/mxnet-cpp/initializer.h
Due: none

some changes and code rebase
  cpp-package/example/inference/imagenet_inference.cpp
Due: none

refactor C++ inference script to support benchmark on Imagenet
  cpp-package/example/inference/README.md
  cpp-package/example/inference/imagenet_inference.cpp
  cpp-package/example/inference/inception_inference.cpp
  cpp-package/example/inference/unit_test_imagenet_inference.sh
  cpp-package/example/inference/unit_test_inception_inference.sh
  cpp-package/example/mlp_csv.cpp
  cpp-package/include/mxnet-cpp/initializer.h
  cpp-package/include/mxnet-cpp/io.h
  cpp-package/tests/ci_test.sh
Due: none

improve README, add INT8 test and some fixes
  cpp-package/example/inference/README.md
  cpp-package/example/inference/imagenet_inference.cpp
  cpp-package/example/inference/unit_test_imagenet_inference.sh
  cpp-package/include/mxnet-cpp/initializer.h
Due: none

address comments
  cpp-package/example/inference/README.md
  cpp-package/example/inference/imagenet_inference.cpp
  cpp-package/example/inference/unit_test_imagenet_inference.sh
  cpp-package/include/mxnet-cpp/initializer.h
Due: none

refresh performance numbers in README
  cpp-package/example/inference/README.md
Due: none

fix CI
  cpp-package/example/inference/unit_test_imagenet_inference.sh
Due: none

address comments
  cpp-package/example/inference/README.md
  cpp-package/example/inference/unit_test_imagenet_inference.sh
  example/quantization/README.md
Due: none

fix lint
  cpp-package/example/inference/imagenet_inference.cpp
Due: none

fix comment and file names included.
  src/operator/mxnet_op.h
  src/operator/numpy/np_elemwise_binary_gcd_op-inl.h
  src/operator/numpy/np_elemwise_binary_gcd_op.cc
  src/operator/numpy/np_elemwise_binary_gcd_op.cu
Due: backend

update error messages
  src/operator/mxnet_op.h
Due: backend

Fix build_ccache_wrappers: (#14631)
  ci/docker/runtime_functions.sh
Due: none

support int8 dtype parameter
  python/mxnet/contrib/quantization.py
Due: python

Complete solution with OOM workaround
  contrib/clojure-package/examples/cnn-text-classification/README.md
  contrib/clojure-package/examples/cnn-text-classification/src/cnn_text_classification/data_helper.clj
Due: none

revert to using thread-safe Get() for singleton class CustomOpProfiler
  src/profiler/custom_op_profiler.h
Due: backend

indentation
  src/engine/threaded_engine.cc
  src/profiler/custom_op_profiler.h
Due: backend

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
