Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

fix.
  src/operator/dgl_graph.cc
Due: backend

return old eids in node_subgraph.
  src/operator/dgl_graph.cc
Due: backend

Add more models to benchmark_score (#12780)
  benchmark/python/gluon/benchmark_gluon.py
  example/image-classification/benchmark_score.py
Due: none

[MXNET-1025] Add Jetpack 3.3 support to Jetson (#12735)
  ci/docker/Dockerfile.build.jetson
Due: none

Fix Batch input issue with Scala Benchmark (#12848)
  scala-package/core/src/test/scala/org/apache/mxnet/ShapeSuite.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/InferBase.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/benchmark/ScalaInferenceBenchmark.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/infer/imageclassifier/ImageClassifierExample.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/infer/objectdetector/SSDClassifierExample.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/rnn/TestCharRnn.scala
  scala-package/infer/src/main/scala/org/apache/mxnet/infer/ImageClassifier.scala
  scala-package/infer/src/main/scala/org/apache/mxnet/infer/ObjectDetector.scala
  scala-package/infer/src/main/scala/org/apache/mxnet/infer/Predictor.scala
  scala-package/infer/src/test/scala/org/apache/mxnet/infer/ImageClassifierSuite.scala
Due: clojure

[MXNET-674] Refactor SMs into shell variable
  ci/docker/runtime_functions.sh
Due: none

[MXNET-674] Build CMake GPU CI jobs without PTX
  ci/docker/runtime_functions.sh
Due: none

fix type inference in index_copy. (#12890)
  src/operator/contrib/index_copy.cc
  tests/python/unittest/test_operator.py
Due: backend

Dummy-data based benchmarking script for Gluon RNN-API via fused and unfused kernel
  benchmark/python/gluon/benchmark_gluon_rnn.py
Due: none

Remove the unnecessary code lines
  benchmark/python/gluon/benchmark_gluon_rnn.py
Due: none

Minor fixes
  benchmark/python/gluon/benchmark_gluon_rnn.py
Due: none

Extending the DCGAN example implemented by gluon API to provide a more straight-forward evaluation on the generated image (#12790)
  example/gluon/DCGAN/README.md
  example/gluon/DCGAN/__init__.py
  example/gluon/DCGAN/dcgan.py
  example/gluon/DCGAN/inception_score.py
  example/gluon/dcgan.py
  example/gluon/sn_gan/data.py
  example/gluon/sn_gan/model.py
  example/gluon/sn_gan/train.py
  example/gluon/sn_gan/utils.py
Due: none

Fix typo in GRU cell and layers (gluon.rnn) docstring
  CONTRIBUTORS.md
  python/mxnet/gluon/rnn/rnn_cell.py
  python/mxnet/gluon/rnn/rnn_layer.py
Due: python

[MXNET-674] Speed up GPU builds in CI (#12782)
  ci/docker/runtime_functions.sh
Due: none

fix indpt[0] for take(csr)
  src/operator/tensor/indexing_op.cc
  tests/python/unittest/test_sparse_ndarray.py
Due: backend

Set correct update on kvstore flag in dist_device_sync mode
  python/mxnet/gluon/trainer.py
  tests/nightly/dist_device_sync_kvstore.py
Due: python

Add warning message for batch-size change in dist mode
  python/mxnet/gluon/trainer.py
Due: python

[MXNET-793] ★ Virtualized testing in CI with QEMU ★ (#12094)
  ci/README.md
  ci/build.py
  ci/docker/Dockerfile.build.android_armv7
  ci/docker/Dockerfile.build.android_armv8
  ci/docker/Dockerfile.build.armv6
  ci/docker/Dockerfile.build.armv7
  ci/docker/Dockerfile.build.armv8
  ci/docker/Dockerfile.build.centos7_gpu
  ci/docker/Dockerfile.build.jetson
  ci/docker/Dockerfile.build.test.arm_qemu
  ci/docker/Dockerfile.build.ubuntu_base_cpu
  ci/docker/Dockerfile.build.ubuntu_base_gpu
  ci/docker/Dockerfile.build.ubuntu_blc
  ci/docker/Dockerfile.build.ubuntu_build_cuda
  ci/docker/Dockerfile.build.ubuntu_cpu
  ci/docker/Dockerfile.build.ubuntu_gpu
  ci/docker/Dockerfile.build.ubuntu_gpu_tensorrt
  ci/docker/Dockerfile.build.ubuntu_nightly_cpu
  ci/docker/Dockerfile.build.ubuntu_nightly_gpu
  ci/docker/Dockerfile.build.ubuntu_rat
  ci/docker/install/ubuntu_arm_qemu.sh
  ci/docker/install/ubuntu_arm_qemu_bin.sh
  ci/docker/install/ubuntu_python.sh
  ci/docker/qemu/README.md
  ci/docker/qemu/ansible.cfg
  ci/docker/qemu/playbook.yml
  ci/docker/qemu/qemu_run.sh
  ci/docker/qemu/runtime_functions.py
  ci/docker/qemu/vmcontrol.py
  ci/qemu/README.md
  ci/qemu/copy.sh
  ci/qemu/init.sh
  ci/qemu/initrd_modif/inittab
  ci/qemu/install.sh
  ci/qemu/mxnet_requirements.txt
  ci/qemu/preseed.cfg
  ci/qemu/preseed.sh
  ci/qemu/run.sh
  tests/requirements.txt
  tools/license_header.py
Due: none

Fail the broken link job when broken links are found
  tests/nightly/broken_link_checker_test/test_broken_links.py
Due: none

update mkldnn and fix conv/deconv
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_convolution.cc
  src/operator/nn/mkldnn/mkldnn_deconvolution.cc
  tests/cpp/operator/mkldnn.cc
Due: backend

Switch tutorial to dependency/ies that exist on Maven
  contrib/clojure-package/examples/tutorial/project.clj
Due: none

nnz
  docs/api/python/ndarray/contrib.md
  src/operator/contrib/nnz.cc
  tests/python/unittest/test_sparse_ndarray.py
Due: backend

update err msg
  src/operator/contrib/nnz.cc
Due: backend

Improve Clojure Module tutorial
  contrib/clojure-package/examples/tutorial/src/tutorial/module.clj
Due: none

[MXNET-1017] Updating the readme file for cpp-package and adding readme file for example directory. (#12773)
  cpp-package/README.md
  cpp-package/example/README.md
Due: none

Implement feedback from @ChaiBapchya and @daveliepmann
  contrib/clojure-package/README.md
Due: none

combined deps
  contrib/clojure-package/README.md
Due: none

fix the paths issue for downloading script
  scala-package/examples/scripts/infer/imageclassifier/get_resnet_18_data.sh
  scala-package/examples/scripts/infer/imageclassifier/get_resnet_data.sh
  scala-package/examples/scripts/infer/objectdetector/get_ssd_data.sh
Due: clojure

Fail the broken link job when broken links are found (#12905)
  tests/nightly/broken_link_checker_test/test_broken_links.py
Due: none

Add wget
  contrib/clojure-package/README.md
Due: none

Add the example to demonstrate the inference workflow.
  cpp-package/example/inference/Makefile
  cpp-package/example/inference/inception_inference.cpp
  cpp-package/example/inference/unit_test_inception_inference.sh
Due: none

skip nnz test on gpu
  tests/python/unittest/test_sparse_ndarray.py
Due: none

Fix adversary example generation
  example/adversary/README.md
  example/adversary/adversary_generation.ipynb
Due: none

Fix typo in formula in docstring for GRU cell and layer and add clarification to description (gluon.rnn) (#12896)
  CONTRIBUTORS.md
  python/mxnet/gluon/rnn/rnn_cell.py
  python/mxnet/gluon/rnn/rnn_layer.py
Due: python

fix mac r install and windows python build from source docs
  docs/install/index.md
Due: none

Update README.md
  example/adversary/README.md
Due: none

squash commit
  Makefile
  docs/install/windows_setup.md
  example/image-classification/common/data.py
  include/mxnet/c_api.h
  include/mxnet/engine.h
  include/mxnet/kvstore.h
  python/mxnet/kvstore.py
  python/mxnet/model.py
  python/mxnet/module/base_module.py
  python/mxnet/module/bucketing_module.py
  python/mxnet/module/executor_group.py
  python/mxnet/module/module.py
  python/mxnet/module/python_module.py
  python/mxnet/module/sequential_module.py
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/neuralstyle/NeuralStyle.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/neuralstyle/end2end/BoostTrain.scala
  scala-package/examples/src/test/scala/org/apache/mxnetexamples/gan/GanExampleSuite.scala
  src/c_api/c_api.cc
  src/engine/threaded_engine_pooled.cc
  src/io/iter_image_recordio_2.cc
  src/kvstore/comm.h
  src/kvstore/kvstore_local.h
  src/kvstore/kvstore_nccl.h
  tests/python/gpu/test_operator_gpu.py
  tools/bandwidth/measure.py
Due: python, clojure, backend

undo a lot of unnecessary changes
  include/mxnet/c_api.h
  include/mxnet/engine.h
  include/mxnet/kvstore.h
  python/mxnet/kvstore.py
  python/mxnet/model.py
  python/mxnet/module/base_module.py
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/neuralstyle/NeuralStyle.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/neuralstyle/end2end/BoostTrain.scala
  scala-package/examples/src/test/scala/org/apache/mxnetexamples/gan/GanExampleSuite.scala
  src/c_api/c_api.cc
  src/kvstore/kvstore_local.h
  tests/python/gpu/test_operator_gpu.py
  tools/bandwidth/measure.py
Due: python, clojure, backend

undo more changes
  Makefile
  include/mxnet/c_api.h
  include/mxnet/kvstore.h
  python/mxnet/kvstore.py
  python/mxnet/model.py
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/neuralstyle/NeuralStyle.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/neuralstyle/end2end/BoostTrain.scala
  src/c_api/c_api.cc
  tools/bandwidth/measure.py
Due: python, clojure, backend
