Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

enabling test
  tests/python/unittest/test_operator.py
Due: none

remove the crop and centercop utility function to make the PR clear
  src/operator/image/image_utils.h
Due: backend

fix the syntax error
  src/operator/contrib/bilinear_resize-inl.cuh
Due: backend

delete the warning
  src/operator/image/resize-inl.h
Due: backend

add unit test with 4D
  tests/python/gpu/test_gluon_transforms.py
Due: none

fix typo
  tests/python/gpu/test_gluon_transforms.py
Due: none

MXNet - nGraph initial integration
  .gitmodules
  CMakeLists.txt
  Makefile
  NGRAPH_README.md
  amalgamation/amalgamation.py
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
  ci/jenkins/Jenkinsfile_unix_cpu
  include/mxnet/ndarray.h
  make/config.mk
  src/c_api/c_api_symbolic.cc
  src/executor/graph_executor.cc
  src/ndarray/ndarray.cc
  src/operator/contrib/ngraph-inl.h
  src/operator/contrib/ngraph.cc
  src/operator/subgraph/partition_graph.cc
  src/operator/subgraph/subgraph_property.h
  tests/cpp/unittest.mk
  tests/python/ngraph/test_ngraph.py
  tests/python/unittest/test_executor.py
  tests/python/unittest/test_gluon.py
  tests/python/unittest/test_operator.py
Due: backend

add more unit test
  tests/python/gpu/test_gluon_transforms.py
Due: none

Return value docs for nd.random.* and sym.random.* (#13994)
  CONTRIBUTORS.md
  python/mxnet/ndarray/random.py
  python/mxnet/symbol/random.py
Due: python

fix unit test
  tests/python/gpu/test_gluon_transforms.py
Due: none

set atol = 1
  tests/python/gpu/test_gluon_transforms.py
Due: none

Improve test function and commenting.
  tests/python/gpu/test_operator_gpu.py
Due: none

add NAG optimizer to r api
  R-package/R/optimizer.R
  R-package/tests/testthat/test_optimizer.R
Due: r-package

fix missing numpy import
  tests/python/unittest/test_gluon_data_vision.py
Due: none

fix the unit test
  tests/python/gpu/test_gluon_transforms.py
Due: none

delete test case
  tests/python/gpu/test_gluon_transforms.py
Due: none

fix unit test missing dependency
  tests/python/unittest/test_gluon_data_vision.py
Due: none

Julia: split symbolic-node.jl into several snippets
  julia/src/symbolic-node.jl
  julia/src/symbolic-node/arithmetic.jl
  julia/src/symbolic-node/array.jl
  julia/src/symbolic-node/autodiff.jl
  julia/src/symbolic-node/io.jl
  julia/src/symbolic-node/op.jl
  julia/src/symbolic-node/show.jl
  julia/src/symbolic-node/type.jl
Due: none

Julia: split ndarray.jl into several snippets (#14001)
  julia/src/ndarray/activation.jl
  julia/src/ndarray/arithmetic.jl
  julia/src/ndarray/array.jl
  julia/src/ndarray/autoimport.jl
  julia/src/ndarray/comparison.jl
  julia/src/ndarray/context.jl
  julia/src/ndarray/io.jl
  julia/src/ndarray/linalg.jl
  julia/src/ndarray/reduction.jl
  julia/src/ndarray/remap.jl
  julia/src/ndarray/show.jl
  julia/src/ndarray/statistic.jl
  julia/src/ndarray/trig.jl
  julia/src/ndarray/type.jl
Due: none

Julia: enable integration test
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
  julia/src/executor.jl
  julia/test/runtests.jl
Due: none

Update README.md
  example/gluon/wavenet/README.md
Due: none

Julia: rename `mx.clip` to `clamp` for `NDArray`
  julia/NEWS.md
  julia/src/MXNet.jl
  julia/src/deprecated.jl
  julia/src/ndarray/arithmetic.jl
  julia/src/ndarray/remap.jl
  julia/src/optimizer.jl
  julia/test/unittest/ndarray.jl
Due: none

update use gpu mode
  example/gluon/wavenet/main.py
  example/gluon/wavenet/trainer.py
Due: none

remove ngraph changes from ndarray
  ci/docker/runtime_functions.sh
  include/mxnet/ndarray.h
  src/ndarray/ndarray.cc
  src/operator/contrib/ngraph.cc
  tests/python/unittest/test_subgraph_op.py
Due: backend

fix error data type
  tests/python/unittest/test_gluon_data_vision.py
Due: none

unify the style and add invalid interp
  tests/python/gpu/test_gluon_transforms.py
  tests/python/unittest/test_gluon_data_vision.py
Due: none

add License
  scala-package/core/src/test/java/org/apache/mxnet/javaapi/ImageTest.java
Due: clojure

add image change
  scala-package/core/src/main/scala/org/apache/mxnet/javaapi/Image.scala
  scala-package/core/src/test/java/org/apache/mxnet/javaapi/ImageTest.java
  scala-package/examples/src/main/java/org/apache/mxnetexamples/javaapi/infer/predictor/PredictorExample.java
Due: clojure

update the pom file config
  scala-package/core/pom.xml
  scala-package/core/src/test/java/org/apache/mxnet/javaapi/ImageTest.java
  scala-package/examples/pom.xml
  scala-package/infer/pom.xml
  scala-package/pom.xml
Due: clojure

Satisfy Lint God ʕ •ᴥ•ʔ
  scala-package/examples/src/test/java/org/apache/mxnetexamples/javaapi/infer/predictor/PredictorExampleTest.java
Due: clojure

add java example
  scala-package/core/src/main/scala/org/apache/mxnet/javaapi/Image.scala
  scala-package/examples/src/main/java/org/apache/mxnetexamples/javaapi/infer/predictor/PredictorExample.java
Due: clojure

fix the issue with JUnit test
  scala-package/core/src/main/scala/org/apache/mxnet/Image.scala
  scala-package/core/src/main/scala/org/apache/mxnet/NDArray.scala
  scala-package/core/src/main/scala/org/apache/mxnet/javaapi/Image.scala
  scala-package/examples/src/main/java/org/apache/mxnetexamples/javaapi/infer/predictor/PredictorExample.java
  scala-package/examples/src/test/java/org/apache/mxnetexamples/javaapi/infer/predictor/PredictorExampleTest.java
  scala-package/macros/src/main/scala/org/apache/mxnet/javaapi/JavaNDArrayMacro.scala
Due: clojure

Add minor fixes
  scala-package/core/src/test/java/org/apache/mxnet/javaapi/ImageTest.java
Due: clojure

add test and change PredictorExample
  scala-package/core/src/test/java/org/apache/mxnet/javaapi/ImageTest.java
  scala-package/examples/src/main/java/org/apache/mxnetexamples/javaapi/infer/predictor/PredictorExample.java
Due: clojure

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
