Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

BN(cudnn) 5d
  src/operator/nn/cudnn/cudnn_batch_norm-inl.h
Due: backend

update test
  tests/python/unittest/test_gluon.py
Due: none

Update test_kvstore.cpp
  cpp-package/example/test_kvstore.cpp
Due: none

test
  tests/python/unittest/test_gluon.py
  tests/python/unittest/test_operator.py
Due: none

[clojure]: add comp-metric based on CompositeEvalMetric (#14553)
  contrib/clojure-package/src/org/apache/clojure_mxnet/eval_metric.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/eval_metric_test.clj
Due: none

Chouffe/clojure fix tests (#14531)
  contrib/clojure-package/src/org/apache/clojure_mxnet/util.clj
  contrib/clojure-package/test/dev/generator_test.clj
  contrib/clojure-package/test/good-test-ndarray.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/executor_test.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/infer/imageclassifier_test.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/module_test.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/ndarray_test.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/operator_test.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/symbol_test.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/util_test.clj
Due: none

fix tests
  contrib/clojure-package/test/dev/generator_test.clj
  contrib/clojure-package/test/good-test-ndarray.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/module_test.clj
Due: none

[clojure][image] add draw-bounding-box interop (#14533)
  contrib/clojure-package/src/org/apache/clojure_mxnet/image.clj
Due: none

add test for drawing bounding box
  contrib/clojure-package/test/org/apache/clojure_mxnet/image_test.clj
Due: none

Testing
  src/operator/nn/cudnn/cudnn_batch_norm-inl.h
Due: backend

Adding exception handling to the cpp-package examples.
  cpp-package/example/alexnet.cpp
  cpp-package/example/charRNN.cpp
  cpp-package/example/googlenet.cpp
  cpp-package/example/inception_bn.cpp
  cpp-package/example/lenet.cpp
  cpp-package/example/lenet_with_mxdataiter.cpp
  cpp-package/example/mlp.cpp
  cpp-package/example/mlp_cpu.cpp
  cpp-package/example/mlp_csv.cpp
  cpp-package/example/mlp_gpu.cpp
  cpp-package/example/resnet.cpp
  cpp-package/example/test_score.cpp
  cpp-package/example/utils.h
Due: none

Removed the catch all exception.
  cpp-package/example/utils.h
Due: none

Updating exception handling to catch dmlc::error.
  cpp-package/example/utils.h
Due: none

Uses the core image drawing bounding box functionality for the object detection example.
  contrib/clojure-package/examples/infer/objectdetector/project.clj
  contrib/clojure-package/examples/infer/objectdetector/src/infer/draw.clj
  contrib/clojure-package/examples/infer/objectdetector/src/infer/objectdetector_example.clj
  contrib/clojure-package/integration-tests.sh
  contrib/clojure-package/src/org/apache/clojure_mxnet/image.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/image_test.clj
Due: none

fix tests (#14565)
  contrib/clojure-package/test/dev/generator_test.clj
  contrib/clojure-package/test/good-test-ndarray.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/module_test.clj
Due: none

use a compile flag to use int64 tensor size
  Makefile
  make/config.mk
  make/crosscompile.jetson.mk
  make/osx.mk
  src/operator/convolution_v1-inl.h
  src/operator/nn/deconvolution-inl.h
Due: backend

fix test
  python/mxnet/gluon/estimator/estimator.py
  tests/python/unittest/test_gluon_estimator.py
Due: python

use personal mshadow repo
  .gitmodules
Due: none

Update batch_norm.cu
  src/operator/nn/batch_norm.cu
Due: backend

Update eval_metric.py
  example/ssd/evaluate/eval_metric.py
Due: none

test cudnnoff
  tests/python/unittest/test_operator.py
Due: none

Update test_operator.py
  tests/python/unittest/test_operator.py
Due: none

Address comments
  src/operator/nn/deconvolution-inl.h
Due: backend

Address reminisce comment
  src/operator/subgraph/build_subgraph.cc
  src/operator/subgraph/default_subgraph_property_v2.cc
  src/operator/subgraph/mkldnn/mkldnn_post_quantize_align_scale_property.h
  src/operator/subgraph/subgraph_property.h
Due: backend

update BN! : )
  src/operator/nn/batch_norm.cu
  src/operator/nn/cudnn/cudnn_batch_norm-inl.h
  tests/python/unittest/test_gluon.py
  tests/python/unittest/test_operator.py
Due: backend

Enhance subgraph API (#14113)
  include/mxnet/c_api_test.h
  src/c_api/c_api_symbolic.cc
  src/c_api/c_api_test.cc
  src/executor/graph_executor.cc
  src/operator/subgraph/build_subgraph.cc
  src/operator/subgraph/default_subgraph_property_v2.cc
  src/operator/subgraph/mkldnn/mkldnn_post_quantize_align_scale_property.h
  src/operator/subgraph/mkldnn/mkldnn_subgraph_property.cc
  src/operator/subgraph/subgraph_property.h
  tests/python/mkl/test_subgraph.py
  tests/python/unittest/test_subgraph_op.py
Due: backend

fix custom exception handling
  src/engine/threaded_engine.cc
  src/operator/custom/custom-inl.h
Due: backend

add test
  tests/python/unittest/test_operator.py
Due: none

add unit test
  tests/python/mkl/test_mkldnn.py
Due: none

add comments
  src/operator/nn/mkldnn/mkldnn_transpose.cc
Due: backend

Do not touch GPU 0 during ReleaseAll (#14550)
  src/storage/pooled_storage_manager.h
  src/storage/storage.cc
Due: backend

Change CUB submodule to track Nvidia CUB project. (#13322)
  .gitmodules
  CMakeLists.txt
  LICENSE
  Makefile
Due: none

add is/set np_comp
  scala-package/core/src/main/scala/org/apache/mxnet/LibInfo.scala
  scala-package/core/src/main/scala/org/apache/mxnet/Numpy.scala
  scala-package/native/src/main/native/org_apache_mxnet_native_c_api.cc
Due: clojure

scala integration test pass
  include/mxnet/tuple.h
  scala-package/core/src/main/scala/org/apache/mxnet/Executor.scala
Due: clojure, backend

NDArray.shape if ndim == -1
  scala-package/core/src/main/scala/org/apache/mxnet/NDArray.scala
Due: clojure

mxExecutorReshape works
  scala-package/core/src/main/scala/org/apache/mxnet/Executor.scala
  scala-package/core/src/main/scala/org/apache/mxnet/LibInfo.scala
  scala-package/core/src/main/scala/org/apache/mxnet/Symbol.scala
  scala-package/native/src/main/native/org_apache_mxnet_native_c_api.cc
Due: clojure

add MXExecutorReshape for scala
  scala-package/core/src/main/scala/org/apache/mxnet/LibInfo.scala
  scala-package/core/src/test/java/org/apache/mxnet/javaapi/ImageTest.java
  scala-package/core/src/test/scala/org/apache/mxnet/ExecutorSuite.scala
  scala-package/core/src/test/scala/org/apache/mxnet/NumpyCompatibleSuite.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/utils/CToScalaUtils.scala
  scala-package/native/src/main/native/org_apache_mxnet_native_c_api.cc
Due: clojure

modify jni to support 0 dim/shape
  scala-package/core/src/main/scala/org/apache/mxnet/Executor.scala
  scala-package/native/src/main/native/org_apache_mxnet_native_c_api.cc
Due: clojure

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
