Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

fix flaky test
  tests/python/unittest/test_profiler.py
Due: none

Float64 fallback for mkldnn subgraph and rnn op (#15853)
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_base.cc
  src/operator/rnn.cc
  src/operator/subgraph/build_subgraph.cc
  src/operator/subgraph/mkldnn/mkldnn_conv_property.h
  src/operator/subgraph/mkldnn/mkldnn_fc_post_quantize_property.h
  src/operator/subgraph/mkldnn/mkldnn_fc_property.h
  src/operator/subgraph/mkldnn/mkldnn_post_quantize_align_scale_property.h
  src/operator/subgraph/mkldnn/mkldnn_post_quantize_property.h
  src/operator/subgraph/mkldnn/mkldnn_subgraph_base-inl.h
  src/operator/subgraph/subgraph_property.h
  src/operator/tensor/matrix_op-inl.h
  tests/python/mkl/test_subgraph.py
  tests/python/unittest/test_operator.py
Due: backend

add epsilon to sum(pvalue) upperbound
  src/operator/numpy/random/np_multinomial_op.cu
  src/operator/numpy/random/np_multinomial_op.h
Due: backend

Fix inconsistent interpolation method values
  python/mxnet/image/image.py
Due: python

numpy tvm operator true_divide
  contrib/tvmop/core/__init__.py
  contrib/tvmop/core/umath.py
  contrib/tvmop/opdef.py
  contrib/tvmop/utils.py
  src/operator/numpy/np_true_divide.cc
  src/operator/numpy/np_true_divide.cu
  src/operator/numpy/np_true_divide.h
  src/operator/tvmop/op_module.cc
  src/operator/tvmop/op_module.h
  tests/python/unittest/test_numpy_ndarray.py
Due: backend

Adds variant and release job type checks
  cd/Jenkinsfile_release_job
Due: none

add technical report citation
  src/operator/numpy/linalg/np_gesvd-inl.h
Due: backend

use (m, m) temp space
  src/operator/c_lapack_api.h
  src/operator/linalg.h
  src/operator/linalg_impl.h
  src/operator/numpy/linalg/np_gesvd-inl.h
Due: backend

differentiable svd
  python/mxnet/_numpy_op_doc.py
  src/operator/c_lapack_api.cc
  src/operator/c_lapack_api.h
  src/operator/linalg.h
  src/operator/linalg_impl.h
  src/operator/numpy/linalg/np_gesvd-inl.h
  src/operator/numpy/linalg/np_gesvd.cc
  src/operator/numpy/linalg/np_gesvd.cu
  tests/python/unittest/test_numpy_op.py
Due: python, backend

add comments for the tricky block matrix multiplication
  src/operator/numpy/linalg/np_gesvd-inl.h
Due: backend

Adds release job update to CD pipeline
  cd/Jenkinsfile_cd_pipeline
  cd/Jenkinsfile_release_job
  cd/Jenkinsfile_utils.groovy
Due: none

Disable concurrent builds for CD pipeline
  cd/Jenkinsfile_cd_pipeline
Due: none

fix flaky test (#16191)
  tests/python/unittest/test_profiler.py
Due: none

Updates documentation with new release job mechanics
  cd/README.md
Due: none

box encode and box decode
  src/operator/contrib/bounding_box-inl.h
  src/operator/contrib/bounding_box.cc
  src/operator/contrib/bounding_box.cu
Due: backend

roi align ignore batchid < 0
  src/operator/contrib/roi_align.cc
  src/operator/contrib/roi_align.cu
Due: backend

amp multicast support casting to narrowest type
  src/operator/contrib/bounding_box-inl.h
  src/operator/contrib/bounding_box.cc
  src/operator/tensor/amp_cast.h
Due: backend

Argmax re-implemented
  src/operator/tensor/broadcast_reduce_op.h
  src/operator/tensor/broadcast_reduce_op_index.cc
  src/operator/tensor/broadcast_reduce_op_index.cu
  tests/python/unittest/test_operator.py
Due: backend

[Numpy] Differentiable svd (#15795)
  python/mxnet/_numpy_op_doc.py
  src/operator/c_lapack_api.cc
  src/operator/c_lapack_api.h
  src/operator/linalg.h
  src/operator/linalg_impl.h
  src/operator/numpy/linalg/np_gesvd-inl.h
  src/operator/numpy/linalg/np_gesvd.cc
  src/operator/numpy/linalg/np_gesvd.cu
  tests/python/unittest/test_numpy_op.py
Due: python, backend

add unittest
  src/operator/contrib/bounding_box.cc
  tests/python/unittest/test_contrib_operator.py
Due: backend

Faster Scala NDArray to BufferedImage function
  scala-package/core/src/main/scala/org/apache/mxnet/Image.scala
Due: clojure

add epsilon to sum(pvalue) upperbound (#16211)
  src/operator/numpy/random/np_multinomial_op.cu
  src/operator/numpy/random/np_multinomial_op.h
Due: backend

add mkldnn act; pass lint; pass mnist training
  src/operator/nn/activation.cc
  src/operator/nn/mkldnn/mkldnn_act-inl.h
  src/operator/nn/mkldnn/mkldnn_act.cc
  src/operator/nn/mkldnn/mkldnn_ops-inl.h
Due: backend

make bwd as private member
  src/operator/nn/mkldnn/mkldnn_act-inl.h
Due: backend

fix tiny bugs
  src/operator/numpy/np_elemwise_broadcast_op.cc
Due: backend

Update MKL-DNN dependency (#16073)
  ci/docker/install/ubuntu_mklml.sh
  cmake/DownloadMKLML.cmake
Due: none

Add support for UpSampling op in mx2onnx
  python/mxnet/contrib/onnx/mx2onnx/_op_translations.py
Due: python

fix min max infinity value
  3rdparty/mshadow/mshadow/base.h
  tests/python/unittest/test_operator.py
Due: none

add test maximum
  tests/python/unittest/test_operator.py
Due: none

use HUGE_VAL macro for nvcc
  3rdparty/mshadow/mshadow/base.h
Due: none

[mkldnn-v1.0] Add MKL-DNN activation (#16195)
  src/operator/nn/activation.cc
  src/operator/nn/mkldnn/mkldnn_act-inl.h
  src/operator/nn/mkldnn/mkldnn_act.cc
  src/operator/nn/mkldnn/mkldnn_ops-inl.h
Due: backend

Fixes from review
  src/operator/nn/fully_connected-inl.h
Due: backend

address comments
  src/operator/contrib/bounding_box-inl.h
Due: backend

Solve #14116, #15143 (#15144)
  include/mxnet/tuple.h
Due: backend

fix amp_multicast
  src/operator/tensor/amp_cast.h
Due: backend

[MXNET-1422] Fix wrong results of min([inf, inf]) and max([-inf,-inf]) (#16226)
  3rdparty/mshadow/mshadow/base.h
  tests/python/unittest/test_operator.py
Due: none

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
