Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

Backport of #16827, #16791 and #16888 to 1.6 branch (#16901)
  python/mxnet/gluon/contrib/estimator/estimator.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/elemwise_op_common.h
  src/operator/numpy/np_elemwise_broadcast_op.cc
  src/operator/numpy/np_elemwise_broadcast_op.cu
  src/operator/numpy/np_elemwise_broadcast_op.h
  src/operator/numpy/np_elemwise_broadcast_op_extended.cc
  src/operator/numpy/np_elemwise_broadcast_op_extended.cu
  src/operator/operator_tune.cc
  src/operator/tensor/elemwise_binary_broadcast_op.h
  src/operator/tensor/elemwise_binary_op.h
  src/operator/tensor/elemwise_binary_scalar_op.h
  src/operator/tensor/elemwise_unary_op.h
  tests/python/unittest/test_gluon_estimator.py
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Due: python, backend

port shape op to 1.6.x (#16912)
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Due: python

Try to fix CI (#16908)
  ci/docker/install/ubuntu_core.sh
Due: none

updating MXNet version to 1.6.0 in base.h for C APIs (#16906)
  include/mxnet/base.h
Due: backend

Revert "Try to fix CI (#16908)"
  ci/docker/install/ubuntu_core.sh
Due: none

Adding user guidelines for using MXNet built with Large Tensor Support
  docs/static_site/src/pages/api/faq/large_tensor_support.md
Due: none

Allow loading from model files with empty weights. (#16061)
  python/mxnet/model.py
Due: python

Fix memory leak reported by ASAN in NNVM to ONNX conversion (#15516)
  src/operator/subgraph/tensorrt/nnvm_to_onnx.cc
Due: backend

[Numpy] Fix imperative basic indexing in numpy (#16902)
  python/mxnet/ndarray/ndarray.py
  src/ndarray/ndarray.cc
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  tests/python/unittest/test_numpy_ndarray.py
Due: python, backend

proceed with float16
  tests/python/unittest/test_numpy_op.py
Due: none

wip
  julia/src/MXNet.jl
  julia/src/autograd.jl
  julia/src/base.jl
Due: none

skip flaky test
  tests/python/quantization/test_quantization.py
Due: none

[Numpy] Basic indexing in symbolic interface of DeepNumpy (#16621)
  python/mxnet/__init__.py
  python/mxnet/_ctypes/ndarray.py
  python/mxnet/_ctypes/symbol.py
  python/mxnet/base.py
  python/mxnet/cython/base.pyi
  python/mxnet/cython/ndarray.pyx
  python/mxnet/cython/symbol.pyx
  python/mxnet/gluon/block.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/ndarray/register.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/symbol/register.py
  python/mxnet/symbol/symbol.py
  python/mxnet/test_utils.py
  src/operator/numpy/np_matrix_op.cc
  tests/python/unittest/test_numpy_gluon.py
Due: python, backend

Update LoggingHandler to support logging per interval
  python/mxnet/gluon/contrib/estimator/event_handler.py
Due: python

Complete forward and backward
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cu
  tests/python/unittest/test_numpy_op.py
Due: python, backend

Implement quantile
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/imperative/imperative_utils.h
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cu
  tests/python/unittest/test_numpy_op.py
Due: python, backend

Use already existing dtype_string function
  3rdparty/mshadow/mshadow/base.h
  include/mxnet/base.h
  include/mxnet/tensor_blob.h
  src/base.cc
  src/common/utils.h
  src/operator/numpy/np_elemwise_broadcast_op.h
Due: backend

[Numpy] Fix imperative basic indexing in numpy (#16902) (#16919)
  python/mxnet/ndarray/ndarray.py
  src/ndarray/ndarray.cc
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  tests/python/unittest/test_numpy_ndarray.py
Due: python, backend

Update TensorRT tutorial to build-from-source. (#14860)
  docs/python_docs/python/tutorials/performance/backend/tensorrt/tensorrt.md
Due: none

Anirudh Subramanian's changes for multithreaded inference
  cpp-package/include/mxnet-cpp/symbol.h
  cpp-package/include/mxnet-cpp/symbol.hpp
  src/c_api/c_api_ndarray.cc
  src/imperative/cached_op_threadsafe.cc
  src/imperative/cached_op_threadsafe.h
Due: backend

changed PlanMemory to MXPlanMemory
  src/imperative/cached_op_threadsafe.cc
Due: backend

Adding user guidelines for using MXNet built with Large Tensor Support (#16894)
  docs/static_site/src/pages/api/faq/large_tensor_support.md
Due: none

fixed whitespace
  src/c_api/c_api_ndarray.cc
  src/imperative/cached_op_threadsafe.cc
  src/imperative/cached_op_threadsafe.h
Due: backend

fixed whitespace
  src/imperative/cached_op_threadsafe.cc
  src/imperative/cached_op_threadsafe.h
Due: backend

Stable version (included optimizer tests)
  python/mxnet/ndarray/contrib.py
  python/mxnet/optimizer/optimizer.py
  python/mxnet/test_utils.py
  src/operator/contrib/multi_lamb-inl.h
  src/operator/contrib/multi_lamb.cc
  src/operator/contrib/multi_lamb.cu
  tests/python/gpu/test_operator_gpu.py
  tests/python/unittest/test_optimizer.py
Due: python, backend

fix lint errors
  src/operator/contrib/multi_lamb-inl.h
  src/operator/contrib/multi_lamb.cc
  src/operator/contrib/multi_lamb.cu
Due: backend

Fix UT
  src/operator/nn/mkldnn/mkldnn_pooling-inl.h
  src/operator/nn/mkldnn/mkldnn_pooling.cc
  src/operator/nn/pooling.cc
Due: backend

Add comment
  src/operator/nn/mkldnn/mkldnn_pooling-inl.h
Due: backend

fix pylint errors
  python/mxnet/ndarray/contrib.py
  python/mxnet/optimizer/optimizer.py
  python/mxnet/test_utils.py
  tests/python/unittest/test_optimizer.py
Due: python

fix pylint errors
  python/mxnet/ndarray/contrib.py
Due: python

gen tvmop.o then link tvmop.so with tvm_runtime
  CMakeLists.txt
  Makefile
  contrib/tvmop/compile.py
Due: none

Make R package compilation support opencv 4.0
  R-package/src/im2rec.h
Due: r-package

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
