Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

move rroi align op to contrib
  src/operator/contrib/rroi_align-inl.h
  src/operator/contrib/rroi_align.cc
Due: backend

add omp parallel
  src/operator/contrib/rroi_align.cc
Due: backend

skip gpu test for rroi align
  tests/python/unittest/test_operator.py
Due: none

fix lint
  src/operator/contrib/rroi_align-inl.h
Due: backend

add libtvm_runtime.so to mx_lib_cython
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
Due: none

Fix CI
  tests/python/quantization/test_quantization.py
Due: none

modified test cases in test_operator.py for upsampling
  tests/python/unittest/test_operator.py
Due: none

Fix pylint
  python/mxnet/numpy/multiarray.py
Due: python

Add unit test decorators back
  tests/python/unittest/test_numpy_op.py
Due: none

Add maximum, minimum, swapaxes, argmax, clip in python
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Due: python

Add backend
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_broadcast_reduce_op_index.cc
  src/operator/numpy/np_elemwise_broadcast_op.cc
  src/operator/tensor/elemwise_binary_broadcast_op.h
  src/operator/tensor/elemwise_binary_broadcast_op_extended.cc
  src/operator/tensor/elemwise_binary_scalar_op_extended.cc
  tests/python/unittest/test_numpy_op.py
Due: python, backend

Fix gpu compile
  src/operator/numpy/np_elemwise_broadcast_op.cu
  src/operator/tensor/elemwise_binary_scalar_op_extended.cc
Due: backend

Add np.random.normal and npx.seed
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  python/mxnet/numpy_extension/__init__.py
  python/mxnet/numpy_extension/random.py
  python/mxnet/symbol/numpy/random.py
  src/operator/numpy/np_broadcast_reduce_op_index.cu
  tests/python/unittest/test_numpy_op.py
Due: python, backend

update omp with num_threads
  src/operator/contrib/rroi_align.cc
Due: backend

fixing more links
  docs/python_docs/python/tutorials/deploy/run-on-aws/index.rst
  docs/static_site/src/pages/api/faq/perf.md
  docs/static_site/src/pages/api/faq/s3_integration.md
  docs/static_site/src/pages/api/faq/visualize_graph.md
  docs/static_site/src/pages/api/faq/why_mxnet.md
  docs/static_site/src/pages/api/java/docs/tutorials/mxnet_java_on_intellij.md
  docs/static_site/src/pages/api/java/docs/tutorials/ssd_inference.md
  docs/static_site/src/pages/api/java/index.md
  docs/static_site/src/pages/api/julia/index.md
  docs/static_site/src/pages/api/perl/docs/tutorials/symbol.md
  docs/static_site/src/pages/api/scala/docs/tutorials/char_lstm.md
  docs/static_site/src/pages/api/scala/docs/tutorials/infer.md
  docs/static_site/src/pages/api/scala/docs/tutorials/io.md
  docs/static_site/src/pages/api/scala/docs/tutorials/kvstore.md
  docs/static_site/src/pages/api/scala/docs/tutorials/mnist.md
  docs/static_site/src/pages/api/scala/docs/tutorials/model.md
  docs/static_site/src/pages/api/scala/docs/tutorials/module.md
  docs/static_site/src/pages/api/scala/docs/tutorials/mxnet_scala_on_intellij.md
  docs/static_site/src/pages/api/scala/docs/tutorials/ndarray.md
  docs/static_site/src/pages/api/scala/docs/tutorials/symbol.md
  docs/static_site/src/pages/api/scala/docs/tutorials/symbol_in_pictures.md
  docs/static_site/src/pages/get_started/build_from_source.md
  docs/static_site/src/pages/get_started/c_plus_plus.md
  docs/static_site/src/pages/get_started/java_setup.md
  docs/static_site/src/pages/get_started/osx_setup.md
  docs/static_site/src/pages/get_started/scala_setup.md
  docs/static_site/src/pages/get_started/ubuntu_setup.md
  docs/static_site/src/pages/get_started/windows_setup.md
Due: none

fixing jekyll docker image
  ci/docker/Dockerfile.build.ubuntu_cpu_jekyll
  ci/docker/runtime_functions.sh
Due: none

modified test cases for upsampling
  tests/python/unittest/test_operator.py
Due: none

fix file description
  src/nnvm/node_op_util.h
Due: backend

add ldd debug for py3
  ci/docker/runtime_functions.sh
Due: none

FP16 Support for C Predict API (#15245)
  amalgamation/python/mxnet_predict.py
  include/mxnet/c_predict_api.h
  src/c_api/c_predict_api.cc
  tests/python/gpu/test_predictor.py
Due: backend

added check for empty params file and unknown param (not arg/aux) (#15917)
  python/mxnet/model.py
Due: python

Benchmark doc fix (#15769)
  benchmark/opperf/README.md
Due: none

Disable flaky test in test_amp_conversion
  tests/python/gpu/test_contrib_amp.py
Due: none

Expose seed through npx.random
  python/mxnet/numpy_extension/__init__.py
  python/mxnet/numpy_extension/random.py
  tests/python/unittest/test_numpy_op.py
Due: python

remove Julia cat image for license issue (#15964) (#16026)
  julia/examples/imagenet/ijulia-pretrained-predict/Prediction with Pre-trained Model.ipynb
  julia/examples/imagenet/ijulia-pretrained-predict/cat.png
Due: none

Add rtol atol in seed testing
  tests/python/unittest/test_numpy_op.py
Due: none

Windows cmake flags cleanup (#16013)
  ci/build_windows.py
  cmake/cmake_options.yml
Due: none

Improve diagnose.py to display environment variables (#15715)
  tools/diagnose.py
Due: none

fix libtvm_runtime path for cmake
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
Due: none

remove Julia cat image for license issue (#15964)
  julia/examples/imagenet/ijulia-pretrained-predict/Prediction with Pre-trained Model.ipynb
  julia/examples/imagenet/ijulia-pretrained-predict/cat.png
Due: none

Fix GPU
  python/mxnet/contrib/quantization.py
Due: python

Update dmlc-core
  .gitmodules
Due: none

Disable flaky test in test_amp_conversion (#16031)
  tests/python/gpu/test_contrib_amp.py
Due: none

Benchmark doc fix (#15769) (#16029)
  benchmark/opperf/README.md
Due: none

Improve quantization flow (#15961)
  example/quantization/README.md
  example/quantization/imagenet_gen_qsym.py
  example/quantization/imagenet_gen_qsym_mkldnn.py
  example/ssd/quantization.py
  include/mxnet/c_api.h
  include/mxnet/op_attr_types.h
  python/mxnet/contrib/quantization.py
  src/c_api/c_api_symbolic.cc
  src/common/utils.h
  src/executor/graph_executor.cc
  src/operator/nn/mkldnn/mkldnn_flatten-inl.h
  src/operator/nn/mkldnn/mkldnn_flatten.cc
  src/operator/quantization/calibrate-inl.h
  src/operator/quantization/calibrate.cc
  src/operator/quantization/mkldnn/mkldnn_quantize_v2-inl.h
  src/operator/quantization/mkldnn/mkldnn_quantized_elemwise_add.cc
  src/operator/quantization/mkldnn/mkldnn_quantized_flatten.cc
  src/operator/quantization/quantization_utils.h
  src/operator/quantization/quantize_graph_pass.cc
  src/operator/quantization/quantize_v2.cc
  src/operator/quantization/quantized_batch_norm.cc
  src/operator/quantization/quantized_conv.cc
  src/operator/quantization/quantized_fully_connected.cc
  src/operator/quantization/requantize.cc
  src/operator/subgraph/mkldnn/mkldnn_conv.cc
  src/operator/subgraph/mkldnn/mkldnn_fc.cc
  tests/python/mkl/test_subgraph.py
  tests/python/quantization/test_quantization.py
  tests/python/unittest/test_operator.py
Due: python, backend

Path conditions:
  python: any of: python/mxnet/, but not: cpp-package/example/**/*, tests/**/*
  r-package: any of: R-package/, but not: cpp-package/example/**/*, tests/**/*
  clojure: any of: scala-package/, but not: cpp-package/example/**/*, tests/**/*
  backend: any of: include/mxnet/, src/, but not: cpp-package/example/**/*, tests/**/*
