Repository apache/mxnet: changes, and which Codecov flags are due for each by the changed paths.
All: python, r-package, clojure, backend

.codecov.yml:

# Codecov.io configuration file
codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    changes: yes

    patch:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

    project:
      default:
        # basic
        target: auto
        threshold: null
        base: auto 
        # advanced
        branches: null
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
        only_pulls: false
        flags: null
        paths: null

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

ignore:
 - "cpp-package/example/**/*"
 - "tests/**/*"

flags:
  # filter the folder(s) you wish to measure by that flag
  python:
    paths:
      -  python/mxnet/
  r-package:
    paths:
      - R-package/
  clojure:
    paths:
      - scala-package/
  backend:
    paths:
      - include/mxnet/
      - src/

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]

update test
  tests/python/unittest/test_numpy_op.py
Due: none

fix clang error
  src/operator/quantization/quantized_elemwise_mul.cc
Due: backend

[numpy] fix argsort typo (#17150)
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Due: python

fix broken link (#17130)
  example/quantization/README.md
Due: none

fix windows build error - remove '#' from MSHADOW_TYPE_SWITCH
  src/operator/numpy/np_delete_op-inl.h
Due: backend

amax
  python/mxnet/_numpy_op_doc.py
  python/mxnet/numpy_dispatch_protocol.py
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  tests/python/unittest/test_numpy_interoperability.py
Due: python, backend

Add 3rdparty/jemalloc
  .gitmodules
  CMakeLists.txt
  cmake/Modules/FindJeMalloc.cmake
Due: none

[numpy] add op round (#17175)
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Due: python

fix format
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/linalg.py
  src/operator/numpy/linalg/np_tensorsolve-inl.h
  src/operator/numpy/linalg/np_tensorsolve.cc
  src/operator/numpy/linalg/np_tensorsolve.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Due: python, backend

Quantized Elemwise Mul Operator (#17147)
  src/operator/quantization/quantized_elemwise_mul-inl.h
  src/operator/quantization/quantized_elemwise_mul.cc
  src/operator/subgraph/mkldnn/mkldnn_elemwisemul_post_quantize_property.h
  src/operator/subgraph/mkldnn/mkldnn_subgraph_property.cc
  tests/python/quantization/test_quantization.py
Due: backend

enhance model optimizer to support general configurations of mlp and neurf models
  example/neural_collaborative_filtering/README.md
  example/neural_collaborative_filtering/model_optimizer.py
Due: none

fix minor typo
  example/neural_collaborative_filtering/README.md
Due: none

Change readme/cd
  cd/Jenkinsfile_cd_pipeline
  cd/Jenkinsfile_release_job
  cd/README.md
  cd/mxnet_lib/dynamic/Jenkins_pipeline.groovy
  cd/mxnet_lib/mxnet_lib_pipeline.groovy
  cd/mxnet_lib/static/Jenkins_pipeline.groovy
  cd/python/docker/test_python_image.sh
  cd/python/pypi/pypi_package.sh
  cd/utils/artifact_repository.md
  cd/utils/artifact_repository.py
  cd/utils/docker_tag.sh
  cd/utils/mxnet_base_image.sh
  cd/utils/test_artifact_repository.py
  tools/staticbuild/README.md
Due: none

clear native build configurations
  make/staticbuild/linux_native.mk
Due: none

fix style
  src/operator/numpy/linalg/broadcast_reduce_customized-inl.cuh
  src/operator/numpy/linalg/broadcast_reduce_customized-inl.h
  src/operator/numpy/linalg/broadcast_reduce_op_customized.h
  src/operator/numpy/linalg/np_norm-inl.h
  src/operator/numpy/linalg/np_norm.cc
  src/operator/numpy/linalg/np_norm_backward.cc
  src/operator/numpy/linalg/np_norm_backward.cu
  src/operator/numpy/linalg/np_norm_forward.cc
  src/operator/numpy/linalg/np_norm_forward.cu
  tests/python/unittest/test_numpy_op.py
Due: backend

fix static build test in ci
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
Due: none

Add instance type info to output
  ci/build.py
  ci/util.py
Due: none

Add repro cmd to success branch of build.py
  ci/safe_docker_run.py
Due: none

Further optimization for NCF model (#17148)
  example/neural_collaborative_filtering/README.md
  example/neural_collaborative_filtering/benchmark.sh
  example/neural_collaborative_filtering/convert.py
  example/neural_collaborative_filtering/core/model.py
  example/neural_collaborative_filtering/model_optimizer.py
  example/neural_collaborative_filtering/ncf.py
  example/neural_collaborative_filtering/train.py
Due: none

[MKL-DNN] Enhance Quantization Method (#17161)
  python/mxnet/contrib/quantization.py
Due: python

fix py27 quantization (#17153)
  python/mxnet/contrib/quantization.py
Due: python

broadcast_axis optimization (#17091)
  src/operator/tensor/broadcast_reduce_op_value.cc
Due: backend

retrigger unix ci
  src/operator/numpy/linalg/broadcast_reduce_op_customized.h
Due: backend

any/all (#17087)
  python/mxnet/_numpy_op_doc.py
  python/mxnet/numpy_dispatch_protocol.py
  src/operator/mshadow_op.h
  src/operator/mxnet_op.h
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_boolean.cc
  src/operator/numpy/np_broadcast_reduce_op_boolean.cu
  src/operator/operator_tune.cc
  src/operator/tensor/broadcast_reduce-inl.cuh
  src/operator/tensor/broadcast_reduce-inl.h
  src/operator/tensor/broadcast_reduce_op.h
  src/operator/tensor/matrix_op-inl.h
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Due: python, backend

fix format (#17100)
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/linalg.py
  src/operator/numpy/linalg/np_tensorsolve-inl.h
  src/operator/numpy/linalg/np_tensorsolve.cc
  src/operator/numpy/linalg/np_tensorsolve.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Due: python, backend

amax (#17176)
  python/mxnet/_numpy_op_doc.py
  python/mxnet/numpy_dispatch_protocol.py
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  tests/python/unittest/test_numpy_interoperability.py
Due: python, backend

[numpy]Add op delete (#17023)
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_delete_op-inl.h
  src/operator/numpy/np_delete_op.cc
  src/operator/numpy/np_delete_op.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Due: python, backend

Add channel wise quantization option for fullyconnected
  include/mxnet/c_api.h
  include/mxnet/op_attr_types.h
  python/mxnet/contrib/quantization.py
  src/c_api/c_api_symbolic.cc
  src/operator/nn/mkldnn/mkldnn_fully_connected-inl.h
  src/operator/nn/mkldnn/mkldnn_fully_connected.cc
  src/operator/quantization/quantize_graph_pass.cc
  src/operator/quantization/quantized_batch_norm.cc
  src/operator/quantization/quantized_indexing_op.cc
  src/operator/subgraph/mkldnn/mkldnn_common.h
  src/operator/subgraph/mkldnn/mkldnn_conv.cc
  src/operator/subgraph/mkldnn/mkldnn_fc.cc
  tests/python/mkl/test_subgraph.py
Due: python, backend

fix lint
  include/mxnet/op_attr_types.h
  src/operator/quantization/quantized_batch_norm.cc
  src/operator/subgraph/mkldnn/mkldnn_common.h
  src/operator/subgraph/mkldnn/mkldnn_fc.cc
Due: backend

add test file
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/numpy/linalg.py
  python/mxnet/symbol/numpy/linalg.py
  src/operator/c_lapack_api.cc
  src/operator/c_lapack_api.h
  src/operator/numpy/linalg/np_eig-inl.h
  src/operator/numpy/linalg/np_eig.cc
  src/operator/numpy/linalg/np_eig.cu
  src/operator/numpy/linalg/np_eigvals-inl.h
  src/operator/numpy/linalg/np_eigvals.cc
  src/operator/numpy/linalg/np_eigvals.cu
  tests/python/unittest/test_numpy_op.py
Due: python, backend

dense variational WIP
  python/mxnet/gluon/probability/block/BayesianDense.py
  python/mxnet/gluon/probability/block/DenseVariational.py
  python/mxnet/gluon/probability/block/StochasticBlock.py
  python/mxnet/gluon/probability/distributions/distribution.py
  python/mxnet/gluon/probability/distributions/divergence.py
Due: python

fix zero size reduce
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/tensor/broadcast_reduce_op.h
  tests/python/unittest/test_numpy_op.py
Due: backend

remove test cases for mean and MaxMin
  tests/python/unittest/test_numpy_op.py
Due: none

fix lint error
  src/operator/numpy/np_broadcast_reduce_op.h
Due: backend

Switch to modern CMake CUDA handling
  3rdparty/mshadow/cmake/Cuda.cmake
  3rdparty/mshadow/cmake/Utils.cmake
  3rdparty/mshadow/cmake/mshadow.cmake
  3rdparty/mshadow/cmake/mshadowUtils.cmake
  CMakeLists.txt
  ci/build_windows.py
  ci/docker/install/ubuntu_core.sh
  ci/docker/runtime_functions.sh
  cmake/BuildTVM.cmake
  cmake/FirstClassLangCuda.cmake
  cmake/Modules/FindCUDAToolkit.cmake
  contrib/tvmop/compile.py
Due: none

added function to revert subgraphing if rejected by subgraph prop
  example/extensions/lib_subgraph/subgraph_lib.cc
  example/extensions/lib_subgraph/test_subgraph.py
  include/mxnet/lib_api.h
  src/operator/subgraph/build_subgraph.cc
  src/operator/subgraph/partitioner/custom_subgraph_property.h
Due: backend

julia: porting `context.empty_cache` (#17172)
  julia/src/MXNet.jl
  julia/src/context.jl
Due: none

added infrastructure to test subgraph libs in the CI
  CMakeLists.txt
  Makefile
  ci/jenkins/Jenkins_steps.groovy
  tests/python/unittest/test_extensions.py
Due: none

Minor fix, use RAII for TensorRT builder and network object
  src/operator/subgraph/tensorrt/onnx_to_tensorrt.cc
Due: backend
